@charset "UTF-8";

//breakpoint
$sp: 767px;

//colors
$black_1: #3C3C3C;
$black_2: #202020;
$black_3: #666666;
$black_4: #404040;

$pure_black: #000;

$grey_1: #C8C8C8;
$grey_2: #EEEEEE;
$grey_3: #DDDDDD;
$grey_4: #999999;

$white: #fff;

$red: #FF1E5B;
