@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T    I M A G E
//================================================================
//________________________________________________________
.l-txt_img
	display: flex
	//---- 📱 SP ----
	+sp
		justify-content: space-between
	//--------------------------------
	.c-txt_img
		margin-left: 21px
		margin-right: 22px
		//--------------------------------
		&:first-child
			margin-left: 14px
			//---- 📱 SP ----
			+sp
				margin-left: 0
		//--------------------------------
		&:last-child
			margin-right: 0
		//---- 📱 SP ----
		+sp
			margin: 0

//________________________________________________________
.c-txt_img
	text-align: center
	//--------------------------------
	&__img
		margin-bottom: 15px
		//---- 📱 SP ----
		+sp
			margin-bottom: 12px
			//--------------------------------
			img
				margin: auto
				width: 96px
				height: auto
	//--------------------------------
	&__txt
		//--------------------------------
		p
			color: $white
			line-height: 2.3rem
			letter-spacing: 1px
			//---- 📱 SP ----
			+sp
				font-size: 1.2rem
				line-height: 1.8rem
				letter-spacing: 2px