@charset "UTF-8"
//================================================================
//		Component
//
//		S L I D E
//================================================================
//________________________________________________________
.l-slider_index
	//--------------------------------
	.c-slider_index
		border-bottom: 2px solid $grey_2
		margin-bottom: 51px
		//---- 📱 SP ----
		+sp
			border-width: 1px
			padding-bottom: 21px
			margin-bottom: 23px
			//--------------------------------
			&:last-child
				margin-bottom: 0
		//--------------------------------
		&:last-child
			border-bottom: none

//________________________________________________________
.c-slider_index
	//--------------------------------
	&__wrapper
	//--------------------------------
	&__slide
		//---- 📱 SP ----
		+sp
			display: block !important
	//--------------------------------
	&__col_1
		//---- 📱 SP ----
		+sp
			//--------------------------------
			img
				margin: auto
				width: auto
				height: 411px
				padding-right: 16px
	//--------------------------------
	&__col_2
		margin-top: 82px
		margin-left: 34px
		//---- 📱 SP ----
		+sp
			margin-top: 3px
			margin-left: 0
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				margin: auto
				width: 212.5px
				height: auto
		//--------------------------------
		p
			margin-top: 21px
			letter-spacing: 0.8px
			width: 370px
			//---- 📱 SP ----
			+sp
				width: 100%
				text-align: center
				margin-top: 16px
				margin-bottom: 47px
				font-size: 1.4rem
				line-height: 1.9rem
				letter-spacing: 0.1px




//================================================================
//		S W I P E R    S L I D E
//================================================================
//________________________________________________________
.swiper-container
	width: 670px
	height: auto
	//---- 📱 SP ----
	+sp
		width: 100%

//________________________________________________________
.swiper-slide
	text-align: left
	font-size: 18px
	background: #fff
	display: -webkit-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex
	-webkit-box-pack: left
	-ms-flex-pack: left
	-webkit-justify-content: left
	justify-content: flex-start
	-webkit-box-align: left
	-ms-flex-align: left
	-webkit-align-items: left
	align-items: flex-start

//________________________________________________________
.swiper-button-next, .swiper-container-rtl .swiper-button-prev
	right: -26px
	//---- 📱 SP ----
	+sp
		right: 5px
	//--------------------------------
	&:after
		content: ""
		display: inline-block
		border: solid $grey_1
		border-width: 0 2px 2px 0
		padding: 22px
		transform: rotate(-45deg)
		transition: 0.35s
		//---- 📱 SP ----
		+sp
			border-width: 0 4px 4px 0
			padding: 12px
	//--------------------------------
	&:hover:after
		border-color: $teal_1

//________________________________________________________
.swiper-button-prev, .swiper-container-rtl .swiper-button-next
	left: -45px
	//---- 📱 SP ----
	+sp
		left: 5px
	//--------------------------------
	&:after
		content: ""
		display: inline-block
		border: solid $grey_1
		border-width: 0 2px 2px 0
		padding: 22px
		transform: rotate(135deg)
		transition: 0.35s
		//---- 📱 SP ----
		+sp
			border-width: 0 4px 4px 0
			padding: 12px
	//--------------------------------
	&:hover:after
		border-color: $teal_1

//________________________________________________________
.swiper-button-next, .swiper-button-prev
	top: 46%
	//---- 📱 SP ----
	+sp
		top: 31.5%

//________________________________________________________
.swiper-pagination-bullet
	width: 12px
	height: 12px
	background: #E2E2E2
	transition: 0.5s
	//---- 📱 SP ----
	+sp
		width: 10px
		height: 10px
	//--------------------------------
	&:hover
		background: #A0A0A0
		opacity: 0.5

//________________________________________________________
.swiper-pagination-bullet-active
	background: #A0A0A0
	//--------------------------------
	&:hover
		opacity: 1

//________________________________________________________
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
	bottom: 27px
	left: 125px
	width: 100%
	//---- 📱 SP ----
	+sp
		left: 0
		bottom: 21px

//________________________________________________________
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
	margin: 0 5px
	//---- 📱 SP ----
	+sp
		margin: 0 4px