@charset "UTF-8"
//================================================================
//		Project
//
//		I N D E X
//================================================================
//________________________________________________________
.p-index

//________________________________________________________




//================================================================
//	S E C T I O N    B A N N E R
//
//	@secb
//================================================================
//________________________________________________________
.p-index_banner
	position: relative
	background: url("../img/pc/banner_1.jpg") center no-repeat
	background-size: cover
	text-align: center
	padding-top: 60px
	padding-bottom: 32px
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/banner_1.jpg") top right no-repeat
		background-size: cover
		display: flex
		//margin-top: 43.5px
		padding-top: 55px
		padding-bottom: 25px
	//--------------------------------
	h2
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				width: 280px
				height: auto
				margin: auto
	//--------------------------------
	h3
		font-size: 2.3rem
		color: $white
		letter-spacing: 3px
		//---- 📱 SP ----
		+sp
			font-size: 1.5rem
			margin-top: 1px
	//--------------------------------
	.c-btn_txt_round_box
		margin-top: 40px
		//---- 📱 SP ----
		+sp
			margin-top: 25px
	//--------------------------------
	.l-f_center
		margin-top: 57px
		margin-bottom: 11px
		//---- 📱 SP ----
		+sp
			position: absolute
			margin: 0
			width: 100%
			margin-left: -50%
			left: 50%
			bottom: -36px
		//--------------------------------
		div
			margin: 0 23px
			//---- 📱 SP ----
			+sp
				margin: 0 4px
			//--------------------------------
			img
				//---- 📱 SP ----
				+sp
					width: auto
					height: 47px

//________________________________________________________




//================================================================
//	S E C T I O N    C V
//
//	@seccv
//================================================================
//________________________________________________________
.p-index_cv
	background: $tan
	//--------------------------------
	&__row_1
		background: url("../img/pc/banner_2.jpg") center no-repeat
		background-size: cover
		padding-top: 56px
		padding-bottom: 150px
		//---- 📱 SP ----
		+sp
			display: flex
			background: url("../img/sp/banner_2.jpg") center no-repeat
			background-size: cover
			padding-top: 12px //50
			padding-bottom: 40px
		//--------------------------------
		.c-title_cv
			margin-top: 38px
			margin-left: 53px
			//---- 📱 SP ----
			+sp
				margin-top: 10px
				margin-left: 0
				text-align: center
		//--------------------------------
		.l-btn_cv
			margin-top: 24px
			margin-left: 40px
			//---- 📱 SP ----
			+sp
				margin-top: 19px
				margin-left: 16px
	//--------------------------------
	&__row_2
		padding-top: 30px
		padding-bottom: 44px
		//---- 📱 SP ----
		+sp
			display: flex
			padding-top: 8px
			padding-bottom: 8px
		//--------------------------------
		.c-txt_mail
			margin-bottom: 32px
			//---- 📱 SP ----
			+sp
				margin-bottom: 10px

//________________________________________________________




//================================================================
//	S E C T I O N    1
//
//	@sec1
//================================================================
//________________________________________________________
.p-index_1
	//--------------------------------
	.p-index_cv__row_1
		//---- 📱 SP ----
		+sp
			padding-top: 40px

//________________________________________________________




//================================================================
//	S E C T I O N    2
//
//	@sec2
//================================================================
//________________________________________________________
.p-index_2
	display: flex
	//---- 📱 SP ----
	+sp
		flex-direction: column
	//--------------------------------
	&__banner
		background: url(../img/pc/img_1.jpg) no-repeat center
		background-size: cover
		width: 50%
		height: auto
		//---- 📱 SP ----
		+sp
			width: 100%
			height: 216px
	//--------------------------------
	&__content
		width: 50%
		//---- 📱 SP ----
		+sp
			width: 100%
		//--------------------------------
		&--row_1
			//--------------------------------
			.c-title_1
				margin-top: 88px
					//---- 📱 SP ----
				+sp
					margin-top: 31px
			//--------------------------------
			p
				margin: 50px 50px 34px 78px
				font-size: 1.5rem
				letter-spacing: 2px
				line-height: 29.5px
				font-weight: 500
				//---- 📱 SP ----
				+sp
					margin: 37px 17.5px 58px 17.5px
					font-size: 1.1rem
					line-height: 17.5px
					letter-spacing: 0
					font-weight: 400
		//--------------------------------
		&--row_2
			display: flex
			background: $tan
			padding: 58px 65px 38px 42px
			//---- 📱 SP ----
			+sp
				position: relative
				flex-direction: column
				padding: 0px 17.5px 18px 17.5px
			//--------------------------------
			div
				margin-right: 24px
				//---- 📱 SP ----
				+sp
					display: flex
					margin: auto
				//--------------------------------
				img
					//---- 📱 SP ----
					+sp
						position: absolute
						width: 96px
						height: 96px
						top: -24px
				//--------------------------------
				h3
					//---- 📱 SP ----
					+sp
						margin: 22px 22px 39px 124px
						letter-spacing: 3px
			//--------------------------------
			p
				line-height: 27.5px
				font-weight: 500
				letter-spacing: 1px
				//---- 📱 SP ----
				+sp
					font-size: 1.1rem
					line-height: 17.5px

//________________________________________________________




//================================================================
//	S E C T I O N    3
//
//	@sec3
//================================================================
//________________________________________________________
.p-index_3
	margin-top: 56px
	margin-bottom: 31px
	//---- 📱 SP ----
	+sp
		margin-top: 21px
		margin-bottom: 32px
	//--------------------------------
	.c-title_img
	//--------------------------------
	.c-title_1
		margin-top: 29px
		//---- 📱 SP ----
		+sp
			margin-top: 8px
	//--------------------------------
	p.l-t_center
		margin-top: 48px
		margin-bottom: 63px
		font-size: 1.6rem
		letter-spacing: 0.7px
		//---- 📱 SP ----
		+sp
			margin-top: 32px
			margin-bottom: 19px
			font-size: 1.1rem
			text-align: left
			line-height: 17.5px

//________________________________________________________




//================================================================
//	S E C T I O N    4
//
//	@sec4
//================================================================
//________________________________________________________
.p-index_4
	background: $tan_lighter
	padding-top: 61px
	padding-bottom: 104px
	//---- 📱 SP ----
	+sp
		display: flex
		padding-top: 32px
		padding-bottom: 40px
	//--------------------------------
	.c-title_img
	//--------------------------------
	.c-title_1
		margin-top: 31px
		//---- 📱 SP ----
		+sp
			margin-top: 8px
	//--------------------------------
	.l-f_space_between
		margin-top: 129px
		//---- 📱 SP ----
		+sp
			flex-direction: column-reverse
			margin-top: 22px
	//--------------------------------
	&__col_1
		width: 439px
		padding-right: 45px
		padding-left: 67px
		//---- 📱 SP ----
		+sp
			width: 100%
			padding: 0
			margin-top: 26px
		//--------------------------------
		div
			display: flex
			//---- 📱 SP ----
			+sp
				justify-content: center
				//--------------------------------
				img
					width: 36.5px
					height: 36.5px
			//--------------------------------
			.c-title_1
				margin-top: 5px
				margin-left: 23px
				//---- 📱 SP ----
				+sp
					margin-top: 1px
					margin-left: 13px
		//--------------------------------
		p
			font-size: 1.6rem
			line-height: 27.5px
			letter-spacing: 2px
			font-weight: 500
			margin-top: 40px
			//---- 📱 SP ----
			+sp
				font-size: 1.1rem
				line-height: 17.5px
				letter-spacing: 1px
				margin-top: 29px
	//--------------------------------
	&__col_2
		padding-right: 54px
		padding-left: 52px
		margin-top: -30px
		border-left: 3px solid $black
		//---- 📱 SP ----
		+sp
			border-left: none
			padding: 0
			width: 77%
			margin: auto
			//--------------------------------
			img
				width: 100%
				height: auto

//________________________________________________________




//================================================================
//	S E C T I O N    5
//
//	@sec5
//================================================================
//________________________________________________________
.p-index_5
	//--------------------------------
	&__banner
		background: url(../img/pc/banner_3.jpg) no-repeat center
		background-size: cover
		height: 471px
		//---- 📱 SP ----
		+sp
			height: 233px
		//--------------------------------
		div:not(.c-title_1)
			background: rgba(255,255,255,0.5)
			width: 480px
			height: 240px
			border-bottom-left-radius: 300px
			border-bottom-right-radius: 300px
			margin: auto
			//---- 📱 SP ----
			+sp
				width: 236px
				height: 118px
			//--------------------------------
			h3
				padding-top: 47px
				//---- 📱 SP ----
				+sp
					padding-top: 22px
			//--------------------------------
			.c-title_1
				padding-top: 32px
				//---- 📱 SP ----
				+sp
					padding-top: 8px
	//--------------------------------
	.l-container
		margin-top: 58px
		margin-bottom: 54px
		//---- 📱 SP ----
		+sp
			margin-top: 25px
			margin-bottom: 11px
		//--------------------------------
		p:nth-child(1)
			font-size: 1.5rem
			line-height: 29.5px
			letter-spacing: 1.4px
			font-weight: 500
			margin-left: 68px
			//---- 📱 SP ----
			+sp
				font-size: 1.1rem
				line-height: 18.5px
				letter-spacing: 1.2px
				margin-left: 0
		//--------------------------------
		.l-f_space_around
			margin-top: 76px
			//---- 📱 SP ----
			+sp
				flex-direction: unset
				flex-wrap: wrap
				margin-top: 19px
			//--------------------------------
			.c-txtimg_1:last-child
				//--------------------------------
				h4
					font-size: 1.5rem
					//---- 📱 SP ----
					+sp
						font-size: 1rem
						line-height: 1.4rem
						height: 40px
				//--------------------------------
				p
					font-size: 1.1rem
					line-height: 2.2rem
					letter-spacing: 1px
					//---- 📱 SP ----
					+sp
						font-size: 0.9rem
						line-height: 1.4rem
						letter-spacing: 1px

//________________________________________________________




//================================================================
//	S E C T I O N    6
//
//	@sec6
//================================================================
//________________________________________________________
.p-index_6
	background: $light_blue_grey
	//--------------------------------
	&__content
		padding-top: 77px
		//---- 📱 SP ----
		+sp
			padding-top: 24px
		//--------------------------------
		.c-title_2
		//--------------------------------
		.c-txt_box_1
			margin-top: 37px
			margin-bottom: 36px
			//---- 📱 SP ----
			+sp
				margin-top: -3px
				margin-bottom: 19px
		//--------------------------------
		div:not(.c-title_2), div:not(.c-txt_box_1)
			//--------------------------------
			img
				//---- 📱 SP ----
				+sp
					width: 100%
					height: auto

//________________________________________________________




//================================================================
//	S E C T I O N    C A M P A I G N
//
//	@campaign    @seccam    @secam
//================================================================
//________________________________________________________
.p-index_campaign
	position: relative
	background: $light_blue_grey
	padding-top: 48px
	padding-bottom: 43px
	//---- 📱 SP ----
	+sp
		padding: 24px 0 19px 0
	//--------------------------------
	&__content
		//---- 📱 SP ----
		+sp
			padding: 0 17.5px
		//--------------------------------
		.c-title_campaign_img
		//--------------------------------
		.c-imgtxt_campaign_wrapper
			margin-top: 35px
			margin-bottom: 10px
			//---- 📱 SP ----
			+sp
				margin-top: 13px
		//--------------------------------
		.c-slider_campaign
			//--------------------------------
			.c-btn__campaign
				//---- 📱 SP ----
				+sp
					width: 86%
					margin: auto
		//--------------------------------
		.is-txt
			//---- 📱 SP ----
			+sp
				display: flex
				justify-content: center
				margin-top: 17px
			//--------------------------------
			p
				font-size: 1.2rem
				letter-spacing: 0.6px
				text-align: right
				//---- 📱 SP ----
				+sp
					font-size: 0.9rem
					line-height: 1.4rem
					text-align: left

//________________________________________________________




//================================================================
//	S E C T I O N    7
//
//	@sec7
//================================================================
//________________________________________________________
.p-index_7
	margin-bottom: 67px
	//---- 📱 SP ----
	+sp
		display: flex
		margin-bottom: 25px
	//--------------------------------
	.c-triangle
		margin-bottom: 32px
		//---- 📱 SP ----
		+sp
			margin-bottom: 9px
	//--------------------------------
	.c-title_2
		margin-bottom: 63px
		//---- 📱 SP ----
		+sp
			margin-bottom: 32px

//________________________________________________________




//================================================================
//	S E C T I O N    8
//
//	@sec8
//================================================================
//________________________________________________________
.p-index_8

//________________________________________________________




//================================================================
//	S E C T I O N    9
//
//	@sec9
//================================================================
//________________________________________________________
.p-index_9
	display: flex
	margin-top: 83px
	margin-bottom: 78px
	//---- 📱 SP ----
	+sp
		margin-top: 19px
		margin-bottom: 14px
	//--------------------------------
	p.is-txt
		margin-top: 42px
		margin-bottom: 44px
		font-weight: 500
		letter-spacing: 1.4px
		//---- 📱 SP ----
		+sp
			margin-top: 14px
			margin-bottom: 18px
			font-size: 1rem
			line-height: 1.75rem
	//--------------------------------
	.l-f_center
		flex-direction: column

//________________________________________________________




//================================================================
//	S E C T I O N    10
//
//	@sec10
//================================================================
//________________________________________________________
.p-index_10
	display: flex
	background: $light_grey
	padding-top: 59px
	padding-bottom: 64px
	//---- 📱 SP ----
	+sp
		padding-top: 24px
		padding-bottom: 28px
	//--------------------------------
	.l-container__narrow
		text-align: center
		//--------------------------------
		.c-title_2
		//--------------------------------
		.l-f_space_around
			margin-top: 66px
			//---- 📱 SP ----
			+sp
				flex-wrap: wrap
				flex-direction: row
				margin-top: 32px
		//--------------------------------
		.c-img_arrow
			margin-top: 59px
			margin-bottom: 24px
			//---- 📱 SP ----
			+sp
				margin-top: 24px
				margin-bottom: 18px
		//--------------------------------
		.c-title_1
			text-align: center
			margin-bottom: 14px
			//---- 📱 SP ----
			+sp
				margin-bottom: 8px
		.is-txt
			margin-bottom: 16px
			letter-spacing: 0.8px
			//---- 📱 SP ----
			+sp
				font-size: 1rem
				line-height: 1.65rem
				letter-spacing: 0.5px
				margin-bottom: 17px
		//--------------------------------
		.is-img
			width: 82%
			margin: auto
			//--------------------------------
			img
				//---- 📱 SP ----
				+sp
					width: 100%
					height: auto

//________________________________________________________




//================================================================
//	S E C T I O N    11
//
//	@sec11
//================================================================
//________________________________________________________
.p-index_11
	display: flex
	margin-top: 63px
	margin-bottom: 9px
	//---- 📱 SP ----
	+sp
		margin-top: 23px
		margin-bottom: -8px
	//--------------------------------
	.l-container__narrow
		position: relative
		padding: 0
		//--------------------------------
		.c-title_1
			margin-bottom: 75px
			//---- 📱 SP ----
			+sp
				margin-bottom: 22px

//________________________________________________________




//================================================================
//	S E C T I O N    12
//
//	@sec12    @campaign    @seccam    @secam
//================================================================
//________________________________________________________
.p-index_12
	padding-bottom: 7px
	//---- 📱 SP ----
	+sp
		padding-bottom: 0

//________________________________________________________




//================================================================
//	S E C T I O N    13
//
//	@sec13
//================================================================
//________________________________________________________
.p-index_13
	background: $light_brown_grey
	//--------------------------------
	.l-container__full:nth-child(1)
		padding-top: 179px
		//---- 📱 SP ----
		+sp
			padding-top: 84px
		//--------------------------------
		.c-title_1
		//--------------------------------
		.c-img_deco
			margin-top: 21px
			margin-bottom: 53px
			//---- 📱 SP ----
			+sp
				margin-top: 10px
				margin-bottom: 67px
	//--------------------------------
	.l-container__full:nth-child(2)
		padding-bottom: 97px
		//---- 📱 SP ----
		+sp
			background: $white
			padding-top: 24px
			padding-bottom: 32px
		//--------------------------------
		p
			text-align: center
			color: $white
			line-height: 2.8rem
			letter-spacing: 0.4px
			//---- 📱 SP ----
			+sp
				text-align: left
				color: $black
				font-size: 1.1rem
				line-height: 2rem

//________________________________________________________




//================================================================
//	S E C T I O N    14
//
//	@sec14
//================================================================
//________________________________________________________
.p-index_14
	display: flex
	margin-top: 92px
	margin-bottom: 93px
	//---- 📱 SP ----
	+sp
		margin-top: 34px
		margin-bottom: 5px
	//--------------------------------
	.c-title_1
		//---- 📱 SP ----
		+sp
			//--------------------------------
			h2
				letter-spacing: 3px
	//--------------------------------
	h3
		margin-top: 43px
		text-align: center
		font-weight: 500
		letter-spacing: 1.5px
		//---- 📱 SP ----
		+sp
			margin-top: 11px
			font-size: 1rem
			letter-spacing: 1px
	//--------------------------------
	.l-f_center
		margin-top: 76px
		//---- 📱 SP ----
		+sp
			flex-wrap: wrap
			margin-top: 34px

//________________________________________________________




//================================================================
//	S E C T I O N    15
//
//	@sec15
//================================================================
//________________________________________________________
.p-index_15
	padding-bottom: 7px
	//---- 📱 SP ----
	+sp
		padding-bottom: 35px

//________________________________________________________




//================================================================
//	S E C T I O N    16
//
//	@sec16
//================================================================
//________________________________________________________
.p-index_16
	margin-top: 108px
	margin-bottom: 111px
	//--------------------------------
	.c-title_1
	//--------------------------------
	h3
		font-weight: 500
		letter-spacing: 1px
		margin-top: 43px
		margin-bottom: 62px
	//--------------------------------
	.c-form_visit
