@charset "UTF-8";

//================================================================
//		Component
//
//		B U T T O N
//================================================================
//________________________________________________________
.c-btn_reservation {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: $white;
  line-height: 4.9rem;
  letter-spacing: 1.5px;
  background: $black;
  width: 239px;
  height: 49px;
  transition: 0.35s;

  //---- 📱 SP ----
  @include sp {
    font-size: 1.1rem;
    line-height: 3.7rem;
    letter-spacing: 1px;
    width: 181px;
    height: 37px;
  }


  //--------------------------------
  &:after {
    content: "▼";
    position: relative;
    top: 1px;
    right: -10px;
    font-size: 1.1rem;

    //---- 📱 SP ----
    @include sp {
      font-size: 0.8rem;
      right: -8px;
    }
  }

  //--------------------------------
  &:hover {
    opacity: 0.7;
  }
}

//________________________________________________________

//================================================================
//		S O C I A L
//================================================================
//________________________________________________________
.l-btn_social {
  position: absolute;

  //--------------------------------
  &__footer {
    position: inherit;
    margin: auto;
  }
}

//________________________________________________________
.c-btn_social {
  text-decoration: none;
  margin-left: 9px;
  transition: 0.35s;

  //---- 📱 SP ----
  @include sp {
    margin: 0 5px;

    //--------------------------------
    img {
      width: 23px;
      height: auto;
    }
  }


  //--------------------------------
  &:hover {
    opacity: 0.55;
  }
}

//________________________________________________________

//================================================================
//		SP Menu Button
//================================================================
//________________________________________________________
.c-btn_MenuSP {
  z-index: 101;
  width: 24.5px;
  height: 21.5px;
  position: fixed;
  top: 19px;
  right: 16px;
}

//________________________________________________________
.c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  width: 24.5px;
  height: 2.75px;
  background-color: $black;
  transition: 0.4s;
  display: block;
}

//________________________________________________________
.c-btn_MenuSP__bar1 {
  margin-top: 0px;
}

//________________________________________________________
.c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  margin-top: 6.3px;
}

//________________________________________________________
.c-btn_MenuSP__trans {
  //--------------------------------
  .c-btn_MenuSP__bar1 {
    -webkit-transform: rotate(-405deg) translate(-7px, 5px);
    transform: rotate(-405deg) translate(-7px, 5px);
  }

  //--------------------------------
  .c-btn_MenuSP__bar2 {
    opacity: 0;
    transform: translate(55px, 0px);
  }

  //--------------------------------
  .c-btn_MenuSP__bar3 {
    -webkit-transform: rotate(405deg) translate(-7px, -6px);
    transform: rotate(405deg) translate(-7px, -6px);
  }
}

//________________________________________________________

//================================================================
//		Scroll to Top Button
//================================================================
//________________________________________________________
.l-btn_top {
  position: fixed;
  bottom: 20px;
  right: 60px;
  display: none;
  z-index: 90;

  //---- 📱 SP ----
  @include sp {
    right: 17px;
    bottom: 22.5px;
  }
}

//________________________________________________________
.c-btn_top {
  position: relative;
  width: 60px;
  height: 60px;
  background: #5F5F5F;
  cursor: pointer;

  //---- 📱 SP ----
  @include sp {
    width: 41.5px;
    height: 41.5px;
  }


  //--------------------------------
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid $white;
    border-width: 2px 0 0 0;
    padding: 10px;
    top: 17px;
    right: 20px;
    transition: 0.35s;

    //---- 📱 SP ----
    @include sp {
      border-width: 1px 0 0 0;
      padding: 7px;
      top: 12px;
      right: 13px;
    }
  }

  //--------------------------------
  a:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid $white;
    border-width: 0 2px 2px 0;
    padding: 7px;
    transform: rotate(-135deg);
    top: 25px;
    right: 22.5px;
    transition: 0.35s;

    //---- 📱 SP ----
    @include sp {
      border-width: 0 1px 1px 0;
      padding: 5px;
      top: 18px;
      right: 14.5px;
    }
  }

  //--------------------------------
  a:after {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid $white;
    border-width: 0 2px 0 0;
    padding: 10px;
    top: 22px;
    right: 29px;
    transition: 0.35s;

    //---- 📱 SP ----
    @include sp {
      border-width: 0 1px 0 0;
      padding: 7px;
      top: 17px;
      right: 19px;
    }
  }

  //--------------------------------
  &:hover {
    top: -4px;
    background-color: #737373;
    box-shadow: 0 3px 0 $black;

    //---- 📱 SP ----
    @include sp {
      top: -2px;
      box-shadow: 0 1px 0 $black;
    }
  }

  //--------------------------------
  &:active {
    top: 2px;
    background-color: #5F5F5F;
    box-shadow: none;
    transition: 0.2s;
  }
}

//________________________________________________________
