@charset "UTF-8";

//================================================================
//		Component
//
//		I M A G E
//================================================================
//________________________________________________________
.c-img_bg {
  position: absolute;
  background: url(../img/img_1.jpg) no-repeat center;
  background-size: cover;
  width: 50%;
  height: 568px;
  float: right;

  //---- 📱 SP ----
  @include sp {
    background-position: center;
    height: 151px;
  }
}
