@charset "UTF-8";

//================================================================
//		Component
//
//		T E X T    I M A G E
//================================================================
//________________________________________________________
.c-txtimg_topics {
  width: 768px;

  //---- 📱 SP ----
  @include sp {
    width: 100%;
  }


  //--------------------------------
  ul {
    //--------------------------------
    li {
      transition: 0.35s;
      margin-bottom: 18px;

      //---- 📱 SP ----
      @include sp {
        background: $white;
        border-bottom: 1px solid #C5C5C5;
        margin-bottom: 0;
      }


      //--------------------------------
      &:hover {
        opacity: 0.77;
      }

      //--------------------------------
      a {
        display: flex;
        text-decoration: none;
        color: $black;

        //---- 📱 SP ----
        @include sp {
          position: relative;

          //--------------------------------
          &:after {
            content: "";
            position: absolute;
            background: url(../img/sp/arrow.png) no-repeat right center;
            background-size: 5px 7.5px;
            width: 5px;
            height: 7.5px;
            top: 41%;
            right: 16px;
          }
        }


        //--------------------------------
        div:nth-child(1) {
          //---- 📱 SP ----
          @include sp {
            //--------------------------------
            img {
              width: auto;
              height: 68.5px;
            }
          }
        }

        //--------------------------------
        div:nth-child(2) {
          width: 100%;
          margin-top: 77px;
          margin-left: 58px;

          //---- 📱 SP ----
          @include sp {
            margin-top: 3px;
            margin-left: 12px;
          }


          //--------------------------------
          h3 {
            display: inline-block;
            background: $grey;
            color: $white;
            font-weight: 400;
            line-height: 2.3rem;
            letter-spacing: 1px;
            border-radius: 20px;
            padding: 0 21px;
            margin-bottom: 13px;

            //---- 📱 SP ----
            @include sp {
              font-size: 0.7rem;
              line-height: 1.15rem;
              letter-spacing: 0.7px;
              padding: 0 8.6px;
              margin-bottom: 5px;
            }
          }

          //--------------------------------
          p {
            padding-left: 5px;
            letter-spacing: 1.3px;

            //---- 📱 SP ----
            @include sp {
              padding-left: 3px;
              font-size: 1.1rem;
              line-height: 1.5rem;
              letter-spacing: 1.1px;
            }
          }
        }
      }
    }

    //--------------------------------
    li:nth-child(odd) a {
      flex-direction: row;
    }

    //--------------------------------
    li:nth-child(even) a {
      flex-direction: row-reverse;

      //---- 📱 SP ----
      @include sp {
        flex-direction: row;
      }
    }
  }
}
