@charset "UTF-8";

//================================================================
//		Component
//
//		T A B L E
//================================================================
//________________________________________________________
.c-table_about {
  width: 726px;
  border-collapse: collapse;
  border-bottom: 1px solid #C5C5C5;

  //---- 📱 SP ----
  @include sp {
    width: 100%;
  }


  //--------------------------------
  tr {
    display: block;
    border-top: 1px solid #C5C5C5;
    padding: 25.5px 0;

    //---- 📱 SP ----
    @include sp {
      padding: 17.5px 0;
    }


    //--------------------------------
    th {
      width: 141px;
      padding: 0 13px;
      text-align: left;
      letter-spacing: 1.1px;

      //---- 📱 SP ----
      @include sp {
        width: 67px;
        padding-left: 0;
        padding-right: 19px;
        text-align: right;
        font-size: 1rem;
      }
    }

    //--------------------------------
    td {
      letter-spacing: 1.4px;

      //---- 📱 SP ----
      @include sp {
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  }
}
