@charset "UTF-8";

//================================================================
//		Layout
//
//		H E A D E R
//================================================================
//________________________________________________________
.l-header {}

//________________________________________________________
.c-header {
  background: rgba(73, 145, 127, 0.7);
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 99;

  //--------------------------------
  h2 {
    color: $white;
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    letter-spacing: 1.8px;
    line-height: 36px;
  }
}

//================================================================
//		B U T T O N
//================================================================
//________________________________________________________
.l-btn_header {
  display: flex;

  //--------------------------------
  .c-btn_header:nth-child(2) {
    border-left: 1px solid #7BADA0;
  }
}

//________________________________________________________
.c-btn_header {
  //--------------------------------
  a {
    display: block;
  }
}
