@charset "UTF-8";

//================================================================
//		Layout
//
//		F O O T E R
//================================================================
//________________________________________________________
.l-footer {}

//________________________________________________________
.c-footer {
  background: rgba(73, 145, 127, 0.5);
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  //--------------------------------
  p {
    color: $white;
    font-size: 12px;
    letter-spacing: 1.3px;
    line-height: 40px;
  }
}
