@charset "UTF-8"
//================================================================
//		Component
//
//		N A V I G A T O R
//================================================================
//________________________________________________________
.c-gnavi
	//--------------------------------
	ul
		display: flex
		justify-content: center
		//--------------------------------
		li
			//--------------------------------
			a
				display: block
				cursor: pointer
				padding: 0 15px
				transition: 0.35s
				opacity: 0.65
				//--------------------------------
				&:hover
					opacity: 1
					transform: translateY(10px)
