@charset "UTF-8"
//================================================================
//		Component
//
//		I M A G E
//================================================================
//________________________________________________________
.c-img_list
	width: 100%
	//--------------------------------
	img
		width: 100%
		height: auto
	//--------------------------------
	&__s1
		width: auto
		margin: 0 20px
		//--------------------------------
		img
			width: 280px
			height: auto