@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T    I M A G E
//================================================================
//________________________________________________________
.c-txt_img
	background: url("../img/concept-block.png") center top no-repeat
	width: 904px
	height: 303px
	margin-left: auto
	margin-right: auto
	//--------------------------------
	&__row_1
		display: flex
		justify-content: space-between
		padding: 50px 24px 10px 32px
		//--------------------------------
		.c-txt_border
			margin-top: 6px
			margin-right: 15px
		//--------------------------------
		.c-txt_box
			margin-top: 6px
	//--------------------------------
	&__row_2
		display: flex
		justify-content: space-between
		padding: 0px 26px 28px 32px
		//--------------------------------
		p
			font-size: 14px
			line-height: 22px
			letter-spacing: 1.7px
			color: $grey_1
		//--------------------------------
		img
			margin-top: 5px
	//--------------------------------
	&__row_3
		text-align: center
		background: #E9E9E9
		margin: 0px 26px 14px 32px
		padding-top: 26px
		padding-bottom: 20px
		position: relative
		//--------------------------------
		h4
			position: absolute
			color: $black_2
			font-size: 18px
			line-height: 18px
			letter-spacing: 1px
			font-weight: 400
			width: 100%
			top: -8px
		//--------------------------------
		img
		//--------------------------------
		p
			font-size: 13px
			line-height: 12px
			color: $grey
			letter-spacing: -1px
			margin-top: 8px

//________________________________________________________
.c-txt_img_title
	display: flex
	justify-content: space-between
	//--------------------------------
	&__col_1
		//--------------------------------
		p
			font-size: 13px
			line-height: 18px
			color: $cold_green
			margin-top: 12px
			letter-spacing: 0.5px
	//--------------------------------
	&__col_2
		//--------------------------------
		p
			font-size: 15px
			line-height: 22px
			color: $cold_green
			text-align: right
			letter-spacing: 1px

//________________________________________________________
.c-txt_img_list
	//--------------------------------
	img
		width: 253px
		height: 163px
	//--------------------------------
	p
		font-size: 15px
		line-height: 22px
		color: $black_2
		margin-top: 7px

//________________________________________________________
.c-txt_img_list_1
	margin: 0 22px
	//--------------------------------
	img
	//--------------------------------
	p
		color: $brown_3
		text-align: center
		margin-top: 9px