@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSansCJKjp-Regular.otf); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 100;
  src: url(../font/NotoSansCJKjp-Thin.otf); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 200;
  src: url(../font/NotoSansCJKjp-Light.otf); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url(../font/NotoSansCJKjp-DemiLight.otf); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url(../font/NotoSansCJKjp-Medium.otf); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url(../font/NotoSansCJKjp-Bold.otf); }
@font-face {
  font-family: "Noto Sans";
  font-weight: 900;
  src: url(../font/NotoSansCJKjp-Black.otf); }
@font-face {
  font-family: "Noto Serif";
  src: url(../font/NotoSerifCJKjp-Regular.otf); }
@font-face {
  font-family: "Noto Serif";
  font-weight: 100;
  src: url(../font/NotoSerifCJKjp-Thin.otf); }
@font-face {
  font-family: "Noto Serif";
  font-weight: 200;
  src: url(../font/NotoSerifCJKjp-Light.otf); }
@font-face {
  font-family: "Noto Serif";
  font-weight: 300;
  src: url(../font/NotoSerifCJKjp-DemiLight.otf); }
@font-face {
  font-family: "Noto Serif";
  font-weight: 500;
  src: url(../font/NotoSerifCJKjp-Medium.otf); }
@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  src: url(../font/NotoSerifCJKjp-Bold.otf); }
@font-face {
  font-family: "Noto Serif";
  font-weight: 900;
  src: url(../font/NotoSerifCJKjp-Black.otf); }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans";
  font-weight: normal;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 24px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-hover_eff {
  transition: 0.35s; }
  .u-hover_eff:hover {
    opacity: 0.55; }

.u-hover_eff_1 {
  transition: 0.35s; }
  .u-hover_eff_1:hover {
    opacity: 0.75; }

.u-hover_btn {
  position: absolute; }

.u-serif {
  font-family: "Noto Serif"; }

.u-fw_normal {
  font-weight: 400; }

.u-fw_light {
  font-weight: 200; }

.u-fw_medium {
  font-weight: 500; }

.u-txtdeco_non {
  text-decoration: none; }

.u-fs16 {
  font-size: 1.6rem; }

.u-hide {
  display: none; }

.c-header {
  background: rgba(73, 145, 127, 0.7);
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 99; }
  .c-header h2 {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin-left: 20px;
    letter-spacing: 1.8px;
    line-height: 36px; }

.l-btn_header {
  display: flex; }
  .l-btn_header .c-btn_header:nth-child(2) {
    border-left: 1px solid #7BADA0; }

.c-btn_header a {
  display: block; }

body {
  position: relative;
  min-width: 1660px;
  background: url("../img/bg.jpg") center; }

.l-container {
  width: 1252px;
  margin: auto; }

.l-f_space_between {
  display: flex;
  justify-content: space-between; }

.l-f_center {
  display: flex;
  justify-content: center; }

.l-t_center {
  text-align: center; }

.c-footer {
  background: rgba(73, 145, 127, 0.5);
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; }
  .c-footer p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.3px;
    line-height: 40px; }

.c-title {
  text-align: center; }
  .c-title__s1 {
    border-top: 1px solid #614D40;
    border-bottom: 1px solid #614D40;
    width: 460px;
    padding: 6px 0;
    margin: auto; }
    .c-title__s1 p {
      color: #614D40;
      line-height: 16px;
      letter-spacing: 1px; }

.l-btn_top {
  position: fixed;
  bottom: 40px;
  right: 20%;
  display: none; }
  .l-btn_top .c-btn_top {
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    cursor: pointer;
    text-align: center;
    display: block;
    background: #49917F;
    -webkit-transition: none;
    transition: 0.45s; }
    .l-btn_top .c-btn_top:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid #fff;
      border-width: 0 1px 1px 0;
      padding: 8px;
      transform: rotate(-135deg);
      top: 31px;
      right: 21px;
      transition: 0.35s; }
    .l-btn_top .c-btn_top:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid #fff;
      border-width: 1px 0 0 0;
      padding: 12px;
      top: 21px;
      right: 19px;
      transition: 0.35s; }
    .l-btn_top .c-btn_top:hover {
      top: -4px;
      background-color: #fff;
      box-shadow: 0 3px 0 #49917F;
      border: 1px solid #E2EDEA; }
      .l-btn_top .c-btn_top:hover:before {
        border-color: #49917F; }
      .l-btn_top .c-btn_top:hover:after {
        border-color: #49917F; }
    .l-btn_top .c-btn_top:active {
      top: 2px;
      background-color: #EAFFF6;
      box-shadow: none;
      transition: 0.2s; }

.c-gnavi ul {
  display: flex;
  justify-content: center; }
  .c-gnavi ul li a {
    display: block;
    cursor: pointer;
    padding: 0 15px;
    transition: 0.35s;
    opacity: 0.65; }
    .c-gnavi ul li a:hover {
      opacity: 1;
      transform: translateY(10px); }

.c-txt_box {
  color: #fff;
  background: #49917F;
  display: inline-block;
  line-height: 28px;
  padding: 0 17px;
  font-weight: 100; }

.c-txt_border {
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 1px;
  border-top: 1px solid #B4B1AF;
  border-bottom: 1px solid #B4B1AF;
  display: inline-block;
  padding-right: 3px; }
  .c-txt_border span {
    font-size: 14.15px; }

.c-img_list {
  width: 100%; }
  .c-img_list img {
    width: 100%;
    height: auto; }
  .c-img_list__s1 {
    width: auto;
    margin: 0 20px; }
    .c-img_list__s1 img {
      width: 280px;
      height: auto; }

.c-txt_img {
  background: url("../img/concept-block.png") center top no-repeat;
  width: 904px;
  height: 303px;
  margin-left: auto;
  margin-right: auto; }
  .c-txt_img__row_1 {
    display: flex;
    justify-content: space-between;
    padding: 50px 24px 10px 32px; }
    .c-txt_img__row_1 .c-txt_border {
      margin-top: 6px;
      margin-right: 15px; }
    .c-txt_img__row_1 .c-txt_box {
      margin-top: 6px; }
  .c-txt_img__row_2 {
    display: flex;
    justify-content: space-between;
    padding: 0px 26px 28px 32px; }
    .c-txt_img__row_2 p {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 1.7px;
      color: #6C6969; }
    .c-txt_img__row_2 img {
      margin-top: 5px; }
  .c-txt_img__row_3 {
    text-align: center;
    background: #E9E9E9;
    margin: 0px 26px 14px 32px;
    padding-top: 26px;
    padding-bottom: 20px;
    position: relative; }
    .c-txt_img__row_3 h4 {
      position: absolute;
      color: #474338;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1px;
      font-weight: 400;
      width: 100%;
      top: -8px; }
    .c-txt_img__row_3 p {
      font-size: 13px;
      line-height: 12px;
      color: #535353;
      letter-spacing: -1px;
      margin-top: 8px; }

.c-txt_img_title {
  display: flex;
  justify-content: space-between; }
  .c-txt_img_title__col_1 p {
    font-size: 13px;
    line-height: 18px;
    color: #49917F;
    margin-top: 12px;
    letter-spacing: 0.5px; }
  .c-txt_img_title__col_2 p {
    font-size: 15px;
    line-height: 22px;
    color: #49917F;
    text-align: right;
    letter-spacing: 1px; }

.c-txt_img_list img {
  width: 253px;
  height: 163px; }
.c-txt_img_list p {
  font-size: 15px;
  line-height: 22px;
  color: #474338;
  margin-top: 7px; }

.c-txt_img_list_1 {
  margin: 0 22px; }
  .c-txt_img_list_1 p {
    color: #614D3F;
    text-align: center;
    margin-top: 9px; }

.c-map {
  width: 48%;
  height: 600px; }

.p-index {
  min-width: 1252px; }

.p-index_1 {
  text-align: center;
  background-image: url("../img/deco_header_1.png"), url("../img/deco_header_2.png");
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  background-size: contain; }
  .p-index_1 h2 {
    color: #49917F;
    font-size: 37px;
    font-weight: normal;
    padding-top: 173px;
    line-height: 47px;
    letter-spacing: 1px; }
  .p-index_1__logo {
    margin-top: 17px; }
  .p-index_1 .c-gnavi {
    margin-top: 58px; }
  .p-index_1 .l-f_center {
    margin-top: 143px; }

.p-index_2 {
  background: url("../img/deco_1.png") center top no-repeat;
  background-position-y: 90px;
  padding-top: 150px; }
  .p-index_2__txt {
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    margin-top: 42px;
    letter-spacing: 4px; }
  .p-index_2 .l-f_center {
    margin-top: 63px; }
  .p-index_2 .c-txt_img {
    margin-top: 33px; }
    .p-index_2 .c-txt_img h3 {
      font-size: 34px;
      line-height: 34px;
      letter-spacing: 1.8px; }
    .p-index_2 .c-txt_img .c-txt_border {
      height: 26px; }
    .p-index_2 .c-txt_img .c-txt_box {
      height: 28px; }

.p-index_3 {
  background: url("../img/deco_2.png") center top no-repeat;
  background-position-y: 17px;
  padding-top: 155px;
  padding-bottom: 121px; }
  .p-index_3 .l-container {
    border: 4px solid #6C6969;
    width: 1192px;
    padding: 85px 0 80px 0; }
  .p-index_3__inner {
    width: 900px;
    margin: auto; }
    .p-index_3__inner h3 {
      font-size: 23px;
      line-height: 23px;
      color: #140809;
      font-weight: 200;
      letter-spacing: 2.3px;
      text-align: center;
      margin-top: 35px; }
  .p-index_3__fitness {
    margin-top: 122px; }
    .p-index_3__fitness .l-f_space_between {
      margin-top: 45px; }
  .p-index_3__esthetic {
    margin-top: 124px; }
    .p-index_3__esthetic .l-f_space_between {
      margin-top: 40px; }
      .p-index_3__esthetic .l-f_space_between:last-child {
        margin-top: 30px; }
  .p-index_3__phone {
    margin-top: 95px; }
    .p-index_3__phone .c-title {
      margin-bottom: 24px; }
  .p-index_3__campaign {
    margin-top: 120px; }

.p-index_4 {
  background: #bedbcf;
  height: 600px; }
  .p-index_4 .c-map {
    float: left; }
  .p-index_4__inner {
    background: url("../img/access-bg.jpg") left no-repeat;
    background-size: contain;
    background-position-x: 288px;
    width: 45%;
    height: 100%;
    float: left;
    margin-left: 52px;
    color: #5C4E42; }
    .p-index_4__inner h2 {
      text-align: left;
      margin-top: 97px; }
    .p-index_4__inner h3 {
      font-size: 24px;
      font-weight: 200;
      letter-spacing: 0.5px;
      margin-top: 30px; }
    .p-index_4__inner h4 {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-top: 64px; }
    .p-index_4__inner p {
      margin-top: 15px;
      letter-spacing: 2px; }

.p-index_5 {
  background: url("../img/deco_3.png") center top no-repeat;
  background-position-y: 63px;
  padding-top: 117px;
  padding-bottom: 147px;
  text-align: center; }
  .p-index_5 p {
    font-size: 30px;
    color: #49917F;
    font-weight: 200;
    letter-spacing: 3px;
    margin-top: 55px; }
  .p-index_5__phone {
    margin-top: 56px; }

.p-index_6 {
  background: #fff url("../img/footer-banner.jpg") center top no-repeat;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 105px; }
  .p-index_6 h2 {
    color: #5C4E42;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.1px;
    margin-bottom: 60px; }

/*# sourceMappingURL=style.css.map */
