@charset "UTF-8";

//================================================================
//		 N O T O    S A N S
//================================================================
@font-face {
  font-family: "Noto Sans";
  src: url(../font/NotoSansCJKjp-Regular.otf);
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 100;
  src: url(../font/NotoSansCJKjp-Thin.otf);
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 200;
  src: url(../font/NotoSansCJKjp-Light.otf);
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url(../font/NotoSansCJKjp-DemiLight.otf);
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url(../font/NotoSansCJKjp-Medium.otf);
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  src: url(../font/NotoSansCJKjp-Bold.otf);
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 900;
  src: url(../font/NotoSansCJKjp-Black.otf);
}

//================================================================
//		 N O T O    S E R I F
//================================================================
@font-face {
  font-family: "Noto Serif";
  src: url(../font/NotoSerifCJKjp-Regular.otf);
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 100;
  src: url(../font/NotoSerifCJKjp-Thin.otf);
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 200;
  src: url(../font/NotoSerifCJKjp-Light.otf);
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 300;
  src: url(../font/NotoSerifCJKjp-DemiLight.otf);
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 500;
  src: url(../font/NotoSerifCJKjp-Medium.otf);
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  src: url(../font/NotoSerifCJKjp-Bold.otf);
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 900;
  src: url(../font/NotoSerifCJKjp-Black.otf);
}
