@charset "UTF-8";

//colors
$black: #000;
$black_1: #140809;
$black_2: #4B4647;
$black_2: #474338;

$brown: #614D40;
$borwn_1: #5C4E42;
$brown_3: #614D3F;

$grey: #535353;
$grey_1: #6C6969;

$white: #fff;

$cold_green: #49917F;
