@charset "UTF-8";

//================================================================
//		Layout
//
//		H E A D E R
//================================================================
//________________________________________________________
.l-header {
  min-width: 780px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }


  //--------------------------------
  .is-fixed {
    background: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  //--------------------------------
  &__index {
    //--------------------------------
    .is-fixed {
      z-index: 99;

      //---- 📱 SP ----
      @include sp {
        background: $teal;
      }
    }

    //--------------------------------
    .is-fixed_btnmenu {
      //--------------------------------
      .c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
        background: $white;
      }
    }

    //--------------------------------
    .is-opening {
      //--------------------------------
      .c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
        background: $black;
      }
    }
  }
}

//________________________________________________________
.c-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  transition: 0.5s;
  top: 0;
  z-index: 99;

  //---- 📱 SP ----
  @include sp {
    padding-top: 7px;
  }


  //--------------------------------
  &__logo {
    float: left;
    margin-left: 10px;

    //---- 📱 SP ----
    @include sp {
      float: none;
      display: flex;
      margin-left: 0;

      //--------------------------------
      a {
        margin: auto;

        //--------------------------------
        img {
          width: 106.5px;
          height: auto;
        }
      }
    }
  }
}

//================================================================
//		G L O B A L    N A V I G A T I O N
//================================================================
.c-gnavi {
  float: right;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;

  //---- 📱 SP ----
  @include sp {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
  }


  //--------------------------------
  ul {
    //---- 📱 SP ----
    @include sp {
      margin-top: 95px;
    }


    //--------------------------------
    li {
      float: left;

      //---- 📱 SP ----
      @include sp {
        float: none;
        display: flex;
        justify-content: center;
      }


      //--------------------------------
      p {
        font-weight: bold;
        font-size: 1.4rem;
      }
    }

    //--------------------------------
    li:nth-child(1), li:nth-child(2), li:nth-child(3) {
      //--------------------------------
      a {
        display: block;
        padding: 17px 16px;

        //---- 📱 SP ----
        @include sp {
          padding: 7px 0;

          //--------------------------------
          img {
            width: auto;
            height: 21.25px;
          }
        }
      }
    }

    //--------------------------------
    li:nth-child(4) {
      margin: 12px 3px 0 24px;
      letter-spacing: 0.5px;

      //---- 📱 SP ----
      @include sp {
        margin: 61px 0 21px 0;

        //--------------------------------
        img {
          width: 188.5px;
          height: auto;
        }
      }
    }

    //--------------------------------
    li:nth-child(5), li:nth-child(6) {
      margin-top: 6px;
      margin-left: 6px;

      img {
        width: 122px;
        height: auto;
      }

      //---- 📱 SP ----
      @include sp {
        margin: 12px 0;

        //--------------------------------
        img {
          width: 162px;
          height: auto;
        }
      }
    }
  }
}
