@charset "UTF-8";

//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
body {
  background: $white;
  min-width: 920px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }
}

//________________________________________________________
.l-main {}

//________________________________________________________
.l-container {
  max-width: 780px;
  margin: auto;

  //---- 📱 SP ----
  @include sp {
    max-width: 650px;
    padding: 0 14px;
  }
}

//________________________________________________________
.l-side {}
