@charset "UTF-8"
//================================================================
//		Layout
//
//		H E A D E R
//================================================================
//________________________________________________________
.l-header
	margin-bottom: 97px
	//---- 📱 SP ----
	+sp
		margin-bottom: 0
//________________________________________________________
.c-header
	width: 100%
	min-width: 1440px
	//---- 📱 SP ----
	+sp
		position: relative
		min-width: 100%

//================================================================
//		G L O B A L    N A V I G A T I O N
//================================================================
.c-gnavi
	margin-right: 37px
	float: right
	//--------------------------------
	ul
		//--------------------------------
		li
			float: left
			padding: 26px 0
			//--------------------------------
			a
				font-size: 1.8rem
				color: $black_1
				cursor: pointer
				padding: 26px 21px
				font-weight: 300
				//--------------------------------
				&:before
					content: ""
					display: inline-block
					position: relative
					border: solid $red
					border-width: 0 2px 2px 0
					padding: 4px
					transform: rotate(45deg)
					margin-right: 17px
					top: -5px
