@charset "UTF-8"
//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
//________________________________________________________
body
	background: $white

//________________________________________________________
.l-main
	min-width: 1440px
	//---- 📱 SP ----
	+sp
		min-width: 100%

//________________________________________________________
.l-container
	margin: auto
	width: 1440px
	min-width: 1440px
	//---- 📱 SP ----
	+sp
		width: 100%
		min-width: 100%
		max-width: 650px

//________________________________________________________
.l-sp
	+sp
		padding: 0 15px

.l-csp
	+sp
		padding: 0 10px
