//======================================================================
//							V A R I B L E S
//======================================================================
// >> COLORS
$primary_text_color: #231F20
$secondary_text_color: white
$hover_text_color: #C2A646
$primary_background_color: white


// >> TOGGLE MAX-WIDTH SIZES
//Descriptions:  One of the options below must be disabled before switching !
//				 Disable code: "//" place before the variable, Example below.

//[Option 1]
$intro_max_width: 1200px
$content_max_width: 960px
$content_width: auto

//[Option 2]
//$intro_max_width: 1200px
//$content_max_width: 960px
//$content_width: 80%

//======================================================================
//							G E N E R A L
//						 	S T Y L E S
//======================================================================
.hoverEffect:hover
	opacity: 0.5
	transition: .2s
html
	font-size: 62.5%

body
	background-color: $primary_background_color
	color: $primary_text_color
	margin: 0 auto
	font-weight: 500
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif

a
	text-decoration: none

#main
	width: 100%
	margin: 0 auto
.intro_img
	display: block
	width: 100%
	max-width: 1200px
	margin: 23px auto auto auto
.title
	margin: 86px auto auto auto
	display: flex
	height: auto
	max-height: 33px
.breadcrumb
	text-align: right
	display: block
	right: 0
	margin-top: 16px
	font-size: 1.3rem
	letter-spacing: 0.7px
	color: #505052
	text-decoration: none
	width: 100%
	a
		text-decoration: none
		color: #505052

@import sass/header.sass
@import sass/main-index.sass
@import sass/main-message.sass
@import sass/main-gallery.sass
@import sass/footer.sass
/*======================================================================*/
/*					R E T I N A	 +  R E S P O N S I V E					*/
/*======================================================================*/

.Retina
	display: none !important

@media only screen and (max-width: 736px)
	.Retina
		display: block !important
	.noneRetina
		display: none !important
	.title
		margin-top: 34px
		height: 16.5px
		width: auto
	.intro_img
		margin-top: -2px