@charset "UTF-8";
.hoverEffect:hover {
  opacity: 0.5;
  transition: 0.2s; }

html {
  font-size: 62.5%; }

body {
  background-color: white;
  color: #231F20;
  margin: 0 auto;
  font-weight: 500;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; }

a {
  text-decoration: none; }

#main {
  width: 100%;
  margin: 0 auto; }

.intro_img {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 23px auto auto auto; }

.title {
  margin: 86px auto auto auto;
  display: flex;
  height: auto;
  max-height: 33px; }

.breadcrumb {
  text-align: right;
  display: block;
  right: 0;
  margin-top: 16px;
  font-size: 1.3rem;
  letter-spacing: 0.7px;
  color: #505052;
  text-decoration: none;
  width: 100%; }
  .breadcrumb a {
    text-decoration: none;
    color: #505052; }

/*====================================================================== */
/*								H E A D E R								 */
/*====================================================================== */
.fixedHeaderBox {
  display: none;
  position: fixed;
  z-index: 98;
  top: 0;
  width: 100%;
  background-color: white;
  height: 160px; }

#header {
  width: 100%;
  max-width: 955px;
  min-width: 736px;
  margin: auto;
  z-index: 99; }
  #header .logo {
    width: 196px;
    padding-top: 33px;
    padding-bottom: 16px;
    margin: auto; }
    #header .logo img {
      height: auto;
      display: block;
      margin: 0 auto; }
  #header .HeaderSocial {
    float: right;
    margin-top: -157px;
    margin-right: 16px; }
    #header .HeaderSocial a img {
      float: right;
      display: inline-block;
      padding-left: 8px;
      width: 27px;
      height: 27px; }
  #header nav.menu_pc {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 4px; }
    #header nav.menu_pc ul {
      display: flex;
      width: 750px;
      margin: auto; }
      #header nav.menu_pc ul li {
        list-style: none;
        padding-top: 16px;
        padding-bottom: 8px;
        margin: auto; }
        #header nav.menu_pc ul li .dropdown {
          position: relative;
          display: block;
          cursor: pointer; }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 230px;
  background-color: white;
  padding-left: 16px;
  padding-bottom: 16px;
  z-index: 99; }
  .dropdown-content a {
    text-decoration: none;
    display: block;
    color: #231F20;
    padding-top: 16px;
    font-size: 1.6rem; }
    .dropdown-content a:hover {
      color: #C2A646; }

.dropdown:hover .dropdown-content {
  display: block; }

.Hfixed {
  position: fixed;
  background-color: white;
  top: -20px;
  left: 0;
  right: 0;
  max-height: 160px; }
  .Hfixed .menu_pc {
    top: -5px; }
  .Hfixed .logo {
    width: 98px; }
    .Hfixed .logo img {
      height: 70px;
      width: 98px; }
  .Hfixed .HeaderSocial {
    padding-top: 78px; }

/*--V--Menu SMP (Mobile)--V-- */
/*--V--Menu Button SMP (Mobile)--V-- */
* {
  margin: 0;
  padding: 0; }

.menu-btn {
  display: none; }

.menu-btn-block {
  width: 100%;
  height: 4.1px;
  background-color: #414042;
  transform-origin: 0 50%;
  transition: transform 0.3s ease; }
  .menu-btn-block.middle {
    margin: 5.5px 0; }
  .menu-btn-block.top.active {
    transform: rotate(45deg) translate(-7px, -9px); }
  .menu-btn-block.middle.active {
    transform: scale(0); }
  .menu-btn-block.bottom.active {
    transform: rotate(-45deg); }

/*--^--Menu Button SMP (Mobile)--^-- */
nav.menu_smp {
  display: none; }
  nav.menu_smp #open_menu {
    background: white;
    position: absolute;
    display: none;
    z-index: 99;
    width: 100%;
    padding-top: 11px;
    border-bottom: 1px solid #939598; }
    nav.menu_smp #open_menu ul {
      text-align: left;
      list-style-type: none; }
      nav.menu_smp #open_menu ul li.SocialSMP {
        display: flex;
        padding-left: 34.5px; }
        nav.menu_smp #open_menu ul li.SocialSMP a {
          margin: -7px 0 0 0;
          left: 0;
          text-indent: 8px; }
      nav.menu_smp #open_menu ul li {
        padding-top: 7px;
        padding-bottom: 2px;
        border-top: 1px solid #939598;
        text-indent: 42.5px; }
        nav.menu_smp #open_menu ul li a {
          display: block; }
        nav.menu_smp #open_menu ul li ul.menu_sub_smp {
          display: none;
          border-top: 0;
          margin-top: 4px;
          padding-bottom: 19px; }
          nav.menu_smp #open_menu ul li ul.menu_sub_smp li {
            padding-left: 17px; }
            nav.menu_smp #open_menu ul li ul.menu_sub_smp li + li {
              border-top: 0; }
            nav.menu_smp #open_menu ul li ul.menu_sub_smp li a {
              text-decoration: none;
              position: relative;
              top: 10px;
              color: #231F20;
              letter-spacing: 1.25px;
              font-size: 1.15rem;
              line-height: 1.3rem;
              width: 100%;
              display: block; }

.Xbtn1 {
  position: absolute;
  float: left;
  display: none;
  text-indent: 26.5px;
  top: 66px;
  font-size: 0.75rem; }

.Xbtn2 {
  position: relative;
  display: none;
  text-indent: 26.5px;
  top: -16px;
  height: 0px;
  font-size: 0.75rem; }

/*--^--Menu SMP (Mobile)--^-- */
/*====================================================================== */
/*	<  <  <  <  |  H E A D E R  -  R E S P O N S I V E  |  >  >  >  >	 */
/*====================================================================== */
@media only screen and (max-width: 736px) {
  .fixedHeaderBox {
    display: none;
    height: 0; }

  #header {
    min-width: 320px;
    width: 100%;
    margin-top: -25px; }
    #header .logo {
      position: relative;
      display: block; }
      #header .logo a img {
        width: 87px;
        margin: auto; }
    #header .HeaderSocial {
      display: none; }
    #header nav.menu_pc {
      display: none; }
    #header nav.menu_smp {
      display: block;
      margin-top: -6px; }
      #header nav.menu_smp #open_menu {
        padding-top: 4px; }
        #header nav.menu_smp #open_menu .SocialSMP {
          padding: 12px 0 0 35px; }
          #header nav.menu_smp #open_menu .SocialSMP a img {
            width: 18.5px;
            height: 18.5px; }
        #header nav.menu_smp #open_menu ul li a img {
          height: 11.5px; }
      #header nav.menu_smp .menu-btn {
        display: block;
        position: absolute;
        width: 21.6px;
        height: 11.65px;
        top: 14px;
        right: 16.5px; }
      #header nav.menu_smp .menu-btn-block {
        height: 2.1px; }
        #header nav.menu_smp .menu-btn-block.middle {
          margin: 2.75px 0; }
        #header nav.menu_smp .menu-btn-block.top.active {
          transform: rotate(45deg) translate(-3.5px, -4.5px); }
        #header nav.menu_smp .menu-btn-block.middle.active {
          transform: scale(0); }
        #header nav.menu_smp .menu-btn-block.bottom.active {
          transform: rotate(-45deg); }

  .Hfixed {
    height: 90px; }
    .Hfixed .logo {
      max-width: 87px !important;
      margin-top: 16px !important;
      padding-bottom: 75px !important; }
      .Hfixed .logo img {
        max-width: 43.5px !important;
        height: auto; }
    .Hfixed .menu_smp {
      margin-top: -65px; }
      .Hfixed .menu_smp .menu-btn {
        padding-top: 48px !important; }
      .Hfixed .menu_smp #open_menu {
        margin-top: -59px; } }
/*====================================================================== */
/*						M A I N	-	I N D E X							 */
/*====================================================================== */
.swiper-container {
  width: 100%;
  max-width: 1200px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px; }

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center; }
  .swiper-slide img {
    width: 100%; }

.swiper-pagination {
  position: relative;
  margin-bottom: -29px; }

.swiper-pagination-bullet {
  margin-top: 30.75px;
  margin-left: 2.85px;
  margin-right: 2.85px;
  width: 10.5px;
  height: 10.5px;
  background-color: #D1D3D4; }

.swiper-pagination-bullet-active {
  background-color: #939598; }

#content-index {
  padding-bottom: 53px;
  background-color: white;
  margin: auto; }
  #content-index .title_news {
    margin: 113px auto auto auto;
    display: flex;
    max-height: 33px;
    height: auto; }
  #content-index .more-btn .more-btn_pc {
    display: block;
    margin: auto;
    width: auto;
    height: 20px; }
  #content-index .more-btn .more-btn_smp {
    display: none; }
  #content-index .news_container {
    max-width: 960px;
    width: auto;
    border-top: 1px solid #231F20;
    margin-top: 20px;
    margin-bottom: 47px;
    margin-left: auto;
    margin-right: auto; }
    #content-index .news_container .news {
      margin: 67px auto -2.5px auto;
      display: flex;
      width: 635px;
      color: #231F20;
      align-content: center; }
      #content-index .news_container .news img {
        float: left;
        width: 182px;
        height: 124px; }
      #content-index .news_container .news p {
        padding-left: 20.5px;
        margin-top: -5px;
        float: left;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        line-height: 2.9rem; }
        #content-index .news_container .news p a {
          color: #EE2F2A;
          font-size: 1.2rem;
          line-height: 2.1rem; }

/*====================================================================== */
/*	<	<	<	<		 R E S P O N S I V E		>	>	>	> 		 */
/*																		 */
/*	<	<	<	<		M A I N	-	I N D E X		>	>	>	>		 */
/*====================================================================== */
@media only screen and (max-width: 736px) {
  .swiper-container {
    margin-top: -2px;
    height: auto; }
    .swiper-container .swiper-wrapper {
      padding-bottom: 2px; }

  .swiper-pagination-bullet {
    margin: 0.75px 1.775px 0 1.775px;
    width: 6.5px;
    height: 6.5px; }

  .swiper-button-next, .swiper-button-prev {
    width: 13.5px !important;
    height: 22px !important;
    cursor: pointer !important;
    background-size: 13.5px 22px !important;
    margin-top: -14px !important; }

  #content-index {
    padding-bottom: 10px; }
    #content-index .title_news {
      margin-top: 45px;
      height: 16.5px;
      width: auto; }
    #content-index .more-btn {
      position: relative;
      top: -11px;
      margin-bottom: 35px;
      display: inline-flex;
      width: 100%; }
      #content-index .more-btn .more-btn_smp {
        display: block;
        margin: auto;
        width: auto;
        height: 11.5px; }
      #content-index .more-btn .more-btn_pc {
        display: none; }
    #content-index .news_container {
      margin-top: 7px;
      width: 84.375%; }
      #content-index .news_container .news {
        width: 100%;
        margin-top: 17px;
        display: block; }
        #content-index .news_container .news img {
          width: 100%;
          height: auto; }
        #content-index .news_container .news p {
          width: 100%;
          padding: 0;
          margin: 12px 0 28px 0;
          font-size: 1.1rem;
          line-height: 1.95rem;
          letter-spacing: -0.5px; }
          #content-index .news_container .news p a {
            font-size: 1.1rem;
            line-height: 1.95rem; } }
/*====================================================================== */
/*						M A I N  -  M E S S A G E						 */
/*====================================================================== */
#content-message {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  padding-bottom: 50.5px;
  background-color: white;
  margin: auto; }
  #content-message .message {
    margin: 29px auto 60px auto;
    position: relative;
    display: block;
    max-width: 960px;
    width: 100%; }
    #content-message .message .message_img_smp {
      display: none; }
    #content-message .message p {
      width: 46.5%;
      color: white;
      position: absolute;
      letter-spacing: 0.5px;
      left: 60px;
      top: 74.5px;
      font-size: 1.4rem;
      line-height: 2.9rem; }
    #content-message .message .message_img_pc {
      max-width: 960px;
      width: 100%;
      height: auto; }
    #content-message .message .message_signature {
      display: none; }

/*====================================================================== */
/*	<  <  <  <			   R E S P O N S I V E				>  >  >  > 	 */
/*								  										 */
/*	<  <  <  <			M A I N  -  M E S S A G E			>  >  >  >	 */
/*====================================================================== */
@media only screen and (max-width: 736px) {
  #content-message {
    padding-bottom: 55px; }
    #content-message .breadcrumb {
      display: none; }
    #content-message .message {
      width: 93.75%;
      background-color: black;
      margin: 14px auto 32.5px auto; }
      #content-message .message .message_img_smp {
        display: block;
        position: absolute;
        width: 100%; }
      #content-message .message .message_img_pc {
        display: none; }
      #content-message .message p {
        width: 90%;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        padding-top: 90%;
        margin: auto;
        line-height: 1.7rem;
        font-size: 1.1rem; }
      #content-message .message .message_signature {
        display: block;
        margin: auto;
        padding-top: 17.5px;
        padding-bottom: 27.5px;
        width: 109px;
        height: auto; } }
/*====================================================================== */
/*						M A I N  -  G A L L E R Y						 */
/*====================================================================== */
#content-gallery {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  padding-bottom: 53px;
  background-color: white;
  color: #231F20;
  margin: auto; }
  #content-gallery .gallery {
    display: flex;
    width: 100%;
    margin: 32px auto 0 auto; }
    #content-gallery .gallery img {
      float: right;
      position: relative;
      width: 50%;
      max-width: 460px;
      height: 332px; }
    #content-gallery .gallery p {
      float: left;
      position: relative;
      margin: -5px 40px 0 0;
      width: 50%;
      font-size: 1.4rem;
      line-height: 2.9rem; }

#Access {
  position: relative;
  height: 0;
  top: -100px; }

#content-access {
  width: 100%;
  background-color: #F1F3F4;
  color: #231F20;
  margin: 42px auto auto auto;
  padding-top: 11px; }
  #content-access .access {
    display: flex;
    margin: 28px auto 62px auto;
    padding-bottom: 106px;
    width: auto;
    max-width: 960px; }
    #content-access .access .access_1 {
      float: left;
      position: relative;
      width: 50%;
      max-width: 460px;
      margin-right: 20px; }
      #content-access .access .access_1 img {
        max-width: 460px;
        width: 100%; }
      #content-access .access .access_1 a img {
        margin-top: 13px;
        width: 166px; }
    #content-access .access .access_2 {
      float: right;
      position: relative;
      width: 50%;
      max-width: 460px;
      margin-left: 20px; }
      #content-access .access .access_2 img {
        max-width: 460px;
        width: 100%; }
      #content-access .access .access_2 p {
        margin-top: 17px;
        font-size: 1.4rem;
        line-height: 2.9rem;
        letter-spacing: 1px; }

/*====================================================================== */
/*	<  <  <  <			   R E S P O N S I V E				>  >  >  > 	 */
/*								  										 */
/*	<  <  <  <			M A I N  -  G A L L E R Y			>  >  >  >	 */
/*====================================================================== */
@media only screen and (max-width: 736px) {
  #content-gallery {
    display: inline-block; }
    #content-gallery .breadcrumb {
      display: none; }
    #content-gallery .gallery {
      display: block;
      width: 84.375%;
      margin-top: 18px; }
      #content-gallery .gallery img {
        max-width: 100%;
        width: 100%;
        height: auto; }
      #content-gallery .gallery p {
        width: 100%;
        top: 23px;
        font-size: 1.1rem;
        line-height: 1.9rem;
        letter-spacing: 0.7px; }

  #Access {
    top: -10px; }

  #content-access {
    display: inline-block;
    margin: 5px 0 27px 0;
    padding-bottom: 38px; }
    #content-access .title {
      margin-top: 30px; }
    #content-access .access {
      display: block;
      width: 84.375%;
      margin-top: 11px;
      line-height: 3.8rem;
      font-size: 2.2rem; }
      #content-access .access .access_1 {
        width: 100%;
        max-width: 100%; }
        #content-access .access .access_1 img {
          max-width: 100%; }
        #content-access .access .access_1 a img {
          margin-top: 15px;
          width: 135px; }
      #content-access .access .access_2 {
        width: 100%;
        max-width: 100%;
        margin-top: 23px; }
        #content-access .access .access_2 img {
          max-width: 100%;
          width: 100%; }
        #content-access .access .access_2 p {
          margin-top: 6px;
          font-size: 1.1rem;
          line-height: 1.9rem;
          letter-spacing: 1.5px; } }
/*====================================================================== */
/*								F O O T E R								 */
/*====================================================================== */
#footer {
  max-width: 960px;
  width: auto;
  height: 212.2px;
  background-color: white;
  border-top: 1px solid #231F20;
  margin: auto; }
  #footer .FooterSocial_pc {
    padding-top: 39px;
    display: block;
    text-align: center; }
  #footer .FooterSocial_smp {
    padding-top: 20px;
    display: none; }
  #footer .Translate {
    color: #231F20;
    font-size: 1.6rem;
    margin: 8px auto auto 0;
    letter-spacing: 0.3px;
    text-align: center; }
  #footer .TranslateLink {
    text-decoration: none;
    color: #231F20; }
  #footer .Copyright {
    font-size: 1.1rem;
    margin-top: 25px;
    letter-spacing: 0.3px;
    text-align: center; }
  #footer .CopyrightLink {
    color: #231F20;
    text-decoration: none; }
    #footer .CopyrightLink:hover {
      text-decoration: underline; }

/*====================================================================== */
/*	<	<	<	 | F O O T E R  -  R E S P O N S I V E | 	>	>	>	 */
/*====================================================================== */
@media only screen and (max-width: 736px) {
  #footer {
    height: 114.5px;
    width: 84.375%; }
    #footer .FooterSocial_smp {
      display: block;
      margin-top: 1.5px;
      text-align: center; }
      #footer .FooterSocial_smp a img {
        width: 18.5px;
        height: 18.5px; }
    #footer .FooterSocial_pc {
      display: none; }
    #footer .Translate {
      margin-top: 12px;
      font-size: 1.1rem; }
    #footer .Copyright {
      margin-top: 20px;
      font-size: 0.7rem;
      letter-spacing: 0.1px; } }
/*====================================================================== */
/*					R E T I N A	 +  R E S P O N S I V E					 */
/*====================================================================== */
.Retina {
  display: none !important; }

@media only screen and (max-width: 736px) {
  .Retina {
    display: block !important; }

  .noneRetina {
    display: none !important; }

  .title {
    margin-top: 34px;
    height: 16.5px;
    width: auto; }

  .intro_img {
    margin-top: -2px; } }

/*# sourceMappingURL=style.css.map */
