@charset "UTF-8";

//================================================================
//		Float
//
//		@float
//================================================================
.u-fl {
  float: left;
}

.u-fr {
  float: right;
}

//================================================================
//		Effect
//
//		@effect
//================================================================
.u-hover_eff {
  transition: 0.35s;

  //--------------------------------
  &:hover {
    opacity: 0.55;
  }
}

.u-hover_eff_1 {
  transition: 0.35s;

  //--------------------------------
  &:hover {
    opacity: 0.75;
  }
}

//================================================================
//		Text style
//
//		@txtstyle
//================================================================
//________________________________________________________
.u-fw_thin {
  font-weight: 100;
}

.u-fw_light {
  font-weight: 200;
}

.u-fw_demilight {
  font-weight: 300;
}

.u-fw_regular {
  font-weight: 400;
}

.u-fw_medium {
  font-weight: 500;
}

.u-fw_bold {
  font-weight: 700;
}

.u-fw_black {
  font-weight: 900;
}

//________________________________________________________
.u-txtdeco_non {
  text-decoration: none;
}

//.u-fs16
//	font-size: 1.6rem

.u-fc_white {
  color: $white;
}

//================================================================
//		Color
//
//		@color @bgcolor
//================================================================
//________________________________________________________
//.u-bg_grey
//	background: #E9EFF2

//================================================================
//		Background Image
//
//		@bgimg @imgbg
//================================================================
//________________________________________________________
//.u-banner_index
//	background: url("../img/pc/banner_index.jpg") no-repeat
//	+sp
//		background: url("../img/sp/banner_index.jpg")
