@charset "UTF-8";

//breakpoint
$sp: 768px;
$pc_1280: 1280px;

//colors
$black: #333;
$black_1: #111111;

$grey: #666;
$lightgrey: #D6D6D6;
$lightgrey_1: #bfccd9;

$white: #fff;

$blue: #0068B7;
$blue_1: #003567;
$blue_2: #0075a9;
