@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table, input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

.u-fl {
  float: left;
}

.u-fr {
  float: right;
}

.u-hover_eff:hover {
  opacity: 0.55;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.u-fw_bold {
  font-weight: bold;
}

.u-fw_normal {
  font-weight: normal;
}

.u-txtdeco_non {
  text-decoration: none;
}

.u-txtwhite {
  color: #fff !important;
}

.u-txtred {
  color: #F00;
}

.u-txtcoldgreen {
  color: #8CC152;
}

.u-txttomato {
  color: #DA4453;
}

.u-bg_grey {
  background: #434A54 !important;
}

body {
  background: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
}

main {
  min-width: 800px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  main {
    min-width: auto;
    margin-top: 80px;
  }
}

footer {
  margin-top: 30px;
}

.l-content {
  max-width: 1050px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .l-content {
    display: block;
    max-width: 650px;
    padding: 0 10px;
  }
}

.l-main {
  width: 800px;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .l-main {
    width: auto;
    padding: 0 10px;
  }
}

.l-side {
  width: 220px;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .l-side {
    width: auto;
  }
}

.l-btn1--center {
  text-align: center;
}

.l-btn1--right {
  text-align: right;
}

.l-btn1--n_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-btn1--n_center div {
  margin: 0 15px;
}

.l-btn1--n_center div:last-child {
  margin-left: 15px;
}

.l-btn1--n_center div:first-child {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .l-btn1--n_center div a {
    min-width: 100%;
  }
}

.l-btn1--n_between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .l-btn1--n_between div a {
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.c-headerPC {
  max-width: 1050px;
  height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-headerPC ul {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-headerPC ul li {
  margin-left: 20px;
}

.c-headerPC ul li a {
  color: #333;
}

.c-gnav {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-width: 800px;
  margin: auto;
}

.c-gnav ul {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1050px;
  border-right: 1px solid #CCC;
}

.c-gnav ul li {
  width: 210px;
  background: #EFEFEF;
  border-left: 1px solid #ccc;
  float: left;
}

.c-gnav ul li a {
  display: block;
  padding: 12.5px 0;
  color: #333;
  text-decoration: none;
}

.c-headerSP {
  height: 60px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  border-bottom: 1px solid #ccc;
  background: #fff;
  top: 0;
}

.c-headerSP__logo {
  margin-left: 10px;
  z-index: 99;
}

.c-headerSP__nav {
  position: absolute;
  top: 32px;
  padding: 0;
  width: 100%;
  text-indent: 16px;
  display: none;
  background: #fff;
}

.c-headerSP__nav ul {
  margin-top: 30px;
  font-size: 1.2rem;
  border-top: 1px solid #ccc;
}

.c-headerSP__nav ul li {
  border-bottom: 1px solid #ccc;
}

.c-headerSP__nav ul li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
}

.c-footerCategory {
  background: #EFEFEE;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 35px 0;
}

@media screen and (max-width: 767px) {
  .c-footerCategory {
    min-width: 100%;
    padding: 0 0 30px 0;
  }
}

.c-footerCategory__inner {
  max-width: 1050px;
  min-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-footerCategory__inner {
    width: 100%;
    min-width: 100%;
    display: block;
    text-align: center;
  }
}

.c-footerCategory__links {
  float: left;
  display: block;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .c-footerCategory__links {
    float: none;
    display: inline-block;
    margin-top: 32px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
  }
}

.c-footerCategory__links ul li {
  margin-top: 12px;
}

.c-footerCategory__links ul li a {
  color: #333;
  text-decoration: none;
}

.c-footerCopyright {
  padding: 19px 0;
  min-width: 800px;
}

@media screen and (max-width: 767px) {
  .c-footerCopyright {
    min-width: 100%;
    font-size: 1rem;
    padding: 10px 0;
  }
}

.c-footerCopyright p {
  text-align: center;
}

.c-breadcrumb {
  padding: 8.5px 0;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .c-breadcrumb {
    min-width: 100%;
    padding: 7.5px 0;
  }
}

.c-breadcrumb ul {
  max-width: 1050px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .c-breadcrumb ul {
    width: 100%;
    font-size: 1rem;
  }
}

.c-breadcrumb ul li {
  float: left;
}

.c-breadcrumb ul li a {
  padding: 12.5px 0;
  color: #000;
}

.c-breadcrumb ul li::after {
  content: "›";
  margin: 0 10px;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .c-breadcrumb ul li::after {
    margin: 0 8px;
  }
}

.c-breadcrumb ul li:last-child::after {
  content: "";
}

@media screen and (max-width: 767px) {
  .c-breadcrumb ul li:first-child {
    text-indent: 16px;
  }
}

.c-breadcrumb--topline {
  border-top: 1px solid #ccc;
}

.c-breadcrumb--bottomline {
  border-bottom: 1px solid #ccc;
}

.c-title-component1, .c-title-component2, .c-title-component3 {
  margin: 40px 0 20px 0;
  padding: 5.5px 0;
  border-radius: 5px;
}

.c-title-component1 {
  font-size: 1.6rem;
  background: #000;
  color: #fff;
  text-indent: 16px;
}

.c-title-component2 {
  font-size: 1.3rem;
  background: #888;
  color: #fff;
  text-indent: 32px;
  margin-top: 20px;
}

.c-title-component3 {
  font-size: 1.3rem;
  background: #DDD;
  color: #000;
  text-indent: 40px;
  margin-top: 20px;
}

.c-title {
  border-bottom: 1px solid #ccc;
}

.c-title .c-title__inner {
  height: 100px;
  max-width: 1050px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .c-title .c-title__inner {
    width: auto;
    height: 70px;
    padding-left: 10px;
  }
}

.c-title .c-title__inner h2 {
  font-size: 2.2rem;
}

@media screen and (max-width: 767px) {
  .c-title .c-title__inner h2 {
    font-size: 1.6rem;
  }
}

.c-title .c-title__inner p {
  font-size: 1.4rem;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .c-title .c-title__inner p {
    font-size: 1rem;
  }
}

.c-title1 {
  border-left: 8px solid #8CC152;
  color: #000;
  margin-bottom: 10px;
}

.c-title1 h1 {
  font-size: 1.6rem;
  text-indent: 15px;
  padding: 4px 0;
}

@media screen and (max-width: 767px) {
  .c-title1 h1 {
    font-size: 1.4rem;
  }
}

.c-title1--orange {
  border-color: #F6BB42;
}

.c-title1--red {
  border-color: #E9573F;
}

.c-title1--redtext h1 {
  color: #DA4453;
}

.c-title1--lightbluetext h1 {
  color: #3BAFDA;
}

.c-title2 {
  border-bottom: 1px solid #333;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.c-title2 h1 {
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .c-title2 h1 {
    font-size: 1.4rem;
  }
}

.c-title2--lime {
  border-color: #8CC152;
}

.c-title2--lime h1 {
  color: #8CC152;
}

.c-title3 {
  font-size: 1.4rem;
}

.c-btnMenuSP {
  display: block !important;
  position: absolute;
  right: 10px;
  top: 9px;
  z-index: 99;
}

.c-btnMenuSP__bar1, .c-btnMenuSP__bar2, .c-btnMenuSP__bar3 {
  width: 30px;
  height: 5px;
  background-color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block !important;
  margin: 5px 0 0 0 !important;
}

.c-btnMenuSP__trans .c-btnMenuSP__bar1 {
  -webkit-transform: rotate(-45deg) translate(-3.5px, 3px);
  transform: rotate(-45deg) translate(-5px, 4px);
}

.c-btnMenuSP__trans .c-btnMenuSP__bar2 {
  opacity: 0;
}

.c-btnMenuSP__trans .c-btnMenuSP__bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-10px, -9px);
}

.c-btn1 a {
  color: #fff;
  border-radius: 30px;
  text-align: center;
  min-width: 200px;
  padding: 12px 0;
  background: #FC6E51;
  display: inline-block;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .c-btn1 a {
    font-size: 1.3rem;
  }
}

.c-btn1 a:hover {
  opacity: 0.8;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  text-decoration: underline;
}

.c-btn1--coldgreen a {
  background: #37BC9B;
}

.c-btn1--lightblue a {
  background: #3BAFDA;
}

.c-nav1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-nav1 ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .c-nav1 ul li {
    width: 49%;
  }
  .c-nav1 ul li:nth-child(1n+3) {
    margin-top: 12px;
  }
}

.c-nav1 ul li a {
  display: block;
  background: #4FC1E9;
  color: #fff;
  padding: 12.5px 0;
  width: 180px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .c-nav1 ul li a {
    width: 100%;
  }
}

.c-nav1 ul li a:hover {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  background: #3BAFDA;
}

.c-nav1 ul li a::before {
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 7px;
  margin-bottom: 3px;
}

.c-imgtxt1 {
  border: 1px solid #ccc;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.8rem;
}

.c-imgtxt1__img {
  width: 150px;
  height: 150px;
}

.c-imgtxt1__txt {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 1.2rem;
}

.c-imgtxt1 h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 7px;
}

.c-imgtxt1--lightgreybg {
  background: #eee;
}

.c-imgtxt1--round {
  border-radius: 10px;
}

.c-imgtxt1--imgright {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-imgtxt1--imgright .c-imgtxt1__txt {
  margin-right: 10px;
  margin-left: 0;
}

.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-list1__card {
  display: inline-block;
  width: 185px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.c-list1__card:nth-child(4n+1) {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .c-list1__card {
    width: 49%;
    margin-left: 2%;
  }
  .c-list1__card img {
    width: 100%;
    height: auto;
  }
  .c-list1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

.c-list1__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.c-list1__txt {
  margin-top: 3.5px;
  margin-left: 10px;
}

.c-list1--col3 .c-list1__card {
  width: 253px;
}

.c-list1--col3 .c-list1__card:nth-child(3n+1) {
  margin-left: 0;
}

.c-list1--col3 .c-list1__card:nth-child(4n+1) {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .c-list1--col3 .c-list1__card {
    width: 49%;
    margin-left: 2%;
  }
  .c-list1--col3 .c-list1__card img {
    widtH: 100%;
  }
  .c-list1--col3 .c-list1__card:nth-child(3n+1) {
    margin-left: 2%;
  }
  .c-list1--col3 .c-list1__card:nth-child(2n+1) {
    margin-left: 0;
  }
}

.c-list2 ul {
  margin-left: 17px;
}

.c-list2 ul li {
  list-style-type: disc;
  font-size: 1.4rem;
  line-height: 2rem;
}

.c-list3 ul {
  margin-left: 17px;
}

.c-list3 ul li {
  list-style-type: decimal;
  font-size: 1.4rem;
  line-height: 2rem;
}

.c-list4 ul {
  border-bottom: 1px solid #ccc;
}

.c-list4 ul li {
  border-top: 1px solid #ccc;
}

.c-list4 ul li a {
  display: block;
  padding: 15px 10px;
  font-size: 1.3rem;
  text-decoration: none;
}

.c-list4 ul li a:hover {
  opacity: 0.7;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.c-list5 ul li {
  margin-top: 15px;
}

.c-list5 ul li:first-child {
  margin-top: 0;
}

.c-list5 ul li a {
  display: inline-block;
}

.c-list5 ul li a:hover {
  opacity: 0.7;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.c-table1 {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  color: #000;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-size: 1.4rem;
}

.c-table1 th {
  border-bottom: 1px solid #ccc;
  background: #8CC152;
  padding: 10px 5px;
  color: #fff;
}

.c-table1 td {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.c-table1 tbody th {
  background: #E6E9ED;
  font-weight: normal;
  color: #000;
}

@media screen and (max-width: 767px) {
  .c-table1--spBlock th, .c-table1--spBlock td {
    display: block;
    padding: 10px 0;
  }
}

.c-line1 {
  position: relative;
}

.c-line1 hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.c-line1 hr:before {
  content: "§";
  color: #ccc;
  padding: 0 10px;
  position: absolute;
  left: 50%;
  margin-top: -5px;
  margin-left: -10px;
  font-size: 1.4rem;
  background: #fff;
}

.c-message1 {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 33.5px 10px;
  text-align: center;
  font-size: 1.4rem;
}

.c-message1--coldgreen {
  background: #48CFAD;
  border-color: #48CFAD;
  color: #fff;
}

.c-sideFrame1 {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
}

.c-sideFrame1__head {
  background: #E6E9ED;
  padding: 11.5px 10px;
  border-bottom: 1px solid #ccc;
}

.c-sideFrame1__body {
  padding: 13px 10px;
}

.p-company .l-content .l-side {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .p-company .l-content .l-side {
    margin-left: 0;
  }
}

.p-company1 {
  margin-bottom: 40px;
}

.p-company1 p {
  margin-bottom: 20px;
}

.p-company2 {
  margin-bottom: 40px;
}

.p-company2 table {
  margin-bottom: 30px;
}

.p-company3 p {
  margin-bottom: 10px;
}

.p-company3 .c-list2 {
  margin-bottom: 30px;
}

.p-company3 hr {
  margin: 30px 0;
}

.p-company3 .c-imgtxt1 {
  border: none;
  padding: 0;
  margin-top: 30px;
}

.p-company3 .c-imgtxt1__img {
  width: 180px;
  height: 150px;
}

@media screen and (max-width: 767px) {
  .p-company3 .c-imgtxt1__img {
    width: 100px;
    height: auto;
  }
  .p-company3 .c-imgtxt1__img img {
    width: 100px;
    height: auto;
  }
}

.p-company3 .c-imgtxt1__txt {
  font-size: 1.4rem;
}

.p-service .c-title {
  background: #5D9CEC;
  color: #fff;
}

.p-service .l-content .l-side {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .p-service .l-content .l-side {
    margin-left: 0;
  }
}

.p-service1 {
  margin: 40px 0;
}

.p-service1 .c-list1 {
  width: 800px;
}

@media screen and (max-width: 767px) {
  .p-service1 .c-list1 {
    width: auto;
  }
}

.p-service2 {
  margin-bottom: 40px;
}

.p-service2 p {
  margin-bottom: 20px;
}

.p-service2 .c-message1 p {
  margin: 0;
}

.p-service3 {
  margin-bottom: 40px;
}

.p-service3 .c-table1 {
  margin-bottom: 30px;
}

.p-service3 p {
  margin-bottom: 10px;
}

.p-service3 .l-btn1 {
  margin-top: 30px;
}

.p-service4 .c-title1 {
  margin-bottom: 20px;
}

.p-service4 .c-title3 {
  margin-bottom: 10px;
}

.p-service4 .c-imgtxt1 {
  margin-bottom: 30px;
}

.p-service4 p {
  margin-bottom: 20px;
}
