@charset "UTF-8"
//================================================================
//		Float
//
//		@float
//================================================================
//________________________________________________________
.u-fl
	float: left

.u-fr
	float: right

//================================================================
//		Effect
//
//		@effect
//================================================================
//________________________________________________________
.u-hover_eff
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.55

.u-hover_eff_1
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.75

//________________________________________________________
.u-hover_btn
	position: absolute

//================================================================
//		Text style
//
//		@txtstyle
//================================================================
//________________________________________________________
.u-serif
	font-family: 'Noto Serif'

//________________________________________________________
.u-fw_normal
	font-weight: 400

.u-fw_light
	font-weight: 200

.u-fw_medium
	font-weight: 500

//________________________________________________________
.u-txtdeco_non
	text-decoration: none

.u-fs16
	font-size: 1.6rem

//================================================================
//		Hide
//
//		@hide
//================================================================
//________________________________________________________
.u-hide
	display: none