@charset "UTF-8"
//================================================================
//		Project
//
//		Q & A
//================================================================
//________________________________________________________
.p-qa

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-qa_1
	margin-bottom: 65px
	//---- 📱 SP ----
	+sp
		margin-bottom: 40px
	//--------------------------------
	h2
		margin-bottom: 20px
		//---- 📱 SP ----
		+sp
			margin-bottom: 9px

//================================================================
//		S E C T I O N    2
//================================================================
//________________________________________________________
.p-qa_2
	margin-bottom: 63px
	//---- 📱 SP ----
	+sp
		margin-bottom: 38px
	//--------------------------------
	h2
		margin-bottom: 14px