@charset "UTF-8"
//================================================================
//		Project
//
//		T O P I C S
//================================================================
//________________________________________________________
.p-topics
	//--------------------------------
	.c-banner
		margin-bottom: 61px
		//---- 📱 SP ----
		+sp
			margin-bottom: 28px

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-topics_1
	margin-bottom: 58px
	//---- 📱 SP ----
	+sp
		margin-bottom: 33px
	//--------------------------------
	h2
		font-weight: normal
		letter-spacing: 1px
		margin-bottom: 43px
		//---- 📱 SP ----
		+sp
			font-size: 1.4rem
			line-height: 1.9rem
			letter-spacing: 0.7px
			margin-bottom: 27px
	//--------------------------------
	&__btns
		display: flex
		justify-content: space-between
		margin-top: 19px