@charset "UTF-8"

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 1.4rem

html
	font-size: 62.5%

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
	line-height: 2.4rem

h1, h2, h3, h4, h5, h6
	font-weight: bold

table, input, textarea, select, option
	line-height: 2.4rem

ol, ul
	list-style: none

blockquote, q
	quotes: none

\:focus
	outline: 0

ins
	text-decoration: none

del
	text-decoration: line-through

img
	vertical-align: top