@charset "UTF-8"

body
	background: #fff
	font-size: 1.4rem
	min-width: 1000px
	//---- 📱 SP ----
	+sp
		min-width: 100%
		width: 100%
		font-size: (2.8rem/2)

//================================================================
//		 H E A D E R
//
//		@header
//================================================================
//________________________________________________________
.l-header
	.c-header
		//--------------------------------
		.c-header__col1
			a
				margin-top: 6px
				//---- 📱 SP ----
				+sp
					margin-top: 21px
					float: left
			//--------------------------------
			.c-btnMenuSP
				position: relative
				margin-top: 9px
				right: 15px
	.c-gnav
		//--------------------------------
		.c-sp_btn
			margin-top: 30px
			//--------------------------------
			.c-sp_btn_contact
				margin-top: 16px

//================================================================
//		 F O O T E R
//
//		@footer
//================================================================
//________________________________________________________
.l-footer
	padding-top: 64px
	border-top: 1px solid #ccc
	//---- 📱 SP ----
	+sp
		padding-top: 46px
	//--------------------------------
	.c-footer_contact
		//--------------------------------
		.sp_only
			//--------------------------------
			.c-sp_btn_contact--footer
				//---- 📱 SP ----
				+sp
					margin-top: 10px
					padding: 15px 0
			//--------------------------------
			.c-fax
				margin: auto auto 32px auto
		//--------------------------------
		&__phone
			margin: auto auto 96px auto
	//--------------------------------
	.c-footer_last
		//--------------------------------
		nav
			//---- 📱 SP ----
			+sp
				padding-top: 1px
				padding-bottom: 9px

//================================================================
//		N A V I G A T I O N
//
//		@navigation
//================================================================
//________________________________________________________
.l-subnav
	margin-top: 57px
	margin-bottom: 35px
	//---- 📱 SP ----
	+sp
		margin-top: 30px

//================================================================
//		 C O N T E N T
//
//		@content @container
//================================================================
//________________________________________________________
.l-container
	width: 1000px
	margin: 0 auto
	//---- 📱 SP ----
	+sp
		width: 100%
		max-width: 650px

//________________________________________________________
.l-sp_mid
	//---- 📱 SP ----
	+sp
		padding: 0 15px

.l-cols
	display: flex
	justify-content: space-between
//================================================================
//		I N D E X
//
//		@index
//================================================================
//________________________________________________________
.l-index
	//--------------------------------
	.l-container
		//--------------------------------
		.c-news
			margin-top: -30px
			//---- 📱 SP ----
			+sp
				margin-top: 191px
				line-height: 1.8rem
				a
					margin-right: 15px
					margin-
		//--------------------------------
		.l-title_img_1
			display: flex
			justify-content: space-between
			margin-top: 58px
			//---- 📱 SP ----
			+sp
				display: block
				margin-top: 26px
				margin-bottom: -13px
			//--------------------------------
			.c-title_img_1
				//---- 📱 SP ----
				+sp
					margin-top: 15px
					//--------------------------------
					&:first-child
						margin-top: 0
		//--------------------------------
		.l-title_img_2
			display: flex
			justify-content: space-between
			//---- 📱 SP ----
			+sp
				display: inline-block
	//--------------------------------
	.c-index_banner_2
		margin-top: 59px
		//--------------------------------
		&__inner
			+sp
				background: none
		//--------------------------------
		&__info
			//---- 📱 SP ----
			+sp
				background: $white
				margin: 135px 15px 0 15px
				padding: 28px 20px 10px 20px
				//---- 📱 SP ----
				.c-title_1
					margin-top: 2px
		//--------------------------------
		&__img_1
			margin-top: 31px
			//---- 📱 SP ----
			+sp
				margin-top: 15px
		//--------------------------------
		&__txt_1
			//---- 📱 SP ----
			+sp
				margin-top: 12px
		&__txt_2
			+sp
				margin-top: -11px

	//--------------------------------
	.l-index_equipment
		text-align: center
		padding: 56px 0 60px 0
		background: #E9EFF2
		width: 100%
		//---- 📱 SP ----
		+sp
			margin-top: 331px
			padding-top: 0
			padding-bottom: 44px
		//--------------------------------
		.c-index_equipment__title
			//---- 📱 SP ----
			+sp
				img
					width: 131px
					height: auto
					margin: auto
					padding-top: 42px
		//--------------------------------
		.l-title_img_2
			margin-top: 30px
			margin-bottom: 24px
			//---- 📱 SP ----
			+sp
				margin-bottom: 10px
		//--------------------------------
		span
			display: block
			line-height: 2.2rem
			//---- 📱 SP ----
			+sp
				text-align: left
				line-height: 2.1rem
		//--------------------------------
		.c-btn
			margin-top: 26px
			//---- 📱 SP ----
			+sp
				margin-top: 11px

//================================================================
//		C O M P A N Y
//
//		@company
//================================================================
//________________________________________________________
.l-company_1
	text-align: center
	//--------------------------------
	p
		color: $black
		line-height: 2rem
	.l-company_1__img
		display: flex
		justify-content: space-between
		margin: 21px auto 33px auto

//________________________________________________________
