@charset "UTF-8"
//================================================================
//		Float
//
//		@float
//================================================================
.u-fl
	float: left
.u-fr
	float: right

//================================================================
//		Effect
//
//		@effect
//================================================================
.u-hover_eff
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.55

.u-hover_eff_1
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.75

//================================================================
//		Text style
//
//		@txtstyle
//================================================================
.u-fw_bold
	font-weight: bold
.u-fw_normal
	font-weight: normal

.u-txtdeco_non
	text-decoration: none

.u-fs16
	font-size: 1.6rem

//================================================================
//		Color
//
//		@color @bgcolor
//================================================================
.u-bg_grey
	background: #E9EFF2

//================================================================
//		Background Image
//
//		@bgimg @imgbg
//================================================================
.u-banner_advantage
	background: url("../img/pc/banner_advantage.jpg") no-repeat
	+sp
		background: url("../img/sp/banner_advantage.jpg")
.u-banner_business
	background: url("../img/pc/banner_business.jpg") no-repeat
	+sp
		background: url("../img/sp/banner_business.jpg")
.u-banner_company
	background: url("../img/pc/banner_company.jpg") no-repeat
	+sp
		background: url("../img/sp/banner_company.jpg")
.u-banner_contact
	background: url("../img/pc/banner_contact.jpg") no-repeat
	+sp
		background: url("../img/sp/banner_contact.jpg")
.u-banner_equipment
	background: url("../img/pc/banner_equipment.jpg") no-repeat
	+sp
		background: url("../img/sp/banner_equipment.jpg")
.u-banner_recruit
	background: url("../img/pc/banner_recruit.jpg") no-repeat
	+sp
		background: url("../img/sp/banner_recruit.jpg")