@charset "UTF-8";

//================================================================
//		Project
//
//		I N D E X
//================================================================
//________________________________________________________
.l-body_index {
  background: $white url("../img/bg.png") center;
  background-size: contain;

  //---- 💻 PC_1280 ----
  @include pc_1280 {
    background: $white url("../img/bg_1280.png") center;
    background-size: contain;
  }


  //---- 📱 SP ----
  @include sp {
    background: $white url("../img/bg_sp.png") center;
    background-size: contain;
  }
}

//________________________________________________________
.p-index {
  margin-top: 75px;

  //---- 📱 SP ----
  @include sp {
    margin-top: 257px;
  }
}

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-index_1 {
  //---- 📱 SP ----
  @include sp {
    display: flex;
  }


  //--------------------------------
  .l-txt_img_1 {}

  //--------------------------------
  .l-txt_img_2 {
    margin-top: 60px;

    //---- 📱 SP ----
    @include sp {
      margin-top: 19px;
    }
  }
}

//================================================================
//		S E C T I O N    2
//================================================================
//________________________________________________________
.p-index_2 {
  margin-top: 64px;
  padding-bottom: 82px;
  border-bottom: 1px solid $blue_2;

  //---- 📱 SP ----
  @include sp {
    display: flex;
    border-width: 2px;
    margin-top: 11px;
    padding-bottom: 30px;
  }


  //--------------------------------
  .l-container {
    display: flex;
    justify-content: space-between;

    //---- 📱 SP ----
    @include sp {
      flex-direction: column;
    }
  }

  //--------------------------------
  &__col_1 {
    width: 603px;

    //---- 📱 SP ----
    @include sp {
      width: 100%;
    }


    //--------------------------------
    .l-btn {
      margin-top: 13px;
      margin-right: 71px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  //--------------------------------
  &__col_2 {
    //---- 📱 SP ----
    @include sp {
      margin-top: 19px;
    }


    //--------------------------------
    .c-txt_img_block {
      margin-bottom: 25px;

      //---- 📱 SP ----
      @include sp {
        margin-bottom: 2px;
      }
    }

    //--------------------------------
    .l-btn {
      margin-top: 13px;
      margin-left: 8px;

      //---- 📱 SP ----
      @include sp {
        margin: 0;
      }
    }
  }
}
