@charset "UTF-8";

//================================================================
//		Project
//
//		T A X I
//================================================================
//________________________________________________________
.l-header_taxi, .l-body_taxi, .l-footer_taxi, .c-banner__taxi {
  min-width: 1840px;

  //---- 💻 PC_1280 ----
  @include pc_1280 {
    min-width: 1200px;
  }


  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }
}

//________________________________________________________
.p-taxi {
  width: 1840px;
  margin: 20px auto 80px auto;

  //---- 💻 PC_1280 ----
  @include pc_1280 {
    width: 1200px;
  }


  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }


  //--------------------------------
  .c-title {
    margin-bottom: 22px;
  }
}

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-taxi_1 {}

//================================================================
//		S E C T I O N    2
//================================================================
//________________________________________________________
.p-taxi_2 {
  margin-top: 52px;
}

//================================================================
//		S E C T I O N    3
//================================================================
//________________________________________________________
.p-taxi_3 {
  margin-top: 51px;
}

//================================================================
//		Layout Taxi
//
//		F O O T E R    @footer
//================================================================
//________________________________________________________
.c-footer-taxi_contact {
  background: $white url("../img/golden.png") center;
  background-size: contain;
  padding: 28px 0 31px 0;
  border-bottom: 1px solid $blue_2;

  //--------------------------------
  .l-container {
    display: flex;
    justify-content: space-between;

    //--------------------------------
    h2 {
      font-size: 2rem;
      margin-top: 23px;
    }
  }

  //--------------------------------
  &__content {
    display: flex;
    margin-right: -8px;
  }

  //--------------------------------
  &__mail {
    margin-top: 11px;
    margin-right: 20px;

    //--------------------------------
    .c-btn_mail {
      padding-top: 13px;
      padding-bottom: 14px;
    }
  }

  //--------------------------------
  &__phone {
    //--------------------------------
    div:not(.l-txt_box_hf) {
      //--------------------------------
      p {
        font-size: 1rem;
        color: $grey;
        text-align: right;
        margin-top: -11px;
        margin-right: 7px;
      }
    }
  }
}

//________________________________________________________
.c-footer_navi__taxi {
  padding: 47px 0 48px 0;

  //--------------------------------
  .c-footer_navi__content {
    margin-top: 11px;
    margin-bottom: -11px;
  }
}
