@charset "UTF-8"
//================================================================
//		Project
//
//		I N D E X
//================================================================
//________________________________________________________
.p-index

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-index_1
	padding-top: 59px
	padding-bottom: 146px
	//---- 📱 SP ----
	+sp
		padding-top: 33px
		padding-bottom: 51px
		position: relative
	//--------------------------------
	.l-btn
		position: relative
		margin-top: 37px
		//---- 📱 SP ----
		+sp
			margin-top: 12px
			//--------------------------------
			.c-btn
				line-height: 0

//================================================================
//		S E C T I O N    2
//================================================================
//________________________________________________________
.p-index_2
	margin-top: 120px
	padding-bottom: 197px
	//---- 📱 SP ----
	+sp
		margin-top: 13px
		padding-bottom: 55px
	//--------------------------------
	.c-title
		margin-bottom: 50px
		//---- 📱 SP ----
		+sp
			margin-bottom: -7px
	//--------------------------------
	.c-img_list
		margin-bottom: 48px
		//---- 📱 SP ----
		+sp
			margin-bottom: -2px
	//--------------------------------
	.l-txt
		margin-top: 14px
		//---- 📱 SP ----
		+sp
			margin-top: 21px
		//--------------------------------
		div
			margin-right: 13px
			//---- 📱 SP ----
			+sp
				margin-right: 0

//================================================================
//		S E C T I O N    3
//================================================================
//________________________________________________________
.p-index_3
	height: 560px
	text-align: center
	//---- 📱 SP ----
	+sp
		height: 479px
	//--------------------------------
	&__spbanner
		position: relative
		//--------------------------------
		img
			position: absolute
			width: 100%
			height: auto
			top: 0
			left: 0
	//--------------------------------
	.l-container
		position: relative
		//--------------------------------
		h2
			padding-top: 99px
			//---- 📱 SP ----
			+sp
				padding-top: 13px
				//--------------------------------
				img
					margin: auto
					width: 258.3px
					height: auto
		//--------------------------------
		p
			color: $white
		//--------------------------------
		.u-fs18
			line-height: 2.7rem
			margin-top: 43px
			//---- 📱 SP ----
			+sp
				margin-top: -20px
				font-size: 1.2rem
				line-height: 2rem
		//--------------------------------
		.l-btn
			margin-top: 28px
			//---- 📱 SP ----
			+sp
				margin-top: 19px
		//--------------------------------
		.u-fs13
			line-height: 1.8rem
			float: right
			margin-top: 11px
			margin-right: 353px
			//---- 📱 SP ----
			+sp
				margin-top: -3px
				margin-right: 0
				font-size: 1rem
				line-height: 1.3rem
				float: none
				letter-spacing: 0.5px

//================================================================
//		S E C T I O N    4
//================================================================
//________________________________________________________
.p-index_4
	padding-top: 120px
	//---- 📱 SP ----
	+sp
		padding-top: 23px
	//--------------------------------
	h3
		font-weight: 700
		letter-spacing: 3px
		margin-bottom: 3px
		//---- 📱 SP ----
		+sp
			margin-bottom: 1px
	//--------------------------------
	.c-txtimg
		margin-top: 50px
		//---- 📱 SP ----
		+sp
			margin-top: -12px
		//--------------------------------
		.c-list
			margin-top: 17px
			//---- 📱 SP ----
			+sp
				margin-top: 32px

//================================================================
//		S E C T I O N    5
//================================================================
//________________________________________________________
.p-index_5
	margin-top: 118px
	//---- 📱 SP ----
	+sp
		margin-top: 49px
	//--------------------------------
	.c-title
		margin-bottom: 45px
		//---- 📱 SP ----
		+sp
			margin-bottom: 14px
	//--------------------------------
	.c-img_list
		margin-bottom: 83px
		//---- 📱 SP ----
		+sp
			margin-bottom: 24px
	//--------------------------------
	h3
		font-size: 5.6rem
		font-weight: 100
		letter-spacing: 2px
		//---- 📱 SP ----
		+sp
			font-size: 2.8rem
			text-align: center
	//--------------------------------
	.c-table_contact
		width: 40.6%
		height: 257px
		margin-top: -78px
		//---- 📱 SP ----
		+sp
			width: 100%
			height: auto
			margin-top: -11px
	//--------------------------------
	&__block
		display: flex
		justify-content: space-between
		//---- 📱 SP ----
		+sp
			display: block
			padding: 0 20px
			//--------------------------------
			.c-map
				margin-top: 3px