@charset "UTF-8"
//================================================================
//		Component
//
//		T I T L E
//================================================================
//________________________________________________________
.c-title_index
	//---- 📱 SP ----
	+sp
		//--------------------------------
		img
			margin: auto
			width: 320px
			height: auto

//________________________________________________________
.c-title_index_1
	//---- 📱 SP ----
	+sp
		//--------------------------------
		img
			margin: auto
			width: auto
			height: 38.5px

//________________________________________________________
.c-title
	//---- 📱 SP ----
	+sp
		//--------------------------------
		img
			//margin: auto
			width: auto
			height: 22.5px
