@charset "UTF-8"
//================================================================
//		Component
//
//		I M A G E
//================================================================
//________________________________________________________
.l-img
	display: flex
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		display: block
	//--------------------------------
	.c-img
		//---- 📱 SP ----
		+sp
			margin-bottom: 19px
			//--------------------------------
			img
				margin: auto
				width: auto
				height: 118px