@charset "UTF-8"
//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-anchor_index

//________________________________________________________
.c-phone_top

//________________________________________________________
.c-video
	position: relative
	display: inline-flex
	justify-content: center
	+sp
		width: 100%
	//--------------------------------
	iframe
		width: 620px
		height: 350px
		//---- 📱 SP ----
		+sp
			width: 100%
			height: 211px
	//--------------------------------
	a
		display: inline-block
		position: absolute
		cursor: pointer
		background: rgba(100,100,100,0.75)
		width: 100%
		height: 100%
		//--------------------------------
		img
			margin-top: 142px
			//---- 📱 SP ----
			+sp
				margin: 85px auto 0 auto
				width: 197.5px
				height: auto
