@charset "UTF-8";

//================================================================
//		C O M P A N Y
//
//		[Ctrl + F]:	@company
//================================================================
//________________________________________________________
.p-company .l-content .l-side {
	margin-left: 20px;

	//----breakpoint----
	@include sp {
		margin-left: 0;
	}
}

//________________________________________________________
.p-company1 {
	margin-bottom: 40px;

	//--------------------------------
	p {
		margin-bottom: 20px;
	}
}

.p-company2 {
	margin-bottom: 40px;

	//--------------------------------
	table {
		margin-bottom: 30px;
	}
}

.p-company3 {
	//--------------------------------
	p {
		margin-bottom: 10px;
	}

	//--------------------------------
	.c-list2 {
		margin-bottom: 30px;
	}

	//--------------------------------
	hr {
		margin: 30px 0;
	}

	//--------------------------------
	.c-imgtxt1 {
		border: none;
		padding: 0;
		margin-top: 30px;

		//--------------------------------
		&__img {
			width: 180px;
			height: 150px;

			//----breakpoint----
			@include sp {
				width: 100px;
				height: auto;

				//--------------------------------
				img {
					width: 100px;
					height: auto;
				}
			}
		}

		//--------------------------------
		&__txt {
			font-size: 1.4rem;
		}
	}
}

//================================================================
//		S E R V I C E
//
//		[Ctrl + F]:	@service
//================================================================
//________________________________________________________
.p-service {
	//--------------------------------
	.c-title {
		background: #5D9CEC;
		color: $white;
	}

	//--------------------------------
	.l-content .l-side {
		margin-left: 20px;

		//----breakpoint----
		@include sp {
			margin-left: 0;
		}
	}
}

//________________________________________________________
.p-service1 {
	margin: 40px 0;

	//--------------------------------
	.c-list1 {
		width: 800px;

		//----breakpoint----
		@include sp {
			width: auto;
		}
	}
}

//________________________________________________________
.p-service2 {
	margin-bottom: 40px;

	//--------------------------------
	p {
		margin-bottom: 20px;
	}

	//--------------------------------
	.c-message1 p {
		margin: 0;
	}
}

//________________________________________________________
.p-service3 {
	margin-bottom: 40px;

	//--------------------------------
	.c-table1 {
		margin-bottom: 30px;
	}

	//--------------------------------
	p {
		margin-bottom: 10px;
	}

	//--------------------------------
	.l-btn1 {
		margin-top: 30px;
	}
}

//________________________________________________________
.p-service4 {
	//--------------------------------
	.c-title1 {
		margin-bottom: 20px;
	}

	//--------------------------------
	.c-title3 {
		margin-bottom: 10px;
	}

	//--------------------------------
	.c-imgtxt1 {
		margin-bottom: 30px;
	}

	//--------------------------------
	p {
		margin-bottom: 20px;
	}
}
