@charset "UTF-8";

//================================================================
//		Float
//
//		[Ctrl + F]:	@float
//================================================================
.u-fl {
	float: left;
}

.u-fr {
	float: right;
}

//================================================================
//		Effect
//
//		[Ctrl + F]:	@effect
//================================================================
.u-hover_eff:hover {
	opacity: 0.55;
	transition: 0.35s;
}

//================================================================
//		Text style
//
//		[Ctrl + F]:	@txtstyle
//================================================================
.u-fw_bold {
	font-weight: bold;
}

.u-fw_normal {
	font-weight: normal;
}

.u-txtdeco_non {
	text-decoration: none;
}

.u-txtwhite {
	color: $white !important;
}

.u-txtred {
	color: #F00;
}

.u-txtcoldgreen {
	color: #8CC152;
}

.u-txttomato {
	color: #DA4453;
}

//================================================================
//		Color
//
//		[Ctrl + F]:	@color @bgcolor
//================================================================
.u-bg_grey {
	background: #434A54 !important;
}
