@charset "UTF-8";

//================================================================
//		Component
//
//		T I T L E
//================================================================
//________________________________________________________
.c-title_1 {
  text-align: center;

  //--------------------------------
  h2, h3, h4, h5, h6 {
    display: inline-block;
    font-size: 3rem;
    border-bottom: 3px solid #252523;
    padding-bottom: 24px;
    letter-spacing: 5px;

    //---- 📱 SP ----
    @include sp {
      border-width: 1.5px;
      font-size: 1.5rem;
      padding-bottom: 7px;
      letter-spacing: 2px;
    }
  }

  //--------------------------------
  &--no_underline {
    text-align: left;

    //--------------------------------
    h2, h3, h4, h5, h6 {
      border-bottom: none;
      line-height: 37.5px;
      padding-bottom: 0;

      //---- 📱 SP ----
      @include sp {
        line-height: 18.75px;
      }
    }
  }

  //--------------------------------
  &--white {
    //--------------------------------
    h2, h3, h4, h5, h6 {
      color: $white_1;
      letter-spacing: 4px;
      border-bottom: none;

      //---- 📱 SP ----
      @include sp {
        font-size: 1.7rem;
        letter-spacing: 3px;
      }
    }
  }
}

//________________________________________________________
.c-title_2 {
  text-align: center;

  //--------------------------------
  h2 {
    display: inline-block;
    position: relative;
    font-size: 3rem;
    letter-spacing: 4px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.5rem;
      letter-spacing: 1.5px;
    }


    //--------------------------------
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $black;
      border-width: 1.6px 0 0 0;
      padding: 14px;
      transform: rotate(-114deg);
      top: -7px;
      left: -31px;

      //---- 📱 SP ----
      @include sp {
        border-width: 1px 0 0 0;
        padding: 10px;
        top: -3px;
        left: -16px;
      }
    }

    //--------------------------------
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $black;
      border-width: 1.6px 0 0 0;
      padding: 14px;
      transform: rotate(113deg);
      top: -7px;
      right: -13px;

      //---- 📱 SP ----
      @include sp {
        border-width: 1px 0 0 0;
        padding: 10px;
        top: -3px;
        right: -19px;
      }
    }
  }
}

//________________________________________________________
.c-title_point_img {
  text-align: center;

  //--------------------------------
  img {
    //---- 📱 SP ----
    @include sp {
      width: auto;
      height: 18px;
      margin: auto;
    }
  }
}

//________________________________________________________
.c-title_campaign_img {
  text-align: center;

  //--------------------------------
  img {
    //---- 📱 SP ----
    @include sp {
      width: auto;
      height: 50px;
      margin: auto;
    }
  }
}

//________________________________________________________
.c-title_cv {
  //--------------------------------
  h3 {
    display: inline-block;
    position: relative;
    background: #F2C526;
    border-radius: 45px;
    padding: 26px 3px 26px 7px;
    text-align: center;
    font-size: 1.6rem;
    margin-right: 54px;
    line-height: 1.9rem;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.1rem;
      padding: 18.25px 2.25px 18.25px 5.25px;
      line-height: 13.5px;
      margin-right: 28px;
    }


    //--------------------------------
    &:after {
      content: "";
      position: absolute;
      border: 20px solid transparent;
      border-top-color: #F2C526;
      border-bottom: 0;
      border-left: 0;
      right: -1px;
      bottom: 8px;
      transform: rotate(-72deg);

      //---- 📱 SP ----
      @include sp {
        bottom: 7px;
      }
    }
  }

  //--------------------------------
  h2 {
    display: inline-block;
    position: relative;
    font-size: 2.8rem;
    letter-spacing: 4px;
    top: 6px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.3rem;
      line-height: 1.7rem;
      top: 10px;
      text-align: left;
      margin-right: 31px;
      letter-spacing: 2px;
    }


    //--------------------------------
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $black;
      border-width: 1.6px 0 0 0;
      padding: 14px;
      transform: rotate(-114deg);
      top: -11px;
      left: -29px;

      //---- 📱 SP ----
      @include sp {
        border-width: 1px 0 0 0;
        padding: 10px;
        top: 4px;
        left: -15px;
      }
    }

    //--------------------------------
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $black;
      border-width: 1.6px 0 0 0;
      padding: 14px;
      transform: rotate(113deg);
      top: -9px;
      right: -23px;

      //---- 📱 SP ----
      @include sp {
        border-width: 1px 0 0 0;
        padding: 10px;
        top: 4px;
        right: -15px;
      }
    }
  }
}
