@charset "UTF-8";

//================================================================
//		Component
//
//		B U T T O N
//================================================================
//________________________________________________________
.c-btn {
  display: block;
  position: relative;
  background: #252523 url(../img/pc/arrow_white.png) no-repeat left center;
  background-position-x: 19px;
  color: $white_1;
  text-decoration: none;
  font-weight: 700;
  padding: 24px 111px 24px 42px;
  transition: 0.35s;

  //---- 📱 SP ----
  @include sp {
    background: #252523 url(../img/sp/arrow_white.png) no-repeat left center;
    background-size: 10px 13px;
    background-position-x: 24px;
    padding: 9px 0;
    margin-bottom: 18px;
    text-align: center;
  }


  //--------------------------------
  &:hover {
    opacity: 0.75;
  }

  //--------------------------------
  p {
    font-size: 1.8rem;
    letter-spacing: 1px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.1rem;
      letter-spacing: 0.8px;
      margin-left: 9px;
    }
  }

  //--------------------------------
  span {
    color: $yellow;
    font-size: 2.6rem;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.6rem;
    }
  }

  //--------------------------------
  img {
    position: absolute;
    top: -13px;
    right: -24px;
  }

  //--------------------------------
  &__campaign {
    display: block;
    padding: 2px 0;
    text-align: center;
    background: #252523 url(../img/pc/arrow_white.png) no-repeat left center;
    background-position-x: 12px;
    background-size: 12.6px 16.4px;

    //---- 📱 SP ----
    @include sp {
      padding: 13px 0;
    }


    //--------------------------------
    p {
      font-size: 1.4rem;

      //---- 📱 SP ----
      @include sp {
        font-size: 1.3rem;
      }
    }

    //--------------------------------
    span {
      font-size: 2rem;

      //---- 📱 SP ----
      @include sp {
        font-size: 1.9rem;
      }
    }
  }

  //--------------------------------
  &--center {
    text-align: center;
    padding: 24px 0;
    background-position-x: 48px;

    //--------------------------------
    p {
      letter-spacing: 2px;
    }
  }
}

//________________________________________________________
.l-btn_h {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 46px;
  padding: 0 17.5px;

  //--------------------------------
  .c-btn_h {
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 6px 0;
    background-size: 9px 11px;
    background-position-x: 9px;

    //--------------------------------
    span {
      font-size: 1.7rem;
      letter-spacing: 1px;
    }

    //---- 📱 SP ----
    @include sp {
      background: #252523 url(../img/sp/arrow_white.png) no-repeat left center;
      background-size: 10px 11px;
      background-position-x: 9px;
    }
  }
}

//________________________________________________________

//================================================================
//		Button Text Round Box
//================================================================
//________________________________________________________
.c-btn_txt_round_box {
  position: relative;
  background: $white;
  width: 301.4px;
  height: 301.4px;
  border-radius: 300px;
  text-align: center;
  margin: auto;
  cursor: pointer;

  //---- 📱 SP ----
  @include sp {
    width: 150.7px;
    height: 150.7px;
  }


  //--------------------------------
  &:hover {
    top: -4px;
    box-shadow: 0 5px 0 #A0A0A0;

    //---- 📱 SP ----
    @include sp {
      top: -2px;
      box-shadow: 0 2px 0 #A0A0A0;
    }
  }

  //--------------------------------
  &:active {
    top: 2px;
    box-shadow: none;
    transition: 0.2s;

    //---- 📱 SP ----
    @include sp {
      top: 1px;
    }
  }

  //--------------------------------
  &:after {
    content: "";
    position: absolute;
    display: flex;
    background: url("../img/pc/arrow_black_b.png") center no-repeat;
    width: 100%;
    height: 21px;
    bottom: 12px;

    //---- 📱 SP ----
    @include sp {
      background: url("../img/sp/arrow_black_b.png") center no-repeat;
      background-size: 25.5px 10.25px;
      height: 10.25px;
      bottom: 11px;
    }
  }

  //--------------------------------
  h4 {
    position: relative;
    display: inline-block;
    margin-top: 40px;

    //---- 📱 SP ----
    @include sp {
      font-size: 0.8rem;
      line-height: 0.8rem;
      margin-top: 27px;
    }


    //--------------------------------
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $black;
      border-width: 1.6px 0 0 0;
      padding: 7px;
      transform: rotate(-135deg);
      top: 0;
      left: -15px;

      //---- 📱 SP ----
      @include sp {
        border-width: 1px 0 0 0;
        padding: 4px;
        top: -3px;
        left: -11px;
        transform: rotate(-120deg);
      }
    }

    //--------------------------------
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $black;
      border-width: 1.6px 0 0 0;
      padding: 7px;
      transform: rotate(123deg);
      top: 0;
      right: -18px;

      //---- 📱 SP ----
      @include sp {
        border-width: 1px 0 0 0;
        padding: 4px;
        top: -3px;
        right: -12px;
      }
    }
  }

  //--------------------------------
  h5 {
    display: inline-block;
    margin-top: 7px;
    font-size: 2.4rem;
    background: #F2C526;
    padding: 4px 10px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.4rem;
      line-height: 1.4rem;
      margin-top: 0px;
      padding: 3px 10px;
    }
  }

  //--------------------------------
  p:nth-child(4) {
    margin-top: 15px;
    font-size: 2.7rem;
    line-height: 3.5rem;
    font-weight: 700;
    letter-spacing: 1.6px;

    //---- 📱 SP ----
    @include sp {
      margin-top: 1px;
      font-size: 1.4rem;
      line-height: 1.8rem;
      letter-spacing: 0;
    }
  }

  //--------------------------------
  p:nth-child(5) {
    margin-top: 10px;
    font-size: 2.1rem;
    font-weight: 700;

    //---- 📱 SP ----
    @include sp {
      margin-top: 4px;
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }

  //--------------------------------
  p:nth-child(6) {
    margin-top: 12px;
    font-size: 1.1rem;
    line-height: 1.4rem;

    //---- 📱 SP ----
    @include sp {
      display: none;
    }
  }
}

//________________________________________________________

//================================================================
//		SP Menu Button
//================================================================
//________________________________________________________
.c-btn_MenuSP {
  z-index: 99;
  right: 0;
  top: 0;
  width: 45px;
  height: 43.5px;
  position: absolute;
}

//________________________________________________________
.c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  width: 17.5px;
  height: 2.65px;
  background-color: #5B3930;
  transition: 0.4s;
  display: block;
  margin-left: 14px;
}

//________________________________________________________
.c-btn_MenuSP__bar1 {
  margin-top: 15px;
}

//________________________________________________________
.c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  margin-top: 3.55px;
}

//________________________________________________________
.c-btn_MenuSP__trans {
  //--------------------------------
  .c-btn_MenuSP__bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-405deg) translate(-5px, 5px);
  }

  //--------------------------------
  .c-btn_MenuSP__bar2 {
    opacity: 0;
    transform: translate(55px, 0px);
  }

  //--------------------------------
  .c-btn_MenuSP__bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(405deg) translate(-4px, -4px);
  }
}

//________________________________________________________

//================================================================
//		Scroll to Top Button
//================================================================
//________________________________________________________
.l-btn_top {
  position: fixed;
  bottom: 20px;
  right: 251px;
  display: none;
  z-index: 99;

  //---- 📱 SP ----
  @include sp {
    right: 17px;
    bottom: 22.5px;
  }
}

//________________________________________________________
.c-btn_top {
  position: relative;
  width: 60px;
  height: 60px;
  background: #5F5F5F;
  cursor: pointer;

  //---- 📱 SP ----
  @include sp {
    width: 30px;
    height: 30px;
  }


  //--------------------------------
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid $white;
    border-width: 2px 0 0 0;
    padding: 10px;
    top: 17px;
    right: 20px;
    transition: 0.35s;

    //---- 📱 SP ----
    @include sp {
      border-width: 1px 0 0 0;
      padding: 5px;
      top: 8px;
      right: 11px;
    }
  }

  //--------------------------------
  a:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid $white;
    border-width: 0 2px 2px 0;
    padding: 7px;
    transform: rotate(-135deg);
    top: 25px;
    right: 22.5px;
    transition: 0.35s;

    //---- 📱 SP ----
    @include sp {
      border-width: 0 1px 1px 0;
      padding: 3px;
      top: 12px;
      right: 12px;
    }
  }

  //--------------------------------
  a:after {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid $white;
    border-width: 0 2px 0 0;
    padding: 10px;
    top: 22px;
    right: 29px;
    transition: 0.35s;

    //---- 📱 SP ----
    @include sp {
      border-width: 0 1px 0 0;
      padding: 4px;
      top: 12px;
      right: 15px;
    }
  }

  //--------------------------------
  &:hover {
    top: -4px;
    background-color: #737373;
    box-shadow: 0 3px 0 $black_2;

    //---- 📱 SP ----
    @include sp {
      top: -2px;
      box-shadow: 0 1px 0 $black_2;
    }
  }

  //--------------------------------
  &:active {
    top: 2px;
    background-color: #5F5F5F;
    box-shadow: none;
    transition: 0.2s;
  }
}

//________________________________________________________

//================================================================
//		Button CV
//================================================================
//________________________________________________________
.l-btn_cv {
  //---- 📱 SP ----
  @include sp {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  //--------------------------------
  .c-btn_cv {
    display: inline-block;
    text-decoration: none;
    margin-right: 28px;

    //---- 📱 SP ----
    @include sp {
      margin-right: 0;
      margin-bottom: 11px;
      width: 53.5%;
    }


    //--------------------------------
    img {
      //---- 📱 SP ----
      @include sp {
        width: 100%;
        height: auto;
      }
    }
  }
}
