@charset "UTF-8";

//================================================================
//		Component
//
//		S L I D E
//================================================================
//________________________________________________________
.swiper-button-next, .swiper-button-prev {
  background: url(../img/pc/arrow_black.png);
  background-size: 46px 22px;
  width: 46px;
  height: 22px;

  //top: 37.5%
  transition: 0.35s;
  opacity: 0.5;

  //---- 📱 SP ----
  @include sp {
    background: url(../img/sp/arrow_black.png);
    background-size: 22.5px 10.5px;
    width: 22.5px;
    height: 10.5px;
  }


  //--------------------------------
  &:hover {
    opacity: 1;
  }
}

//________________________________________________________
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  transform: rotate(90deg);
}

//________________________________________________________
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  transform: rotate(-90deg);
}

//________________________________________________________

//================================================================
//		W O O D
//================================================================
//________________________________________________________
.c-slider_wood {
  //--------------------------------
  .swiper-wrapper {
    //--------------------------------
    .swiper-slide {
      width: 288px;
      height: auto;
      margin: 0 42.5px;

      //---- 📱 SP ----
      @include sp {
        width: 144px;
        margin: 0 21.25px;
      }


      //--------------------------------
      h4 {
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 4px;

        //---- 📱 SP ----
        @include sp {
          font-size: 1.25rem;
          letter-spacing: 3px;
        }
      }

      //--------------------------------
      h5 {
        text-align: center;
        margin-top: 5px;

        //---- 📱 SP ----
        @include sp {
          margin-top: -4px;
        }


        //--------------------------------
        img {
          //---- 📱 SP ----
          @include sp {
            width: auto;
            height: 10.5px;
            margin: auto;
          }
        }
      }

      //--------------------------------
      div {
        margin-top: 13px;

        //---- 📱 SP ----
        @include sp {
          margin-top: 8px;
        }


        //--------------------------------
        img {
          //---- 📱 SP ----
          @include sp {
            width: 144px;
            height: auto;
          }
        }
      }

      //--------------------------------
      table {
        border-collapse: collapse;
        margin-top: 20px;

        //---- 📱 SP ----
        @include sp {
          display: none;
        }


        //--------------------------------
        tr {
          //--------------------------------
          th {
            width: 59px;
            vertical-align: text-top;
          }

          //--------------------------------
          td {
            padding-left: 15px;
            padding-bottom: 20px;
            font-size: 1.5rem;
            letter-spacing: -0.8px;
            line-height: 20.5px;
          }
        }
      }
    }
  }

  //--------------------------------
  .c-navigation_wood_next, .c-navigation_wood_prev {
    top: 37.5%;

    //---- 📱 SP ----
    @include sp {
      top: auto;
      bottom: 37%;
    }
  }

  //--------------------------------
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 0;
  }

  //--------------------------------
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
}

//________________________________________________________

//================================================================
//		C A M P A I G N
//================================================================
//________________________________________________________
.c-slider_campaign {
  overflow: hidden;

  //--------------------------------
  .c-navigation_campaign_next, .c-navigation_campaign_prev {
    top: 50.5%;
  }

  //--------------------------------
  .c-navigation_campaign_next {
    right: 0;
  }

  //--------------------------------
  .c-navigation_campaign_prev {
    left: 0;
  }
}

//________________________________________________________

//================================================================
//		V O I C E
//================================================================
//________________________________________________________
.c-slider_voice {
  overflow: hidden;
  margin: 0 17.5px;

  //--------------------------------
  .c-navigation_voice_next, .c-navigation_voice_prev {
    top: 21.5%;
  }

  //--------------------------------
  .c-navigation_voice_next {
    right: 0;
  }

  //--------------------------------
  .c-navigation_voice_prev {
    left: 0;
  }
}
