@charset "UTF-8";

//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-triangle {
  width: 0px;
  height: 25px;
  margin: auto;
  border-top: solid 25px $light_blue_grey;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;

  //---- 📱 SP ----
  @include sp {
    height: 12.5px;
    border-top: solid 12.5px $light_blue_grey;
    border-left: solid 12.5px transparent;
    border-right: solid 12.5px transparent;
  }
}
