@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1.6rem; }

html {
  font-size: 62.5%; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 2.8rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 2.8rem; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-hover_eff {
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .u-hover_eff:hover {
    opacity: 0.55; }

.u-hover_eff_1 {
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .u-hover_eff_1:hover {
    opacity: 0.75; }

.u-fw_bold {
  font-weight: bold; }

.u-fw_normal {
  font-weight: normal; }

.u-txtdeco_non {
  text-decoration: none; }

.u-fs16 {
  font-size: 1.6rem; }

.u-bg_grey {
  background: #E9EFF2; }

.u-banner_index {
  background: url("../img/pc/banner_index.jpg") no-repeat; }
  @media screen and (max-width: 768px) {
    .u-banner_index {
      background: url("../img/sp/banner_index.jpg"); } }

body {
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s; }

body.preload {
  opacity: 0; }

body.loaded {
  opacity: 1; }

.e-goto_url {
  cursor: pointer; }

.e-hover_o55 {
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .e-hover_o55:hover {
    opacity: 0.55; }

.e-hover_o75 {
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .e-hover_o75:hover {
    opacity: 0.75; }

@media screen and (max-width: 768px) {
  .pc_only {
    display: none !important; } }

.sp_only {
  display: none !important; }
  @media screen and (max-width: 768px) {
    .sp_only {
      display: block !important; } }

.l-header {
  min-width: 780px; }
  @media screen and (max-width: 768px) {
    .l-header {
      min-width: 100%; } }
  .l-header .is-fixed {
    background: #fff;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .l-header__index .is-fixed {
    z-index: 99; }
    @media screen and (max-width: 768px) {
      .l-header__index .is-fixed {
        background: #49C8B2; } }
  .l-header__index .is-fixed_btnmenu .c-btn_MenuSP__bar1, .l-header__index .is-fixed_btnmenu .c-btn_MenuSP__bar2, .l-header__index .is-fixed_btnmenu .c-btn_MenuSP__bar3 {
    background: #fff; }
  .l-header__index .is-opening .c-btn_MenuSP__bar1, .l-header__index .is-opening .c-btn_MenuSP__bar2, .l-header__index .is-opening .c-btn_MenuSP__bar3 {
    background: #000; }

.c-header {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  z-index: 99; }
  @media screen and (max-width: 768px) {
    .c-header {
      padding-top: 7px; } }
  .c-header__logo {
    float: left;
    margin-left: 10px; }
    @media screen and (max-width: 768px) {
      .c-header__logo {
        float: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 0; }
        .c-header__logo a {
          margin: auto; }
          .c-header__logo a img {
            width: 106.5px;
            height: auto; } }

.c-gnavi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99; }
  @media screen and (max-width: 768px) {
    .c-gnavi {
      display: none;
      background: rgba(255, 255, 255, 0.8);
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      z-index: 100; } }
  .c-gnavi div a {
    display: block;
    padding: 3px 16px;
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.8rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (max-width: 768px) {
      .c-gnavi div a {
        padding: 7px 0;
        font-size: 2.1rem;
        line-height: 2.1rem; } }
    .c-gnavi div a:hover {
      opacity: 0.5; }
  @media screen and (max-width: 768px) {
    .c-gnavi ul {
      margin-top: 95px; } }
  .c-gnavi ul li {
    float: left; }
    @media screen and (max-width: 768px) {
      .c-gnavi ul li {
        float: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .c-gnavi ul li p {
      font-weight: bold;
      font-size: 1.4rem; }
  .c-gnavi ul li {
    margin: 12px 3px 0 24px;
    letter-spacing: 0.5px; }
    @media screen and (max-width: 768px) {
      .c-gnavi ul li {
        margin: 0 0 21px 0; }
        .c-gnavi ul li img {
          width: 188.5px;
          height: auto; } }
  .c-gnavi ul li:nth-child(5), .c-gnavi ul li:nth-child(6) {
    margin-top: 6px;
    margin-left: 6px; }
    .c-gnavi ul li:nth-child(5) img, .c-gnavi ul li:nth-child(6) img {
      width: 122px;
      height: auto; }
    @media screen and (max-width: 768px) {
      .c-gnavi ul li:nth-child(5), .c-gnavi ul li:nth-child(6) {
        margin: 12px 0; }
        .c-gnavi ul li:nth-child(5) img, .c-gnavi ul li:nth-child(6) img {
          width: 162px;
          height: auto; } }

.c-banner_index {
  background: url("../img/pc/banner.jpg") left center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 578px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .c-banner_index {
      background: url("../img/sp/banner.jpg") left bottom no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      height: 483.5px; } }
  .c-banner_index img {
    margin-top: 182px; }
    @media screen and (max-width: 768px) {
      .c-banner_index img {
        margin: auto;
        padding-top: 120px;
        width: 240.5px;
        height: auto; } }

.c-banner {
  background: #E5E5E5;
  width: 100%;
  height: 137px;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 65px; }
  @media screen and (max-width: 768px) {
    .c-banner {
      margin-top: 50px;
      margin-bottom: 40px;
      height: 83px; } }
  .c-banner img {
    padding-top: 45px; }
    @media screen and (max-width: 768px) {
      .c-banner img {
        padding-top: 22px;
        margin: auto;
        width: auto;
        height: 38.5px; } }

body {
  background: #fff;
  min-width: 920px; }
  @media screen and (max-width: 768px) {
    body {
      min-width: 100%; } }

.l-container {
  max-width: 780px;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .l-container {
      max-width: 650px;
      padding: 0 14px; } }

.l-footer {
  background: #49C8B2;
  padding: 65px 0;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .l-footer {
      padding: 43px 0 32px 0; } }

.c-footer_1 {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .c-footer_1__title img {
      margin: auto;
      width: 271px;
      height: auto; } }
  .c-footer_1__btn {
    margin-top: 15px; }
    @media screen and (max-width: 768px) {
      .c-footer_1__btn {
        margin-top: 17px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    .c-footer_1__btn a {
      display: inline-block;
      background: #fff;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      text-decoration: none;
      margin: 0 10px; }
      @media screen and (max-width: 768px) {
        .c-footer_1__btn a {
          background: none; }
          .c-footer_1__btn a:first-child {
            margin-left: 0; }
          .c-footer_1__btn a:last-child {
            margin-right: 0; }
          .c-footer_1__btn a img {
            width: 100%;
            height: auto; } }

.c-footer_2 {
  margin-top: 33px; }
  @media screen and (max-width: 768px) {
    .c-footer_2 {
      margin-top: 23px; } }
  .c-footer_2__logo {
    float: left;
    margin-right: 25px; }
    @media screen and (max-width: 768px) {
      .c-footer_2__logo {
        float: none;
        display: block;
        margin-right: 0; }
        .c-footer_2__logo img {
          margin: auto;
          width: 169.5px;
          height: auto; } }
  .c-footer_2__navi {
    float: left;
    margin-top: 11px; }
    @media screen and (max-width: 768px) {
      .c-footer_2__navi {
        margin-top: 26px;
        float: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .c-footer_2__navi ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 768px) {
        .c-footer_2__navi ul {
          display: block; } }
      @media screen and (max-width: 768px) {
        .c-footer_2__navi ul li {
          float: left;
          line-height: 1.7rem; }
          .c-footer_2__navi ul li:last-child {
            float: none; } }
      .c-footer_2__navi ul li a {
        text-decoration: none;
        color: #fff;
        -webkit-transition: 0.35s;
        -o-transition: 0.35s;
        transition: 0.35s;
        padding: 0 10px;
        letter-spacing: -0.7px;
        font-size: 1.4rem;
        font-weight: bold; }
        .c-footer_2__navi ul li a:hover {
          color: #069D8F; }
        @media screen and (max-width: 768px) {
          .c-footer_2__navi ul li a {
            font-size: 1.3rem;
            letter-spacing: 0.4px;
            padding: 0 5px; } }
  .c-footer_2__social {
    float: right; }
    .c-footer_2__social a {
      text-decoration: none;
      margin-left: 7px; }

.c-footer_3 {
  margin-top: 11px;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .c-footer_3 {
      margin-top: 20px; } }
  .c-footer_3 p {
    font-size: 1.2rem;
    color: #fff;
    line-height: 2.2rem;
    letter-spacing: 1.2px; }
    @media screen and (max-width: 768px) {
      .c-footer_3 p {
        font-size: 1.1rem;
        line-height: 1.8rem; } }

@media screen and (max-width: 768px) {
  .c-title_index img {
    margin: auto;
    width: 320px;
    height: auto; } }

@media screen and (max-width: 768px) {
  .c-title_index_1 img {
    margin: auto;
    width: auto;
    height: 38.5px; } }

@media screen and (max-width: 768px) {
  .c-title img {
    width: auto;
    height: 22.5px; } }

.c-btn_link {
  color: #000;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .c-btn_link:hover {
    text-decoration: none;
    color: #069D8F; }

.c-btn_link_1 {
  color: #069D8F;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  @media screen and (max-width: 768px) {
    .c-btn_link_1 {
      font-size: 1.4rem; } }
  .c-btn_link_1:hover {
    text-decoration: none;
    color: #666; }
  .c-btn_link_1__after:after {
    content: " ▶︎";
    color: #069D8F;
    text-decoration: none; }
    @media screen and (max-width: 768px) {
      .c-btn_link_1__after:after {
        font-size: 1.4rem; } }
  .c-btn_link_1__before:before {
    content: "◀ ";
    color: #069D8F;
    text-decoration: none; }
    @media screen and (max-width: 768px) {
      .c-btn_link_1__before:before {
        font-size: 1.4rem; } }

@media screen and (max-width: 768px) {
  .c-btn_social_header {
    position: absolute;
    top: 11px;
    right: 12px; }
    .c-btn_social_header a {
      text-decoration: none;
      display: block;
      float: left;
      margin-left: 12px; }
    .c-btn_social_header img {
      width: auto;
      height: 26.25px; } }

.l-btn_social_footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.c-btn_MenuSP {
  z-index: 101;
  position: fixed;
  top: 6px;
  left: 11px; }

.c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  width: 30px;
  height: 3.75px;
  background-color: #000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: block;
  margin-top: 5.5px; }

.c-btn_MenuSP__trans .c-btn_MenuSP__bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  -ms-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px); }

.c-btn_MenuSP__trans .c-btn_MenuSP__bar2 {
  opacity: 0; }

.c-btn_MenuSP__trans .c-btn_MenuSP__bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -6px);
  -ms-transform: rotate(45deg) translate(-7px, -6px);
  transform: rotate(45deg) translate(-7px, -6px); }

.c-index_navi {
  position: fixed;
  top: 73px;
  left: 20px; }
  .c-index_navi ul li {
    padding: 18px 0; }
    .c-index_navi ul li a {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-decoration: none;
      color: #ccc;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      border: 2px solid transparent;
      width: 14px;
      height: 14px;
      text-align: center;
      padding: 1px;
      font-size: 1.1rem;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s;
      cursor: pointer; }
      .c-index_navi ul li a:after {
        content: "";
        position: absolute;
        border: 0.5px solid #ccc;
        height: 31px;
        top: 20px;
        left: 7px; }
      .c-index_navi ul li a:hover {
        border-color: transparent;
        color: #069D8F;
        opacity: 0.6; }
    .c-index_navi ul li:last-child a:after {
      display: none; }
  .c-index_navi ul li.is-current a {
    border: 2px solid #069D8F;
    color: #069D8F; }
    .c-index_navi ul li.is-current a:hover {
      opacity: 1; }
  .c-index_navi ul li.is-current:last-child a:after {
    display: none; }

.c-txt_line {
  border-bottom: 2px solid #fff; }
  @media screen and (max-width: 768px) {
    .c-txt_line {
      border-width: 1px; } }
  .c-txt_line a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-top: 2px solid #fff;
    text-decoration: none;
    color: #000;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
    @media screen and (max-width: 768px) {
      .c-txt_line a {
        display: block;
        border-width: 1px; } }
    .c-txt_line a:hover {
      opacity: 0.55; }
    .c-txt_line a p {
      float: left;
      font-weight: normal;
      margin: 10px 0; }
      @media screen and (max-width: 768px) {
        .c-txt_line a p {
          margin: 12px 0;
          padding: 0;
          float: none;
          display: inline-block;
          font-size: 1.4rem;
          line-height: 1.9rem; } }
    .c-txt_line a span {
      margin-right: 28px;
      letter-spacing: 2px; }
      @media screen and (max-width: 768px) {
        .c-txt_line a span {
          margin-right: 4px; } }

.l-txt_accordion .c-txt_accordion:last-child {
  border-bottom: 1px solid #E5E5E5; }

.c-txt_accordion {
  border-top: 1px solid #E5E5E5;
  padding: 15.8px 0; }
  @media screen and (max-width: 768px) {
    .c-txt_accordion {
      padding: 18px 0 16px 0; } }
  .c-txt_accordion h3 {
    cursor: pointer;
    position: relative;
    padding-right: 60px;
    letter-spacing: 1.3px; }
    @media screen and (max-width: 768px) {
      .c-txt_accordion h3 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-right: 50px;
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 0.7px; } }
    .c-txt_accordion h3:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid #C9C9C9;
      border-width: 0 0 3px 0;
      padding: 10px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      top: -8px;
      right: 20px;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
      @media screen and (max-width: 768px) {
        .c-txt_accordion h3:after {
          top: -4px;
          right: 0; } }
    .c-txt_accordion h3:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid #C9C9C9;
      border-width: 0 3px 0 0;
      padding: 10px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      top: 3px;
      right: 28px;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
      @media screen and (max-width: 768px) {
        .c-txt_accordion h3:before {
          top: 7px;
          right: 9px; } }
    .c-txt_accordion h3 span {
      margin-right: 26px;
      letter-spacing: 3px; }
      @media screen and (max-width: 768px) {
        .c-txt_accordion h3 span {
          margin-right: 12px;
          letter-spacing: 1px; } }
  .c-txt_accordion .is-active:before {
    -webkit-transform: rotate(90deg) translate(-11px, -10px);
    -ms-transform: rotate(90deg) translate(-11px, -10px);
    transform: rotate(90deg) translate(-11px, -10px);
    border-color: #069D8F;
    opacity: 0; }
  .c-txt_accordion .is-active:after {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #069D8F;
    bottom: 41%; }
    @media screen and (max-width: 768px) {
      .c-txt_accordion .is-active:after {
        bottom: 49%; } }
  .c-txt_accordion p {
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #6C6C6D;
    display: none;
    margin-top: 8px;
    letter-spacing: 0.7px; }
    @media screen and (max-width: 768px) {
      .c-txt_accordion p {
        margin-top: 14px;
        font-size: 1.2rem;
        line-height: 1.9rem;
        letter-spacing: 0.4px; } }
  .c-txt_accordion__p1 {
    font-size: 1.6rem !important;
    line-height: 2.6rem !important;
    color: #000 !important; }
    @media screen and (max-width: 768px) {
      .c-txt_accordion__p1 {
        margin-top: 14px !important;
        font-size: 1.2rem !important;
        line-height: 1.9rem !important;
        letter-spacing: 2px !important; } }

.l-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .l-img {
      display: block; } }
  @media screen and (max-width: 768px) {
    .l-img .c-img {
      margin-bottom: 19px; }
      .l-img .c-img img {
        margin: auto;
        width: auto;
        height: 118px; } }

.l-txt_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .l-txt_img {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .l-txt_img .c-txt_img {
    margin-left: 21px;
    margin-right: 22px; }
    .l-txt_img .c-txt_img:first-child {
      margin-left: 14px; }
      @media screen and (max-width: 768px) {
        .l-txt_img .c-txt_img:first-child {
          margin-left: 0; } }
    .l-txt_img .c-txt_img:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .l-txt_img .c-txt_img {
        margin: 0; } }

.c-txt_img {
  text-align: center; }
  .c-txt_img__img {
    margin-bottom: 15px; }
    @media screen and (max-width: 768px) {
      .c-txt_img__img {
        margin-bottom: 12px; }
        .c-txt_img__img img {
          margin: auto;
          width: 96px;
          height: auto; } }
  .c-txt_img__txt p {
    color: #fff;
    line-height: 2.3rem;
    letter-spacing: 1px; }
    @media screen and (max-width: 768px) {
      .c-txt_img__txt p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        letter-spacing: 2px; } }

.l-slider_index .c-slider_index {
  border-bottom: 2px solid #E5E5E5;
  margin-bottom: 51px; }
  @media screen and (max-width: 768px) {
    .l-slider_index .c-slider_index {
      border-width: 1px;
      padding-bottom: 21px;
      margin-bottom: 23px; }
      .l-slider_index .c-slider_index:last-child {
        margin-bottom: 0; } }
  .l-slider_index .c-slider_index:last-child {
    border-bottom: none; }

@media screen and (max-width: 768px) {
  .c-slider_index__slide {
    display: block !important; } }

@media screen and (max-width: 768px) {
  .c-slider_index__col_1 img {
    margin: auto;
    width: auto;
    height: 411px;
    padding-right: 16px; } }

.c-slider_index__col_2 {
  margin-top: 82px;
  margin-left: 34px; }
  @media screen and (max-width: 768px) {
    .c-slider_index__col_2 {
      margin-top: 3px;
      margin-left: 0; } }
  @media screen and (max-width: 768px) {
    .c-slider_index__col_2 img {
      margin: auto;
      width: 212.5px;
      height: auto; } }
  .c-slider_index__col_2 p {
    margin-top: 21px;
    letter-spacing: 0.8px;
    width: 370px; }
    @media screen and (max-width: 768px) {
      .c-slider_index__col_2 p {
        width: 100%;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 47px;
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 0.1px; } }

.swiper-container {
  width: 670px;
  height: auto; }
  @media screen and (max-width: 768px) {
    .swiper-container {
      width: 100%; } }

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  justify-content: flex-start;
  -webkit-box-align: left;
  -ms-flex-align: left;
  -webkit-align-items: left;
  align-items: flex-start; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -26px; }
  @media screen and (max-width: 768px) {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      right: 5px; } }
  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: "";
    display: inline-block;
    border: solid #C9C9C9;
    border-width: 0 2px 2px 0;
    padding: 22px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
    @media screen and (max-width: 768px) {
      .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
        border-width: 0 4px 4px 0;
        padding: 12px; } }
  .swiper-button-next:hover:after, .swiper-container-rtl .swiper-button-prev:hover:after {
    border-color: #069D8F; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -45px; }
  @media screen and (max-width: 768px) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: 5px; } }
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: "";
    display: inline-block;
    border: solid #C9C9C9;
    border-width: 0 2px 2px 0;
    padding: 22px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
    @media screen and (max-width: 768px) {
      .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
        border-width: 0 4px 4px 0;
        padding: 12px; } }
  .swiper-button-prev:hover:after, .swiper-container-rtl .swiper-button-next:hover:after {
    border-color: #069D8F; }

.swiper-button-next, .swiper-button-prev {
  top: 46%; }
  @media screen and (max-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
      top: 31.5%; } }

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #E2E2E2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px; } }
  .swiper-pagination-bullet:hover {
    background: #A0A0A0;
    opacity: 0.5; }

.swiper-pagination-bullet-active {
  background: #A0A0A0; }
  .swiper-pagination-bullet-active:hover {
    opacity: 1; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 27px;
  left: 125px;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      left: 0;
      bottom: 21px; } }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }
  @media screen and (max-width: 768px) {
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px; } }

.c-video {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .c-video {
      width: 100%; } }
  .c-video iframe {
    width: 620px;
    height: 350px; }
    @media screen and (max-width: 768px) {
      .c-video iframe {
        width: 100%;
        height: 211px; } }
  .c-video a {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    background: rgba(100, 100, 100, 0.75);
    width: 100%;
    height: 100%; }
    .c-video a img {
      margin-top: 142px; }
      @media screen and (max-width: 768px) {
        .c-video a img {
          margin: 85px auto 0 auto;
          width: 197.5px;
          height: auto; } }

.p-index_1 {
  background: #49C8B2;
  -webkit-box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
  padding-top: 53px;
  padding-bottom: 83px; }
  @media screen and (max-width: 768px) {
    .p-index_1 {
      padding-top: 20px;
      padding-bottom: 16px; } }
  .p-index_1 .c-phone_top {
    float: left;
    margin-top: -120px;
    margin-right: 15px; }
  .p-index_1__inner {
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .p-index_1__inner {
        width: 100%; } }
    .p-index_1__inner h2 {
      margin-bottom: 34px; }
      @media screen and (max-width: 768px) {
        .p-index_1__inner h2 {
          margin-bottom: 21px; }
          .p-index_1__inner h2 img {
            margin: auto;
            width: 347px;
            height: auto; } }

.p-index_2 {
  text-align: center;
  margin: 65px 0 56px 0; }
  @media screen and (max-width: 768px) {
    .p-index_2 {
      margin: 29px 0 21px 0; } }
  .p-index_2 h2 {
    margin-bottom: 34px; }
    @media screen and (max-width: 768px) {
      .p-index_2 h2 {
        margin-bottom: 28px; } }
  .p-index_2 p {
    margin-bottom: 33px;
    letter-spacing: 0.9px;
    text-align: left; }
    @media screen and (max-width: 768px) {
      .p-index_2 p {
        margin-bottom: 26px;
        font-size: 1.4rem;
        line-height: 1.9rem; } }

.p-index_3 {
  background: #E5E5E5;
  padding: 65px 0 87px 0; }
  @media screen and (max-width: 768px) {
    .p-index_3 {
      padding: 30px 0 51px 0; } }
  .p-index_3 h2 {
    margin-bottom: 33px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .p-index_3 h2 {
        margin-bottom: 18px; } }
  .p-index_3 p {
    margin-bottom: 34px;
    letter-spacing: 1px;
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .p-index_3 p {
        margin-bottom: 26px;
        font-size: 1.4rem;
        line-height: 1.9rem; } }
  .p-index_3 .c-txt_line {
    margin-bottom: 14px; }
    @media screen and (max-width: 768px) {
      .p-index_3 .c-txt_line {
        margin-bottom: 16px; } }

.p-index_4 {
  margin: 65px 0 60px 0; }
  @media screen and (max-width: 768px) {
    .p-index_4 {
      margin: 30px 0 10px 0; } }
  .p-index_4 h2 {
    text-align: center;
    margin-bottom: 32px; }
    @media screen and (max-width: 768px) {
      .p-index_4 h2 {
        margin-bottom: 15px; } }

.p-index_5 {
  background: #E5E5E5;
  padding: 65px 0 65px 0; }
  @media screen and (max-width: 768px) {
    .p-index_5 {
      padding: 39px 0 21px 0; } }
  .p-index_5 h2 {
    text-align: center;
    margin-bottom: 45px; }
    @media screen and (max-width: 768px) {
      .p-index_5 h2 {
        margin-bottom: 28px; } }

.p-qa_1 {
  margin-bottom: 65px; }
  @media screen and (max-width: 768px) {
    .p-qa_1 {
      margin-bottom: 40px; } }
  .p-qa_1 h2 {
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .p-qa_1 h2 {
        margin-bottom: 9px; } }

.p-qa_2 {
  margin-bottom: 63px; }
  @media screen and (max-width: 768px) {
    .p-qa_2 {
      margin-bottom: 38px; } }
  .p-qa_2 h2 {
    margin-bottom: 14px; }

.p-topics .c-banner {
  margin-bottom: 61px; }
  @media screen and (max-width: 768px) {
    .p-topics .c-banner {
      margin-bottom: 28px; } }

.p-topics_1 {
  margin-bottom: 58px; }
  @media screen and (max-width: 768px) {
    .p-topics_1 {
      margin-bottom: 33px; } }
  .p-topics_1 h2 {
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 43px; }
    @media screen and (max-width: 768px) {
      .p-topics_1 h2 {
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 0.7px;
        margin-bottom: 27px; } }
  .p-topics_1__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 19px; }

.p-rule .c-banner {
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .p-rule .c-banner {
      margin-bottom: 30px; } }

.p-rule_1 {
  margin-bottom: 61px; }
  @media screen and (max-width: 768px) {
    .p-rule_1 {
      margin-bottom: 34px; } }
  .p-rule_1 h2 {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 33px;
    margin-bottom: 36px;
    line-height: 2.6rem;
    font-weight: normal;
    letter-spacing: 1px; }
    @media screen and (max-width: 768px) {
      .p-rule_1 h2 {
        font-size: 1.4rem;
        line-height: 1.9rem;
        letter-spacing: 0.1px;
        padding-bottom: 25px;
        margin-bottom: 11px; } }
  .p-rule_1__inner {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    margin-bottom: 34px; }
    @media screen and (max-width: 768px) {
      .p-rule_1__inner {
        padding-bottom: 37px;
        margin-bottom: 26px; } }
    .p-rule_1__inner p {
      line-height: 2.2rem; }
      @media screen and (max-width: 768px) {
        .p-rule_1__inner p {
          font-size: 1.2rem;
          line-height: 1.9rem; } }
      .p-rule_1__inner p b {
        display: inline-block;
        margin-top: 3px; }
        @media screen and (max-width: 768px) {
          .p-rule_1__inner p b {
            margin-top: 17px;
            font-size: 1.2rem;
            line-height: 1.9rem; } }
  .p-rule_1__date p {
    line-height: 2.3rem;
    text-align: right; }
    @media screen and (max-width: 768px) {
      .p-rule_1__date p {
        font-size: 1rem;
        line-height: 1.8rem; } }
