@charset "UTF-8";

//================================================================
//		 B A S E
//================================================================
@import "0_base/_vars";
@import "0_base/_reset";
@import "0_base/_mixin";
@import "0_base/_utilities";

.pc_only {
  //---- 📱 SP ----
  @include sp {
    display: none !important;
  }
}

.sp_only {
  display: none !important;

  //---- 📱 SP ----
  @include sp {
    display: block !important;
  }
}

//================================================================
//		 L A Y O U T
//
//		.l-
//================================================================
@import "1_layout/_01_header";
@import "1_layout/_02_banner";
@import "1_layout/_03_breadcrumb";
@import "1_layout/_04_layout";
@import "1_layout/_05_footer";

//================================================================
//		 C O M P O N E N T
//
//		.c-
//================================================================
@import "2_component/_01_title";
@import "2_component/_02_btn";
@import "2_component/_03_navi";
@import "2_component/_04_txt";
@import "2_component/_05_img";
@import "2_component/_06_txt_img";
@import "2_component/_07_table";
@import "2_component/_08_form";
@import "2_component/_09_slide";
@import "2_component/_99_misc";

//================================================================
//		 P R O J E C T
//
//		.p-
//================================================================
@import "3_project/_01_index";
@import "3_project/_02_qa";
@import "3_project/_03_topics";
@import "3_project/_04_rule";

//________________________________________________________
//--------------------------------
//---- 📱 SP ----

//<!--
//________________________________
//-->
//
//<!-- 💻 PC -->
//
//<!-- 📱 SP -->
//
//▼
//
//▲
