@charset "UTF-8"
//================================================================
//		Component
//
//		T I T L E
//================================================================
//________________________________________________________
.c-title
	position: relative
	font-size: 2.4rem
	color: $black_1
	padding-left: 37px
	//---- 📱 SP ----
	+sp
		font-size: 1.6rem
		padding-left: 0
		text-align: center
	//--------------------------------
	&:before
		content: ""
		position: absolute
		background: url("../img/pc/icon-slash.png") center no-repeat
		top: 10px
		left: 0
		width: 26px
		height: 40px
		//---- 📱 SP ----
		+sp
			background: url("../img/sp/icon-slash.png") center no-repeat
			background-size: contain
			position: relative
			display: block
			width: 100%
			height: 30px
			margin-bottom: 12px
