@charset "UTF-8"
//================================================================
//		Component
//
//		B U T T O N
//================================================================
//________________________________________________________
.l-btn
	text-align: center
	//---- 📱 SP ----
	+sp
		text-align: left

//________________________________________________________
.c-btn
	//--------------------------------
	a
		position: relative
		text-decoration: none
		font-size: 1.4rem
		line-height: 2.1rem
		color: $black
		padding: 10px 39px 10px 14px
		border: 1px solid $lightgrey
		border-radius: 60px
		transition: 0.35s
		background: $white
		//---- 📱 SP ----
		+sp
			display: block
			border: none
			font-size: 1.3rem
			line-height: 2.3rem
			padding: 0
			margin: 14px 0 17px 20px
		//--------------------------------
		&:hover
			opacity: 0.75
		//--------------------------------
		&:after
			content: ""
			display: inline-block
			position: absolute
			border: solid $blue_2
			border-width: 2px 2px 0 0
			transform: rotate(45deg)
			padding: 3px
			top: 16px
			right: 23px
			//---- 📱 SP ----
			+sp
				top: 9px
				right: 20px



//________________________________________________________
.c-btn_mail
	display: block
	text-decoration: none
	border: 1px solid rgba(0,53,103,0.5)
	border-radius: 5px
	background: url("../img/pc/icon-mail_black.png") center left no-repeat
	background-position-x: 23px
	transition: 0.35s
	padding: 8px 23px 8px 2px
	//--------------------------------
	&:hover
		opacity: 0.75
	//--------------------------------
	p
		font-size: 1.5rem
		line-height: 2.1rem
		font-weight: 500
		color: $black
		padding-left: 54px
		transition: 0.35s
	//--------------------------------
	&__white
		background: url("../img/pc/icon-mail_white.png") center left no-repeat
		background-position-x: 23px
		border-color: rgba(255,255,255,0.5)
		padding: 18px 24px 18px 1px
		//---- 📱 SP ----
		+sp
			background: none
			display: flex
			justify-content: center
			padding: 19px 24px 19px 1px
			//--------------------------------
			img
				width: 24px
				height: 16px
				margin: 2px 10px 0 23px
		//--------------------------------
		p
			color: $white
			//---- 📱 SP ----
			+sp
				padding-left: 0


//________________________________________________________
.c-btn_2


//================================================================
//		SP Menu Button
//================================================================
//________________________________________________________
.c-btn_MenuSP
	z-index: 99
	position: absolute
	top: 10px
	right: 10px
	background: $white
	padding: 13px 12px
	border-radius: 5px
	transition: 0.6s

//________________________________________________________
.c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3
	width: 16px
	height: 2px
	background-color: $blue_2
	transition: 0.4s
	display: block
	margin-top: 4px
	//--------------------------------
	&:first-child
		margin: 0

//________________________________________________________
.c-btn_MenuSP__trans
	background: none
	//--------------------------------
	.c-btn_MenuSP__bar1
		-webkit-transform: rotate(-45deg) translate(-19px, -10px)
		transform: rotate(-45deg) translate(-19px, -10px)
	//--------------------------------
	.c-btn_MenuSP__bar2
		opacity: 0
	//--------------------------------
	.c-btn_MenuSP__bar3
		-webkit-transform: rotate(45deg) translate(-18px, 10px)
		transform: rotate(45deg) translate(-18px, 10px)


//================================================================
//		T O P    B U T T O N
//================================================================
//________________________________________________________
.l-btn_top
	position: fixed
	bottom: 20px
	right: 20px
	display: none
	//---- 📱 SP ----
	+sp
		bottom: 10px
		right: 10px
	//--------------------------------
	.c-btn_top
		position: relative
		width: 80px
		height: 80px
		cursor: pointer
		text-align: center
		display: block
		background: $white
		border-radius: 5px
		-webkit-transition: none
		transition: none
		//---- 📱 SP ----
		+sp
			width: 40px
			height: 40px
		//--------------------------------
		img
			margin: 27px auto auto auto
			//---- 📱 SP ----
			+sp
				padding-top: 12px
				margin: auto
				width: 13px
				height: auto
		//--------------------------------
		&:hover
			top: -4px
			background-color: $white
			box-shadow: 0 5px 0 #006F82
			border: 0.3px solid $blue_2
			//---- 📱 SP ----
			+sp
				box-shadow: 0 1px 0 $blue_2
		//--------------------------------
		&:active
			top: 3px
			background-color: $white
			box-shadow: none
			transition: 0.2s
			//---- 📱 SP ----
			+sp
				top: 1px