@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T    I M A G E
//================================================================
//________________________________________________________
.l-txt_img_1
	display: flex
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		flex-wrap: wrap
	//--------------------------------
	.c-txt_img_1
		//---- 📱 SP ----
		+sp
			margin-bottom: 9px

//________________________________________________________
.c-txt_img_1
	text-align: center
	//--------------------------------
	&__img
		width: 100%
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				width: 100%
				height: auto
	//--------------------------------
	&__txt
		position: relative
		background: rgba(0,117,169,0.75)
		color: $white
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		padding: 18px 0 26px 0
		//---- 📱 SP ----
		+sp
			padding-top: 25px
		//--------------------------------
		&:before
			content: ""
			position: absolute
			background: url("../img/pc/icon-slash_yellow.png") center no-repeat
			top: -20px
			left: 0
			width: 100%
			height: 40px
			//---- 📱 SP ----
			+sp
				background: url("../img/sp/icon-slash_yellow.png") center no-repeat
				background-size: contain
				top: -14px
				width: 100%
				height: 30px
		//--------------------------------
		h2
			//---- 📱 SP ----
			+sp
				font-size: 1.5rem
				line-height: 2.5rem
		//--------------------------------
		p
			font-size: 1.4rem
			line-height: 2.1rem
			//---- 📱 SP ----
			+sp
				font-size: 1.3rem
				line-height: 2.3rem
				margin-top: 4px



//________________________________________________________
.l-txt_img_2
	@extend .l-txt_img_1
	//--------------------------------
	.c-txt_img_2
		//---- 📱 SP ----
		+sp
			margin-bottom: 9px

//________________________________________________________
.c-txt_img_2
	text-align: center
	text-decoration: none
	//--------------------------------
	&__img
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				width: 100%
				height: auto
	//--------------------------------
	&__txt
		margin-top: 4px
		//--------------------------------
		h2
			color: $blue
		//--------------------------------
		p
			color: $black
			font-size: 1.4rem
			line-height: 2.1rem



//________________________________________________________
.l-txt_img_block
	display: flex
	flex-direction: column
	margin-top: 29px
	//---- 📱 SP ----
	+sp
		margin-top: 10px
		border: 1px solid $lightgrey
		border-radius: 5px
		background: $white
	//--------------------------------
	.c-txt_img_block
		margin-bottom: 29px
		//---- 📱 SP ----
		+sp
			margin-bottom: 0
//________________________________________________________
.c-txt_img_block
	display: inline-block
	text-decoration: none
	transition: 0.35s
	//---- 📱 SP ----
	+sp
		position: relative
		background: $white
		border-bottom: 1px solid $lightgrey
		padding: 11px 40px 16px 19px
		//--------------------------------
		&:after
			content: ""
			display: inline-block
			position: absolute
			border: solid $blue_2
			border-width: 2px 2px 0 0
			transform: rotate(45deg)
			padding: 3px
			top: 46%
			right: 21px
	//--------------------------------
	&:hover
		opacity: 0.65
	//--------------------------------
	img
		float: left
		margin-right: 16px
		//---- 📱 SP ----
		+sp
			margin-top: 8px
			margin-right: 8px
			width: 61.5px
			height: auto
	//--------------------------------
	h2
		font-size: 1.4rem
		line-height: 2.5rem
		color: $blue
		font-weight: 400
		//---- 📱 SP ----
		+sp
			font-size: 1.1rem
		//--------------------------------
		span
			font-size: 1.4rem
			line-height: 2.5rem
			color: $grey
			//---- 📱 SP ----
			+sp
				font-size: 1rem
	//--------------------------------
	p
		color: $black
		line-height: 2.8rem
		//---- 📱 SP ----
		+sp
			font-size: 1.3rem
			line-height: 2.2rem
			margin-top: 2px



//________________________________________________________
.l-txt_img_taxi
	display: flex
	justify-content: space-between
	//--------------------------------
	&__inner
		display: flex
		flex-direction: column
		justify-content: space-between
		//--------------------------------
		.c-txt_img_taxi__img
			//---- 💻 PC_1280 ----
			+pc_1280
				//--------------------------------
				img
					width: 285px
					height: auto

//________________________________________________________
.c-txt_img_taxi
	position: relative
	//--------------------------------
	&__img
		//---- 💻 PC_1280 ----
		+pc_1280
			//--------------------------------
			img
				width: auto
				height: 285px
	//--------------------------------
	&__txt
		position: absolute
		bottom: 0
		background: rgba(0,0,0,0.5)
		width: 100%
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		//--------------------------------
		&__inner
			padding: 16px 75px 16px 30px
			//---- 💻 PC_1280 ----
			+pc_1280
				padding-right: 30px
			//--------------------------------
			&:before
				content: ""
				position: absolute
				background: url("../img/pc/icon-slash_yellow.png") center no-repeat
				top: -13px
				left: 0
				width: 100%
				height: 30px
			//--------------------------------
			h3
				color: $white
				line-height: 2.4rem
			p
				color: $white
				font-size: 1.2rem
				margin-bottom: 2px
				//--------------------------------
				img
					margin-top: 8px
					margin-right: 6px