@charset "UTF-8"
//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-line_footer
	//--------------------------------
	hr
		position: absolute
		width: 100%
		border-top: 0
		border-left: 0
		border-right: 0
		border-bottom: 1px solid rgba(255,255,255,0.15)
