@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T
//================================================================
//________________________________________________________
.c-txt_mail
	text-align: center
	//--------------------------------
	p
		position: relative
		font-size: 2rem
		font-weight: 700
		margin-left: 10px
		letter-spacing: 0.4px
		//---- 📱 SP ----
		+sp
			font-size: 1.3rem
			margin-left: 20px
			letter-spacing: 0.6px
		//--------------------------------
		&:before
			content: ""
			display: inline-block
			position: absolute
			background: url(../img/pc/mail.png) no-repeat left center
			background-size: 26px 18px
			width: 26px
			height: 18px
			top: 3px
			margin-left: -38px
			//---- 📱 SP ----
			+sp
				background: url(../img/sp/mail.png) no-repeat left center
				background-size: 12.5px 8px
				width: 12.5px
				height: 8px
				top: 8px
				margin-left: -19px

//________________________________________________________
.c-txt_box
	background: $black
	color: $white
	padding: 0 15px
	line-height: 21px
	font-weight: 500
	//---- 📱 SP ----
	+sp
		line-height: 1.7rem

//________________________________________________________
.c-txt_box_1
	text-align: center
	//--------------------------------
	h2, h3, h4, h5, h6, p
		display: inline-block
		background: $white
		font-size: 1.7rem
		padding: 0 17px
		line-height: 37.5px
		letter-spacing: 3px
		border-radius: 37px
		//---- 📱 SP ----
		+sp
			font-size: 0.8rem
			line-height: 17.5px
			letter-spacing: 1.3px
			padding: 0 15px

//________________________________________________________




//================================================================
//		T E X T    A C C O R D I O N
//================================================================
//________________________________________________________
.c-txt_accordion
	width: 848px
	margin-bottom: 17px
	//---- 📱 SP ----
	+sp
		width: 100%
		margin-bottom: 8.4px
	//--------------------------------
	&__title
		position: relative
		display: flex
		justify-content: center
		flex-direction: column
		background: #F6F6F6 //#F6F6F6 #E2E2E2
		height: 76px
		cursor: pointer
		//---- 📱 SP ----
		+sp
			height: 41px
		//--------------------------------
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 0
			height: 0
			border-top: 73px solid #B2CBD7
			border-right: 75px solid transparent
			//---- 📱 SP ----
			+sp
				border-top: 36.5px solid #B2CBD7
				border-right: 37.5px solid transparent
		//--------------------------------
		&:after
			content: "Q"
			position: absolute
			top: 10px
			left: 10px
			font-size: 2.3rem
			font-weight: 700
			color: $white
			//---- 📱 SP ----
			+sp
				font-size: 1.2rem
				top: 0
				left: 7px
		//--------------------------------
		h5
			padding-left: 69px
			padding-right: 69px
			font-size: 2.1rem
			letter-spacing: 2.3px
			//---- 📱 SP ----
			+sp
				padding-left: 37px
				padding-right: 28px
				font-size: 1rem
				line-height: 1.5rem
				letter-spacing: 1.5px
			//--------------------------------
			&:before
				content: ""
				display: inline-block
				position: absolute
				border: solid $black
				border-width: 0 0 2px 0
				padding: 10px
				transform: rotate(0deg)
				top: 17px
				right: 30px
				transition: 0.35s
				//---- 📱 SP ----
				+sp
					padding: 5px
					border-width: 0 0 1px 0
					top: 9px
					right: 11px
			//--------------------------------
			&:after
				content: ""
				display: inline-block
				position: absolute
				border: solid $black
				border-width: 0 2px 0 0
				padding: 10px
				transform: rotate(0deg)
				top: 28px
				right: 39px
				transition: 0.35s
				//---- 📱 SP ----
				+sp
					padding: 5px
					border-width: 0 1px 0 0
					top: 14px
					right: 15px
	//--------------------------------
	.is-opening
		//--------------------------------
		h5
			//--------------------------------
			&:before
				transform: rotate(360deg)
				border-color: $black
				opacity: 0
			//--------------------------------
			&:after
				transform: rotate(90deg) translate(-10px, -10px)
				border-color: $black
				//--------------------------------
				+sp
					transform: rotate(90deg) translate(-5px, -5px)
	//--------------------------------
	&__txt
		width: 802px
		display: flex
		justify-content: center
		//---- 📱 SP ----
		+sp
			width: 100%
		//--------------------------------
		p
			display: none
			font-size: 1.5rem
			font-weight: 500
			line-height: 3rem
			letter-spacing: 1px
			margin-top: 30px
			margin-bottom: 32px
			//---- 📱 SP ----
			+sp
				font-size: 1rem
				line-height: 1.75rem
				margin-top: 18px
				margin-bottom: 20px