@charset "UTF-8"
//================================================================
//		Component
//
//		I M A G E
//================================================================
//________________________________________________________
.c-img_arrow
	text-align: center
	//--------------------------------
	img
		//---- 📱 SP ----
		+sp
			width: 22.5px
			height: auto
			margin: auto

//________________________________________________________
.c-img_deco
	text-align: center
	//--------------------------------
	img
		//---- 📱 SP ----
		+sp
			width: 56px
			height: auto
			margin: auto