@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T    I M A G E
//================================================================
//________________________________________________________
.c-txtimg_1
	width: 195px
	text-align: center
	//---- 📱 SP ----
	+sp
		width: 135px
		margin-bottom: 24px
	//--------------------------------
	div
		margin-bottom: 32px
		//---- 📱 SP ----
		+sp
			margin-bottom: 19px
			//--------------------------------
			img
				width: 80px
				height: auto
				margin: auto
	//--------------------------------
	h4
		font-weight: 500
		height: 60px
		font-size: 1.7rem
		//---- 📱 SP ----
		+sp
			font-size: 1.1rem
			line-height: 1.4rem
			height: 40px
	//--------------------------------
	p
		text-align: left
		font-weight: 500
		font-size: 1.3rem
		line-height: 2.4rem
		letter-spacing: 2px
		//---- 📱 SP ----
		+sp
			font-size: 0.9rem
			line-height: 1.4rem
			letter-spacing: 1px

//________________________________________________________
.c-txtimg_2
	display: flex
	justify-content: space-between
	margin-bottom: 51px
	//---- 📱 SP ----
	+sp
		display: block
		margin-bottom: 28px
	//--------------------------------
	&__img
		//---- 📱 SP ----
		+sp
			display: flex
			//justify-content: center
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				width: 114px
				height: 88.5px
				margin-right: 28px
	//--------------------------------
	h3
		//---- 📱 SP ----
		+sp
			font-size: 1.2rem
			line-height: 1.9rem
			padding-top: 24px
			letter-spacing: 2px
	//--------------------------------
	&__txt
		//---- 📱 SP ----
		+sp
			width: 100%
			display: inline-block
		//--------------------------------
		h3
			font-size: 2.4rem
			letter-spacing: 2px
			margin-top: 34px
			margin-bottom: 41px
		//--------------------------------
		h4
			font-size: 1.5rem
			font-weight: 400
			margin-bottom: 16px
			//---- 📱 SP ----
			+sp
				font-size: 1.2rem
				margin-top: 12px
				margin-bottom: 0
		//--------------------------------
		p
			width: 379px
			line-height: 2.5rem
			//---- 📱 SP ----
			+sp
				width: 100%
				font-size: 1rem
				line-height: 1.75rem
	//--------------------------------
	&__reverse
		flex-direction: row-reverse
		margin-bottom: 0
		//--------------------------------
		.c-txtimg_2__img
			margin-top: 132px
			margin-right: 20px
			//---- 📱 SP ----
			+sp
				margin: auto
			//--------------------------------
			img
				//---- 📱 SP ----
				+sp
					width: 144.25px
					height: 58.5px
					margin-right: 0
		//--------------------------------
		.c-txtimg_2__txt
			//--------------------------------
			h4
				margin-top: 20px
				margin-bottom: 5px
		//--------------------------------
		h3
			//---- 📱 SP ----
			+sp
				padding-top: 13px
				padding-right: 10px
				font-size: 1.2rem
				line-height: 1.9rem
				letter-spacing: 1px

//________________________________________________________
.c-txtimg_3
	width: 250px
	//---- 📱 SP ----
	+sp
		width: 140px
		margin-bottom: 28px
		&:last-child
			margin-bottom: 0
	//--------------------------------
	&__img
		text-align: center
		margin-bottom: 21px
		//---- 📱 SP ----
		+sp
			margin-bottom: 8px
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				width: auto
				height: 135.75px
				margin: auto
	//--------------------------------
	&__txt
		margin: auto
		width: 230px
		text-align: left
		//---- 📱 SP ----
		+sp
			width: 137.5px
		//--------------------------------
		p
			letter-spacing: 1px
			//---- 📱 SP ----
			+sp
				font-size: 1rem
				line-height: 1.9rem
				letter-spacing: -0.2px

//________________________________________________________
.c-txtimg_4
	display: flex
	border-bottom: 1px solid #E3E3E3
	margin-bottom: 37px
	//---- 📱 SP ----
	+sp
		display: block
		border-bottom: none
		margin-bottom: 0
	//--------------------------------
	&:last-child
		border-bottom: none
		margin-bottom: 0
	//--------------------------------
	&__img
		//---- 📱 SP ----
		+sp
			width: 50%
			margin: auto
			//--------------------------------
			img
				width: 100%
				height: auto
	//--------------------------------
	&__txt
		margin-top: 22px
		margin-left: 47px
		//---- 📱 SP ----
		+sp
			margin-top: 15px
			margin-left: 0
		//--------------------------------
		h3
			font-size: 1.6rem
			margin-bottom: 24px
			letter-spacing: 1.8px
			//---- 📱 SP ----
			+sp
				font-size: 1rem
				line-height: 1.75rem
				margin-bottom: 13px
			//--------------------------------
			span
				font-size: 1.6rem
				color: #FF6767
				//---- 📱 SP ----
				+sp
					font-size: 1rem
		//--------------------------------
		div
			margin-bottom: 19px
			//---- 📱 SP ----
			+sp
				margin-bottom: 14px
			//--------------------------------
			h4
				position: relative
				font-size: 1.6rem
				padding-left: 50px
				margin-bottom: 8px
				letter-spacing: 1.9px
				//---- 📱 SP ----
				+sp
					font-size: 1.1rem
					line-height: 1.1rem
					padding-left: 29px
					margin-bottom: 11px
				//--------------------------------
				&:before
					content: ""
					position: absolute
					background: #7F634C
					top: 0
					left: 0
					width: 40px
					height: 22px
					border-radius: 20px
					//---- 📱 SP ----
					+sp
						width: 21px
						height: 11.5px
				//--------------------------------
				&:after
					content: "Q"
					position: absolute
					top: 0px
					left: 16px
					font-size: 1.6rem
					font-weight: 700
					color: $white
					//---- 📱 SP ----
					+sp
						font-size: 0.8rem
						line-height: 1.1rem
						left: 8px
			//--------------------------------
			p
				font-size: 1.1rem
				line-height: 2rem
				letter-spacing: 0.5px
				//---- 📱 SP ----
				+sp
					font-size: 0.9rem
					line-height: 1.5rem
			//--------------------------------
			&:last-child
				margin-bottom: 50px
				//---- 📱 SP ----
				+sp
					margin-bottom: 0

//________________________________________________________
.c-txtimg_5
	width: 160px
	margin: 0 32.5px
	text-align: center
	//---- 📱 SP ----
	+sp
		width: 120px
		margin: 0 10px 30px 0
	//--------------------------------
	div
		//---- 📱 SP ----
		+sp
			//--------------------------------
			img
				width: 120px
				height: auto
	//--------------------------------
	h4
		font-size: 2rem
		color: $brown
		margin-top: 18px
		margin-bottom: 30px
		//---- 📱 SP ----
		+sp
			font-size: 1.5rem
			margin-top: 10px
			margin-bottom: 7px
	//--------------------------------
	p
		text-align: left
		font-size: 1.2rem
		line-height: 2rem
		//---- 📱 SP ----
		+sp
			font-size: 1rem
			line-height: 1.75rem
			letter-spacing: -0.8px

//________________________________________________________




//================================================================
//		C A M P A I G N
//================================================================
//________________________________________________________
.c-imgtxt_campaign_wrapper
	display: flex
	justify-content: space-between

//________________________________________________________
.c-imgtxt_campaign
	width: 252px
	//---- 📱 SP ----
	+sp
		width: 100%
	//--------------------------------
	div
		//---- 📱 SP ----
		+sp
			width: 62.5%
			margin: auto
			//--------------------------------
			img
				width: 100%
				height: auto
	//--------------------------------
	table
		border-collapse: collapse
		margin-top: 24px
		margin-left: auto
		margin-right: auto
		//---- 📱 SP ----
		+sp
			width: 90%
			margin-top: 21px
			margin-bottom: 24px
		//--------------------------------
		tr
			//--------------------------------
			th
				width: 59px
				vertical-align: text-top
				//---- 📱 SP ----
				+sp
					width: 49px
				//--------------------------------
				.c-txt_box
					font-size: 1.2rem
					padding: 0 3px
					//---- 📱 SP ----
					+sp
						font-size: 1rem
			//--------------------------------
			td
				padding-left: 15px
				padding-bottom: 16px
				font-size: 1.2rem
				letter-spacing: 0px
				line-height: 2rem
				//---- 📱 SP ----
				+sp
					padding-left: 12px
					padding-bottom: 13px
					font-size: 1rem
					line-height: 1.7rem
				//--------------------------------
			&:last-child
				//--------------------------------
				td
					font-size: 1.1rem
					//---- 📱 SP ----
					+sp
						font-size: 0.9rem
						padding-bottom: 0