@charset "UTF-8"
//================================================================
//		Component
//
//		F O R M
//================================================================
//________________________________________________________
%form_title
	position: relative
	vertical-align: text-top
	padding-left: 28px
	font-size: 1.6rem
	letter-spacing: 1.5px
	//--------------------------------
	&:before
		content: ""
		position: absolute
		border: 4px solid #252523
		border-radius: 20px
		padding: 5px
		top: 3px
		left: 0

//________________________________________________________
textarea, input[type=text], input
	padding: 0
	font-size: 1.2rem

input[type=text]
	height: 30px
	text-indent: 10px

//________________________________________________________
.c-form_visit
	//--------------------------------
	table
		border-collapse: collapse
		width: 100%
		text-align: left
		//--------------------------------
		tr
			display: flex
			//--------------------------------
			th
				//background: tan
				width: 190px
				@extend %form_title
			//--------------------------------
			td
				width: 330px
				font-weight: 500
				input[type=text], textarea
					width: 100%
					//padding: 0


		//--------------------------------
		tr:nth-child(1)
			margin-bottom: 23px
			//--------------------------------
			td
				display: flex
				//--------------------------------
				div
					display: flex
					padding-left: 16px
					padding-bottom: 21px
					//--------------------------------
					label
						margin-right: 25px


		//--------------------------------
		tr:nth-child(2)
			margin-bottom: 36px
			//--------------------------------
			td
				display: flex
				background: #FFF2F2
				//--------------------------------
				div
					display: flex
					flex-direction: column
					padding: 13px 16px 13px 16px
					//--------------------------------
					label
						margin-bottom: 2px
						//--------------------------------
						span
							font-size: 1.3rem


		//--------------------------------
		tr:nth-child(3)
			margin-bottom: 21px
			//--------------------------------
			td
				text-align: center
				//--------------------------------
				p
					font-size: 1.2rem
				//--------------------------------
				textarea
					margin-top: 6px
					overflow: auto
					resize: none
					height: 170px


		//--------------------------------
		tr:nth-child(4), tr:nth-child(5), tr:nth-child(6)
			margin-bottom: 21px
			//--------------------------------
			th
				margin-top: 2px


		//--------------------------------
		tr:nth-child(7)
			margin-top: 23px
			margin-bottom: 23px
			//--------------------------------
			td
				display: flex
				flex-direction: column
				//--------------------------------
				label
					margin-bottom: 15px
					//--------------------------------
					a
						font-size: 1.2rem
						float: right
						margin-top: 2px
						margin-right: 13px
						letter-spacing: 1px
					//--------------------------------
					input
						width: 237px
						float: right
					//--------------------------------
					select
						width: 241px
						height: 24px
						float: right
						text-align: center
						text-align-last: center


		//--------------------------------
		tr:nth-child(8)
			//--------------------------------
			td
				//--------------------------------
				label
					margin-right: 30px
					//--------------------------------
					&:last-child
						margin-right: 0


	//--------------------------------
	div:nth-child(2)
		display: flex
		justify-content: space-between
		margin-top: 31px
		margin-bottom: 21px
		//--------------------------------
		h4
			@extend %form_title
		p
			font-size: 1.2rem
			font-weight: 500
			letter-spacing: 1px


	//--------------------------------
	div:nth-child(3)
		display: flex
		width: 100%
		margin-bottom: 70px
		textarea
			overflow: auto
			resize: none
			width: 100%
			height: 130px
			padding: 20px