@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1.4rem; }

html {
  font-size: 62.5%; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 2.4rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 2.4rem; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-hover_eff {
  transition: 0.35s; }
  .u-hover_eff:hover {
    opacity: 0.55; }

.u-hover_eff_1 {
  transition: 0.35s; }
  .u-hover_eff_1:hover {
    opacity: 0.75; }

.u-fw_bold {
  font-weight: bold; }

.u-fw_normal {
  font-weight: normal; }

.u-fw_medium {
  font-weight: 500; }

.u-txtdeco_non {
  text-decoration: none; }

.u-txtdeco_underline {
  text-decoration: underline; }

.u-fs16 {
  font-size: 1.6rem; }

.u-bg_grey {
  background: #E9EFF2; }

.u-banner_index {
  background: url("../img/pc/banner_index.jpg") no-repeat; }
  @media screen and (max-width: 768px) {
    .u-banner_index {
      background: url("../img/sp/banner_index.jpg"); } }

@media screen and (max-width: 768px) {
  .pc_only {
    display: none; } }

.sp_only {
  display: none; }
  @media screen and (max-width: 768px) {
    .sp_only {
      display: block; } }

.l-header {
  z-index: 99; }
  @media screen and (max-width: 768px) {
    .l-header {
      position: relative; } }

.c-header {
  position: relative;
  max-width: 1215px;
  min-width: 1215px;
  padding-top: 26px;
  padding-bottom: 23px;
  margin: auto;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .c-header {
      position: fixed;
      background: #fff;
      max-width: 650px;
      min-width: 100%;
      padding-top: 17px;
      padding-bottom: 8px;
      text-align: left;
      top: 0;
      left: 0; } }
  .c-header__logo {
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .c-header__logo {
        margin-left: 15px; }
        .c-header__logo img {
          width: 146.5px;
          height: auto; } }
  .c-header .l-btn_social {
    top: 42px;
    right: 0; }

@media screen and (max-width: 768px) {
  .is-opening .c-header {
    background: #c7c7c7; }
  .is-opening .c-gnavi__with_btn {
    position: fixed;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
    .is-opening .c-gnavi__with_btn nav {
      transform: translateX(0px); } }

body {
  background: #fff; }

.l-main {
  min-width: 1215px; }
  @media screen and (max-width: 768px) {
    .l-main {
      min-width: 100%; } }

.l-container {
  width: 1215px;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .l-container {
      width: 100%;
      max-width: 650px;
      padding: 0 17.5px; } }
  .l-container__narrow {
    width: 1010px;
    margin: auto; }
    @media screen and (max-width: 768px) {
      .l-container__narrow {
        width: 100%;
        max-width: 650px;
        padding: 0 17.5px; } }
  .l-container__full {
    width: 100%; }

.l-f_space_between {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .l-f_space_between {
      flex-direction: column; } }

.l-f_center {
  display: flex;
  justify-content: center; }

.l-f_space_around {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .l-f_space_around {
      flex-direction: column; } }

.l-t_center {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .l-t_center {
      flex-direction: column; } }

.l-footer {
  min-width: 1215px; }
  @media screen and (max-width: 768px) {
    .l-footer {
      min-width: 100%; } }

.c-footer_contact {
  display: flex;
  justify-content: space-between;
  margin: 111px auto 112px auto;
  width: 1000px; }
  @media screen and (max-width: 768px) {
    .c-footer_contact {
      justify-content: center;
      width: 100%;
      margin: 28px auto 15px auto; } }
  .c-footer_contact__content {
    display: flex;
    margin-top: 2px;
    margin-right: 19px; }
    @media screen and (max-width: 768px) {
      .c-footer_contact__content {
        flex-direction: column;
        margin-right: 0; } }
    .c-footer_contact__content .c-txt_phone {
      margin-top: 6px;
      margin-right: 37px; }
      @media screen and (max-width: 768px) {
        .c-footer_contact__content .c-txt_phone {
          margin-top: 6px;
          margin-bottom: 10px;
          margin-right: 0; } }
    @media screen and (max-width: 768px) {
      .c-footer_contact__content .c-btn_reservation {
        margin-bottom: 33px; } }

.c-footer_copyright {
  background: #000;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px; }
  @media screen and (max-width: 768px) {
    .c-footer_copyright {
      display: flex;
      justify-content: center;
      padding-top: 11px;
      padding-bottom: 12px; } }
  .c-footer_copyright p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px; }
    @media screen and (max-width: 768px) {
      .c-footer_copyright p {
        font-size: 1rem;
        padding: 0 16px; } }

@media screen and (max-width: 768px) {
  .c-title {
    text-align: center; } }
.c-title h2 {
  font-size: 4rem;
  letter-spacing: 3px; }
  @media screen and (max-width: 768px) {
    .c-title h2 {
      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: 1px; } }
.c-title p {
  display: inline-block;
  margin-top: 24px;
  padding-bottom: 7px;
  font-size: 1.7rem;
  font-weight: 500;
  border-bottom: 7px solid #000; }
  @media screen and (max-width: 768px) {
    .c-title p {
      font-size: 1rem;
      line-height: 1rem;
      border-width: 3.25px;
      padding-bottom: 5px;
      margin-top: 0; } }

.c-btn_reservation {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #fff;
  line-height: 4.9rem;
  letter-spacing: 1.5px;
  background: #000;
  width: 239px;
  height: 49px;
  transition: 0.35s; }
  @media screen and (max-width: 768px) {
    .c-btn_reservation {
      font-size: 1.1rem;
      line-height: 3.7rem;
      letter-spacing: 1px;
      width: 181px;
      height: 37px; } }
  .c-btn_reservation:after {
    content: "▼";
    position: relative;
    top: 1px;
    right: -10px;
    font-size: 1.1rem; }
    @media screen and (max-width: 768px) {
      .c-btn_reservation:after {
        font-size: 0.8rem;
        right: -8px; } }
  .c-btn_reservation:hover {
    opacity: 0.7; }

.l-btn_social {
  position: absolute; }
  .l-btn_social__footer {
    position: inherit;
    margin: auto; }

.c-btn_social {
  text-decoration: none;
  margin-left: 9px;
  transition: 0.35s; }
  @media screen and (max-width: 768px) {
    .c-btn_social {
      margin: 0 5px; }
      .c-btn_social img {
        width: 23px;
        height: auto; } }
  .c-btn_social:hover {
    opacity: 0.55; }

.c-btn_MenuSP {
  z-index: 101;
  width: 24.5px;
  height: 21.5px;
  position: fixed;
  top: 19px;
  right: 16px; }

.c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  width: 24.5px;
  height: 2.75px;
  background-color: #000;
  transition: 0.4s;
  display: block; }

.c-btn_MenuSP__bar1 {
  margin-top: 0px; }

.c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  margin-top: 6.3px; }

.c-btn_MenuSP__trans .c-btn_MenuSP__bar1 {
  -webkit-transform: rotate(-405deg) translate(-7px, 5px);
  transform: rotate(-405deg) translate(-7px, 5px); }
.c-btn_MenuSP__trans .c-btn_MenuSP__bar2 {
  opacity: 0;
  transform: translate(55px, 0px); }
.c-btn_MenuSP__trans .c-btn_MenuSP__bar3 {
  -webkit-transform: rotate(405deg) translate(-7px, -6px);
  transform: rotate(405deg) translate(-7px, -6px); }

.l-btn_top {
  position: fixed;
  bottom: 20px;
  right: 60px;
  display: none;
  z-index: 90; }
  @media screen and (max-width: 768px) {
    .l-btn_top {
      right: 17px;
      bottom: 22.5px; } }

.c-btn_top {
  position: relative;
  width: 60px;
  height: 60px;
  background: #5F5F5F;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .c-btn_top {
      width: 41.5px;
      height: 41.5px; } }
  .c-btn_top:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid #fff;
    border-width: 2px 0 0 0;
    padding: 10px;
    top: 17px;
    right: 20px;
    transition: 0.35s; }
    @media screen and (max-width: 768px) {
      .c-btn_top:before {
        border-width: 1px 0 0 0;
        padding: 7px;
        top: 12px;
        right: 13px; } }
  .c-btn_top a:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 7px;
    transform: rotate(-135deg);
    top: 25px;
    right: 22.5px;
    transition: 0.35s; }
    @media screen and (max-width: 768px) {
      .c-btn_top a:before {
        border-width: 0 1px 1px 0;
        padding: 5px;
        top: 18px;
        right: 14.5px; } }
  .c-btn_top a:after {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid #fff;
    border-width: 0 2px 0 0;
    padding: 10px;
    top: 22px;
    right: 29px;
    transition: 0.35s; }
    @media screen and (max-width: 768px) {
      .c-btn_top a:after {
        border-width: 0 1px 0 0;
        padding: 7px;
        top: 17px;
        right: 19px; } }
  .c-btn_top:hover {
    top: -4px;
    background-color: #737373;
    box-shadow: 0 3px 0 #000; }
    @media screen and (max-width: 768px) {
      .c-btn_top:hover {
        top: -2px;
        box-shadow: 0 1px 0 #000; } }
  .c-btn_top:active {
    top: 2px;
    background-color: #5F5F5F;
    box-shadow: none;
    transition: 0.2s; }

.c-gnavi {
  min-width: 1215px;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  transition: all 0.4s;
  z-index: 100; }
  @media screen and (max-width: 768px) {
    .c-gnavi {
      min-width: 100%; } }
  .c-gnavi nav {
    width: 1215px; }
    .c-gnavi nav ul {
      display: flex;
      justify-content: center; }
      .c-gnavi nav ul li a {
        display: block;
        color: #000;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        transition: 0.3s;
        padding: 26px 50px 22px 50px;
        letter-spacing: 1.1px; }
        .c-gnavi nav ul li a:hover {
          opacity: 0.55; }
  .c-gnavi__with_btn nav {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .c-gnavi__with_btn nav {
        display: block;
        position: fixed;
        background: #fff;
        width: 250px;
        height: 100%;
        top: 0;
        right: 0;
        padding-top: 63px;
        transition: 0.35s;
        transform: translateX(250px); } }
    .c-gnavi__with_btn nav ul {
      margin-left: 108px; }
      @media screen and (max-width: 768px) {
        .c-gnavi__with_btn nav ul {
          margin-left: 0;
          flex-direction: column;
          border-top: 1px solid #DBDBDB; } }
      @media screen and (max-width: 768px) {
        .c-gnavi__with_btn nav ul li {
          border-bottom: 1px solid #DBDBDB; } }
      .c-gnavi__with_btn nav ul li a {
        font-size: 1.3rem;
        padding: 16px 55px 9px 55px; }
        @media screen and (max-width: 768px) {
          .c-gnavi__with_btn nav ul li a {
            position: relative;
            padding: 11.5px 0px 11.5px 18px;
            font-size: 1.25rem;
            line-height: 1.25rem;
            letter-spacing: 0px; }
            .c-gnavi__with_btn nav ul li a:after {
              content: "";
              position: absolute;
              background: url(../img/sp/arrow.png) no-repeat right center;
              background-size: 7px 10px;
              width: 7px;
              height: 10px;
              top: 36%;
              right: 25px; } }
  .c-gnavi--top_line {
    border-top: 1px solid #CECECE; }
    @media screen and (max-width: 768px) {
      .c-gnavi--top_line {
        border-top: none; } }
  .c-gnavi--bottom_line {
    border-bottom: 1px solid #CECECE; }

.c-txt_phone {
  display: inline-block;
  text-align: center;
  background: url(../img/pc/phone.png) no-repeat left center;
  background-position-y: 0;
  padding-left: 36px; }
  @media screen and (max-width: 768px) {
    .c-txt_phone {
      background: url(../img/sp/phone.png) no-repeat left center;
      background-size: 17.5px 14.5px;
      background-position-y: 1px;
      background-position-x: 13px;
      padding-left: 26px; } }
  .c-txt_phone h2, .c-txt_phone h3, .c-txt_phone h4, .c-txt_phone h5, .c-txt_phone h6 {
    font-size: 2.2rem;
    letter-spacing: 2px; }
    @media screen and (max-width: 768px) {
      .c-txt_phone h2, .c-txt_phone h3, .c-txt_phone h4, .c-txt_phone h5, .c-txt_phone h6 {
        font-size: 1.7rem;
        line-height: 1.7rem;
        letter-spacing: 1.5px; } }
  .c-txt_phone p {
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.2rem;
    margin-top: 3px;
    margin-right: 16px; }
    @media screen and (max-width: 768px) {
      .c-txt_phone p {
        font-size: 0.9rem;
        margin-right: 14px; } }

.c-txt_accordion {
  width: 726px;
  margin-bottom: 20.5px; }
  @media screen and (max-width: 768px) {
    .c-txt_accordion {
      width: 100%;
      margin-bottom: 15.5px; } }
  .c-txt_accordion div:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 25.5px 0;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .c-txt_accordion div:nth-child(1) {
        padding: 11px 0; } }
    .c-txt_accordion div:nth-child(1):before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 73px solid #000;
      border-right: 75px solid transparent; }
      @media screen and (max-width: 768px) {
        .c-txt_accordion div:nth-child(1):before {
          border-top: 36.5px solid #000;
          border-right: 37.5px solid transparent; } }
    .c-txt_accordion div:nth-child(1):after {
      content: "Q";
      position: absolute;
      top: 10px;
      left: 14px;
      font-size: 2.3rem;
      font-weight: 700;
      color: #fff; }
      @media screen and (max-width: 768px) {
        .c-txt_accordion div:nth-child(1):after {
          font-size: 1.15rem;
          line-height: 1.15rem;
          top: 6px;
          left: 6px; } }
    .c-txt_accordion div:nth-child(1) h3 {
      font-size: 1.6rem;
      line-height: 2.2rem;
      letter-spacing: 1px;
      margin-left: 93px;
      margin-right: 55px; }
      @media screen and (max-width: 768px) {
        .c-txt_accordion div:nth-child(1) h3 {
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 1.4px;
          margin-left: 40px;
          margin-right: 24px; } }
      .c-txt_accordion div:nth-child(1) h3:before {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid #000;
        border-width: 0 0 2px 0;
        padding: 10px;
        transform: rotate(0deg);
        margin-top: -22px;
        top: 50%;
        right: 20px;
        transition: 0.35s; }
        @media screen and (max-width: 768px) {
          .c-txt_accordion div:nth-child(1) h3:before {
            border-width: 0 0 1px 0;
            padding: 5px;
            margin-top: -11px;
            right: 7px; } }
      .c-txt_accordion div:nth-child(1) h3:after {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid #000;
        border-width: 0 2px 0 0;
        padding: 10px;
        transform: rotate(0deg);
        margin-top: -10px;
        top: 50%;
        right: 29px;
        transition: 0.35s; }
        @media screen and (max-width: 768px) {
          .c-txt_accordion div:nth-child(1) h3:after {
            border-width: 0 1px 0 0;
            padding: 5px;
            margin-top: -5px;
            right: 11px; } }
  .c-txt_accordion .is-opening h3:before {
    transform: rotate(360deg) !important;
    opacity: 0; }
  .c-txt_accordion .is-opening h3:after {
    transform: rotate(450deg) translate(-10px, -10px) !important; }
    @media screen and (max-width: 768px) {
      .c-txt_accordion .is-opening h3:after {
        transform: rotate(450deg) translate(-5px, -5px) !important; } }
  .c-txt_accordion div:nth-child(2) {
    display: none;
    margin-top: 32px;
    margin-bottom: 43px; }
    @media screen and (max-width: 768px) {
      .c-txt_accordion div:nth-child(2) {
        margin-top: 15px;
        margin-bottom: 28px; } }
    .c-txt_accordion div:nth-child(2) p {
      line-height: 1.84rem;
      letter-spacing: 1.6px;
      padding: 0 7px; }
      @media screen and (max-width: 768px) {
        .c-txt_accordion div:nth-child(2) p {
          font-size: 1rem;
          line-height: 1.9rem; } }

.c-img_bg {
  position: absolute;
  background: url(../img/img_1.jpg) no-repeat center;
  background-size: cover;
  width: 50%;
  height: 568px;
  float: right; }
  @media screen and (max-width: 768px) {
    .c-img_bg {
      background-position: center;
      height: 151px; } }

.c-txtimg_topics {
  width: 768px; }
  @media screen and (max-width: 768px) {
    .c-txtimg_topics {
      width: 100%; } }
  .c-txtimg_topics ul li {
    transition: 0.35s;
    margin-bottom: 18px; }
    @media screen and (max-width: 768px) {
      .c-txtimg_topics ul li {
        background: #fff;
        border-bottom: 1px solid #C5C5C5;
        margin-bottom: 0; } }
    .c-txtimg_topics ul li:hover {
      opacity: 0.77; }
    .c-txtimg_topics ul li a {
      display: flex;
      text-decoration: none;
      color: #000; }
      @media screen and (max-width: 768px) {
        .c-txtimg_topics ul li a {
          position: relative; }
          .c-txtimg_topics ul li a:after {
            content: "";
            position: absolute;
            background: url(../img/sp/arrow.png) no-repeat right center;
            background-size: 5px 7.5px;
            width: 5px;
            height: 7.5px;
            top: 41%;
            right: 16px; } }
  .c-txtimg_topics ul li:nth-child(odd) a {
    flex-direction: row; }
  .c-txtimg_topics ul li:nth-child(even) a {
    flex-direction: row-reverse; }
    @media screen and (max-width: 768px) {
      .c-txtimg_topics ul li:nth-child(even) a {
        flex-direction: row; } }
  .c-txtimg_topics__img {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    background: #C7C7C7;
    width: 381px;
    height: 230px; }
    @media screen and (max-width: 768px) {
      .c-txtimg_topics__img {
        width: 185px;
        height: auto; } }
  .c-txtimg_topics__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 329px;
    margin-left: 58px; }
    @media screen and (max-width: 768px) {
      .c-txtimg_topics__content {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 12px; } }
    .c-txtimg_topics__content h3 {
      display: inline-block;
      background: #C7C7C7;
      color: #fff;
      font-weight: 400;
      line-height: 2.3rem;
      letter-spacing: 1px;
      border-radius: 20px;
      padding: 0 21px;
      margin-bottom: 13px; }
      @media screen and (max-width: 768px) {
        .c-txtimg_topics__content h3 {
          font-size: 0.7rem;
          line-height: 1.15rem;
          letter-spacing: 0.7px;
          padding: 0 8.6px;
          margin-bottom: 5px; } }
    .c-txtimg_topics__content p {
      padding-left: 5px;
      padding-right: 20px;
      letter-spacing: 1.3px; }
      @media screen and (max-width: 768px) {
        .c-txtimg_topics__content p {
          padding-left: 3px;
          padding-right: 30px;
          font-size: 1.1rem;
          line-height: 1.5rem;
          letter-spacing: 1.1px; } }

.c-table_about {
  width: 726px;
  border-collapse: collapse;
  border-bottom: 1px solid #C5C5C5; }
  @media screen and (max-width: 768px) {
    .c-table_about {
      width: 100%; } }
  .c-table_about tr {
    display: block;
    border-top: 1px solid #C5C5C5;
    padding: 25.5px 0; }
    @media screen and (max-width: 768px) {
      .c-table_about tr {
        padding: 17.5px 0; } }
    .c-table_about tr th {
      width: 141px;
      padding: 0 13px;
      text-align: left;
      letter-spacing: 1.1px; }
      @media screen and (max-width: 768px) {
        .c-table_about tr th {
          width: 67px;
          padding-left: 0;
          padding-right: 19px;
          text-align: right;
          font-size: 1rem; } }
    .c-table_about tr td {
      letter-spacing: 1.4px; }
      @media screen and (max-width: 768px) {
        .c-table_about tr td {
          font-size: 1rem;
          line-height: 1.3rem; } }

.c-mics_map {
  background: #C7C7C7;
  width: 50%;
  height: 507px; }
  @media screen and (max-width: 768px) {
    .c-mics_map {
      width: 100%;
      height: 255px; } }

.c-mics_pagination {
  display: flex;
  justify-content: center; }
  .c-mics_pagination li a {
    display: block;
    background: #C7C7C7;
    text-decoration: none;
    color: #fff;
    padding: 16px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.35s; }
    @media screen and (max-width: 768px) {
      .c-mics_pagination li a {
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding: 10px; } }
    .c-mics_pagination li a:hover {
      opacity: 0.55; }
  .c-mics_pagination li:nth-child(1) a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
    @media screen and (max-width: 768px) {
      .c-mics_pagination li:nth-child(1) a {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; } }
  .c-mics_pagination li:nth-child(2) a {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    @media screen and (max-width: 768px) {
      .c-mics_pagination li:nth-child(2) a {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; } }

.c-mics_search {
  text-align: center;
  margin-top: 64px; }
  @media screen and (max-width: 768px) {
    .c-mics_search {
      margin-top: 24px; } }
  .c-mics_search input {
    width: 100%;
    height: 48px;
    text-align: center;
    font-size: 1.6rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; }
    @media screen and (max-width: 768px) {
      .c-mics_search input {
        height: 32px;
        font-size: 1.1rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px; } }
  .c-mics_search button {
    width: 100%;
    background: #C7C7C7;
    color: #fff;
    font-size: 2rem;
    line-height: 2.4rem;
    padding: 10px 0;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.35s;
    margin-top: 0px; }
    @media screen and (max-width: 768px) {
      .c-mics_search button {
        font-size: 1.6rem;
        line-height: 1.6rem;
        padding: 7px 0;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px; } }
    .c-mics_search button:hover {
      opacity: 0.66; }

.p-index {
  position: relative;
  background: #F3F3F3 url(../img/pc/giraffe.png) no-repeat left;
  background-position-y: 1051px; }
  @media screen and (max-width: 768px) {
    .p-index {
      background: #F3F3F3; } }

.p-index_banner {
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 474px; }
  @media screen and (max-width: 768px) {
    .p-index_banner {
      margin-top: 58.5px;
      height: 213.5px; } }
  .p-index_banner h2 {
    font-size: 3.4rem;
    letter-spacing: 3.5px;
    color: #fff;
    margin-top: 28px; }
    @media screen and (max-width: 768px) {
      .p-index_banner h2 {
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-top: 0; } }

.p-index_1 {
  display: flex;
  position: relative;
  background: url(../img/pc/letter_C.png) no-repeat;
  background-position-x: 23px;
  background-position-y: 119px;
  padding-top: 93px;
  padding-bottom: 110px; }
  @media screen and (max-width: 768px) {
    .p-index_1 {
      background-image: url(../img/pc/giraffe.png), url(../img/sp/letter_C.png);
      background-repeat: no-repeat, no-repeat;
      background-size: 79px 120.5px, 132.5px 148px;
      background-position-x: 18px, -1px;
      background-position-y: 127px, 17px;
      padding-top: 31px;
      padding-bottom: 10px; } }
  .p-index_1 .c-title {
    margin-bottom: 92px; }
    @media screen and (max-width: 768px) {
      .p-index_1 .c-title {
        margin-bottom: 193px; }
        .p-index_1 .c-title h2 {
          font-size: 1.8rem;
          line-height: 1.8rem; }
        .p-index_1 .c-title p {
          font-size: 1.1rem;
          line-height: 1.1rem; } }
  .p-index_1__content {
    width: 420px; }
    @media screen and (max-width: 768px) {
      .p-index_1__content {
        width: 100%; } }
    .p-index_1__content h3 {
      font-size: 1.8rem;
      margin-bottom: 42px;
      letter-spacing: 1px; }
      @media screen and (max-width: 768px) {
        .p-index_1__content h3 {
          font-size: 1.5rem;
          margin-bottom: 17px; } }
    .p-index_1__content p {
      font-weight: 500;
      letter-spacing: 0.4px; }
      @media screen and (max-width: 768px) {
        .p-index_1__content p {
          font-size: 1rem;
          line-height: 2.1rem;
          letter-spacing: 0.8px; } }
  .p-index_1 .c-img_bg {
    top: 92px;
    right: 0; }
    @media screen and (max-width: 768px) {
      .p-index_1 .c-img_bg {
        top: 101px; } }

.p-index_2 {
  display: flex;
  background-image: url(../img/pc/elephant.png), url(../img/pc/letter_T.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: right, calc(100% - 108px);
  background-position-y: 291px, 88px;
  padding-top: 120px;
  padding-bottom: 80px; }
  @media screen and (max-width: 768px) {
    .p-index_2 {
      background-image: url(../img/sp/elephant.png), url(../img/sp/letter_T.png);
      background-size: 82px 125.5px, 140px 149.5px;
      background-position-x: right, left;
      background-repeat: no-repeat, no-repeat;
      background-position-y: 25px, 3px;
      padding-top: 53px;
      padding-bottom: 0; } }
  .p-index_2 .l-container__narrow {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse; }
    @media screen and (max-width: 768px) {
      .p-index_2 .l-container__narrow {
        display: block;
        max-width: 100%;
        padding: 0; } }
    .p-index_2 .l-container__narrow .c-title {
      margin-top: 88px;
      margin-right: 65px; }
      @media screen and (max-width: 768px) {
        .p-index_2 .l-container__narrow .c-title {
          margin-top: 0;
          margin-bottom: 51px;
          margin-right: 0; }
          .p-index_2 .l-container__narrow .c-title h2 {
            font-size: 1.8rem;
            line-height: 1.8rem; } }

.p-index_3 {
  display: flex;
  background-image: url(../img/pc/tiger.png), url(../img/pc/letter_F.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: left, 8px;
  background-position-y: calc(100% - 2px), 60px;
  padding-top: 27px; }
  @media screen and (max-width: 768px) {
    .p-index_3 {
      background-image: url(../img/sp/tiger.png), url(../img/sp/letter_F.png);
      background-size: 97.5px 200.5px, 115.5px 143px;
      background-repeat: no-repeat, no-repeat;
      background-position-x: left, calc(100% - -7px);
      background-position-y: -23px, 30px;
      padding-top: 70px; } }
  .p-index_3 .l-container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .p-index_3 .l-container {
        flex-direction: column; } }
    .p-index_3 .l-container .c-title {
      margin-top: 5px;
      margin-left: 102px; }
      @media screen and (max-width: 768px) {
        .p-index_3 .l-container .c-title {
          margin-top: 0;
          margin-bottom: 55px;
          margin-left: 0; } }

.p-index_4 {
  display: flex;
  background-image: url(../img/pc/hawk.png), url(../img/pc/letter_M.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: calc(100% - 69px), calc(100% - 19px);
  background-position-y: calc(100% - 22px), 69px;
  padding-top: 187px;
  padding-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .p-index_4 {
      background-image: url(../img/sp/hawk.png), url(../img/sp/letter_M.png);
      background-size: 99.5px 75.5px, 188.5px 143px;
      background-repeat: no-repeat, no-repeat;
      background-position-x: calc(100% - 12px), -9px;
      background-position-y: 67px, 23px;
      padding-top: 49px;
      padding-bottom: 0; } }
  .p-index_4__content {
    margin-top: 8px;
    margin-left: 65px; }
    @media screen and (max-width: 768px) {
      .p-index_4__content {
        padding: 0 17.5px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 23px; } }
  .p-index_4 .l-container__full {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; }
    @media screen and (max-width: 768px) {
      .p-index_4 .l-container__full {
        flex-direction: column; } }
    .p-index_4 .l-container__full .c-title {
      margin-bottom: 79px; }
    .p-index_4 .l-container__full div:not(.c-title) p {
      line-height: 2.7rem;
      letter-spacing: 1px; }
      @media screen and (max-width: 768px) {
        .p-index_4 .l-container__full div:not(.c-title) p {
          font-size: 1rem;
          line-height: 2.1rem; } }

.p-index_5 {
  display: flex;
  background: url(../img/pc/letter_A.png) no-repeat;
  background-position-x: -5px;
  background-position-y: 242px;
  padding-top: 83px;
  padding-bottom: 281px; }
  @media screen and (max-width: 768px) {
    .p-index_5 {
      background: url(../img/sp/letter_A.png) no-repeat;
      background-size: 160px 160.5px;
      background-position-x: calc(100% - -19px);
      background-position-y: 12px;
      padding-top: 34px;
      padding-bottom: 98px; } }
  .p-index_5 .l-container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .p-index_5 .l-container {
        flex-direction: column; } }
    .p-index_5 .l-container .c-title {
      margin-left: 101px; }
      @media screen and (max-width: 768px) {
        .p-index_5 .l-container .c-title {
          margin-left: 0; } }
    .p-index_5 .l-container .c-table_about {
      margin-top: 5px; }
      @media screen and (max-width: 768px) {
        .p-index_5 .l-container .c-table_about {
          margin-top: 35px; } }

.p-page {
  position: relative;
  background: #F3F3F3; }

.p-page_banner {
  background: grey;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 474px; }
  @media screen and (max-width: 768px) {
    .p-page_banner {
      margin-top: 58.5px;
      height: 213.5px; } }
  .p-page_banner h2 {
    font-size: 3.4rem;
    letter-spacing: 3.5px;
    color: #fff;
    margin-top: 28px; }
    @media screen and (max-width: 768px) {
      .p-page_banner h2 {
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-top: 0; } }

.p-page_content {
  display: flex;
  padding-top: 70px;
  padding-bottom: 110px; }
  @media screen and (max-width: 768px) {
    .p-page_content {
      padding-top: 30px;
      padding-bottom: 80px; } }
  .p-page_content__title {
    font-size: 4rem;
    line-height: 7rem;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 64px; }
    @media screen and (max-width: 768px) {
      .p-page_content__title {
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 1px;
        margin-bottom: 42px; } }
    .p-page_content__title span {
      font-size: 4rem; }
      @media screen and (max-width: 768px) {
        .p-page_content__title span {
          font-size: 2.6rem; } }
    @media screen and (max-width: 768px) {
      .p-page_content__title {
        margin-bottom: 32px;
        font-size: 2rem; } }
  .p-page_content__date {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 8px;
    margin-bottom: 32px; }
    @media screen and (max-width: 768px) {
      .p-page_content__date {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 16px; } }
    .p-page_content__date span {
      display: flex; }
      .p-page_content__date span a {
        color: #000;
        transition: 0.35s; }
        .p-page_content__date span a:hover {
          color: grey; }
      .p-page_content__date span ul {
        display: flex; }
        .p-page_content__date span ul li {
          margin: 0 4px; }
    .p-page_content__date span:nth-child(2) {
      width: 50%;
      justify-content: flex-end; }
      @media screen and (max-width: 768px) {
        .p-page_content__date span:nth-child(2) {
          width: 100%;
          justify-content: flex-start; } }
  .p-page_content__content {
    margin-bottom: 84px; }
    @media screen and (max-width: 768px) {
      .p-page_content__content {
        margin-bottom: 34px; } }
    .p-page_content__content a {
      color: #000; }

/*# sourceMappingURL=style.css.map */
