@charset "UTF-8";
@media only screen and (max-width: 736px) {
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
	body {
		min-width: 320px !important;
	}
	.top_space {
		height: (10px/2);
	}

	.l-main {
		.banner {
			height: (260px/2);
			margin-top: -13px;
			p {
				padding-top: 40px;
				span {
					font-size: (3.6rem/2);
					line-height: (5.04rem/2);
					letter-spacing: 0px;
					br {display: block;}
				}
			}
		}
		.tv-content_1 {
			section {
				width: 90.625%;
				margin: 0 auto;
				h2 {
					font-size: (3.6rem/2);
					margin-top: 28px;
				}
				h6 {
					margin-top: 11px;
					font-size: 0.4rem;
				}
				p {
					margin-top: 14px;
					font-size: (2.8rem/2);
					line-height: (4.48rem/2);
				}
			}
		}
		#tv-table {display: none;}
		#tv-table_sp {
			display: block;
			margin: 17px 0 37px 0;
			div {
				width: 90.625%;
				margin: auto;
				a {
					background-color: #0F5C9B;
					color: white;
					font-size: (2.8rem/2);
					display: block;
					padding: 12px 0 12px 0;
				}
				p {
					text-align: left;
					padding: 8px 10px 8px 10px;
					border: 1px solid #CCCCCC;
				}
			}
		}
		.tv-content_2 {
			padding: 32px 0 11px 0;
			section {
				h2 {
					font-size: (3.6rem/2);
					margin-top: -1px;
				}
				h6 {
					margin-top: 11px;
					margin-bottom: 14px;
					font-size: 0.4rem;
				}
			}
			._content {
				max-width: (580px/2);
				width: 81.5%;
				display: block;
				margin-top: 0;
				margin-bottom: 13px;
				padding: 14px 14px 14px 14px;
				._col1 {
					float: none;
					width: 100%;
					margin: auto;
					p {
						margin-top: 11px;
						margin-bottom: 12px;
						font-size: (2.8rem/2);
						line-height: (4.48rem/2);
						letter-spacing: -1px;
						a {
							letter-spacing: -3px;
						}
					}
					div {
						display: block;
						float: none;
						margin: 12px auto 20px auto;
						span {
							margin: 0 auto;
							display: inline-block;
							width: 77%;
							letter-spacing: -1px;
							padding-top: 9px;
							padding-bottom: 9px;
							img {
								margin: auto;
								height: 29px;
							}
						}
						a {
							padding: 14px 18px 13px 49px;
							margin-top: 10px;
							font-size: (2.6rem/2);
							letter-spacing: 0px;
							background-position-x: 31px !important;
							background-size: (29px/2) (22px/2) !important;
							background: #ffed4d url(../img/sp/mail.png) no-repeat left center;
						}
					}
				}
				._col2 {
					float: none;
					width: 100%;
					margin: 0;
					img {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
		.tv-content_3 {
			margin: 24px auto 28px auto;
			img {
				margin: auto;
				width: 90.625%;
			}
			p {
				margin: 9px auto auto auto;
				width: 77%;
				font-size: (2.8rem/2);
				line-height: 2.4rem;
				a {
					font-size: (3.8rem/2);
				}
			}
		}
	}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
	#header {
		max-width: 100%;
		padding: 0 0 (10px/2);
		.c_header-logo {
			margin-left: 18px;
			margin-top: 10px;
			a img {
				height: (78px/2);
				width: auto;
			}
		}
		div {
			display: none;
		}
	}
	//menu button
	.c_header-menu_btn {
		display: block !important;
		position: absolute;
		right: (20px/2);
		top: (18px/2);
		background-color: #0F5C9B;
		padding: (18px/2) (20px/2) (23px/2) (20px/2);
		border-radius: (10px/2);
	}
	.bar1, .bar2, .bar3 {
		width: (40px/2);
		height: (7px/2);
		background-color: white;
		transition: 0.4s;
		display: block !important;
		margin: (6px/2) 0 0 0 !important;
	}
	.transBar {
		.bar1 {
    		-webkit-transform: rotate(-45deg) translate(-3.5px, 3px);
    		transform: rotate(-45deg) translate(-3.5px, 3px);
		}
		.bar2 {
    		opacity: 0;
  		}
  		.bar3 {
    		-webkit-transform: rotate(45deg) translate(-5px, -6px);
    		transform: rotate(45deg) translate(-5px, -6px);
  		}
	}
	//menu navi sp
	#header-navi_sp {
		display: none;
		position: absolute;
		width: 100%;
		top: (120px/2);
		background-color: #0F5C9B;
		height: auto;
		padding-bottom: (61px/2);
		z-index: 99;
		ul {
			display: block !important;
			padding-top: (61px/2);
			border-bottom: (2px/2) dotted white;
			margin: 0 8% 0 8%;
			li {
				position: relative;
				border-top: (2px/2) dotted white;
				a {
					display: block;
					color: white;
					font-size: (3rem/2);
					line-height: (3.6rem/2);
					padding: (23px/2) 0 (30px/2) (23px/2);
					text-align: left;
				}
			}
			li::before {
				color: white;
				content: "\25B6";
				margin-right: (1rem/2);
				font-size: (1.6rem/2);
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: (-1.3rem/2);
			}
		}
	}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
	#gNavi {
		display: none;
	}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
	#pagePath {
		display: none;
	}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
	#conts {

	}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

	#sideBar {

	}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

	#footer {
		.c_footer-contact {
			height: auto;
			background: url(../img/sp/banner-footer.png) no-repeat center;
			background-size: cover;
			background-position: bottom;
			display: inline-block;
			.c_footer-contact_1 {
				display: inline-block;
				padding-top: 35px;
				letter-spacing: 3px;
				a {
					display: flex;
					p {
						width: (550px/2);
						border-width: 1px;
						font-size: (2.6rem/2);
						padding: 2px 6px 3px 6px;
					}
				}
			}
			.c_footer-contact_2 {
				width: 90%;
				margin: auto;
				div {
					p {
						margin-top: 17px;
						font-size: (2.8rem/2);
						line-height: (3.92rem/2);
						h1 {
							font-size: (2.8rem/2);
						}
					}

				}
			}
			.c_footer-contact_3 {
				width: 100%;
				display: inline-block;
				text-align: center;
				margin-top: 22px;
				margin-bottom: 58px;
				div {
					margin: auto;
					float: none;
					margin: 3px auto 13px auto;
					padding: 0;
					p {
						font-size: 1rem;
						letter-spacing: -0.5px;
					}
					img {
						margin: auto;
					}
				}
				a {
					display: inline-block;
					float: none;
					margin: 0 auto;
					color: #fd7e00;
					background-position-x: 25px !important;
					padding: 13px 24px 13px 43px;
					font-size: (2.6rem/2);
					background-size: (29px/2) (22px/2) !important;
					background: #ffed4d url(../img/sp/mail.png) no-repeat left center;
				}
			}
		}
		.c_footer-nav {
			height: auto;
			div {
				width: 85%;
				margin: auto;
				padding-top: 16px;
				padding-bottom: 15px;
				p {
					font-size: (2rem/2);
					line-height: (3.4rem/2);
				}
			}
		}
		.c_footer-copyright {
			height: 45px;
			padding-top: 9px;
			p{
				font-size: 1rem;
			}
		}
	}
}