@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l-
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 980px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	text-align: center;
}
.top_space {
	height: 4px;
	background-color: #0F5C9B;
	width: 100%;
}

.l-main {
	margin: 0 auto;
	background-color: white;
	position: relative;
	.banner {
		width: 100%;
		height: 160px;
		background: url(../img/pc/banner-tv_header.png) no-repeat center;
		box-shadow:inset 0 0 0 358px rgba(15,92,155,0.75);
		background-size: cover;
		position: relative;
		p {
			padding-top: 69px;
			span {
				font-size: 2.8rem;
				letter-spacing: 1.2px;
				color: white;
				display: inline-block;
				br {display: none;}
			}
		}
	}
	.tv-content_1 {
		section {
			h2 {
				font-size: 2.6rem;
				color: #111111;
				margin-top: 48px;
			}
			h6 {
				margin-top: 15px;
			}
			p {
				color: #525252;
				margin-top: 46px;
			}
		}
	}
	#tv-table {
		font-size: 1.6rem;
		margin: 42px auto 80px auto;
		width: 950px;
		border: 1px solid #CCCCCC;
		border-collapse: collapse;
		thead {
			background-color: #0E5B9A;
			border: 1px solid #CCCCCC;
			tr {
				th {
					color: white;
					padding: 15px 0 15px 0;
					border: 1px solid #CCCCCC;
				}
			}
		}
		tbody {
			background-color: white;
			border: 1px solid #CCCCCC;
			text-align: left;
			tr {
				th {
					border: 1px solid #CCCCCC;
					color: #111111;
					padding: 19px 23px 71px 17px;
					font-size: 1.6rem;
					line-height: 2.56rem;
				}
			}
		}
	}
	#tv-table_sp{display: none;}
	.tv-content_2 {
		padding: 32px 0 103px 0;
		background-color: #EEEEEE;
		section {
			h2 {
				font-size: 2.6rem;
				color: #111111;
				margin-top: 34px;
			}
			h6 {
				margin-top: 15px;
			}
		}
		._content {
			display: flex;
			margin: 43px auto -13px auto;
			max-width: 900px;
			text-align: left;
			background-color: white;
			padding: 25px 25px 25px 25px;
			._col1 {
				float: left;
				display: inline-block;
				width: 620px;
				p {
					margin-top: 26px;
					float: none;
					display: block;
					color: #111111;
					font-size: 1.6rem;
					line-height: 2.56rem;
					a {
						color: #0E5B9A;
						font-weight: bold;
					}
				}
				div {
					margin-right: 25px;
					display: flex;
					float: right;
					span {
						margin: 28px 13px 0 0;
						border: 1px solid #0E5B9A;
						padding: 0px 30px 0px 30px;
						font-size: 1rem;
						color: #0E5B9A;
						img {
							display: block;
							margin-bottom: 5px;
						}
					}
					a {
						background-position-x: 23px;
						margin-top: 28px;
						padding: 18px 18px 13px 54px;
						font-size: 1.6rem;
						letter-spacing: 0px;
					}
				}
			}
			._col2 {
				float: right;
				display: inline-block;
				img {
					width: 280px;
					height: auto;
				}
			}
		}
	}
	.tv-content_3 {
		margin: 61px auto 77px auto;
		display: block;
		max-width: 900px;
		p {
			margin-top: 49px;
			font-size: 1.6rem;
			color: #525252;
			a{
				font-size: 2.2rem;
				color: #0F5C9B;

			}
		}
	}
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
	background-color: white;
	position: relative;
	max-width: 950px;
	margin: auto;
	.c_header-logo {
		margin: 19px 6px;
		a img {
			height: 77px;
			width: auto;
		}
	}
	.c_header-contact {
		margin: 35px 0 0 23px;
		p {
			font-size: 1rem;
			letter-spacing: 0px;
			text-align: right;
		}
	}
	.c_header-menu_btn {display: none;}
	#header-navi_sp {
		display: none;
		ul {display: none;}
	}
}
/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
	float: left;
	display: flex;
	margin: 1px 0 0 1px;
	div {
		width: 1px;
		height: 40px;
		background-color: #DEDDDD;
		float: left;
		margin: 0;
		padding: 0;
	}
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	padding: 10px 0 10px 0;
	text-align: left;
	width: 100%;
	margin: auto;
	p {
		margin: auto;
		display: inline;
		font-size:  1.2rem;
		color: #000;
		max-width: 950px;
		display: block;
		a {
			margin-right: 5px;
			color: #0C5999;
			text-decoration: underline;
		}
	}
	hr {
		border-top: 1px solid #DDDDDD;
		border-bottom: none;
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	width: 100%;
	background-color: #0F5C9B;
	.c_footer-contact {
		width: 100%;
		height: 358px;
		background: url(../img/pc/banner-footer.png) no-repeat center;
		box-shadow:inset 0 0 0 358px rgba(15,92,155,0.6);
		.c_footer-contact_1 {
			padding-top: 60px;
			a p {
				width: 460px;
				margin: auto;
				color: white;
				border: 1px solid white;
				padding: 15px 10px 15px 10px;
				font-size: 2.4rem;
				line-height: 2.88rem;
				display: block;
			}
		}
		.c_footer-contact_2 {
			margin-top: 29px;
			div {
				p {
					color: white;
					font-size: 1.6rem;
					line-height: 2.24rem;
					a {
						color: #FFFF4C !important;
					}
				}
			}
		}
		.c_footer-contact_3 {
			margin: 35px auto 0 auto;
			width: 613px;
			div {
				float: left;
				margin-right: 12px;
				padding-left: 29px;
				p {
					color: white;
					font-size: 1.2rem;
				}
			}
			a {
				display: inline-block;
				float: right;
				margin-right: -33px;
				color: #fd7e00;
				background: #ffed4d url(../img/pc/mail-footer.png) no-repeat left center;
				background-position-x: 20px;
				padding: 16px 20px 16px 53px;
				display: block;
				font-size: 1.6rem;
				letter-spacing: 0px;
			}
		}
	}
	.c_footer-nav {
		width: 100%;
		height: 119px;
		background-color: #CCCCCC;
		div {
			padding-top: 35px;
			p {
				font-size: 1.6rem;
				line-height: 2.5rem;
				color: #222222;
				a {
					color: #222222;
					margin: 0 4px 0 4px;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.c_footer-copyright {
		padding-top: 18px;
		width: 100%;
		height: 50px;
		background-color: white;
		color: #212121;
		font-size: 1.4rem;
	}
}