@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }
.vTop { vertical-align: top !important;}
.vMiddle { vertical-align: middle !important;}

/* font weight */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

a {text-decoration: none;}
/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
	display: none;
}

//Custom
/*------------------------------------------------------------
	Effects
------------------------------------------------------------*/
.hoverEffect:hover {
	opacity: 0.7;
	transition: .2s;
}
/*------------------------------------------------------------
	Floats
------------------------------------------------------------*/
.Fleft {float: left !important;}
.Fright {float: right !important;}
/*------------------------------------------------------------
	Retina
------------------------------------------------------------*/
.retina {display: none !important;}
@media only screen and (max-width: 736px) {
	.nonretina {display: none !important;}
	.retina {display: block !important;}
}