@charset "UTF-8";
@import "vars";	// variable
@import "functions"; // function
@import "reset"; // default
@import "utilities";	// utility
@import "layout"; // Layout
@import "layout-responsive";

// Common parts, Common component
// Don't use id, Please use class and adding prefix .c-
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
h1 {
	color: black;
	font-size: 2rem;
}
h2 {
	font-size: 1.2rem;
	color: #0E5B9A;
}
h6 {
	font-size: 0.4rem;
	letter-spacing: 2px;
	color: #0E5B9A;
}
p {
	font-size: 1.6rem;
	line-height: 2.24rem;
	color: #555555;
}

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
#top-btn {
	position: fixed;
	bottom: 215px;
	right: 16.9%;
	cursor: pointer;
	display: none;
}
.mail-btn {
	color: #fd7e00;
	background: #ffed4d url(../img/pc/mail-header.png) no-repeat left center;
	background-position-x: 15px;
	padding: 13px 19px 13px 45px;
	display: block;
	font-size: 1.68rem;
	letter-spacing: -3px;
}
@media only screen and (max-width: 736px) {
	#top-btn {display: none !important;}
	h {
		font-size: (3.8rem/2);
		line-height: (4.94rem/2);
	}
	p {
		font-size: (2.8rem/2);
		line-height: (4.48rem/2);
		color: #555555;
	}
}