@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.l-main {
	.index-banner {
		background: url(../img/pc/banner-header.jpg) no-repeat center;
		width: 100%;
		height: 420px;
		margin: auto;
		position: relative;
		img {
			margin-top: 160px;
		}
	}
	.index-content_1 {
		display: flex;
		position: relative;
		margin: 79px auto 80px auto;
		width: 777px;
		padding: 40px 140px 22px 32px;
		border: 1px solid #DDDDDD;
		._col1 {
			float: left;
			padding-right: 66px;
			margin-left: 30px;
			img {
				display: block;
				margin: auto;
				margin-bottom: 12px;
			}
		}
		._col2 {
			border-left: 1px solid #DDDDDD;
			padding: 0px 10px 10px 40px;
			text-align: left;
			float: left;
			h1 {
				font-size: 1.6rem;
				line-height: 1.9rem;
				color: #0E5B9A;
				a {
					color: black;
					text-decoration: underline;
				}
			}
		}
	}
	.index-content_2 {
		background-color: #EEEEEE;
		img {
			margin-top: 58px;
		}
		p {
			margin-top: 35px;
		}
		div {
			max-width: 980px;
			display: flex;
			margin: 2px auto auto auto;
			a {
				margin: 3px 53px 76px 53px;
				display: inline-flex;
			}
		}
	}
	.index-content_3 {
		display: flex;
		max-width: 1038px;
		margin: 15px auto auto auto;
		img {
			float: left;
			margin-right: 32px;
		}
		div {
			text-align: left;
			margin: 63px 0 0 33px;
			div p {
				margin: 20px auto 30px -33px;
				display: inline-block;
			}
		}
	}
}

//------------------------------------------------------------
//	R E S P O N S I V E
//------------------------------------------------------------
@media only screen and (max-width: 736px) {
	.l-main {
		.index-banner {
			height: (420px/2);
			background-size: cover;
			background-image: url(../img/sp/banner-header.jpg);
			background-position: center bottom;
			margin: -13px auto;
			img {
				padding-top: 48px;
				max-width: 270px;
				margin: 0 auto;
			}
		}
		.index-content_1 {
			padding: 0;
			margin: 39px 0 32px 0;
			width: 89%;
			display: inline-block;
			._col1 {
				width: 100%;
				display: inline-block;
				padding: 0;
				margin: 18px auto 13px auto;
				div {
					margin: 3px;
				}
			}
			._col2 {
				width: 89.16%;
				border: none;
				display: inline-block;
				padding: 0 0 7px 0;
				margin: auto;
				border-bottom: 1px dotted #CCCCCC;
				float: none;
				h1 {
					border-top: 1px dotted #CCCCCC;
					padding: 6px 0 9px 0;
					margin: -4px 0 -6px 0;
					a {
						display: flex;
						margin-top: 3px;
						font-weight: 500;
						letter-spacing: -2px;
					}
				}
			}
			a img {margin: 16px auto 23px auto;}
		}
		.index-content_2 {
			display: block;
			margin: auto;
			padding-top: 29px;
			img {
				margin: auto;
			}
			p{
				margin: 12px auto auto auto;
				width: 90.625%;
			}
			div {
				width: 100%;
				max-width: 100%;
				display: inline-block;
				margin: 23px auto 28px auto;
				a {
					margin: auto 16px auto -11px;
				}
			}
		}
		.index-content_3 {
			display: inline-block;
			width: 90.625%;
			margin: auto;
			padding-top: 29px;
			div {
				margin: 0 0 -9px 0;
				div {
					text-align: center;
					margin: 0px auto 10px auto;
					p {
						margin: 16px auto auto auto;
						width: 90.625%;
					}
				}
				img {
					margin: 0 auto;
					float: none;
				}
				a {
					margin: 20px;
				}
			}
		}
	}
}
