@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

html {
  font-size: 62.5%; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Osaka, sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.sp {
  display: none !important; }

@media only screen and (max-width: 736px) {
  .pc {
    display: none !important; }

  .sp {
    display: block !important; } }
.floatLeft {
  float: left !important; }

.floatRight {
  float: right !important; }

@media only screen and (max-width: 736px) {
  .floatLeft {
    float: none !important; }

  .floatRight {
    float: none !important; } }
.hoverEffect:hover {
  opacity: 0.7;
  transition: 0.2s; }

p {
  color: #231815; }

.p16_28 {
  font-size: 1.6rem;
  line-height: 2.8rem; }

.p16_24 {
  font-size: 1.6rem;
  line-height: 2.4rem; }

.p16_33 {
  font-size: 1.6rem;
  line-height: 3.3rem;
  color: #000; }

.p14 {
  font-size: 1.4rem; }

.p20 {
  font-size: 2rem;
  font-weight: bold; }

.p12 {
  font-size: 1.2rem;
  font-weight: bold; }

.p30 {
  font-size: 3rem;
  font-weight: bold; }

@media only screen and (max-width: 736px) {
  .p16_28 {
    font-size: 1.2rem;
    line-height: 1.8rem; }

  .p16_24 {
    font-size: 1.2rem;
    line-height: 1.8rem; }

  .p16_33 {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -0.66px; }

  .p14 {
    font-size: 1rem; }

  .p20 {
    font-size: 1.5rem; }

  .p12 {
    font-size: 0.9rem; }

  .p30 {
    font-size: 2.05rem; } }
.marginBot_1 {
  margin-bottom: 29px; }

.marginBot_2 {
  margin-bottom: 40px; }

.marginBot_3 {
  margin-bottom: 90px; }

.marginBot_4 {
  margin-bottom: 82px; }

.marginBot_5 {
  margin-bottom: 63px; }

@media only screen and (max-width: 736px) {
  .marginBot_1 {
    margin-bottom: 35px; }

  .marginBot_2 {
    margin-bottom: 25px; }

  .marginBot_3 {
    margin-bottom: 63px; }

  .marginBot_4 {
    margin-bottom: 75px; }

  .marginBot_5 {
    margin-bottom: 35px; }

  .marginTop_x {
    margin-top: 15px; } }
header img {
  display: block;
  margin: auto; }
  @media screen and (max-width: 736px) {
    header img {
      width: 100%;
      height: auto; } }
header #gNav {
  margin: 0 auto 15px auto;
  width: 1200px;
  display: flex; }
  @media screen and (max-width: 736px) {
    header #gNav {
      display: none; } }
  header #gNav ul {
    border-right: 1px solid #000; }
    header #gNav ul li {
      float: left;
      border-left: 1px solid #000; }
      header #gNav ul li a {
        width: auto;
        height: 57px;
        float: left; }
      header #gNav ul li a:hover {
        opacity: 0.35;
        transition: 0.2s; }

footer img {
  display: block;
  margin: auto;
  width: 1300px;
  height: auto; }
  @media screen and (max-width: 736px) {
    footer img {
      width: 100%; } }

body {
  background: #fff; }

.banner {
  text-align: center;
  margin: 10px auto auto auto; }
  .banner img {
    width: 1200px;
    height: 400px; }
  @media screen and (max-width: 736px) {
    .banner {
      margin: 0;
      width: 100%;
      height: auto; }
      .banner img {
        width: 100%;
        height: auto; } }

.l-main {
  width: 1300px;
  padding-bottom: 70px;
  margin: auto; }
  @media screen and (max-width: 736px) {
    .l-main {
      width: 100%; } }

.container {
  max-width: 1100px;
  margin: auto;
  height: auto; }
  @media screen and (max-width: 736px) {
    .container {
      max-width: 650px;
      padding: 0 25px; } }

.c-about {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 95px; }
  @media screen and (max-width: 736px) {
    .c-about {
      margin: 20px auto 37px auto; } }

.c-collection {
  display: inline-block;
  width: 100%; }
  .c-collection ._info {
    width: 523px;
    height: 607px;
    position: relative;
    margin: auto; }
    @media screen and (max-width: 736px) {
      .c-collection ._info {
        width: 325px;
        height: auto; }
        .c-collection ._info .c-title {
          display: block;
          margin-top: 14px; }
          .c-collection ._info .c-title img {
            width: auto;
            height: 121.25px; } }
    .c-collection ._info p.p16_24 {
      margin-top: 38px;
      margin-bottom: 33px; }
      @media screen and (max-width: 736px) {
        .c-collection ._info p.p16_24 {
          margin-top: 22px;
          margin-bottom: 21px; } }
    @media screen and (max-width: 736px) {
      .c-collection ._info a.btn-white {
        display: block;
        margin-top: -10px; }
        .c-collection ._info a.btn-white img {
          width: 325px;
          height: auto; } }
    @media screen and (max-width: 736px) and (max-width: 736px) {
      .c-collection ._info a.btn-white img {
        width: 326.75px; } }

    .c-collection ._info ._price {
      position: absolute;
      left: 17px;
      bottom: 64px; }
      @media screen and (max-width: 736px) {
        .c-collection ._info ._price {
          position: relative !important;
          bottom: 0 !important;
          left: 0 !important;
          margin-top: 17px; } }
      .c-collection ._info ._price p.p12 {
        margin-bottom: 9px; }
      .c-collection ._info ._price p.p20 {
        margin-bottom: 19px; }
        @media screen and (max-width: 736px) {
          .c-collection ._info ._price p.p20 {
            padding-top: 3px;
            margin-bottom: 9px !important; } }
        .c-collection ._info ._price p.p20 img {
          vertical-align: bottom; }
          @media screen and (max-width: 736px) {
            .c-collection ._info ._price p.p20 img {
              float: left;
              position: relative;
              top: -10px;
              padding-right: 6px;
              width: 46.25px;
              height: auto; } }
      .c-collection ._info ._price p.p14 {
        margin-bottom: 14px; }
        @media screen and (max-width: 736px) {
          .c-collection ._info ._price p.p14 {
            margin-bottom: 3px !important; } }
    .c-collection ._info ._button {
      position: absolute;
      right: 0;
      bottom: 0; }
      @media screen and (max-width: 736px) {
        .c-collection ._info ._button {
          position: relative !important;
          margin-top: 16px; } }
      .c-collection ._info ._button a {
        margin-left: 6px;
        float: left; }
        @media screen and (max-width: 736px) {
          .c-collection ._info ._button a {
            display: block;
            margin: 0 0 6px 0 !important; } }
        @media screen and (max-width: 736px) {
          .c-collection ._info ._button a img {
            width: 325px;
            height: auto; } }

.c-content_1 {
  display: inline-block;
  background: #DFE7EC;
  border-radius: 10px;
  padding: 72px 72px 71px 72px; }
  @media screen and (max-width: 736px) {
    .c-content_1 {
      display: block;
      width: 325px;
      padding: 1px 0 25px 0;
      margin-left: auto;
      margin-right: auto;
      border-radius: 6px; } }
  .c-content_1 ._col1 {
    position: relative;
    width: 416px;
    margin-right: 39px; }
    @media screen and (max-width: 736px) {
      .c-content_1 ._col1 {
        width: 295px;
        margin: auto; } }
    .c-content_1 ._col1 a.c-title {
      display: block;
      text-align: center;
      margin-top: 13px; }
      @media screen and (max-width: 736px) {
        .c-content_1 ._col1 a.c-title {
          display: block;
          margin-top: 14px; } }
      @media screen and (max-width: 736px) {
        .c-content_1 ._col1 a.c-title img {
          width: 132.25px;
          height: auto;
          margin: auto; } }
    .c-content_1 ._col1 p {
      margin-top: 28px; }
      @media screen and (max-width: 736px) {
        .c-content_1 ._col1 p {
          margin-top: 17px; } }
    .c-content_1 ._col1 a.btn {
      display: block;
      margin-top: 34px; }
  @media screen and (max-width: 736px) {
    .c-content_1 a.btn {
      display: block;
      width: 295px;
      margin: 18px auto 0 auto; }
      .c-content_1 a.btn img {
        width: 295px;
        height: auto; } }
  .c-content_1 ._col2 {
    position: relative; }
    @media screen and (max-width: 736px) {
      .c-content_1 ._col2 {
        width: 295px;
        margin: -18px auto 0 auto; } }
    @media screen and (max-width: 736px) {
      .c-content_1 ._col2 img {
        width: 295px;
        height: auto; } }

.c-content_tiny {
  display: block;
  text-align: center; }
  @media screen and (max-width: 736px) {
    .c-content_tiny img {
      width: 325px;
      height: auto;
      margin: auto; } }

.swiper-container {
  width: 523px;
  height: 640px; }
  @media screen and (max-width: 736px) {
    .swiper-container {
      width: 326.5px;
      height: 405px; } }

.swiper-pagination-bullet {
  width: 9.3px !important;
  height: 9.3px !important;
  background: #CAD1D7 !important; }
  @media screen and (max-width: 736px) {
    .swiper-pagination-bullet {
      width: 6px !important;
      height: 6px !important; } }

.swiper-pagination-bullet-active {
  background: #9F9F9F !important;
  opacity: 1 !important; }

.swiper-slide img {
  width: 524px;
  height: auto; }
  @media screen and (max-width: 736px) {
    .swiper-slide img {
      width: 100%; } }

.swiper-button-next, .swiper-button-prev {
  width: 30px !important;
  height: 76px !important;
  background-size: 30px 76px !important; }
  @media screen and (max-width: 736px) {
    .swiper-button-next, .swiper-button-prev {
      width: 18.5px !important;
      height: 47.5px !important;
      background-size: 18.5px 47.5px !important; } }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  top: 44.5% !important;
  left: 23px !important; }
  @media screen and (max-width: 736px) {
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      top: 46% !important;
      left: 15px !important; } }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  top: 44.5% !important;
  right: 23px !important; }
  @media screen and (max-width: 736px) {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      top: 46% !important;
      right: 15px !important; } }

@media screen and (max-width: 736px) {
  .btn-top {
    position: fixed;
    bottom: 16px;
    right: 10px;
    z-index: 99;
    display: none; }
    .btn-top img {
      width: 50px;
      height: auto; } }

/*# sourceMappingURL=common.css.map */
