@charset "UTF-8";

//================================================================
//		 B A S E
//================================================================
//________________________________________________________
@import "0_base/_vars";
@import "0_base/_reset";
@import "0_base/_mixin";
@import "0_base/_utilities";

//________________________________________________________
.pc_only {
  //---- 📱 SP ----
  @include sp {
    display: none;
  }
}

//________________________________________________________
.sp_only {
  display: none;

  //---- 📱 SP ----
  @include sp {
    display: block;
  }
}

//================================================================
//		 L A Y O U T
//
//		.l-
//================================================================
//________________________________________________________
@import "1_layout/_01_header";
@import "1_layout/_02_banner";
@import "1_layout/_03_breadcrumb";
@import "1_layout/_04_layout";
@import "1_layout/_05_footer";

//================================================================
//		 C O M P O N E N T
//
//		.c-
//================================================================
//________________________________________________________
@import "2_component/_01_title";
@import "2_component/_02_btn";
@import "2_component/_03_navi";
@import "2_component/_04_txt";
@import "2_component/_05_img";
@import "2_component/_06_txt_img";
@import "2_component/_07_table";
@import "2_component/_08_form";
@import "2_component/_09_slide";
@import "2_component/_99_misc";

//================================================================
//		 P R O J E C T
//
//		.p-
//================================================================
//________________________________________________________
@import "3_project/_01_index";

//<!--
//________________________________
//-->

//<!--
//________________________________________________________
//-->

//<!-- 💻 PC -->

//<!-- 📱 SP -->

//--------------------------------

//▼

//▲
