@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

html {
  font-size: 62.5%; }

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important; }

.taCenter {
  text-align: center !important; }

.taRight {
  text-align: right !important; }

.vTop {
  vertical-align: top !important; }

.vMiddle {
  vertical-align: middle !important; }

/* font weight */
.fwNormal {
  font-weight: normal !important; }

.fwBold {
  font-weight: bold !important; }

a {
  text-decoration: none; }

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    clear: both;
    content: ""; }

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none; }

/*------------------------------------------------------------
	Effects
------------------------------------------------------------*/
.hoverEffect:hover {
  opacity: 0.7;
  transition: .2s; }

/*------------------------------------------------------------
	Floats
------------------------------------------------------------*/
.Fleft {
  float: left !important; }

.Fright {
  float: right !important; }

/*------------------------------------------------------------
	Retina
------------------------------------------------------------*/
.retina {
  display: none !important; }

@media only screen and (max-width: 736px) {
  .nonretina {
    display: none !important; }

  .retina {
    display: block !important; } }
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  min-width: 980px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  text-align: center; }

.top_space {
  height: 4px;
  background-color: #0F5C9B;
  width: 100%; }

.l-main {
  margin: 0 auto;
  background-color: white;
  position: relative; }
  .l-main .banner {
    width: 100%;
    height: 160px;
    background: url(../img/pc/banner-tv_header.png) no-repeat center;
    box-shadow: inset 0 0 0 358px rgba(15, 92, 155, 0.75);
    background-size: cover;
    position: relative; }
    .l-main .banner p {
      padding-top: 69px; }
      .l-main .banner p span {
        font-size: 2.8rem;
        letter-spacing: 1.2px;
        color: white;
        display: inline-block; }
        .l-main .banner p span br {
          display: none; }
  .l-main .tv-content_1 section h2 {
    font-size: 2.6rem;
    color: #111111;
    margin-top: 48px; }
  .l-main .tv-content_1 section h6 {
    margin-top: 15px; }
  .l-main .tv-content_1 section p {
    color: #525252;
    margin-top: 46px; }
  .l-main #tv-table {
    font-size: 1.6rem;
    margin: 42px auto 80px auto;
    width: 950px;
    border: 1px solid #CCCCCC;
    border-collapse: collapse; }
    .l-main #tv-table thead {
      background-color: #0E5B9A;
      border: 1px solid #CCCCCC; }
      .l-main #tv-table thead tr th {
        color: white;
        padding: 15px 0 15px 0;
        border: 1px solid #CCCCCC; }
    .l-main #tv-table tbody {
      background-color: white;
      border: 1px solid #CCCCCC;
      text-align: left; }
      .l-main #tv-table tbody tr th {
        border: 1px solid #CCCCCC;
        color: #111111;
        padding: 19px 23px 71px 17px;
        font-size: 1.6rem;
        line-height: 2.56rem; }
  .l-main #tv-table_sp {
    display: none; }
  .l-main .tv-content_2 {
    padding: 32px 0 103px 0;
    background-color: #EEEEEE; }
    .l-main .tv-content_2 section h2 {
      font-size: 2.6rem;
      color: #111111;
      margin-top: 34px; }
    .l-main .tv-content_2 section h6 {
      margin-top: 15px; }
    .l-main .tv-content_2 ._content {
      display: flex;
      margin: 43px auto -13px auto;
      max-width: 900px;
      text-align: left;
      background-color: white;
      padding: 25px 25px 25px 25px; }
      .l-main .tv-content_2 ._content ._col1 {
        float: left;
        display: inline-block;
        width: 620px; }
        .l-main .tv-content_2 ._content ._col1 p {
          margin-top: 26px;
          float: none;
          display: block;
          color: #111111;
          font-size: 1.6rem;
          line-height: 2.56rem; }
          .l-main .tv-content_2 ._content ._col1 p a {
            color: #0E5B9A;
            font-weight: bold; }
        .l-main .tv-content_2 ._content ._col1 div {
          margin-right: 25px;
          display: flex;
          float: right; }
          .l-main .tv-content_2 ._content ._col1 div span {
            margin: 28px 13px 0 0;
            border: 1px solid #0E5B9A;
            padding: 0px 30px 0px 30px;
            font-size: 1rem;
            color: #0E5B9A; }
            .l-main .tv-content_2 ._content ._col1 div span img {
              display: block;
              margin-bottom: 5px; }
          .l-main .tv-content_2 ._content ._col1 div a {
            background-position-x: 23px;
            margin-top: 28px;
            padding: 18px 18px 13px 54px;
            font-size: 1.6rem;
            letter-spacing: 0px; }
      .l-main .tv-content_2 ._content ._col2 {
        float: right;
        display: inline-block; }
        .l-main .tv-content_2 ._content ._col2 img {
          width: 280px;
          height: auto; }
  .l-main .tv-content_3 {
    margin: 61px auto 77px auto;
    display: block;
    max-width: 900px; }
    .l-main .tv-content_3 p {
      margin-top: 49px;
      font-size: 1.6rem;
      color: #525252; }
      .l-main .tv-content_3 p a {
        font-size: 2.2rem;
        color: #0F5C9B; }

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  background-color: white;
  position: relative;
  max-width: 950px;
  margin: auto; }
  #header .c_header-logo {
    margin: 19px 6px; }
    #header .c_header-logo a img {
      height: 77px;
      width: auto; }
  #header .c_header-contact {
    margin: 35px 0 0 23px; }
    #header .c_header-contact p {
      font-size: 1rem;
      letter-spacing: 0px;
      text-align: right; }
  #header .c_header-menu_btn {
    display: none; }
  #header #header-navi_sp {
    display: none; }
    #header #header-navi_sp ul {
      display: none; }

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  float: left;
  display: flex;
  margin: 1px 0 0 1px; }
  #gNavi div {
    width: 1px;
    height: 40px;
    background-color: #DEDDDD;
    float: left;
    margin: 0;
    padding: 0; }

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  padding: 10px 0 10px 0;
  text-align: left;
  width: 100%;
  margin: auto; }
  #pagePath p {
    margin: auto;
    display: inline;
    font-size: 1.2rem;
    color: #000;
    max-width: 950px;
    display: block; }
    #pagePath p a {
      margin-right: 5px;
      color: #0C5999;
      text-decoration: underline; }
  #pagePath hr {
    border-top: 1px solid #DDDDDD;
    border-bottom: none; }

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left; }

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right; }

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  width: 100%;
  background-color: #0F5C9B; }
  #footer .c_footer-contact {
    width: 100%;
    height: 358px;
    background: url(../img/pc/banner-footer.png) no-repeat center;
    box-shadow: inset 0 0 0 358px rgba(15, 92, 155, 0.6); }
    #footer .c_footer-contact .c_footer-contact_1 {
      padding-top: 60px; }
      #footer .c_footer-contact .c_footer-contact_1 a p {
        width: 460px;
        margin: auto;
        color: white;
        border: 1px solid white;
        padding: 15px 10px 15px 10px;
        font-size: 2.4rem;
        line-height: 2.88rem;
        display: block; }
    #footer .c_footer-contact .c_footer-contact_2 {
      margin-top: 29px; }
      #footer .c_footer-contact .c_footer-contact_2 div p {
        color: white;
        font-size: 1.6rem;
        line-height: 2.24rem; }
        #footer .c_footer-contact .c_footer-contact_2 div p a {
          color: #FFFF4C !important; }
    #footer .c_footer-contact .c_footer-contact_3 {
      margin: 35px auto 0 auto;
      width: 613px; }
      #footer .c_footer-contact .c_footer-contact_3 div {
        float: left;
        margin-right: 12px;
        padding-left: 29px; }
        #footer .c_footer-contact .c_footer-contact_3 div p {
          color: white;
          font-size: 1.2rem; }
      #footer .c_footer-contact .c_footer-contact_3 a {
        display: inline-block;
        float: right;
        margin-right: -33px;
        color: #fd7e00;
        background: #ffed4d url(../img/pc/mail-footer.png) no-repeat left center;
        background-position-x: 20px;
        padding: 16px 20px 16px 53px;
        display: block;
        font-size: 1.6rem;
        letter-spacing: 0px; }
  #footer .c_footer-nav {
    width: 100%;
    height: 119px;
    background-color: #CCCCCC; }
    #footer .c_footer-nav div {
      padding-top: 35px; }
      #footer .c_footer-nav div p {
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: #222222; }
        #footer .c_footer-nav div p a {
          color: #222222;
          margin: 0 4px 0 4px; }
        #footer .c_footer-nav div p a:hover {
          text-decoration: underline; }
  #footer .c_footer-copyright {
    padding-top: 18px;
    width: 100%;
    height: 50px;
    background-color: white;
    color: #212121;
    font-size: 1.4rem; }

@media only screen and (max-width: 736px) {
  /*------------------------------------------------------------
  	Layout
  ------------------------------------------------------------*/
  body {
    min-width: 320px !important; }

  .top_space {
    height: 5px; }

  .l-main .banner {
    height: 130px;
    margin-top: -13px; }
    .l-main .banner p {
      padding-top: 40px; }
      .l-main .banner p span {
        font-size: 1.8rem;
        line-height: 2.52rem;
        letter-spacing: 0px; }
        .l-main .banner p span br {
          display: block; }
  .l-main .tv-content_1 section {
    width: 90.625%;
    margin: 0 auto; }
    .l-main .tv-content_1 section h2 {
      font-size: 1.8rem;
      margin-top: 28px; }
    .l-main .tv-content_1 section h6 {
      margin-top: 11px;
      font-size: 0.4rem; }
    .l-main .tv-content_1 section p {
      margin-top: 14px;
      font-size: 1.4rem;
      line-height: 2.24rem; }
  .l-main #tv-table {
    display: none; }
  .l-main #tv-table_sp {
    display: block;
    margin: 17px 0 37px 0; }
    .l-main #tv-table_sp div {
      width: 90.625%;
      margin: auto; }
      .l-main #tv-table_sp div a {
        background-color: #0F5C9B;
        color: white;
        font-size: 1.4rem;
        display: block;
        padding: 12px 0 12px 0; }
      .l-main #tv-table_sp div p {
        text-align: left;
        padding: 8px 10px 8px 10px;
        border: 1px solid #CCCCCC; }
  .l-main .tv-content_2 {
    padding: 32px 0 11px 0; }
    .l-main .tv-content_2 section h2 {
      font-size: 1.8rem;
      margin-top: -1px; }
    .l-main .tv-content_2 section h6 {
      margin-top: 11px;
      margin-bottom: 14px;
      font-size: 0.4rem; }
    .l-main .tv-content_2 ._content {
      max-width: 290px;
      width: 81.5%;
      display: block;
      margin-top: 0;
      margin-bottom: 13px;
      padding: 14px 14px 14px 14px; }
      .l-main .tv-content_2 ._content ._col1 {
        float: none;
        width: 100%;
        margin: auto; }
        .l-main .tv-content_2 ._content ._col1 p {
          margin-top: 11px;
          margin-bottom: 12px;
          font-size: 1.4rem;
          line-height: 2.24rem;
          letter-spacing: -1px; }
          .l-main .tv-content_2 ._content ._col1 p a {
            letter-spacing: -3px; }
        .l-main .tv-content_2 ._content ._col1 div {
          display: block;
          float: none;
          margin: 12px auto 20px auto; }
          .l-main .tv-content_2 ._content ._col1 div span {
            margin: 0 auto;
            display: inline-block;
            width: 77%;
            letter-spacing: -1px;
            padding-top: 9px;
            padding-bottom: 9px; }
            .l-main .tv-content_2 ._content ._col1 div span img {
              margin: auto;
              height: 29px; }
          .l-main .tv-content_2 ._content ._col1 div a {
            padding: 14px 18px 13px 49px;
            margin-top: 10px;
            font-size: 1.3rem;
            letter-spacing: 0px;
            background-position-x: 31px !important;
            background-size: 14.5px 11px !important;
            background: #ffed4d url(../img/sp/mail.png) no-repeat left center; }
      .l-main .tv-content_2 ._content ._col2 {
        float: none;
        width: 100%;
        margin: 0; }
        .l-main .tv-content_2 ._content ._col2 img {
          width: 100%;
          margin: 0; }
  .l-main .tv-content_3 {
    margin: 24px auto 28px auto; }
    .l-main .tv-content_3 img {
      margin: auto;
      width: 90.625%; }
    .l-main .tv-content_3 p {
      margin: 9px auto auto auto;
      width: 77%;
      font-size: 1.4rem;
      line-height: 2.4rem; }
      .l-main .tv-content_3 p a {
        font-size: 1.9rem; }

  /*------------------------------------------------------------
  	header
  ------------------------------------------------------------*/
  #header {
    max-width: 100%;
    padding: 0 0 5px; }
    #header .c_header-logo {
      margin-left: 18px;
      margin-top: 10px; }
      #header .c_header-logo a img {
        height: 39px;
        width: auto; }
    #header div {
      display: none; }

  .c_header-menu_btn {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 9px;
    background-color: #0F5C9B;
    padding: 9px 10px 11.5px 10px;
    border-radius: 5px; }

  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 3.5px;
    background-color: white;
    transition: 0.4s;
    display: block !important;
    margin: 3px 0 0 0 !important; }

  .transBar .bar1 {
    -webkit-transform: rotate(-45deg) translate(-3.5px, 3px);
    transform: rotate(-45deg) translate(-3.5px, 3px); }
  .transBar .bar2 {
    opacity: 0; }
  .transBar .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px); }

  #header-navi_sp {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    background-color: #0F5C9B;
    height: auto;
    padding-bottom: 30.5px;
    z-index: 99; }
    #header-navi_sp ul {
      display: block !important;
      padding-top: 30.5px;
      border-bottom: 1px dotted white;
      margin: 0 8% 0 8%; }
      #header-navi_sp ul li {
        position: relative;
        border-top: 1px dotted white; }
        #header-navi_sp ul li a {
          display: block;
          color: white;
          font-size: 1.5rem;
          line-height: 1.8rem;
          padding: 11.5px 0 15px 11.5px;
          text-align: left; }
      #header-navi_sp ul li::before {
        color: white;
        content: "\25B6";
        margin-right: 0.5rem;
        font-size: 0.8rem;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.65rem; }

  /*------------------------------------------------------------
  	Navi
  ------------------------------------------------------------*/
  #gNavi {
    display: none; }

  /*------------------------------------------------------------
  	Breadcrumbs
  ------------------------------------------------------------*/
  #pagePath {
    display: none; }

  /*------------------------------------------------------------
  	contentc
  ------------------------------------------------------------*/
  /*------------------------------------------------------------
  	side
  ------------------------------------------------------------*/
  /*------------------------------------------------------------
  	footer
  ------------------------------------------------------------*/
  #footer .c_footer-contact {
    height: auto;
    background: url(../img/sp/banner-footer.png) no-repeat center;
    background-size: cover;
    background-position: bottom;
    display: inline-block; }
    #footer .c_footer-contact .c_footer-contact_1 {
      display: inline-block;
      padding-top: 35px;
      letter-spacing: 3px; }
      #footer .c_footer-contact .c_footer-contact_1 a {
        display: flex; }
        #footer .c_footer-contact .c_footer-contact_1 a p {
          width: 275px;
          border-width: 1px;
          font-size: 1.3rem;
          padding: 2px 6px 3px 6px; }
    #footer .c_footer-contact .c_footer-contact_2 {
      width: 90%;
      margin: auto; }
      #footer .c_footer-contact .c_footer-contact_2 div p {
        margin-top: 17px;
        font-size: 1.4rem;
        line-height: 1.96rem; }
        #footer .c_footer-contact .c_footer-contact_2 div p h1 {
          font-size: 1.4rem; }
    #footer .c_footer-contact .c_footer-contact_3 {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin-top: 22px;
      margin-bottom: 58px; }
      #footer .c_footer-contact .c_footer-contact_3 div {
        margin: auto;
        float: none;
        margin: 3px auto 13px auto;
        padding: 0; }
        #footer .c_footer-contact .c_footer-contact_3 div p {
          font-size: 1rem;
          letter-spacing: -0.5px; }
        #footer .c_footer-contact .c_footer-contact_3 div img {
          margin: auto; }
      #footer .c_footer-contact .c_footer-contact_3 a {
        display: inline-block;
        float: none;
        margin: 0 auto;
        color: #fd7e00;
        background-position-x: 25px !important;
        padding: 13px 24px 13px 43px;
        font-size: 1.3rem;
        background-size: 14.5px 11px !important;
        background: #ffed4d url(../img/sp/mail.png) no-repeat left center; }
  #footer .c_footer-nav {
    height: auto; }
    #footer .c_footer-nav div {
      width: 85%;
      margin: auto;
      padding-top: 16px;
      padding-bottom: 15px; }
      #footer .c_footer-nav div p {
        font-size: 1rem;
        line-height: 1.7rem; }
  #footer .c_footer-copyright {
    height: 45px;
    padding-top: 9px; }
    #footer .c_footer-copyright p {
      font-size: 1rem; } }
/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
h1 {
  color: black;
  font-size: 2rem; }

h2 {
  font-size: 1.2rem;
  color: #0E5B9A; }

h6 {
  font-size: 0.4rem;
  letter-spacing: 2px;
  color: #0E5B9A; }

p {
  font-size: 1.6rem;
  line-height: 2.24rem;
  color: #555555; }

/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
#top-btn {
  position: fixed;
  bottom: 215px;
  right: 16.9%;
  cursor: pointer;
  display: none; }

.mail-btn {
  color: #fd7e00;
  background: #ffed4d url(../img/pc/mail-header.png) no-repeat left center;
  background-position-x: 15px;
  padding: 13px 19px 13px 45px;
  display: block;
  font-size: 1.68rem;
  letter-spacing: -3px; }

@media only screen and (max-width: 736px) {
  #top-btn {
    display: none !important; }

  h {
    font-size: 1.9rem;
    line-height: 2.47rem; }

  p {
    font-size: 1.4rem;
    line-height: 2.24rem;
    color: #555555; } }

/*# sourceMappingURL=common.css.map */
