@charset "UTF-8"
//================================================================
//		Layout
//
//		B A N N E R
//================================================================
//________________________________________________________
.c-index_banner_1
	width: 100%
	height: 600px
	background: url("../img/pc/banner_index.jpg") no-repeat center
	background-size: cover
	//---- 📱 SP ----
	+sp
		height: 228px
	//--------------------------------
	&__content
		width: 1000px
		margin: auto
		padding-top: 150px
		//---- 📱 SP ----
		+sp
			width: 100%
			img
				width: 290px
				height: auto
				margin: -4px auto auto auto
				padding: 0 15px

//________________________________________________________
.c-index_banner_2
	width: 100%
	height: 562px
	background: url("../img/pc/banner_index_advantage.jpg") no-repeat center
	background-size: cover
	//---- 📱 SP ----
	+sp
		height: 216.5px
	//--------------------------------
	&__inner
		background: $white
		width: 433px
		height: 341px
		padding: 46px 50px 54px 50px
		float: right
		margin-top: 60px
		text-align: center
		//---- 📱 SP ----
		+sp
			width: 100%
			height: auto
			margin: auto
			padding: 0
			background: yellow
			float: none
			display: inline-block
			text-align: left
		//--------------------------------
		.c-btn
			margin-top: 27px
			//---- 📱 SP ----
			+sp
				margin-top: 0
	//--------------------------------
	&__title
		//---- 📱 SP ----
		+sp
			margin: auto
			width: auto
			height: 26.25px
	//--------------------------------
	&__img_1
		margin-top: 16px
		//---- 📱 SP ----
		+sp
			margin: auto
			width: 181.25px
			height: auto
	//--------------------------------
	&__txt_1
		margin-top: 16px
		font-size: 1.6rem
		color: $blue
		//---- 📱 SP ----
		+sp
			font-size: 1.4rem
	//--------------------------------
	&__txt_2
		margin-top: -7px
		line-height: 2.1rem

//________________________________________________________
.c-banner
	background-size: cover
	width: 100%
	height: 240px
	background-position: center
	//---- 📱 SP ----
	+sp
		height: 150px
	//--------------------------------
	&__inner
		padding-top: 86px
		text-align: center
		color: $white
		//---- 📱 SP ----
		+sp
			padding-top: 54px
			//--------------------------------
			img
				width: auto
				height: 29.75px
				margin: auto
		//--------------------------------
		p
			line-height: 0
			//---- 📱 SP ----
			+sp
				line-height: 0.7rem