@charset "UTF-8"
//================================================================
//		Layout
//
//		B R E A D C R U M B
//================================================================
//________________________________________________________
.c-breadcrumb
	margin: 28px 0
	//---- 📱 SP ----
	+sp
		display: none
	//--------------------------------
	span
		font-size: 1.2rem
	//--------------------------------
	a
		color: $blue
		text-decoration: none
		//--------------------------------
		&:hover
			text-decoration: underline