@charset "UTF-8"
//================================================================
//		Layout
//
//		F O O T E R
//================================================================
//________________________________________________________
.c-footer_contact
	text-align: center
	//--------------------------------
	&__img
		display: inline-block
		margin-bottom: 6px
		//---- 📱 SP ----
		+sp
			margin-bottom: 0
			//--------------------------------
			img
				width: 224.25px
				height: auto
				margin: auto
	//--------------------------------
	&__txt1
		display: block
		margin-bottom: 36px
		color: $black_brown
		line-height: 2.2rem
		//---- 📱 SP ----
		+sp
			margin-bottom: 22px
			font-size: (2.6rem/2)
			line-height: 2rem
	//--------------------------------
	&__txt2
		display: block
		font-size: 1.6rem
		font-weight: bold
		color: $black_brown
		//---- 📱 SP ----
		+sp
			font-size: (2.8rem/2)
	//--------------------------------
	&__phone
		width: 527px

//________________________________________________________
.c-footer_last
	color: $white
	background: $blue
	margin: 0 auto
	//--------------------------------
	nav
		display: flex
		justify-content: center
		padding-top: 30px
		padding-bottom: 19px
		//--------------------------------
		ul li a
			text-decoration: none
		//--------------------------------
		ul.pc_only
			//--------------------------------
			li
				float: left
				display: block
				//--------------------------------
				a
					color: $white
					transition: 0.35s
					//--------------------------------
					&:hover
						text-decoration: underline
						opacity: 0.8
		//--------------------------------
		ul.sp_only
			float: left
			width: 50%
			background: $white
			li
				border-left: 1px solid #ddd
				border-bottom: 1px solid #ddd
				width: 100%
				display: inline-block
				position: relative
				//--------------------------------
				&:last-child
					border-bottom: none
					a
						padding: 15px 15px
				//--------------------------------
				&:last-child::after
					display: none
				//--------------------------------
				&:not(.is-blank):after
					content: ""
					background: url("../img/sp/blue_circle_arrow.png") no-repeat left center
					background-size: 14px 14px
					float: right
					width: 14px
					height: 14px
					position: absolute
					top: 20px
					right: 15px
				//--------------------------------
				a
					display: block
					padding: 19px 15px
					color: $black
					background: $white
					//--------------------------------
					img
						display: block
						margin: auto
						width: 15px
						height: auto
	//--------------------------------
	p
		font-size: 1rem
		display: block
		text-align: center
		padding-bottom: 32px
		//---- 📱 SP ----
		+sp
			line-height: 1.3rem
			padding-bottom: 10px

//________________________________________________________
.l-footer
	padding-top: 64px
	border-top: 1px solid #ccc
	//---- 📱 SP ----
	+sp
		padding-top: 46px
	//--------------------------------
	.c-footer_contact
		//--------------------------------
		.sp_only
			//--------------------------------
			.c-sp_btn_contact--footer
				//---- 📱 SP ----
				+sp
					margin-top: 10px
					padding: 15px 0
			//--------------------------------
			.c-fax
				margin: auto auto 32px auto
		//--------------------------------
		&__phone
			margin: 7px auto 96px auto
	//--------------------------------
	.c-footer_last
		//--------------------------------
		nav
			//---- 📱 SP ----
			+sp
				padding-top: 1px
				padding-bottom: 9px