@charset "UTF-8"
//================================================================
//		Layout
//
//		H E A D E R
//================================================================
//________________________________________________________
.c-header
	margin: 26px auto 22px auto
	display: flex
	width: 1000px
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		width: 100%
		margin-top: 8px
		margin-bottom: 9px
	//--------------------------------
	&__col1
		float: left
		width: 400px
		//---- 📱 SP ----
		+sp
			width: 100%
			//--------------------------------
			p.sp_only
				font-size: 1rem
				display: flex
				border-bottom: 1px solid #ddd
				padding: 0 15px 8px 15px
				line-height: 1.5rem
			//--------------------------------
			a
				padding: 0 15px
				img
					width: 214.25px
					height: auto
		//--------------------------------
		a
			display: block
	//--------------------------------
	&__col2
		float: right
		width: 464px

//________________________________________________________
.l-header
	.c-header
		//--------------------------------
		&__col1
			//--------------------------------
			a
				margin-top: 6px
				//---- 📱 SP ----
				+sp
					margin-top: 21px
					float: left
			//--------------------------------
			.c-btnMenuSP
				position: relative
				margin-top: 9px
				right: 15px
		//--------------------------------
		&__col2
			//--------------------------------
			.c-phone
				margin-top: 5px
	.c-gnav
		//--------------------------------
		.c-sp_btn
			margin-top: 30px
			//--------------------------------
			.c-sp_btn_contact
				margin-top: 16px


//================================================================
//		Global Navigation
//================================================================
//________________________________________________________
.c-gnav
	border-top: 1px solid #ccc
	display: flex
	justify-content: center
	//--------------------------------
	ul.pc_only
		&::after
			content: ""
			width: 1px
			height: 30px
			background: #ccc
			float: left
			margin-top: 20px
		//--------------------------------
		li
			float: left
			//--------------------------------
			&::before
				content: ""
				width: 1px
				height: 30px
				background: #ccc
				float: left
				margin-top: 20px
			//--------------------------------
			a
				font-size: 1.6rem
				color: $pure_black
				text-align: center
				line-height: 70px
				text-decoration: none
				transition: 0.35s
				width: 166.5px
				height: 70px
				display: block
				//--------------------------------
				&:hover
					background: #698DD1
					color: $white
			//--------------------------------
			.is-current
				background: $blue
				color: $white
				//--------------------------------
				&:hover
					background: $blue

	//--------------------------------
	ul.sp_only
		position: absolute
		background: rgba(68,113,198,0.9)
		width: 100%
		min-width: 320px
		padding-bottom: 30px
		margin-bottom: 30px
		display: none
		z-index: 99
		//--------------------------------
		li:not(.c-sp_btn)
			border-bottom: 1px solid rgba(211,211,211,0.3)
			//--------------------------------
			a
				color: $white
				text-decoration: none
				font-size: (2.8rem/2)
				display: block
				margin: 18px 15px
				line-height: 1.6rem
				//--------------------------------
				&::after
					content: ""
					background: url("../img/sp/circle_arrow.png") no-repeat left center
					background-size: 14px 14px
					float: right
					width: 14px
					height: 14px