@charset "UTF-8"
//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
//________________________________________________________
body
	font-size: 1.4rem
	line-height: 1.6rem
	background: $white
	min-width: 1000px
	+sp
		min-width: 100%

//________________________________________________________
.l-container
	width: 1000px
	margin: auto
	//---- 📱 SP ----
	+sp
		width: 100%
		max-width: 650px

//________________________________________________________
.l-sp_mid
	//---- 📱 SP ----
	+sp
		padding: 0 15px