@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

html {
  font-size: 62.5%; }

body, table, input, .c-contact_content_2 table tr td textarea, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, .c-contact_content_2 table tr td textarea, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

::placeholder {
  color: #B6B6B6; }

::-ms-input-placeholder {
  color: #B6B6B6; }

.floatLeft {
  float: left !important; }

.floatRight {
  float: right !important; }

.eff-hover:hover {
  opacity: 0.7;
  transition: 0.2s; }

.eff-opaque_slow {
  opacity: 0;
  transition: 2s; }

.eff-opaque_normal {
  opacity: 0;
  transition: 1s; }

.eff-opaque_fast {
  opacity: 0;
  transition: 0.3s; }

.opa {
  opacity: 1; }

.btn {
  position: absolute; }

.btn-totop {
  position: fixed;
  bottom: 88px;
  right: 97px;
  display: none; }
  .btn-totop .btn-top {
    position: relative;
    width: 72px;
    height: 72px;
    cursor: pointer;
    text-align: center;
    display: block;
    background: #0291AA url(../img/btn/btn-top.png) no-repeat center;
    border-radius: 36px;
    -webkit-transition: none;
    transition: none; }
    .btn-totop .btn-top:hover {
      top: -4px;
      background-color: #20AFC8;
      box-shadow: 0 5px 0 #006F82; }
    .btn-totop .btn-top:active {
      top: 3px;
      background-color: #0291AA;
      box-shadow: none;
      transition: 0.2s; }

p {
  color: #222222; }

.p12 {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  color: #fff;
  text-decoration: none; }

.p20 {
  font-size: 2rem;
  color: #025995; }

.p14 {
  font-size: 1.4rem;
  line-height: 2rem; }

.p13 {
  font-size: 1.3rem;
  text-decoration: none;
  color: #222222; }

.p23 {
  font-size: 2.3rem; }

.fw-normal {
  font-weight: normal; }

.fw-bold {
  font-weight: bold; }

.text-color_teal {
  color: #009FBB; }

.text-color_blue {
  color: #025995; }

.mb_150 {
  margin-bottom: 150px; }

.mb_130 {
  margin-bottom: 130px; }

.mb_120 {
  margin-bottom: 120px; }

.mb_100 {
  margin-bottom: 100px; }

.mb_117 {
  margin-bottom: 117px; }

.mb_90 {
  margin-bottom: 90px; }

.mb_80 {
  margin-bottom: 80px; }

.mb_60 {
  margin-bottom: 60px; }

.mb_57 {
  margin-bottom: 57px; }

.mb_50 {
  margin-bottom: 50px; }

.mb_45 {
  margin-bottom: 45px; }

.mb_40 {
  margin-bottom: 40px; }

.mb_30 {
  margin-bottom: 30px; }

.mb_20 {
  margin-bottom: 20px; }

.pad_c80 {
  padding: 80px 0; }

.pad_c74 {
  padding: 74px 0; }

.pad_c60 {
  padding: 60px 0; }

.bg-i1 {
  background: url("../img/img1.jpg") center no-repeat; }

.bg-i2 {
  background: url("../img/img2.jpg") center no-repeat; }

.bg-i3 {
  background: url("../img/img3.jpg") center no-repeat; }

.bg-i4 {
  background: url("../img/img4.jpg") center no-repeat; }

.bg-i5 {
  background: url("../img/img5.jpg") center no-repeat; }

.bg-i6 {
  background: url("../img/img6.jpg") center no-repeat; }

.bg-i7 {
  background: url("../img/img7.jpg") center no-repeat; }

.bg-i8 {
  background: url("../img/img8.jpg") center no-repeat; }

.bg-i9 {
  background: url("../img/img9.jpg") center no-repeat; }

.bg-i10 {
  background: url("../img/img10.jpg") center no-repeat; }

.bgb-news {
  background: url("../img/banner-news.jpg") no-repeat; }

.bgb-company {
  background: url("../img/banner-company.jpg") no-repeat; }

.bgb-business {
  background: url("../img/banner-business.jpg") no-repeat; }

.bgb-case {
  background: url("../img/banner-case.jpg") no-repeat; }

.bgb-recruit {
  background: url("../img/banner-recruit.jpg") no-repeat; }

.bgb-contact {
  background: url("../img/banner-contact.jpg") no-repeat; }

.bg-l {
  background-position: left; }

.bg-r {
  background-position: right; }

header #header-contact {
  background: #015294;
  display: block;
  width: 100%;
  min-width: 1200px;
  height: 47px; }
  header #header-contact div.container h2 {
    float: left;
    margin-top: 19px; }
  header #header-contact div.container div {
    float: right;
    margin: 9px 0px 0 11px; }
header #header-navi {
  display: block;
  width: 100%;
  min-width: 1200px;
  height: auto;
  margin: 14px 0 14px 0; }
  header #header-navi nav {
    display: block;
    border-right: 1px solid #CECECE;
    margin-top: 6px; }
    header #header-navi nav ul li {
      float: left;
      border-left: 1px solid #CECECE;
      padding: 0 4px; }
      header #header-navi nav ul li a::before, header #header-navi nav ul li a::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      header #header-navi nav ul li a {
        position: relative;
        display: block; }
        header #header-navi nav ul li a::before, header #header-navi nav ul li a::after {
          position: absolute;
          z-index: -1;
          display: block;
          content: ""; }
        header #header-navi nav ul li a::after {
          background: #009FBB;
          position: absolute;
          height: 4px;
          width: 0;
          top: 38px;
          right: 50%; }
        header #header-navi nav ul li a::before {
          background: #009FBB;
          position: absolute;
          height: 4px;
          width: 0;
          top: 38px;
          left: 50%; }
        header #header-navi nav ul li a:hover::after, header #header-navi nav ul li a:hover::before {
          width: 50%; }
      header #header-navi nav ul li a._active::after, header #header-navi nav ul li a._active::before {
        width: 50%; }

footer {
  display: block; }
  footer #footer-banner {
    background: url("../img/footer-banner.jpg") center;
    background-size: cover;
    width: 100%;
    min-width: 1200px;
    height: 111px; }
  footer #footer-content {
    background: #015294;
    display: block;
    width: 100%;
    min-width: 1200px;
    height: 168px; }
    footer #footer-content .container {
      padding-top: 37px;
      display: flex; }
      footer #footer-content .container .-col1 {
        padding-right: 21px;
        border-right: 1px solid #809EBF; }
        footer #footer-content .container .-col1 h2 {
          margin-top: 18px;
          letter-spacing: -0.1px; }
      footer #footer-content .container .-col2 {
        padding-left: 25px;
        padding-right: 52px; }
        footer #footer-content .container .-col2 h2 {
          letter-spacing: 0.8px; }
        footer #footer-content .container .-col2 a {
          margin-top: 6px;
          margin-bottom: 5px;
          display: block; }
        footer #footer-content .container .-col2 p {
          line-height: 1.8rem; }
      footer #footer-content .container .-col3 h2 {
        font-size: 0.5rem; }
      footer #footer-content .container .-col3 table {
        margin-top: -3px; }
        footer #footer-content .container .-col3 table tr {
          height: 18px; }
          footer #footer-content .container .-col3 table tr th {
            text-align: left;
            font-weight: normal;
            letter-spacing: -1px; }
            footer #footer-content .container .-col3 table tr th a {
              transition: 0.2s; }
            footer #footer-content .container .-col3 table tr th a:hover {
              color: #3B75B5; }
  footer #footer-copyright {
    min-width: 1200px;
    background: #002F64; }
    footer #footer-copyright .container {
      padding: 16px 0; }
      footer #footer-copyright .container p {
        color: #608FBF;
        letter-spacing: 1.15px; }

body {
  background: #fff; }

#banner {
  width: 100%;
  height: 276px;
  background-size: cover;
  background-position: center; }
  #banner img {
    display: block;
    position: relative;
    margin: auto;
    padding-top: 109px; }

.container {
  width: 1081px;
  margin: 0 auto; }

.l-main {
  min-width: 1200px; }

.l-inner_main {
  min-width: 1200px;
  background: #F0F0F0; }

.main_table {
  border-collapse: collapse;
  text-align: left;
  width: 100%; }
  .main_table tr {
    border-bottom: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4; }
    .main_table tr th {
      background: #E7F5FF;
      padding: 20px 0 20px 40px;
      vertical-align: top;
      width: 176px; }
    .main_table tr td {
      background: #fff;
      padding: 20px 0 20px 40px; }

.l-index_news {
  min-width: 1200px;
  background: #E7F5FF; }

#banner-index {
  position: relative;
  width: 100%;
  height: 756px;
  background: url("../img/banner-index.jpg") center no-repeat;
  background-size: cover; }
  #banner-index img {
    display: block;
    position: relative;
    float: right;
    right: 225px;
    top: 86px; }

.l-index_news .container {
  padding-top: 48px;
  padding-bottom: 17px;
  display: flex; }
  .l-index_news .container .-col1 a {
    display: block;
    margin-top: 16px; }
  .l-index_news .container .-col2 div {
    margin: 0 0 32px 67px; }
    .l-index_news .container .-col2 div h2 {
      float: left;
      color: #0361A7;
      margin-right: 47px;
      letter-spacing: 1.3px; }
    .l-index_news .container .-col2 div a {
      letter-spacing: 0.4px;
      transition: 0.2s; }
    .l-index_news .container .-col2 div a:hover {
      color: #A8A8A8; }

.c-index_content {
  display: flex;
  padding: 80px 0;
  position: relative; }

.c-index_content-inner {
  width: 470px;
  height: 356px;
  position: relative; }
  .c-index_content-inner p {
    margin-top: 5px; }
  .c-index_content-inner a {
    display: block;
    position: absolute;
    bottom: 0; }

.c-index_image {
  width: 50%;
  height: 356px;
  position: absolute;
  background-size: cover; }
  .c-index_image_left {
    left: 0; }
  .c-index_image_right {
    right: 0; }

.c-news {
  display: inline-block; }
  .c-news h2 {
    letter-spacing: 1.3px;
    border-bottom: 1px solid #025995;
    padding-bottom: 9px; }
  .c-news article h3 {
    display: flex;
    margin-top: 9px;
    letter-spacing: 2.2px;
    vertical-align: text-bottom; }
  .c-news article div {
    display: block;
    margin-top: 25px; }
    .c-news article div p {
      float: left;
      width: 593px;
      letter-spacing: 0.5px; }
    .c-news article div p._noimg {
      width: auto; }
    .c-news article div a {
      float: right;
      margin-left: 56px; }

.c-company_content_1 section p {
  margin-top: 24px;
  letter-spacing: 0.4px; }
.c-company_content_1 a {
  display: block;
  margin-top: 51px;
  margin-bottom: 38px;
  float: right; }

.c-company_content_2 table.main_table {
  margin-top: 32px; }

.c-company_content_3 {
  display: inline-block; }
  .c-company_content_3 h2 {
    margin-bottom: 32px; }
  .c-company_content_3 ._inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1081px;
    margin-bottom: 50px; }
    .c-company_content_3 ._inner div {
      text-align: center; }
      .c-company_content_3 ._inner div a {
        display: block;
        border: 1px solid #AAA9A9;
        padding: 5px; }
      .c-company_content_3 ._inner div p {
        margin-top: 5px; }

.c-company_content_4 {
  padding-bottom: 130px; }
  .c-company_content_4 h2 {
    margin-bottom: 30px; }
  .c-company_content_4 iframe {
    border: 1px solid #D4D4D4; }

.c-business_content {
  padding: 40px;
  border: 1px solid #009FBB;
  display: flex;
  justify-content: space-between; }
  .c-business_content section._noimg {
    width: auto; }
  .c-business_content section {
    width: 521px;
    height: auto;
    float: left; }
    .c-business_content section h2 {
      margin-bottom: 13px; }
    .c-business_content section h2::before {
      content: "■ ";
      color: #009FBB; }
    .c-business_content section p {
      letter-spacing: 0.2px; }
  .c-business_content a {
    float: right; }

.c-case_navi {
  width: 860px;
  height: auto;
  margin: auto; }
  .c-case_navi ul {
    display: flex;
    justify-content: space-between; }
    .c-case_navi ul li a {
      cursor: pointer; }

.c-case_content_1 a {
  text-align: center;
  display: block;
  color: #025995; }
  .c-case_content_1 a hr {
    border-bottom: 1px solid #025995;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 53px; }
.c-case_content_1 section h2 {
  background: #E1F0FA;
  padding: 13px 0 12px 28px; }
.c-case_content_1 section div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }
  .c-case_content_1 section div a {
    display: block;
    float: left; }
  .c-case_content_1 section div table {
    float: right;
    border-collapse: collapse;
    text-align: left;
    width: 570px; }
    .c-case_content_1 section div table tr {
      border-bottom: 1px solid #D8D7D7;
      border-top: 1px solid #D8D7D7; }
      .c-case_content_1 section div table tr th {
        padding: 19px 0px 16px 20px;
        color: #025995;
        width: 138px; }

.c-recruit_content_1 {
  display: flex;
  justify-content: space-between; }
  .c-recruit_content_1 div {
    float: left;
    width: 680px;
    height: auto; }
    .c-recruit_content_1 div h2 {
      margin-bottom: 8px; }
  .c-recruit_content_1 a {
    float: right; }

.c-recruit_content_2 h2 {
  margin-bottom: 32px; }

.c-recruit_content_3 {
  position: relative; }
  .c-recruit_content_3 a {
    position: absolute;
    left: 40px;
    bottom: 40px; }

.c-contact_content_1 h2 {
  margin-bottom: 19px; }

.c-contact_content_2 h2 {
  margin-bottom: 43px; }
.c-contact_content_2 table {
  border-collapse: collapse;
  text-align: left;
  width: 100%; }
  .c-contact_content_2 table tr {
    vertical-align: top; }
    .c-contact_content_2 table tr th {
      padding: 16px 0 13px 0; }
      .c-contact_content_2 table tr th a {
        padding: 5px 3px 5px 7px;
        color: #fff;
        letter-spacing: 6px;
        display: inline-block;
        margin-top: 2px; }
      .c-contact_content_2 table tr th ._blue {
        background: #0362A8; }
      .c-contact_content_2 table tr th ._grey {
        background: #8C8B8B; }
    .c-contact_content_2 table tr td {
      margin-left: 32px; }
      .c-contact_content_2 table tr td input, .c-contact_content_2 table tr td textarea {
        width: 133px;
        height: 52px;
        text-indent: 24px;
        border: 1px solid #EAEAEA;
        margin-bottom: 5.3px; }
      .c-contact_content_2 table tr td input._full, .c-contact_content_2 table tr td textarea._full {
        width: 847px;
        float: right; }
      .c-contact_content_2 table tr td ._radio {
        padding-top: 15px;
        padding-bottom: 11px; }
        .c-contact_content_2 table tr td ._radio input, .c-contact_content_2 table tr td ._radio textarea {
          width: 13px;
          height: 13px; }
        .c-contact_content_2 table tr td ._radio label {
          letter-spacing: 1px;
          margin-right: 68px; }
      .c-contact_content_2 table tr td ._select {
        width: 178px;
        height: 52px;
        position: relative;
        margin-left: 4px;
        margin-bottom: 5px; }
        .c-contact_content_2 table tr td ._select::after {
          position: absolute;
          top: 16px;
          right: 0;
          bottom: 0;
          padding: 0 16px;
          content: "▼";
          pointer-events: none;
          color: #6E6E6E; }
        .c-contact_content_2 table tr td ._select select {
          width: 100%;
          height: 100%;
          text-indent: 24px;
          border: 1px solid #EAEAEA;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          box-shadow: none; }
      .c-contact_content_2 table tr td span {
        margin-left: 7px; }
      .c-contact_content_2 table tr td textarea {
        width: 843px;
        height: 150px;
        border: 1px solid #EAEAEA;
        text-indent: 0;
        resize: none;
        float: right; }

.c-contact_content_3 ._confirm {
  display: block;
  margin: auto;
  width: 250px; }
.c-contact_content_3 ._hidden_btn {
  margin: 11px auto auto auto;
  text-align: center;
  width: 465px; }
  .c-contact_content_3 ._hidden_btn span {
    width: 11px;
    height: 1px;
    display: block;
    float: left; }
  .c-contact_content_3 ._hidden_btn ._return {
    float: left;
    cursor: pointer; }
  .c-contact_content_3 ._hidden_btn ._send {
    float: left; }

/*# sourceMappingURL=common.css.map */
