@charset "UTF-8"

//================================================================
//					H E A D E R	 &	 F O O T E R
//================================================================
header
	img
		display: block
		margin: auto

		+sp
			width: 100%

	#gNav
		margin: auto
		width: 1200px
		display: flex

		+sp
			display: none


		ul
			border-right: 1px solid #000

			li
				//margin: 0 -2px 0 -2px;
				float: left
				border-left: 1px solid #000

				a
					width: auto
					height: 57px
					float: left

				a:hover
					opacity: 0.35
					transition: 0.2s

footer
	img
		display: block
		margin: auto

		+sp
			width: 100%

//================================================================
//							L A Y O U T
//================================================================
body
	background: #fff

.banner
	text-align: center
	margin-top: 10px

	+sp
		margin: 0

		img
			width: 100%

.l-main
	width: 1300px
	padding-bottom: 70px
	margin: auto

	+sp
		width: 100%

.container
	max-width: 1100px
	margin: auto
	height: auto

	+sp
		width: auto

.c-about
	text-align: center
	margin-top: 40px
	margin-bottom: 95px

	+sp
		margin: 20px auto 37px auto

.c-collection
	display: inline-block
	width: 100%

	._info
		width: 523px
		height: 607px
		position: relative
		margin: auto

		+sp
			width: 325px
			height: auto

			.c-title
				display: block
				margin-top: 14px

				img
					height: 121px


		p.p16_24
			margin-top: 38px
			margin-bottom: 33px

			+sp
				margin-top: 22px
				margin-bottom: 21px

		a.btn-white
			+sp
				display: block
				margin-top: -10px

				img
					width: 325px

		._price
			position: absolute
			left: 17px
			bottom: 64px

			+sp
				position: relative !important
				bottom: 0 !important
				left: 0 !important
				margin-top: 17px


			p.p12
				margin-bottom: 9px

			p.p20
				margin-bottom: 19px

				+sp
					padding-top: 3px
					margin-bottom: 9px !important


				img
					vertical-align: bottom

					+sp
						float: left
						position: relative
						top: -10px
						padding-right: 6px

			p.p14
				margin-bottom: 14px

				+sp
					margin-bottom: 3px !important

		._button
			position: absolute
			right: 0
			bottom: 0

			+sp
				position: relative !important
				margin-top: 16px


			a
				margin-left: 6px
				float: left

				+sp
					display: block
					margin: 0 0 6px 0 !important

				img
					+sp
						width: 325px

.c-content_1
	display: inline-block
	background: #DFE7EC
	border-radius: 10px
	padding: 72px 72px 71px 72px

	+sp
		display: block
		width: 325px
		padding: 1px 0 25px 0
		margin-left: auto
		margin-right: auto
		border-radius: 6px


	._col1
		position: relative
		width: 416px
		margin-right: 39px

		+sp
			width: 295px
			margin: auto


		a.c-title
			display: block
			text-align: center
			margin-top: 13px

			+sp
				display: block
				margin-top: 14px


			img
				+sp
					width: 132.25px
					margin: auto

		p
			margin-top: 28px

			+sp
				margin-top: 17px

		a.btn
			display: block
			margin-top: 34px

	a.btn
		+sp
			display: block
			width: 295px
			margin: 18px auto 0 auto

			img
				width: 295px

	._col2
		position: relative

		+sp
			width: 295px
			margin: (-18px) auto 0 auto


		img
			+sp
				width: 100%

.c-content_tiny
	display: block
	text-align: center

	+sp
		img
			width: 325px
			margin: auto



//================================================================
//							S L I D E R
//================================================================
.swiper-container
	width: 523px
	height: 640px

	+sp
		width: 326.5px
		height: 405px

.swiper-pagination-bullet
	width: 9.3px !important
	height: 9.3px !important
	background: #CAD1D7 !important

	+sp
		width: 6px !important
		height: 6px !important

.swiper-pagination-bullet-active
	background: #9F9F9F !important
	opacity: 1 !important

.swiper-slide
	img
		width: 100%

.swiper-button-next, .swiper-button-prev
	width: 30px !important
	height: 76px !important
	background-size: 30px 76px !important

	+sp
		width: (37px / 2) !important
		height: (95px / 2) !important
		background-size: (37px / 2) (95px / 2) !important

.swiper-button-prev, .swiper-container-rtl .swiper-button-next
	top: 44.5% !important
	left: 23px !important

	+sp
		top: 46% !important
		left: 15px !important

.swiper-button-next, .swiper-container-rtl .swiper-button-prev
	top: 44.5% !important
	right: 23px !important

	+sp
		top: 46% !important
		right: 15px !important

//================================
//	T O P	B U T T O N
//================================
.btn-top
	+sp
		position: fixed
		bottom: 16px
		right: 10px
		z-index: 99
		display: none

		img
			width: 50px
