@charset "UTF-8"
@media only screen and (max-width: 736px)
	//================================
	//	H E A D E R   &   F O O T E R
	//================================
	header
		img
			width: 100%
		#gNav
			display: none
	footer
		img
			width: 100%

	//================================
	//	L A Y O U T
	//================================
	.l-main
		width: 100%
		.banner
			margin: 0
			img
				width: 100%
	.container
		max-width: 86.6%
		width: 325px
	.c-about
		width: 90.77%
		margin: 20px auto 37px auto
	.c-collection
		._info
			width: 100%
			height: auto
			.c-title
				display: block
				margin-top: 14px
				img
					height: 121px
			p.p16_24
				margin-top: 22px
				margin-bottom: 21px
			a.btn-white
				display: block
				margin-top: -10px
		._price
			position: relative !important
			bottom: 0 !important
			left: 0 !important
			margin-top: 17px
			p.p14
				margin-bottom: 3px !important
			p.p20
				padding-top: 3px
				margin-bottom: 9px !important
				img
					float: left
					position: relative
					top: -10px
					padding-right: 6px
		._button
			position: relative !important
			margin-top: 16px
			a
				display: block
				margin: 0 0 6px 0 !important
				img
					width: 325px
	.c-content_1
		width: 325px
		padding: 0 0 25px 0
		border-radius: 6px
		._col1
			width: 295px
			margin: auto
			a.c-title
				display: block
				margin-top: 14px
				img
					width: 132.25px
					margin: auto
			p
				margin-top: 17px
		._col2
			width: 295px
			margin: -18px auto 0 auto
			img
				width: 100%
		a.btn
			display: block
			width: 295px
			margin: 18px auto 0 auto
			img
				width: 295px
	.c-content_tiny
		img
			width: 325px

	//================================
	//	S L I D E R
	//================================
	.swiper-container
		width: 326.5px
		height: 405px
	.swiper-pagination-bullet
		width: 6px !important
		height: 6px !important

	.swiper-button-next, .swiper-button-prev
		width: (37px/2) !important
		height: (95px/2) !important
		background-size: (37px/2) (95px/2) !important
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next
		top: 46% !important
		left: 15px !important
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev
		top: 46% !important
		right: 15px !important

	//================================
	//	T O P  B U T T O N
	//================================
	.btn-top
		position: fixed
		bottom: 16px
		right: 10px
		z-index: 99
		display: none
		img
			width: 50px