@charset "UTF-8"

//================================================================
//	Retina (pc | sp)
//================================================================
.sp
	display: none !important

@media only screen and (max-width: 736px)
	.pc
		display: none !important

	.sp
		display: block !important

//================================================================
//	Float
//================================================================
.floatLeft
	float: left !important

.floatRight
	float: right !important

@media only screen and (max-width: 736px)
	.floatLeft
		float: none !important

	.floatRight
		float: none !important

//================================================================
//	Effects
//================================================================
.hoverEffect:hover
	opacity: 0.7
	transition: 0.2s

//================================================================
//	Paragraphs
//================================================================
p
	color: #231815

.p16_28
	font-size: 1.6rem
	line-height: 2.8rem

.p16_24
	font-size: 1.6rem
	line-height: 2.4rem

.p16_33
	font-size: 1.6rem
	line-height: 3.3rem
	color: #000

.p14
	font-size: 1.4rem

.p20
	font-size: 2rem
	font-weight: bold

.p12
	font-size: 1.2rem
	font-weight: bold

.p30
	font-size: 3rem
	font-weight: bold

@media only screen and (max-width: 736px)
	.p16_28
		font-size: (2.4rem / 2)
		line-height: (3.6rem / 2)

	.p16_24
		font-size: (2.4rem / 2)
		line-height: (3.6rem / 2)

	.p16_33
		font-size: (2.4rem / 2)
		line-height: (4rem / 2)
		letter-spacing: -0.66px

	.p14
		font-size: (2rem / 2)

	.p20
		font-size: (3rem / 2)

	.p12
		font-size: (1.8rem / 2)

	.p30
		font-size: (4.1rem / 2)

//================================================================
//	Margin (Invis-Separator)
//================================================================
.marginBot_1
	margin-bottom: 29px

.marginBot_2
	margin-bottom: 40px

.marginBot_3
	margin-bottom: 90px

.marginBot_4
	margin-bottom: 82px

.marginBot_5
	margin-bottom: 63px

@media only screen and (max-width: 736px)
	.marginBot_1
		margin-bottom: 35px

	.marginBot_2
		margin-bottom: 25px

	.marginBot_3
		margin-bottom: 63px

	.marginBot_4
		margin-bottom: 75px

	.marginBot_5
		margin-bottom: 35px

	.marginTop_x
		margin-top: 15px
