@charset "UTF-8"
//================================================================
//		Component
//
//		B U T T O N
//================================================================
//________________________________________________________
.c-btn
	display: inline-block
	position: relative
	font-size: 1.6rem
	color: $white
	background: $blue
	border-radius: 4px
	padding: 16px 75px
	text-decoration: none
	transition: 0.35s
	text-align: center
	cursor: pointer
	//---- 📱 SP ----
	+sp
		width: 100%
		padding: 11.5px 0
	//--------------------------------
	&:hover
		opacity: 0.8
	//--------------------------------
	&::after
		content: ""
		background: url("../img/pc/circle_arrow.png") no-repeat left center
		background-size: 16px 16px
		width: 16px
		height: 16px
		position: absolute
		top: 16px
		right: 20px
		//---- 📱 SP ----
		+sp
			top: 13px
			background: url("../img/sp/circle_arrow.png") no-repeat left center
			background-size: 14px 14px
			width: 14px
			height: 14px

//________________________________________________________
.c-btn_mail
	border-radius: 5px
	background: $blue url("../img/pc/mail.png") no-repeat left center
	background-position-x: 22px
	padding: 17px 21px 17px 50px
	color: $white
	font-size: 1.6rem
	text-decoration: none
	transition: 0.35s
	display: block
	//--------------------------------
	&:hover
		opacity: 0.8

//________________________________________________________
.c-sp_btn_contact
	text-align: center
	color: $black
	background: $white
	margin: 0 15px
	border-radius: 3px
	text-decoration: none
	font-size: (3.2rem/2)
	display: block
	position: relative
	padding: 18px 0
	line-height: 0.6rem
	//--------------------------------
	p
		font-size: (3.8rem/2)
		font-weight: bold
		line-height: 2.5rem
		letter-spacing: 2.1px
		//--------------------------------
		span
			display: inline
			font-size: (3.2rem/2)
			letter-spacing: 0
		//--------------------------------
		img
			width: 20px
			height: 20px
	//--------------------------------
	&__img
		width: 14px
		height: 14px
		position: absolute
		top: 40%
		right: 15px
	//--------------------------------
	&--footer
		background: $blue
		color: $white
//________________________________________________________
.c-btn_medal
	display: inline-flex
	border: 1px solid $blue
	border-radius: 5px
	width: 189px
	padding: 18.5px
	//---- 📱 SP ----
	+sp
		width: 100%
		padding: 8.38px 0
		margin-bottom: 15px
		//--------------------------------
		&:last-child
			margin-bottom: 0
	//--------------------------------
	div
		margin: auto
		display: inherit
		//--------------------------------
		img
			margin-right: 8px
			//---- 📱 SP ----
			+sp
				width: 14.75px
				height: 21.25px
		//--------------------------------
		p
			display: inherit
			flex-direction: column
			justify-content: center

//________________________________________________________
.l-btn_medal
	display: flex
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		display: block

//================================================================
//		SP Menu Button
//================================================================
//________________________________________________________
.c-btnMenuSP
	z-index: 99
	background: $blue
	padding: 8px 12.5px 12.5px 12.5px
	border-radius: 3px

//________________________________________________________
.c-btnMenuSP__bar1, .c-btnMenuSP__bar2, .c-btnMenuSP__bar3
	width: 15px
	height: 2px
	background-color: $white
	transition: 0.4s
	display: block
	margin: 4.5px 0 0 0

//________________________________________________________
.c-btnMenuSP__trans
	//--------------------------------
	.c-btnMenuSP__bar1
		-webkit-transform: rotate(-45deg) translate(-5px, 4px) scale(1.31,1)
		transform: rotate(-45deg) translate(-5px, 4px) scale(1.31,1)
	//--------------------------------
	.c-btnMenuSP__bar2
		opacity: 0
	//--------------------------------
	.c-btnMenuSP__bar3
		-webkit-transform: rotate(45deg) translate(-5px, -5px) scale(1.31,1)
		transform: rotate(45deg) translate(-5px, -5px) scale(1.31,1)