@charset "UTF-8"
//================================================================
//		Component
//
//		F O R M
//================================================================
//________________________________________________________
.c-form
	//--------------------------------
	input
		width: 420px
		height: 25px
		text-indent: 1rem
		border: 1px solid #BDBDBD
		margin: 7px 0
		//---- 📱 SP ----
		+sp
			width: 92%
	//--------------------------------
	select
		width: 150px
		height: 29px
		text-indent: 1rem
		border: 1px solid #BDBDBD
		background: $white
		color: #999
		margin: 1px 0 5px 0
	//--------------------------------
	textarea
		@extend input
		resize: none
		height: 134px
		text-indent: 0
		margin: 6px 0 1px 0
		//---- 📱 SP ----
		+sp
			width: 91%