@charset "UTF-8"
//================================================================
//		Component
//
//		Horizon Line
//================================================================
//________________________________________________________
.hr_1
	hr
		min-width: 1000px
		border-bottom: 1px solid #ccc
		border-top: none
		//---- 📱 SP ----
		+sp
			min-width: 100%