@charset "UTF-8"
//================================================================
//		Component
//
//		L I S T
//================================================================
//________________________________________________________
.c-list_1
	line-height: 2.2rem
	margin-left: 1rem
	//--------------------------------
	li
		margin-bottom: 5px
		//---- 📱 SP ----
		+sp
			letter-spacing: 0.2px
		//--------------------------------
		&:before
			content: "•"
			color: $blue
			display: inline-block
			font-size: 2rem
			position: absolute
			margin-left: -1rem
	//--------------------------------
	&--lh_14
		line-height: 1.4rem

