@charset "UTF-8"
//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-news
	display: flex
	background: #E9EFF2
	width: 964px
	padding: 18px
	//---- 📱 SP ----
	+sp
		background: none
		width: 100%
		padding: 0
	//--------------------------------
	h2
		color: $black
		margin-right: 1.6rem
	//--------------------------------
	a
		color: $black
		text-decoration: none
		margin-left: 1.6rem

//________________________________________________________
.c-phone
	display: block
	background: url("../img/pc/phone.png") no-repeat left center
	padding: 12px 0 12px 18px
	color: $black_brown
	font-size: 2.5rem
	letter-spacing: 2.6px
	font-weight: bold
	//--------------------------------
	&--footer
		font-size: 2.8rem
		letter-spacing: 3.1px
		padding: 12px 20px 12px 20px

//________________________________________________________
.c-fax
	display: block
	background: url("../img/pc/fax.png") no-repeat left center
	padding: 12px 0 12px 25px
	color: $black_brown
	font-size: 2.8rem
	letter-spacing: 4.2px
	font-weight: bold
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/fax.png") no-repeat left center
		background-size: 12px 12px
		font-size: (2.8rem/2)
		display: inline-block
		letter-spacing: 2.2px
		padding: 10px 0 10px 15px

//________________________________________________________
.c-map
	width: 100%
	display: block
	//---- 📱 SP ----
	+sp
		height: 251px
	//--------------------------------
	&--topline
		border-top: 1px solid #ccc

//________________________________________________________
.c-step
	width: 325px
	margin: 0 auto 0 auto
	//---- 📱 SP ----
	+sp
		width: 290px
	//--------------------------------
	ul
		display: flex
		justify-content: center
		color: #BDBDBD
		position: relative
		//---- 📱 SP ----
		+sp
			justify-content: space-around
		//--------------------------------
		.is-current
			color: $blue
			//--------------------------------
			a
				border-color: $blue
		//--------------------------------
		li
			padding: 0 52px
			//---- 📱 SP ----
			+sp
				padding: 0
			//--------------------------------
			&:after
				content: ""
				border-top: 1px solid #BDBDBD
				display: block
				position: absolute
				top: 18px
				left: 33px
				width: 109px
				//---- 📱 SP ----
				+sp
					left: 64px
					width: 60px
			//--------------------------------
			&:before
				content: ""
				border-top: 1px solid #BDBDBD
				display: block
				position: absolute
				top: 18px
				right: 39px
				width: 108px
				//---- 📱 SP ----
				+sp
					right: 69px
					width: 62px
			//--------------------------------
			a
				display: flex
				justify-content: center
				flex-flow: column
				text-align: center
				font-size: 1.8rem
				border: 1px solid #BDBDBD
				border-radius: 50%
				width: 34px
				height: 34px
				background: $white
				margin-bottom: 12px
			//--------------------------------
			p
				font-size: 1.9rem
				text-align: center
				width: 40px

//________________________________________________________
.c-require
	background: #E13939
	color: $white
	padding: 2px 5px
	font-size: 1.1rem
	//--------------------------------
	&--non
		background: #999