@charset "UTF-8"
//================================================================
//		Component
//
//		N A V I G A T O R
//================================================================
//________________________________________________________
.c-subnavi
	border-top: 1px solid #ccc
	border-bottom: 1px solid #ccc
	padding: 19px 0
	margin: 54px 0 37px 0
	//---- 📱 SP ----
	+sp
		padding: 8.5px 0
		margin: 30px 0 0 0
	//--------------------------------
	a
		color: $blue
		cursor: pointer
		border-left: 1px solid #ccc
		padding: 0 20px
		//---- 📱 SP ----
		+sp
			letter-spacing: -2.3px
		//--------------------------------
		&:first-child
			border: none
			padding-left: 0
		//--------------------------------
		&:after
			content: ""
			border: solid $blue
			border-width: 0 2px 2px 0
			display: inline-block
			padding: 3px
			transform: rotate(45deg)
			margin-left: 5px
			margin-bottom: 3px

//________________________________________________________
.l-subnav
	margin-top: 57px
	margin-bottom: 35px
	//---- 📱 SP ----
	+sp
		margin-top: 30px
