@charset "UTF-8"
//================================================================
//		Component
//
//		T A B L E
//================================================================
//________________________________________________________
.c-table
	border-collapse: collapse
	width: 100%
	//--------------------------------
	tr
		border: 1px solid #ccc
		//--------------------------------
		th
			font-weight: normal
			width: 229px
			border-bottom: 1px solid #ccc
			border-right: 1px solid #ccc
			padding-left: 20px
			text-align: left
			//---- 📱 SP ----
			+sp
				width: 25%
		//--------------------------------
		td
			padding-left: 20px
			padding: 16px 0 15.5px 20px
			border-bottom: 1px solid #ccc
			line-height: 2.2rem
			//---- 📱 SP ----
			+sp
				width: 75%

//================================================================
//		Column
//================================================================
//________________________________________________________
.l-cols
	display: flex
	justify-content: space-between
	+sp
		display: inline-block
	//--------------------------------
	.c-cols
		display: inline-block
		+sp
			width: 100%
			margin-top: 32px
			&:first-child
				margin-top: 0
		//--------------------------------
		&__content
			background: #E9EFF2
			height: 449px
			width: 313px
			//---- 📱 SP ----
			+sp
				width: 100%
				height: auto
				padding: 0
			//--------------------------------
			p
				line-height: 2.2rem
				padding: 18px