@charset "UTF-8"
//================================================================
//		Component
//
//		T I T L E
//================================================================
//________________________________________________________
.c-title
	text-align: center
	padding: 24px 0
	//--------------------------------
	&:after
		content: ""
		display: block
		border-bottom: 1px solid $blue
		width: 55px
		margin: auto
		padding-bottom: 11px
		//---- 📱 SP ----
		+sp
			padding-bottom: 0
			width: 25px
	//---- 📱 SP ----
	+sp
		padding: 15px 0
		//--------------------------------
		img
			margin: auto auto -5px auto
			width: 262.75px
			height: auto

//________________________________________________________
.c-title_1
	font-weight: normal
	color: $blue
	text-align: center
	//--------------------------------
	&:after
		content: ""
		display: block
		border-bottom: 1px solid
		width: 55px
		margin: auto
		padding-bottom: 11px
		//---- 📱 SP ----
		+sp
			width: 25px
			padding-bottom: 12px

//________________________________________________________
.c-title_2
	display: block
	margin-bottom: 7px
	font-size: 1.8rem
	//---- 📱 SP ----
	+sp
		display: flex
		//--------------------------------
		img
			height: 18.25px
			width: auto
	//--------------------------------
	&:before
		content: ""
		border: 2px solid $blue
		display: inline-block
		border-radius: 14px
		width: 14px
		height: 14px
		//---- 📱 SP ----
		+sp
			margin-right: 6px
			width: 12px
			height: 12px

//________________________________________________________
.c-title_3
	color: $blue
	padding-bottom: 8px
	border-bottom: 1px solid
	//---- 📱 SP ----
	+sp
		padding: 0