@charset "UTF-8"
//================================================================
//		Component
//
//		T I T L E    I M A G E
//================================================================
//________________________________________________________
.c-title_img_1
	display: inline-block
	text-decoration: none
	//---- 📱 SP ----
	+sp
		padding: 0 15px
	//--------------------------------
	&__img
		//---- 📱 SP ----
		+sp
			width: 100%
			height: auto
	//--------------------------------
	&__txt
		text-align: center
		background: $blue
		color: $white
		padding: 16px
		+sp
			padding: 14px
		//--------------------------------
		h2
			font-weight: normal
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				height: 26px
				width: 101px
				margin: auto

//________________________________________________________
.c-title_img_2
	display: inline-block
	//---- 📱 SP ----
	+sp
		margin-top: 15px
		padding: 0 15px
		&:first-child
			margin-top: -13px
	//--------------------------------
	img
		//---- 📱 SP ----
		+sp
			width: 100%
			height: auto
	//--------------------------------
	p
		font-size: 1.6rem
		text-align: center
		background: $white
		color: $black
		padding: 20px
		//---- 📱 SP ----
		+sp
			width: 100%
			padding: 14px 0

//================================================================
//		I M A G E    B L O C K
//================================================================
//________________________________________________________
.c-img_block
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin: 24px auto 30px auto
	&__inner
		padding: 0 10px
	//---- 📱 SP ----
	+sp
		width: 100%
		//--------------------------------
		&__inner
			width: 48%
			height: auto
			display: inline-block
			margin-bottom: 12px
			padding: 0
			//--------------------------------
			img
				width: 100%
				height: auto


//================================================================
//		Full text image
//================================================================
//________________________________________________________
.c-txt_img
	display: flex
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		display: block
		//--------------------------------
		p
			letter-spacing: 0.2px
	//--------------------------------
	&__txt
		width: 445px
		height: auto
		//---- 📱 SP ----
		+sp
			width: 100%
	//--------------------------------
	&__img
		//---- 📱 SP ----
		+sp
			display: block
			//--------------------------------
			img
				width: 100%
				height: auto

//________________________________________________________
.l-full_txt_img
	//--------------------------------
	.c-txt_img
		margin-top: 26px
		//---- 📱 SP ----
		+sp
			margin-top: 12px
		//--------------------------------
		&__txt
			line-height: 2.2rem
			letter-spacing: -0.5px
			//---- 📱 SP ----
			+sp
				letter-spacing: -0.4px
			//--------------------------------
			.c-title_3
				//---- 📱 SP ----
				+sp
					margin-top: 10px
			//--------------------------------
			.u-txtblue
				margin-top: 9px
			//--------------------------------
			.c-list_1
				margin-top: 10px
				//---- 📱 SP ----
				+sp
					margin-top: 3px
	//--------------------------------
	.l-btn_medal
		margin-top: 26px
		//---- 📱 SP ----
		+sp
			margin-top: 8px


//________________________________________________________
.c-txt_img_1
	width: 485px
	//---- 📱 SP ----
	+sp
		width: 100%
		//--------------------------------
		&:nth-child(2)
			margin-top: 32px
	//--------------------------------
	&__img
		display: inline-block
		margin-bottom: 5px
		//---- 📱 SP ----
		+sp
			img
				width: 100%
				height: auto
	//--------------------------------
	&__txt
		margin-top: 12px

//________________________________________________________
.l-txt_img_1
	display: flex
	justify-content: space-between
	//--------------------------------
	+sp
		display: block