//================================================================
//		  ____                _____   ______
//		 |  _ \      /\      / ____| |  ____|
//		 | |_) |    /  \    | (___   | |__
//		 |  _ <    / /\ \    \___ \  |  __|
//		 | |_) |  / ____ \   ____) | | |____
//		 |____/  /_/    \_\ |_____/  |______|
//
//================================================================




@charset "UTF-8"
//================================================================
//		P R E L O A D
//
//		@preload
//================================================================
//________________________________________________________
body
	transition: 0.75s

//________________________________________________________
body.preload
	opacity: 0

//________________________________________________________
body.loaded
	opacity: 1

//________________________________________________________
.e-goto_url
	cursor: pointer

//________________________________________________________




//================================================================
//		H O V E R
//
//		@hover
//================================================================
//________________________________________________________
.e-hover_o55
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.55

//________________________________________________________
.e-hover_o75
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.75

//________________________________________________________