@charset "UTF-8"
//================================================================
//		 B A S E
//================================================================
@import "0_base/_vars.sass"
@import "0_base/_reset.sass"
@import "0_base/_mixin.sass"
@import "0_base/_utilities.sass"
@import "0_base/_effects.sass"


.pc_only
	//---- 📱 SP ----
	+sp
		display: none !important
.sp_only
	display: none !important
	//---- 📱 SP ----
	+sp
		display: block !important


//================================================================
//		 L A Y O U T
//
//		.l-
//================================================================
@import "1_layout/_01_header.sass"
@import "1_layout/_02_banner.sass"
@import "1_layout/_03_breadcrumb.sass"
@import "1_layout/_04_layout.sass"
@import "1_layout/_05_footer.sass"

//================================================================
//		 C O M P O N E N T
//
//		.c-
//================================================================
@import "2_component/_01_title.sass"
@import "2_component/_02_btn.sass"
@import "2_component/_03_navi.sass"
@import "2_component/_04_txt.sass"
@import "2_component/_05_img.sass"
@import "2_component/_06_txt_img.sass"
@import "2_component/_07_table.sass"
@import "2_component/_08_form.sass"
@import "2_component/_09_slide.sass"
@import "2_component/_99_misc.sass"

//================================================================
//		 P R O J E C T
//
//		.p-
//================================================================
@import "3_project/_01_index.sass"
@import "3_project/_02_qa.sass"
@import "3_project/_03_topics.sass"
@import "3_project/_04_rule.sass"




//________________________________________________________
//--------------------------------
//---- 📱 SP ----




//<!--
//________________________________
//-->
//
//<!-- 💻 PC -->
//
//<!-- 📱 SP -->
//
//▼
//
//▲

