@charset "UTF-8"
//================================================================
//		Layout
//
//		B A N N E R
//================================================================
//________________________________________________________
.c-banner_index
	background: url("../img/pc/banner.jpg") left center no-repeat
	background-size: cover
	width: 100%
	height: 578px
	text-align: center
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/banner.jpg") left bottom no-repeat
		background-size: cover
		height: 483.5px
	//--------------------------------
	img
		margin-top: 182px
		//---- 📱 SP ----
		+sp
			margin: auto
			padding-top: 120px
			width: 240.5px
			height: auto

//________________________________________________________
.c-banner
	background: $grey_2
	width: 100%
	height: 137px
	text-align: center
	margin-top: 72px
	margin-bottom: 65px
	//---- 📱 SP ----
	+sp
		margin-top: 50px
		margin-bottom: 40px
		height: 83px
	//--------------------------------
	img
		padding-top: 45px
		//---- 📱 SP ----
		+sp
			padding-top: 22px
			margin: auto
			width: auto
			height: 38.5px