@charset "UTF-8"
//================================================================
//		Layout
//
//		F O O T E R
//================================================================
//________________________________________________________
.l-footer
	background: $teal
	padding: 65px 0
	text-align: center
	//---- 📱 SP ----
	+sp
		padding: 43px 0 32px 0

//________________________________________________________
.c-footer_1
	text-align: center
	//--------------------------------
	&__title
		//---- 📱 SP ----
		+sp
			//--------------------------------
			img
				margin: auto
				width: 271px
				height: auto
	//--------------------------------
	&__btn
		margin-top: 15px
		+sp
			margin-top: 17px
			display: flex
			justify-content: space-between
		//--------------------------------
		a
			display: inline-block
			background: $white
			border-radius: 5px
			text-decoration: none
			margin: 0 10px
			//---- 📱 SP ----
			+sp
				background: none
				//--------------------------------
				&:first-child
					margin-left: 0
				//--------------------------------
				&:last-child
					margin-right: 0
				//--------------------------------
				img
					width: 100%
					height: auto

//________________________________________________________
.c-footer_2
	margin-top: 33px
	//---- 📱 SP ----
	+sp
		margin-top: 23px
	//--------------------------------
	&__logo
		float: left
		margin-right: 25px
		//---- 📱 SP ----
		+sp
			float: none
			display: block
			margin-right: 0
			//--------------------------------
			img
				margin: auto
				width: 169.5px
				height: auto
	//--------------------------------
	&__navi
		float: left
		margin-top: 11px
		//---- 📱 SP ----
		+sp
			margin-top: 26px
			float: none
			display: flex
			justify-content: center
		//--------------------------------
		ul
			display: flex
			//---- 📱 SP ----
			+sp
				display: block
			//--------------------------------
			li
				//---- 📱 SP ----
				+sp
					float: left
					line-height: 1.7rem
					//--------------------------------
					&:last-child
						float: none
				//--------------------------------
				a
					text-decoration: none
					color: $white
					transition: 0.35s
					padding: 0 10px
					letter-spacing: -0.7px
					font-size: 1.4rem
					font-weight: bold
					//--------------------------------
					&:hover
						color: $teal_1
					//---- 📱 SP ----
					+sp
						font-size: 1.3rem
						letter-spacing: 0.4px
						padding: 0 5px
	//--------------------------------
	&__social
		float: right
		//--------------------------------
		a
			text-decoration: none
			margin-left: 7px

//________________________________________________________
.c-footer_3
	margin-top: 11px
	display: inline-block
	//---- 📱 SP ----
	+sp
		margin-top: 20px
	//--------------------------------
	p
		font-size: 1.2rem
		color: $white
		line-height: 2.2rem
		letter-spacing: 1.2px
		//---- 📱 SP ----
		+sp
			font-size: 1.1rem
			line-height: 1.8rem