@charset "UTF-8";

//================================================================
//		Component
//
//		T I T L E
//================================================================
//________________________________________________________
.c-title {
  text-align: center;

  //--------------------------------
  &__s1 {
    border-top: 1px solid $brown;
    border-bottom: 1px solid $brown;
    width: 460px;
    padding: 6px 0;
    margin: auto;

    //--------------------------------
    p {
      color: $brown;
      line-height: 16px;
      letter-spacing: 1px;
    }
  }
}
