@charset "UTF-8";

//================================================================
//		Component
//
//		B U T T O N
//================================================================
//________________________________________________________
.c-btn {}

//================================================================
//		T O P    B U T T O N
//================================================================
//________________________________________________________
.l-btn_top {
  position: fixed;
  bottom: 40px;
  right: 20%;
  display: none;

  //--------------------------------
  .c-btn_top {
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    cursor: pointer;
    text-align: center;
    display: block;
    background: $cold_green;
    -webkit-transition: none;
    transition: 0.45s;

    //--------------------------------
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $white;
      border-width: 0 1px 1px 0;
      padding: 8px;
      transform: rotate(-135deg);
      top: 31px;
      right: 21px;
      transition: 0.35s;
    }

    //--------------------------------
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $white;
      border-width: 1px 0 0 0;
      padding: 12px;
      top: 21px;
      right: 19px;
      transition: 0.35s;
    }

    //--------------------------------
    &:hover {
      top: -4px;
      background-color: $white;
      box-shadow: 0 3px 0 $cold_green;
      border: 1px solid #E2EDEA;

      //--------------------------------
      &:before {
        border-color: $cold_green;
      }

      //--------------------------------
      &:after {
        border-color: $cold_green;
      }
    }

    //--------------------------------
    &:active {
      top: 2px;
      background-color: #EAFFF6;
      box-shadow: none;
      transition: 0.2s;
    }
  }
}
