@charset "UTF-8";

//================================================================
//		Component
//
//		T E X T
//================================================================
//________________________________________________________
.c-txt_box {
  color: $white;
  background: $cold_green;
  display: inline-block;
  line-height: 28px;
  padding: 0 17px;
  font-weight: 100;
}

//________________________________________________________
.c-txt_border {
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 1px;
  border-top: 1px solid #B4B1AF;
  border-bottom: 1px solid #B4B1AF;
  display: inline-block;
  padding-right: 3px;

  //--------------------------------
  span {
    font-size: 14.15px;
  }
}
