@charset "UTF-8";

//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-map {
  width: 48%;
  height: 600px;
}
