@charset "UTF-8"
//================================================================
//		Layout
//
//		H E A D E R
//================================================================
//________________________________________________________
.l-header


//________________________________________________________
.c-header
	margin-top: 40px
	display: flex
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		margin-top: 20px
	//--------------------------------
	&__logo
		margin-left: 40px
		z-index: 99
		//---- 📱 SP ----
		+sp
			margin-left: 20px
			//--------------------------------
			img
				width: auto
				height: 20px
	//--------------------------------
	&__contact
		display: flex
		margin-right: 32px
		margin-top: -18px
		//--------------------------------
		&__col1
			margin-top: 10px
		//--------------------------------
		&__col2
			margin-top: 2px
			margin-left: 20px
			//---- 📱 SP ----
			+sp
				//--------------------------------
				div:not(.l-txt_box_hf)
					//--------------------------------
					img
						width: auto
						height: 20px

//________________________________________________________
.c-header_content
	margin-top: 222px
	margin-left: 0
	//---- 💻 PC_1280 ----
	+pc_1280
		margin-top: 82px
	//---- 📱 SP ----
	+sp
		margin-top: 20px
		//--------------------------------
		img
			width: 300px
			height: auto

//================================================================
//		G L O B A L    N A V I G A T I O N
//================================================================
//________________________________________________________
.c-gnavi
	display: flex
	justify-content: center
	background: $white
	border-bottom: 1px solid $blue_2
	margin-top: 240px
	//---- 💻 PC_1280 ----
	+pc_1280
		margin-top: 100px
	//--------------------------------
	ul
		text-align: center
		display: inline-flex
		justify-content: center
		border-right: 1px solid $lightgrey
		//--------------------------------
		li
			border-left: 1px solid $lightgrey
			//--------------------------------
			a
				display: flex
				justify-content: center
				flex-direction: column
				text-decoration: none
				color: $black
				transition: 0.35s
				width: 158.84px
				height: 120px
				//--------------------------------
				img
					margin: 0 auto
				//--------------------------------
				&:hover
					opacity: 0.65
	//--------------------------------
	&__taxi
		background: #ffcc00
		border-bottom: none
		margin-top: 752px
		//---- 💻 PC_1280 ----
		+pc_1280
			margin-top: 432px
		//--------------------------------
		ul
			border-right: none
			//--------------------------------
			li
				border-left: none
				//--------------------------------
				a
					height: 108px

//================================================================
//		G L O B A L    SP    N A V I G A T I O N
//================================================================
//________________________________________________________
.c-gnavi_sp
	background: $white
	position: absolute
	width: 100%
	display: none
	z-index: 90
	top: 0
	left: 0
	padding-top: 59px
	//--------------------------------
	&__home
		position: absolute
		top: 11px
		left: 185px
		color: $blue_1
		text-decoration: none
		font-size: 1.5rem
	//--------------------------------
	ul
		//--------------------------------
		li
			border-bottom: 1px solid #E8E8E8
			padding: 0 20px
			//--------------------------------
			&:first-child
				border-top: 1px solid $blue_2
			//--------------------------------
			.is-title
				position: relative
				font-size: 1.5rem
				color: $blue_1
				text-decoration: none
				display: flex
				padding: 11px 0 10px 0
				//--------------------------------
				&:after
					content: ""
					display: inline-block
					position: absolute
					border: solid $blue
					border-width: 1px
					width: 18px
					height: 18px
					border-radius: 20px
					top: 20px
					right: 20px
					transition: 0.35s
				//--------------------------------
				p
					margin-left: 10px
					//--------------------------------
					&:after
						content: ""
						display: inline-block
						position: absolute
						border: solid $blue
						border-width: 0 0 2px 0
						padding: 4px
						transform: rotate(-45deg)
						top: 25px
						right: 29px
						transition: 0.35s
					//--------------------------------
					&:before
						content: ""
						display: inline-block
						position: absolute
						border: solid $blue
						border-width: 0 0 2px 0
						padding: 4px
						transform: rotate(45deg)
						top: 20px
						right: 23px
						transition: 0.35s
				//--------------------------------
				img
					margin-top: 8px
					width: auto
					height: 24px
			//--------------------------------
			a:not(.is-title)
				position: relative
				display: block
				font-size: 1.3rem
				color: $black
				text-decoration: none
				margin-left: 35px
				padding: 9px 0
				//--------------------------------
				&:after
					content: ""
					display: inline-block
					position: absolute
					border: solid $blue
					border-width: 0 0 2px 0
					padding: 4px
					transform: rotate(-45deg)
					top: 21px
					right: 29px
					transition: 0.35s
				//--------------------------------
				&:before
					content: ""
					display: inline-block
					position: absolute
					border: solid $blue
					border-width: 0 0 2px 0
					padding: 4px
					transform: rotate(45deg)
					top: 16px
					right: 23px
					transition: 0.35s