@charset "UTF-8"
//================================================================
//		Layout
//
//		B A N N E R
//================================================================
//________________________________________________________
.c-banner
	background: url("../img/banner-index_1.jpg") center no-repeat
	background-size: cover
	width: 100%
	height: 840px
	position: absolute
	top: 0
	left: 0
	z-index: -1
	//---- 💻 PC_1280 ----
	+pc_1280
		height: 560px
	//---- 📱 SP ----
	+sp
		height: 420px
	//--------------------------------
	&__taxi
		background: url("../img/banner-taxi.jpg") right center no-repeat
		background-size: cover
		height: 960px
		//---- 💻 PC_1280 ----
		+pc_1280
			background: url("../img/banner-taxi_1280.jpg") right center no-repeat
			background-size: cover
			height: 640px
