@charset "UTF-8";

//================================================================
//		Layout
//
//		H E A D E R
//================================================================
//________________________________________________________
.l-header {
  z-index: 99;

  //---- 📱 SP ----
  @include sp {
    position: relative;
  }
}

//________________________________________________________
.c-header {
  position: relative;
  max-width: 1215px;
  min-width: 1215px;
  padding-top: 26px;
  padding-bottom: 23px;
  margin: auto;
  text-align: center;

  //---- 📱 SP ----
  @include sp {
    position: fixed;
    background: $white;
    max-width: 650px;
    min-width: 100%;
    padding-top: 17px;
    padding-bottom: 8px;
    text-align: left;
    top: 0;
    left: 0;
  }


  //--------------------------------
  &__logo {
    display: inline-block;

    //---- 📱 SP ----
    @include sp {
      margin-left: 15px;

      //--------------------------------
      img {
        width: 146.5px;
        height: auto;
      }
    }
  }

  //--------------------------------
  .l-btn_social {
    top: 42px;
    right: 0;
  }
}

//________________________________________________________
.is-opening {
  //---- 📱 SP ----
  @include sp {
    //--------------------------------
    .c-header {
      background: #c7c7c7;
    }

    //--------------------------------
    .c-gnavi__with_btn {
      position: fixed;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);

      //--------------------------------
      nav {
        transform: translateX(0px);
      }
    }
  }
}
