@charset "UTF-8";

//================================================================
//		Layout
//
//		F O O T E R
//================================================================
//________________________________________________________
.l-footer {
  min-width: 1215px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }
}

//________________________________________________________
.c-footer_contact {
  display: flex;
  justify-content: space-between;
  margin: 111px auto 112px auto;
  width: 1000px;

  //---- 📱 SP ----
  @include sp {
    justify-content: center;
    width: 100%;
    margin: 28px auto 15px auto;
  }


  //--------------------------------
  &__content {
    display: flex;
    margin-top: 2px;
    margin-right: 19px;

    //---- 📱 SP ----
    @include sp {
      flex-direction: column;
      margin-right: 0;
    }


    //--------------------------------
    .c-txt_phone {
      margin-top: 6px;
      margin-right: 37px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 6px;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    //--------------------------------
    .c-btn_reservation {
      //---- 📱 SP ----
      @include sp {
        margin-bottom: 33px;
      }
    }
  }
}

//________________________________________________________
.c-footer_copyright {
  background: $black;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;

  //---- 📱 SP ----
  @include sp {
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 12px;
  }


  //--------------------------------
  p {
    color: $white;
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 1px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1rem;
      padding: 0 16px;
    }
  }
}
