@charset "UTF-8"
//================================================================
//		R E S P O N S I V E
//
//		[Ctrl + F]:  @responsive
//================================================================
//________________________________________________________
.pc
	//----breakpoint----
	+sp
		display: none
//________________________________________________________
.sp
	display: none
	//----breakpoint----
	+sp
		display: block

//================================================================
//		H E A D E R
//
//		[Ctrl + F]:  @header
//================================================================
//________________________________________________________
.c-headerPC
	max-width: 1050px
	//min-width: 1050px
	height: 80px
	margin: auto
	display: flex
	justify-content: space-between
	align-items: center
	//--------------------------------
	ul
		float: right
		display: flex
		//--------------------------------
		li
			margin-left: 20px
			//--------------------------------
			a
				color: $black

//________________________________________________________
.c-gnav
	background: $white
	border-top: 1px solid #ccc
	border-bottom: 1px solid #ccc
	min-width: 800px
	margin: auto
	//--------------------------------
	ul
		margin: auto
		display: flex
		text-align: center
		justify-content: space-between
		max-width: 1050px
		//min-width: 1050px
		border-right: 1px solid #CCC
		//--------------------------------
		li
			width: 210px
			background: #EFEFEF
			border-left: 1px solid #ccc
			float: left
			//--------------------------------
			a
				display: block
				padding: 12.5px 0
				color: $black
				text-decoration: none

//________________________________________________________
.c-headerSP
	height: 60px
	width: 100%
	align-items: center
	display: flex
	position: fixed
	border-bottom: 1px solid #ccc
	background: $white
	top: 0
	//--------------------------------
	&__logo
		margin-left: 10px
		z-index: 99
	//--------------------------------
	&__nav
		position: absolute
		top: 32px
		padding: 0
		width: 100%
		text-indent: 16px
		display: none
		background: $white
		//--------------------------------
		ul
			margin-top: 30px
			font-size: 1.2rem
			border-top: 1px solid #ccc
			//--------------------------------
			li
				border-bottom: 1px solid #ccc
				//--------------------------------
				a
					display: block
					color: $black
					text-decoration: none
					padding: 10px 0

//================================================================
//		F O O T E R
//
//		[Ctrl + F]:  @footer
//================================================================
//________________________________________________________
.c-footerCategory
	background: #EFEFEE
	border-top: 1px solid #ccc
	border-bottom: 1px solid #ccc
	padding: 35px 0
	//max-width: 1050px
	//----breakpoint----
	+sp
		min-width: 100%
		padding: 0 0 30px 0

//________________________________________________________
.c-footerCategory__inner
	max-width: 1050px
	min-width: 800px
	margin: auto
	display: flex
	justify-content: space-between
	//----breakpoint----
	+sp
		width: 100%
		min-width: 100%
		display: block
		text-align: center

//________________________________________________________
.c-footerCategory__links
	float: left
	display: block
	font-size: 1.4rem
	//----breakpoint----
	+sp
		float: none
		display: inline-block
		margin-top: 32px
		margin-right: 10px
		margin-left: 10px
		font-size: 1.2rem
	//--------------------------------
	ul
		//--------------------------------
		li
			margin-top: 12px
			//--------------------------------
			a
				color: $black
				text-decoration: none

//________________________________________________________
.c-footerCopyright
	padding: 19px 0
	min-width: 800px
	//----breakpoint----
	+sp
		min-width: 100%
		font-size: 1rem
		padding: 10px 0
	//--------------------------------
	p
		text-align: center

//================================================================
//		B R E A D C R U M B
//
//		[Ctrl + F]:  @breadcrumb
//================================================================
//________________________________________________________
.c-breadcrumb
	padding: 8.5px 0
	margin: auto
	//----breakpoint----
	+sp
		min-width: 100%
		padding: 7.5px 0
	//--------------------------------
	ul
		max-width: 1050px
		display: flex
		margin: auto
		font-size: 1.2rem
		//----breakpoint----
		+sp
			width: 100%
			font-size: 1rem
		//--------------------------------
		li
			float: left
			//--------------------------------
			a
				padding: 12.5px 0
				color: $pure_black
		//--------------------------------
		li::after
			content: "›"
			margin: 0 10px
			font-size: 1.4rem
			//----breakpoint----
			+sp
				margin: 0 8px
		//--------------------------------
		li:last-child::after
			content: ""
		//--------------------------------
		li:first-child
			+sp
				text-indent: 16px
	//--------------------------------
	&--topline
		border-top: 1px solid #ccc
	//--------------------------------
	&--bottomline
		border-bottom: 1px solid #ccc

//================================================================
//		T I T L E
//
//		[Ctrl + F]:  @title @ctitle
//================================================================
//________________________________________________________
.c-title-component1, .c-title-component2, .c-title-component3
	margin: 40px 0 20px 0
	padding: 5.5px 0
	border-radius: 5px

//________________________________________________________
.c-title-component1
	font-size: 1.6rem
	background: $pure_black
	color: $white
	text-indent: 16px

//________________________________________________________
.c-title-component2
	font-size: 1.3rem
	background: $grey
	color: $white
	text-indent: 32px
	margin-top: 20px

//________________________________________________________
.c-title-component3
	font-size: 1.3rem
	background: $light_grey
	color: $pure_black
	text-indent: 40px
	margin-top: 20px

//________________________________________________________
.c-title
	border-bottom: 1px solid #ccc
	//--------------------------------
	.c-title__inner
		height: 100px
		max-width: 1050px
		margin: auto
		display: flex
		justify-content: center
		flex-direction: column
		//----breakpoint----
		+sp
			width: auto
			height: 70px
			padding-left: 10px
		//--------------------------------
		h2
			font-size: 2.2rem
			//----breakpoint----
			+sp
				font-size: 1.6rem
		//--------------------------------
		p
			font-size: 1.4rem
			margin-top: 8px
			//----breakpoint----
			+sp
				font-size: 1rem

//________________________________________________________
.c-title1
	border-left: 8px solid #8CC152
	color: $pure_black
	margin-bottom: 10px
	//--------------------------------
	h1
		font-size: 1.6rem
		text-indent: 15px
		padding: 4px 0
		//----breakpoint----
		+sp
			font-size: 1.4rem
	//--------------------------------
	&--orange
		border-color: #F6BB42
	//--------------------------------
	&--red
		border-color: #E9573F
	//--------------------------------
	&--redtext h1
		color: #DA4453
	//--------------------------------
	&--lightbluetext h1
		color: #3BAFDA

//________________________________________________________
.c-title2
	border-bottom: 1px solid #333
	padding-bottom: 12px
	margin-bottom: 20px
	//--------------------------------
	h1
		font-size: 1.8rem
		//----breakpoint----
		+sp
			font-size: 1.4rem
	&--lime
		border-color: #8CC152
		//--------------------------------
		h1
			color: #8CC152

//________________________________________________________
.c-title3
	font-size: 1.4rem

//================================================================
//		B U T T O N
//
//		[Ctrl + F]:  @button  @btn  @cbtn  @cbutton
//================================================================
//________________________________________________________
.c-btnMenuSP
		display: block !important
		position: absolute
		right: 10px
		top: 9px
		z-index: 99

//________________________________________________________
.c-btnMenuSP__bar1, .c-btnMenuSP__bar2, .c-btnMenuSP__bar3
	width: 30px
	height: 5px
	background-color: $pure_black
	transition: 0.4s
	display: block !important
	margin: 5px 0 0 0 !important

//________________________________________________________
.c-btnMenuSP__trans
	//--------------------------------
	.c-btnMenuSP__bar1
		-webkit-transform: rotate(-45deg) translate(-3.5px, 3px)
		transform: rotate(-45deg) translate(-5px, 4px)
	//--------------------------------
	.c-btnMenuSP__bar2
		opacity: 0
	//--------------------------------
	.c-btnMenuSP__bar3
		-webkit-transform: rotate(45deg) translate(-5px, -6px)
		transform: rotate(45deg) translate(-10px, -9px)

//________________________________________________________
.c-btn1
	//--------------------------------
	a
		color: $white
		border-radius: 30px
		text-align: center
		min-width: 200px
		padding: 12px 0
		background: #FC6E51
		display: inline-block
		text-decoration: none
		//----breakpoint----
		+sp
			font-size: 1.3rem
		//--------------------------------
		&:hover
			opacity: 0.8
			transition: 0.35s
			text-decoration: underline
	//--------------------------------
	&--coldgreen a
		background: #37BC9B
	//--------------------------------
	&--lightblue a
		background: #3BAFDA

//================================================================
//		N A V I G A T I O N
//
//		[Ctrl + F]:  @navigation
//================================================================
//________________________________________________________
.c-nav1
	//--------------------------------
	ul
		display: flex
		justify-content: space-between
		//----breakpoint----
		+sp
			flex-wrap: wrap
		//--------------------------------
		li
			//----breakpoint----
			+sp
				width: 49%
				//--------------------------------
				&:nth-child(1n+3)
					margin-top: 12px
			//--------------------------------
			a
				display: block
				background: #4FC1E9
				color: $white
				padding: 12.5px 0
				width: 180px
				border-radius: 5px
				text-decoration: none
				text-align: center
				font-size: 1.2rem
				//----breakpoint----
				+sp
					width: 100%
				//--------------------------------
				&:hover
					transition: 0.35s
					background: #3BAFDA
				//--------------------------------
				&::before
					content: ""
					border: solid $white
					border-width: 0 2px 2px 0
					display: inline-block
					padding: 3px
					transform: rotate(45deg)
					margin-right: 7px
					margin-bottom: 3px

//================================================================
//		I M G 	T E X T
//
//		[Ctrl + F]:  @imgtxt @txtimg
//================================================================
//________________________________________________________
.c-imgtxt1
	border: 1px solid #ccc
	padding: 15px
	display: flex
	line-height: 1.8rem
	//--------------------------------
	&__img
		width: 150px
		height: 150px
	//--------------------------------
	&__txt
		margin-left: 10px
		margin-top: 5px
		font-size: 1.2rem
	//--------------------------------
	h2
		font-size: 2rem
		font-weight: normal
		margin-bottom: 7px
	//--------------------------------
	&--lightgreybg
		background: #eee
	//--------------------------------
	&--round
		border-radius: 10px
	//--------------------------------
	&--imgright
		flex-direction: row-reverse
		//--------------------------------
		.c-imgtxt1__txt
			margin-right: 10px
			margin-left: 0

//================================================================
//		L I S T
//
//		[Ctrl + F]:  @list @clist
//================================================================
//________________________________________________________
.c-list1
	display: flex
	flex-wrap: wrap
	//--------------------------------
	&__card
		display: inline-block
		width: 185px
		margin-left: 20px
		margin-bottom: 30px
		//--------------------------------
		&:nth-child(4n+1)
			margin-left: 0
		//----breakpoint----
		+sp
			width: 49%
			margin-left: 2%
			//--------------------------------
			img
				width: 100%
				height: auto
			//--------------------------------
			&:nth-child(2n+1)
				margin-left: 0
	//--------------------------------
	&__info
		display: flex
		margin-top: 10px
	//--------------------------------
	&__txt
		margin-top: 3.5px
		margin-left: 10px
	//--------------------------------
	&--col3
		.c-list1
			&__card
				width: 253px
				//--------------------------------
				&:nth-child(3n+1)
					margin-left: 0
				//--------------------------------
				&:nth-child(4n+1)
					margin-left: auto
				//----breakpoint----
				+sp
					width: 49%
					margin-left: 2%
					img
						widtH: 100%
					//--------------------------------
					&:nth-child(3n+1)
						margin-left: 2%
					&:nth-child(2n+1)
						margin-left: 0

//________________________________________________________
.c-list2
	//--------------------------------
	ul
		margin-left: 17px
		//--------------------------------
		li
			list-style-type: disc
			font-size: 1.4rem
			line-height: 2rem

//________________________________________________________
.c-list3
	//--------------------------------
	ul
		margin-left: 17px
		//--------------------------------
		li
			list-style-type: decimal
			font-size: 1.4rem
			line-height: 2rem

//________________________________________________________
.c-list4
	//--------------------------------
	ul
		border-bottom: 1px solid #ccc
		//--------------------------------
		li
			border-top: 1px solid #ccc
			//--------------------------------
			a
				display: block
				padding: 15px 10px
				font-size: 1.3rem
				text-decoration: none
				//--------------------------------
				&:hover
					opacity: 0.7
					transition: 0.35s

//________________________________________________________
.c-list5
	//--------------------------------
	ul
		//--------------------------------
		li
			margin-top: 15px
			//--------------------------------
			&:first-child
				margin-top: 0
			//--------------------------------
			a
				display: inline-block
				//--------------------------------
				&:hover
					opacity: 0.7
					transition: 0.35s

//================================================================
//		T A B L E
//
//		[Ctrl + F]:  @table
//================================================================
//________________________________________________________
.c-table1
	border-collapse: collapse
	width: 100%
	text-align: center
	color: $pure_black
	border-top: 1px solid #ccc
	border-right: 1px solid #ccc
	font-size: 1.4rem
	//--------------------------------
	th
		border-bottom: 1px solid #ccc
		background: #8CC152
		padding: 10px 5px
		color: $white
	//--------------------------------
	td
		border-left: 1px solid #ccc
		border-bottom: 1px solid #ccc
	//--------------------------------
	tbody
		th
			background: #E6E9ED
			font-weight: normal
			color: $pure_black
	//--------------------------------
	&--spBlock
		+sp
			th, td
				display: block
				padding: 10px 0

//================================================================
//		L I N E
//
//		[Ctrl + F]:  @line  @cline
//================================================================
//________________________________________________________
.c-line1
	position: relative
	//--------------------------------
	hr
		border: 0
		border-bottom: 1px solid #ccc
		text-align: center
		//--------------------------------
		&:before
			content: "§"
			color: #ccc
			padding: 0 10px
			position: absolute
			left: 50%
			margin-top: -5px
			margin-left: -10px
			font-size: 1.4rem
			background: $white

//================================================================
//		M E S S A G E
//
//		[Ctrl + F]:  @message @msg
//================================================================
//________________________________________________________
.c-message1
	border: 1px solid #ccc
	border-radius: 5px
	padding: 33.5px 10px
	text-align: center
	font-size: 1.4rem
	//--------------------------------
	&--coldgreen
		background: #48CFAD
		border-color: #48CFAD
		color: $white

//================================================================
//		S I D E
//
//		[Ctrl + F]:  @side
//================================================================
//________________________________________________________
.c-sideFrame1
	border: 1px solid #ccc
	border-radius: 5px
	margin-bottom: 30px
	//--------------------------------
	&__head
		background: #E6E9ED
		padding: 11.5px 10px
		border-bottom: 1px solid #ccc
	//--------------------------------
	&__body
		padding: 13px 10px