@charset "UTF-8"

body
	background: #fff
	font-size: 1.4rem
	line-height: 2rem

//________________________________________________________
main
	min-width: 800px
	width: 100%
	//----breakpoint----
	+sp
		min-width: auto
		margin-top: 80px

//________________________________________________________
footer
	margin-top: 30px

//================================================================
//		C O M M O N    L A Y O U T
//
//		[Ctrl + F]:  @common @layout
//================================================================
//________________________________________________________
.l-content
	max-width: 1050px
	margin: auto
	display: flex
	justify-content: space-between
	//----breakpoint----
	+sp
		display: block
		max-width: 650px
		padding: 0 10px

//________________________________________________________
.l-main
	width: 800px
	margin-top: 50px
	//----breakpoint----
	+sp
		width: auto
		//max-width: 650px
		padding: 0 10px

//________________________________________________________
.l-side
	width: 220px
	margin-top: 50px
	//----breakpoint----
	+sp
		width: auto

//================================================================
//		B U T T O N
//
//		[Ctrl + F]:  @button @btn
//================================================================
.l-btn1
	//--------------------------------
	&--center
		text-align: center
	//--------------------------------
	&--right
		text-align: right
	//--------------------------------
	&--n_center
		display: flex
		justify-content: center
		//--------------------------------
		div
			margin: 0 15px
			&:last-child
				margin-left: 15px
			&:first-child
				margin-right: 15px
			//----breakpoint----
			+sp
				//--------------------------------
				a
					min-width: 100%

	//--------------------------------
	&--n_between
		display: flex
		justify-content: space-between
		//--------------------------------
		div
			//--------------------------------
			+sp
				//--------------------------------
				a
					min-width: 100%
