@charset "UTF-8"
//================================================================
//		Project
//
//		P A G E
//================================================================
//________________________________________________________
.p-page
	position: relative
	background: $light_grey

//________________________________________________________




//================================================================
//	S E C T I O N    B A N N E R
//
//	@secb
//================================================================
//________________________________________________________
.p-page_banner
	background: grey
	background-repeat: no-repeat !important
	background-size: cover !important
	background-position: center !important
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	width: 100%
	height: 474px
	//---- 📱 SP ----
	+sp
		margin-top: 58.5px
		height: (272px-58.5px)
	//--------------------------------
	h2
		font-size: 3.4rem
		letter-spacing: 3.5px
		color: $white
		margin-top: 28px
		//---- 📱 SP ----
		+sp
			font-size: 1.6rem
			letter-spacing: 2px
			margin-top: 0 //54px

//________________________________________________________




//================================================================
//	S E C T I O N    C O N T E N T
//
//	@secc    @content
//================================================================
//________________________________________________________
.p-page_content
	display: flex
	padding-top: 70px
	padding-bottom: 110px
	//---- 📱 SP ----
	+sp
		padding-top: 30px
		padding-bottom: 80px
	//--------------------------------
	&__title
		font-size: 4rem
		line-height: 7rem
		letter-spacing: 3px
		text-align: center
		margin-bottom: 64px
		//---- 📱 SP ----
		+sp
			font-size: 2rem
			line-height: 3rem
			letter-spacing: 1px
			margin-bottom: 42px
		//--------------------------------
		span
			font-size: 4rem
			//---- 📱 SP ----
			+sp
				font-size: 2.6rem
		//---- 📱 SP ----
		+sp
			margin-bottom: 32px
			font-size: 2rem
	//--------------------------------
	&__date
		display: flex
		justify-content: space-between
		font-size: 1.6rem
		letter-spacing: 1px
		font-weight: 500
		border-bottom: 1px solid $grey
		padding-bottom: 8px
		margin-bottom: 32px
		//---- 📱 SP ----
		+sp
			display: block
			font-size: 1.3rem
			margin-bottom: 16px
		//--------------------------------
		span
			display: flex
			//--------------------------------
			a
				color: $black
				transition: 0.35s
				//--------------------------------
				&:hover
					color: grey
			//--------------------------------
			ul
				display: flex
				//--------------------------------
				li
					margin: 0 4px
		//--------------------------------
		span:nth-child(2)
			width: 50%
			justify-content: flex-end
			//---- 📱 SP ----
			+sp
				width: 100%
				justify-content: flex-start
	//--------------------------------
	&__content
		margin-bottom: 84px
		//---- 📱 SP ----
		+sp
			margin-bottom: 34px
		//--------------------------------
		a
			color: $black


//________________________________________________________