@charset "UTF-8"
//================================================================
//		Project
//
//		A D V A N T A G E
//================================================================
//________________________________________________________
.p-advantage_1
	margin-bottom: 90px
	//---- 📱 SP ----
	+sp
		margin-bottom: 40px
	//--------------------------------
	.c-img_block
		margin-top: 3px
//________________________________________________________
.p-advantage_2
	margin-bottom: 70px
	//---- 📱 SP ----
	+sp
		margin-bottom: 30px
	//--------------------------------
	p
		line-height: 2.2rem
	//--------------------------------
	.c-title
		//---- 📱 SP ----
		+sp
			margin-bottom: 24px
	//--------------------------------
	.c-txt_img
		margin-bottom: 116px
		//---- 📱 SP ----
		+sp
			margin-bottom: 40px
		//--------------------------------
		&__img
			//---- 📱 SP ----
			+sp
				margin-top: 24px
		//--------------------------------
		&:last-child
			margin-bottom: 0