@charset "UTF-8"
//================================================================
//		Project
//
//		B U S I N E S S
//================================================================
//________________________________________________________
.p-business
	.c-title
		margin-top: 13px

//________________________________________________________
.p-business_1
	//--------------------------------
	&__subtitle
		font-size: 1.8rem
		font-weight: normal
		text-align: center
		display: block
		margin-top: 7px
		//---- 📱 SP ----
		+sp
			font-size: 1.6rem
			margin-top: 0
	//--------------------------------
	.l-full_txt_img
		margin-top: 58px
		margin-bottom: 120px
		//---- 📱 SP ----
		+sp
			margin-top: 28px
			margin-bottom: 39px
		//--------------------------------
		&:last-child
			margin-bottom: 95px
			//---- 📱 SP ----
			+sp
				margin-bottom: 0

//________________________________________________________
.p-business_2
	//--------------------------------
	.l-full_txt_img
		margin-top: 45px
		margin-bottom: 120px
		//---- 📱 SP ----
		+sp
			margin-top: 14px
			margin-bottom: 42px
		//--------------------------------
		&:last-child
			margin-bottom: 60px
			//---- 📱 SP ----
			+sp
				margin-bottom: 30px