@charset "UTF-8"
//================================================================
//		Project
//
//		C O M P A N Y
//================================================================
//________________________________________________________
.p-company_1
	text-align: center
	margin-bottom: 94px
	//---- 📱 SP ----
	+sp
		margin-bottom: 47px
	//--------------------------------
	p
		color: $black
		line-height: 2rem
	//--------------------------------
	.c-img_block
		//---- 📱 SP ----
		+sp
			margin-top: 0

//________________________________________________________
.p-company_2
	margin-bottom: 94px
	//---- 📱 SP ----
	+sp
		margin-bottom: 47px

//________________________________________________________
.p-company_3
	text-align: center
	margin-bottom: 94px
	//---- 📱 SP ----
	+sp
		margin-bottom: 47px
	//--------------------------------
	.c-map
		margin-bottom: 32px
	//--------------------------------
	p:before
		content: ""
		background: url("../img/pc/location.png") no-repeat
		display: inline-block
		width: 10px
		height: 16px
		padding-left: 8px
		//---- 📱 SP ----
		+sp
			background: url("../img/sp/location.png") no-repeat
			background-size: 10px 16px

//________________________________________________________
.p-company_4
	margin-bottom: 94px
	//---- 📱 SP ----
	+sp
		margin-bottom: 47px

//________________________________________________________
.p-company_5
	margin-bottom: 60px
	//---- 📱 SP ----
	+sp
		margin-bottom: 30px
	//--------------------------------
	.l-cols
		margin-top: 6px
	//--------------------------------
	.u-txtcenter
		margin-top: 59px
		//--------------------------------
		p
			margin-bottom: 30px