@charset "UTF-8"
//================================================================
//		Project
//
//		C O N T A C T
//================================================================
//________________________________________________________
.p-contact
	margin-bottom: 57px
	//--------------------------------
	section
		//--------------------------------
		.p-txt
			text-align: center
			line-height: 2.2rem
			margin-top: 6px
		//--------------------------------
		.c-step
			margin-top: 77px
		//--------------------------------
		.c-table
			margin-top: 32px
			//--------------------------------
			tr
				//--------------------------------
				th
					//---- 📱 SP ----
					+sp
						display: flex
						justify-content: space-between
						width: auto
						border-right: none
						padding-top: 8px
						padding-bottom: 8px
					//--------------------------------
					a
						margin-right: 20px
				//--------------------------------
				td
					padding: 13px 0 13px 20px
					//---- 📱 SP ----
					+sp
						display: block
						width: auto
						border-bottom: none
					//--------------------------------
					p
						text-align: left
		//--------------------------------
		.c-btn
			margin-top: 28px
