@charset "UTF-8"
//================================================================
//		Project
//
//		E Q U I P M E N T
//================================================================
//________________________________________________________
.p-equipment_inner
	margin-top: 60px
	margin-bottom: 125px
	//---- 📱 SP ----
	+sp
		margin-bottom: 60px
	//--------------------------------
	&:last-child
		margin-bottom: 67px
		//---- 📱 SP ----
		+sp
			margin-bottom: 30px
	//--------------------------------
	.c-title_2
		margin-bottom: 24px
