@charset "UTF-8"
//================================================================
//		Project
//
//		I N D E X
//================================================================
//________________________________________________________
.p-index
	//--------------------------------
	.l-container
		//--------------------------------
		.c-news
			margin-top: -30px
			//---- 📱 SP ----
			+sp
				margin-top: 191px
				line-height: 1.8rem
				a
					margin-right: 15px
					margin-
		//--------------------------------
		.l-title_img_1
			display: flex
			justify-content: space-between
			margin-top: 58px
			//---- 📱 SP ----
			+sp
				display: block
				margin-top: 26px
				margin-bottom: -13px
			//--------------------------------
			.c-title_img_1
				//---- 📱 SP ----
				+sp
					margin-top: 15px
					//--------------------------------
					&:first-child
						margin-top: 0
		//--------------------------------
		.l-title_img_2
			display: flex
			justify-content: space-between
			//---- 📱 SP ----
			+sp
				display: inline-block
	//--------------------------------
	.c-index_banner_2
		margin-top: 59px
		//--------------------------------
		&__inner
			+sp
				background: none
		//--------------------------------
		&__info
			//---- 📱 SP ----
			+sp
				background: $white
				margin: 135px 15px 0 15px
				padding: 28px 20px 10px 20px
				//---- 📱 SP ----
				.c-title_1
					margin-top: 2px
		//--------------------------------
		&__img_1
			margin-top: 31px
			//---- 📱 SP ----
			+sp
				margin-top: 15px
		//--------------------------------
		&__txt_1
			//---- 📱 SP ----
			+sp
				margin-top: 12px
		&__txt_2
			+sp
				margin-top: -11px

	//--------------------------------
	.l-index_equipment
		text-align: center
		padding: 56px 0 60px 0
		background: #E9EFF2
		width: 100%
		//---- 📱 SP ----
		+sp
			margin-top: 331px
			padding-top: 0
			padding-bottom: 44px
		//--------------------------------
		.c-index_equipment__title
			//---- 📱 SP ----
			+sp
				img
					width: 131px
					height: auto
					margin: auto
					padding-top: 42px
		//--------------------------------
		.l-title_img_2
			margin-top: 30px
			margin-bottom: 24px
			//---- 📱 SP ----
			+sp
				margin-bottom: 10px
		//--------------------------------
		span
			display: block
			line-height: 2.2rem
			//---- 📱 SP ----
			+sp
				text-align: left
				line-height: 2.1rem
		//--------------------------------
		.c-btn
			margin-top: 26px
			//---- 📱 SP ----
			+sp
				margin-top: 11px