@charset "UTF-8"
//================================================================
//		Project
//
//		R E C R U I T
//================================================================
//________________________________________________________
.p-recruit_1
	line-height: 2.2rem
	margin-bottom: 92px
	//---- 📱 SP ----
	+sp
		margin-bottom: 30px
	//--------------------------------
	p
		text-align: center
	//--------------------------------
	.c-table
		margin-top: 116px
		//---- 📱 SP ----
		+sp
			margin-top: 40px
	//--------------------------------
	.c-btn
		padding: 13px 51px
		margin-top: 24px
		//---- 📱 SP ----
		+sp
			padding: 13px 0

//________________________________________________________
.p-recruit_2
	margin-bottom: 56px
	//--------------------------------
	.c-title
		margin-bottom: 8px
	//--------------------------------
	&__txt
		display: block
		text-align: center
	//--------------------------------
	&__contact
		display: flex
		justify-content: center
		margin-top: 27px
		margin-bottom: 13px
		//---- 📱 SP ----
		+sp
			display: block
			margin-bottom: 5px
			//--------------------------------
			.c-sp_btn_contact
				margin: 0
		//--------------------------------
		a
			font-size: 3.6rem
			//---- 📱 SP ----
			+sp
				font-size: 1.4rem
		//--------------------------------
		.c-phone
			margin-right: 40px
		//--------------------------------
		.c-fax
			background: url("../img/pc/recruit_fax.png") no-repeat left center
			padding-left: 36px
			+sp
				background: url("../img/sp/fax.png") no-repeat left center
				background-size: 12px 12px
				padding-left: 16px
				display: inherit
				width: 125px
				margin: 12px auto auto auto
	//--------------------------------
	.c-btn_mail
		display: inline-block
		margin-top: 28px
		//---- 📱 SP ----
		+sp
			display: flex
			justify-content: center
			background: $blue
			margin-top: 15px
			//--------------------------------
			img
				margin-right: 4px