@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  color: #3C3C3C; }

html {
  font-size: 62.5%; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese";
  line-height: 2.4; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 2.4; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.u-fl {
  float: left !important; }
  @media screen and (max-width: 767px) {
    .u-fl {
      float: none !important; } }

.u-fr {
  float: right !important; }
  @media screen and (max-width: 767px) {
    .u-fr {
      float: none !important; } }

.u-hover_eff {
  transition: 0.35s; }
  .u-hover_eff:hover {
    opacity: 0.55; }

.u-hover_eff_1 {
  transition: 0.35s; }
  .u-hover_eff_1:hover {
    opacity: 0.75; }

.u-fw_thin {
  font-weight: 100; }

.u-fw_light {
  font-weight: 200; }

.u-fw_demilight {
  font-weight: 300; }

.u-fw_regular {
  font-weight: 400; }

.u-fw_medium {
  font-weight: 500; }

.u-fw_bold {
  font-weight: 700; }

.u-fw_black {
  font-weight: 900; }

.u-txtdeco_non {
  text-decoration: none; }

.u-fs13 {
  font-size: 1.3rem; }

.u-fs15 {
  font-size: 1.5rem; }

.u-fs16 {
  font-size: 1.6rem; }

.u-fs18 {
  font-size: 1.8rem; }

.u-fs21 {
  font-size: 2.1rem; }

.u-fs32 {
  font-size: 3.2rem; }

.u-txtcolor_red {
  color: #FF1E5B; }

.u-txt_left {
  text-align: left; }

.u-txt_center {
  text-align: center; }

.u-txt_strike_oblique {
  position: relative;
  display: inline-block; }
  .u-txt_strike_oblique:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid;
    border-color: inherit;
    color: #F2385A;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }

.u-bg_grey {
  background: #E9EFF2; }

.u-banner_1 {
  background: url("../img/pc/banner_1.jpg") no-repeat; }
  @media screen and (max-width: 767px) {
    .u-banner_1 {
      background: url("../img/sp/banner_1.jpg"); } }

.u-banner_2 {
  background: url("../img/pc/banner_2.jpg") center top no-repeat;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .u-banner_2 {
      background: url("../img/sp/banner_2.jpg") center top no-repeat;
      background-size: cover; } }

.u-background {
  background: url("../img/bg.jpg") center;
  background-size: contain; }

.u-shard_top {
  background: url("../img/pc/shard_top.png") bottom right no-repeat; }
  @media screen and (max-width: 767px) {
    .u-shard_top {
      background: url("../img/sp/shard_top.png") bottom right no-repeat;
      background-size: contain; } }

.u-shard_bottom {
  background: url("../img/pc/shard_bottom.png") top left no-repeat; }
  @media screen and (max-width: 767px) {
    .u-shard_bottom {
      background: url("../img/sp/shard_bottom.png") top left no-repeat;
      background-size: contain; } }

.u-campaign_top {
  background: url("../img/sp/campaign_top.png") bottom right no-repeat; }

.u-campaign_bottom {
  background: url("../img/sp/campaign_bottom.png") top left no-repeat; }

.u-lsi_clock {
  list-style-image: url("../img/pc/ico_clock.png"); }
  @media screen and (max-width: 767px) {
    .u-lsi_clock {
      list-style-image: none; } }

.u-lsi_calender {
  list-style-image: url("../img/pc/ico_calender.png"); }
  @media screen and (max-width: 767px) {
    .u-lsi_calender {
      list-style-image: none; } }

.u-lsi_golf {
  list-style-image: url("../img/pc/ico_golf.png"); }
  @media screen and (max-width: 767px) {
    .u-lsi_golf {
      list-style-image: none; } }

.u-lsi_phone {
  list-style-image: url("../img/pc/ico_phone.png"); }
  @media screen and (max-width: 767px) {
    .u-lsi_phone {
      list-style-image: none; } }

.u-lsi_location {
  list-style-image: url("../img/pc/ico_location.png"); }
  @media screen and (max-width: 767px) {
    .u-lsi_location {
      list-style-image: none; } }

@media screen and (max-width: 767px) {
  .pc_only {
    display: none; } }

.sp_only {
  display: none; }
  @media screen and (max-width: 767px) {
    .sp_only {
      display: block; } }

.l-header {
  margin-bottom: 97px; }
  @media screen and (max-width: 767px) {
    .l-header {
      margin-bottom: 0; } }

.c-header {
  width: 100%;
  min-width: 1440px; }
  @media screen and (max-width: 767px) {
    .c-header {
      position: relative;
      min-width: 100%; } }

.c-gnavi {
  margin-right: 37px;
  float: right; }
  .c-gnavi ul li {
    float: left;
    padding: 26px 0; }
    .c-gnavi ul li a {
      font-size: 1.8rem;
      color: #3C3C3C;
      cursor: pointer;
      padding: 26px 21px;
      font-weight: 300; }
      .c-gnavi ul li a:before {
        content: "";
        display: inline-block;
        position: relative;
        border: solid #FF1E5B;
        border-width: 0 2px 2px 0;
        padding: 4px;
        transform: rotate(45deg);
        margin-right: 17px;
        top: -5px; }

.c-banner {
  width: 100%;
  height: 800px;
  background: url("../img/pc/banner_1.jpg") top no-repeat;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .c-banner {
      background: none;
      height: auto; } }
  @media screen and (max-width: 767px) {
    .c-banner__background img {
      width: 100%;
      height: auto; } }
  .c-banner__content {
    position: relative;
    float: right;
    top: 227px;
    right: 128px; }
    @media screen and (max-width: 767px) {
      .c-banner__content {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        right: 0; }
        .c-banner__content img {
          width: 100%;
          height: auto; } }

body {
  background: #fff; }

.l-main {
  min-width: 1440px; }
  @media screen and (max-width: 767px) {
    .l-main {
      min-width: 100%; } }

.l-container {
  margin: auto;
  width: 1440px;
  min-width: 1440px; }
  @media screen and (max-width: 767px) {
    .l-container {
      width: 100%;
      min-width: 100%;
      max-width: 650px; } }

@media screen and (max-width: 767px) {
  .l-sp {
    padding: 0 15px; } }

@media screen and (max-width: 767px) {
  .l-csp {
    padding: 0 10px; } }

.l-footer {
  margin-top: 114px;
  text-align: center;
  min-width: 1440px; }
  @media screen and (max-width: 767px) {
    .l-footer {
      min-width: 100%;
      margin-top: 39px; } }

.c-footer_info {
  background: #EEEEEE;
  padding-top: 95px;
  padding-bottom: 90px; }
  @media screen and (max-width: 767px) {
    .c-footer_info {
      padding-top: 1px;
      padding-bottom: 36px; } }
  @media screen and (max-width: 767px) {
    .c-footer_info h2 img {
      width: 175px;
      height: auto;
      margin: auto; } }
  .c-footer_info .u-fs32 {
    margin-top: -25px;
    margin-bottom: 24px; }
    @media screen and (max-width: 767px) {
      .c-footer_info .u-fs32 {
        font-size: 1.6rem;
        margin-top: -49px;
        margin-bottom: 9px; } }
  .c-footer_info .u-fs15 {
    letter-spacing: 1px; }
    @media screen and (max-width: 767px) {
      .c-footer_info .u-fs15 {
        font-size: 1.2rem;
        line-height: 2rem; } }

.c-footer_contact {
  background: #33C49D;
  padding-top: 50px;
  padding-bottom: 55px; }
  @media screen and (max-width: 767px) {
    .c-footer_contact {
      padding-top: 30px;
      padding-bottom: 27px; } }
  .c-footer_contact p {
    color: #fff;
    line-height: 2.2rem;
    letter-spacing: 0.7px;
    margin-top: 29px; }
    @media screen and (max-width: 767px) {
      .c-footer_contact p {
        margin-top: 9px;
        font-size: 1.2rem;
        line-height: 1.5rem; } }

.c-footer_copyright {
  background: #3C3C3C;
  height: 40px; }
  @media screen and (max-width: 767px) {
    .c-footer_copyright {
      height: 30px; } }
  .c-footer_copyright img {
    margin-top: 18px; }
    @media screen and (max-width: 767px) {
      .c-footer_copyright img {
        margin: 0 auto auto auto;
        padding-top: 9px;
        width: 251.75px;
        height: auto; } }

.c-title {
  text-align: center; }
  @media screen and (max-width: 767px) {
    .c-title img {
      margin: auto;
      width: auto;
      height: 35px; } }

.c-subtitle {
  background: #10222B;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px; }
  @media screen and (max-width: 767px) {
    .c-subtitle {
      font-size: 1.6rem;
      padding: 3.5px 0; } }

.c-btn a {
  border-radius: 77px;
  background: #FF1E5B;
  padding: 25px 55px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.35s;
  font-size: 1.8rem;
  letter-spacing: 0.8px; }
  @media screen and (max-width: 767px) {
    .c-btn a {
      font-size: 1.2rem;
      display: block;
      padding: 0;
      width: 100%;
      height: 45px;
      line-height: 45px; } }
  .c-btn a:before {
    content: "";
    display: inline-block;
    position: relative;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(-45deg);
    margin-right: 32px;
    top: -2px; }
    @media screen and (max-width: 767px) {
      .c-btn a:before {
        top: 1px;
        margin-right: 12px; } }
.c-btn--glass a {
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.2);
  font-weight: 700;
  display: flex;
  padding: 0;
  width: 420px;
  height: 90px; }
  @media screen and (max-width: 767px) {
    .c-btn--glass a {
      width: 100%;
      height: 48px;
      margin-bottom: 9px; } }
  .c-btn--glass a:before {
    display: none; }
  .c-btn--glass a:hover {
    background: #fff; }
  .c-btn--glass a img {
    margin: auto; }
    @media screen and (max-width: 767px) {
      .c-btn--glass a img {
        width: 125px;
        height: auto; } }
.c-btn--white a {
  background: #fff;
  display: inline-block;
  width: 373px;
  height: 40px; }
  @media screen and (max-width: 767px) {
    .c-btn--white a {
      width: auto;
      height: auto;
      padding: 13px 20px; } }
  .c-btn--white a img {
    margin-top: -7px;
    transition: 0.35s; }
    @media screen and (max-width: 767px) {
      .c-btn--white a img {
        width: 200px;
        height: auto; } }
  .c-btn--white a:hover img {
    opacity: 0.6; }
  .c-btn--white a:before {
    display: none; }

.l-btn--center {
  text-align: center; }
.l-btn--right {
  text-align: right; }
.l-btn--ncenter {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 767px) {
    .l-btn--ncenter {
      display: block; } }
  .l-btn--ncenter div {
    margin: 0 15px; }
    @media screen and (max-width: 767px) {
      .l-btn--ncenter div {
        margin: 0 auto; } }
    .l-btn--ncenter div:last-child {
      margin-left: 15px; }
      @media screen and (max-width: 767px) {
        .l-btn--ncenter div:last-child {
          margin: 0 auto; } }
    .l-btn--ncenter div:first-child {
      margin-right: 15px; }
      @media screen and (max-width: 767px) {
        .l-btn--ncenter div:first-child {
          margin: 0 auto; } }

.l-btn_top {
  position: fixed;
  bottom: 104px;
  right: 81px;
  display: none; }
  @media screen and (max-width: 767px) {
    .l-btn_top {
      bottom: 51px;
      right: 15px; } }
  .l-btn_top .c-btn_top {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    display: block;
    background: #157AA4;
    border-radius: 50px;
    -webkit-transition: none;
    transition: none;
    opacity: 0.75; }
    @media screen and (max-width: 767px) {
      .l-btn_top .c-btn_top {
        width: 50px;
        height: 50px; } }
    .l-btn_top .c-btn_top:before {
      content: "";
      display: inline-block;
      position: relative;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      padding: 22px;
      transform: rotate(-135deg);
      margin-right: 17px;
      top: 34px;
      left: 8px; }
      @media screen and (max-width: 767px) {
        .l-btn_top .c-btn_top:before {
          padding: 9px;
          top: 15px; } }
    .l-btn_top .c-btn_top:hover {
      top: -4px;
      background-color: #20AFC8;
      box-shadow: 0 5px 0 #006F82; }
      @media screen and (max-width: 767px) {
        .l-btn_top .c-btn_top:hover {
          box-shadow: 0 3px 0 #006F82; } }
    .l-btn_top .c-btn_top:active {
      top: 3px;
      background-color: #0291AA;
      box-shadow: none;
      transition: 0.2s; }

.l-txt {
  display: flex; }
  @media screen and (max-width: 767px) {
    .l-txt {
      display: block;
      text-align: center; } }
  .l-txt div {
    display: flex; }
    @media screen and (max-width: 767px) {
      .l-txt div {
        display: block;
        margin-bottom: 6px; } }
    .l-txt div span {
      margin-left: 13px; }
      @media screen and (max-width: 767px) {
        .l-txt div span {
          display: block;
          margin-left: 0;
          letter-spacing: -1.2px;
          line-height: 2rem; } }

.c-txt_highlight {
  background: #33C49D;
  color: #fff;
  padding: 0 20px; }
  @media screen and (max-width: 767px) {
    .c-txt_highlight {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      padding: 0;
      text-align: center;
      font-size: 1.3rem; } }
  .c-txt_highlight--blue {
    background: #0080AE; }

.c-list {
  background: #F0F0F0; }
  @media screen and (max-width: 767px) {
    .c-list {
      margin: 0 15px 13px 15px; } }
  .c-list ul {
    padding: 24px 24px 18px 47px; }
    @media screen and (max-width: 767px) {
      .c-list ul {
        padding: 10px 0 10px 15px; } }
    .c-list ul li {
      margin-bottom: 8px; }
      @media screen and (max-width: 767px) {
        .c-list ul li {
          margin-bottom: 4px; } }
      .c-list ul li:before {
        content: "•";
        color: #33C49D;
        display: inline-block;
        font-size: 2.4rem;
        position: absolute;
        margin-left: -17px;
        margin-top: -17px; }
        @media screen and (max-width: 767px) {
          .c-list ul li:before {
            font-size: 1.6rem;
            margin-left: 4px;
            margin-top: -13px; } }
      @media screen and (max-width: 767px) {
        .c-list ul li p {
          font-size: 1.2rem;
          line-height: 1.6rem; } }

.c-img_list {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .c-img_list {
      display: block; }
      .c-img_list .__full {
        width: 100%;
        height: auto; }
      .c-img_list div {
        display: inline-block;
        margin-top: 8px; } }
  .c-img_list img {
    padding: 0 3px; }
    @media screen and (max-width: 767px) {
      .c-img_list img {
        padding: 0;
        width: 50%;
        height: auto;
        float: left; } }
  .c-img_list__fee {
    padding-top: 21px;
    border: 1px solid #C8C8C8; }
    @media screen and (max-width: 767px) {
      .c-img_list__fee {
        border: none;
        margin: auto;
        display: inline-block; } }
    .c-img_list__fee img {
      padding: 0 36px; }
      @media screen and (max-width: 767px) {
        .c-img_list__fee img {
          padding: 0;
          width: 49%;
          height: auto; } }
  .c-img_list--ncenter {
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .c-img_list--ncenter {
        display: flex;
        flex-wrap: wrap; }
        .c-img_list--ncenter div {
          display: block;
          width: 49%;
          margin-bottom: -2px; }
          .c-img_list--ncenter div img {
            width: 100%;
            height: auto; } }

.c-txtimg {
  border: 1px solid #C8C8C8;
  padding: 31px;
  margin: auto;
  width: 938px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .c-txtimg {
      display: block;
      width: 100%;
      padding: 0; } }
  @media screen and (max-width: 767px) {
    .c-txtimg__img img {
      margin: 15px auto 3px auto;
      width: 136px;
      height: auto; } }
  .c-txtimg__txt {
    width: 637px; }
    @media screen and (max-width: 767px) {
      .c-txtimg__txt {
        width: 100%; }
        .c-txtimg__txt h3 {
          text-align: center; } }
    .c-txtimg__txt p {
      line-height: 2.2rem; }
      @media screen and (max-width: 767px) {
        .c-txtimg__txt p {
          font-size: 1.2rem;
          line-height: 1.6rem;
          padding: 0 15px; } }

.c-table_fee {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.5rem; }
  .c-table_fee thead {
    background: #DDDDDD;
    text-align: center;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8; }
    .c-table_fee thead tr td {
      padding: 7px 0;
      font-weight: 700; }
  .c-table_fee tbody {
    text-align: center;
    border-top: 1px solid #C8C8C8;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8; }
    .c-table_fee tbody tr th {
      text-align: left;
      width: 264px;
      text-indent: 2.8rem;
      border-bottom: 1px solid #C8C8C8;
      font-weight: 700; }
    .c-table_fee tbody tr td {
      border-bottom: 1px solid #C8C8C8;
      padding: 12px 0;
      line-height: 2.4rem; }
    .c-table_fee tbody tr td:nth-child(2) {
      text-align: left; }
    .c-table_fee tbody tr td:nth-child(3), .c-table_fee tbody tr td:nth-child(4), .c-table_fee tbody tr td:nth-child(5) {
      width: 285px;
      border-left: 1px solid #C8C8C8; }
    .c-table_fee tbody tr td:nth-child(3), .c-table_fee tbody tr td:nth-child(4) {
      font-weight: 700; }
    .c-table_fee tbody tr:nth-child(even) {
      background: #eee; }

.c-table_contact {
  background: #10222B;
  padding: 80px 0; }
  @media screen and (max-width: 767px) {
    .c-table_contact {
      padding: 13px 0; } }
  .c-table_contact table {
    border-collapse: collapse;
    text-align: left;
    margin-left: 82px; }
    @media screen and (max-width: 767px) {
      .c-table_contact table {
        margin: 0 auto;
        text-align: center;
        width: 89%; } }
    .c-table_contact table tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.35);
      vertical-align: top;
      line-height: 2rem; }
      .c-table_contact table tr p {
        font-weight: 700;
        color: #fff; }
        @media screen and (max-width: 767px) {
          .c-table_contact table tr p {
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.4rem; } }
      .c-table_contact table tr th {
        width: 145px;
        padding: 10px 0; }
        @media screen and (max-width: 767px) {
          .c-table_contact table tr th {
            width: 100%;
            display: block;
            padding: 8px 0 0 0; } }
        .c-table_contact table tr th ul li {
          color: #fff;
          font-weight: 700; }
          @media screen and (max-width: 767px) {
            .c-table_contact table tr th ul li {
              font-size: 1.2rem;
              letter-spacing: 2px; } }
      .c-table_contact table tr td {
        padding: 10px 0; }
        @media screen and (max-width: 767px) {
          .c-table_contact table tr td {
            width: 100%;
            display: block;
            padding-top: 7px;
            padding-bottom: 14px; } }
    .c-table_contact table tr:last-child {
      border: none; }

.c-accordion {
  border-bottom: 1px solid #C8C8C8; }
  .c-accordion a {
    position: relative;
    display: block;
    padding: 7px 0; }
    .c-accordion a p {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 700;
      transition: 0.35s; }
    .c-accordion a span {
      font-size: 1rem;
      font-weight: 400;
      color: #999999;
      margin-left: 16px;
      vertical-align: middle;
      display: inline-flex;
      line-height: 1.2rem;
      margin-top: -7px; }
    .c-accordion a:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid #0080AE;
      border-width: 0 0 1px 0;
      padding: 10px;
      transform: rotate(0deg);
      top: 9px;
      right: 6px;
      transition: 0.35s; }
    .c-accordion a:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid #0080AE;
      border-width: 0 1px 0 0;
      padding: 10px;
      transform: rotate(0deg);
      top: 20px;
      right: 14px;
      transition: 0.35s; }
  .c-accordion .is-active:before {
    transform: rotate(90deg) translate(-11px, -10px);
    opacity: 0; }
  .c-accordion .is-active:after {
    transform: rotate(360deg); }
  .c-accordion .is-active_title {
    border-bottom: 1px solid #C8C8C8; }
  .c-accordion__table {
    display: none; }
    .c-accordion__table table {
      width: 100%;
      border-collapse: collapse;
      margin: 15px 0; }
      .c-accordion__table table tr {
        text-align: left;
        border: 1px solid #C8C8C8; }
        .c-accordion__table table tr th {
          background: #FBFBFB;
          border-right: 1px solid #C8C8C8;
          width: 44.8%;
          font-weight: 700;
          font-size: 1.2rem; }
        .c-accordion__table table tr td {
          font-weight: 200;
          font-size: 1.2rem;
          width: 55.2%;
          letter-spacing: 0px; }
        .c-accordion__table table tr th, .c-accordion__table table tr td {
          padding: 8px 10px 8px 15px; }

.c-campaign {
  margin-top: -296px;
  position: absolute; }
  @media screen and (max-width: 767px) {
    .c-campaign {
      margin-top: 0;
      position: relative; }
      .c-campaign img {
        width: 100%;
        height: auto; } }
  .c-campaign__top, .c-campaign__bottom {
    position: absolute; }
    .c-campaign__top img, .c-campaign__bottom img {
      width: 100%;
      height: auto; }
  .c-campaign__top {
    bottom: 0; }
  .c-campaign__bottom {
    top: 0; }

.c-map {
  width: 57.4%;
  height: 483px;
  float: left; }
  @media screen and (max-width: 767px) {
    .c-map {
      width: 100%;
      height: 241.5px;
      float: none; } }

.p-index_1 {
  padding-top: 59px;
  padding-bottom: 146px; }
  @media screen and (max-width: 767px) {
    .p-index_1 {
      padding-top: 33px;
      padding-bottom: 51px;
      position: relative; } }
  .p-index_1 .l-btn {
    position: relative;
    margin-top: 37px; }
    @media screen and (max-width: 767px) {
      .p-index_1 .l-btn {
        margin-top: 12px; }
        .p-index_1 .l-btn .c-btn {
          line-height: 0; } }

.p-index_2 {
  margin-top: 120px;
  padding-bottom: 197px; }
  @media screen and (max-width: 767px) {
    .p-index_2 {
      margin-top: 13px;
      padding-bottom: 55px; } }
  .p-index_2 .c-title {
    margin-bottom: 50px; }
    @media screen and (max-width: 767px) {
      .p-index_2 .c-title {
        margin-bottom: -7px; } }
  .p-index_2 .c-img_list {
    margin-bottom: 48px; }
    @media screen and (max-width: 767px) {
      .p-index_2 .c-img_list {
        margin-bottom: -2px; } }
  .p-index_2 .l-txt {
    margin-top: 14px; }
    @media screen and (max-width: 767px) {
      .p-index_2 .l-txt {
        margin-top: 21px; } }
    .p-index_2 .l-txt div {
      margin-right: 13px; }
      @media screen and (max-width: 767px) {
        .p-index_2 .l-txt div {
          margin-right: 0; } }

.p-index_3 {
  height: 560px;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .p-index_3 {
      height: 479px; } }
  .p-index_3__spbanner {
    position: relative; }
    .p-index_3__spbanner img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0; }
  .p-index_3 .l-container {
    position: relative; }
    .p-index_3 .l-container h2 {
      padding-top: 99px; }
      @media screen and (max-width: 767px) {
        .p-index_3 .l-container h2 {
          padding-top: 13px; }
          .p-index_3 .l-container h2 img {
            margin: auto;
            width: 258.3px;
            height: auto; } }
    .p-index_3 .l-container p {
      color: #fff; }
    .p-index_3 .l-container .u-fs18 {
      line-height: 2.7rem;
      margin-top: 43px; }
      @media screen and (max-width: 767px) {
        .p-index_3 .l-container .u-fs18 {
          margin-top: -20px;
          font-size: 1.2rem;
          line-height: 2rem; } }
    .p-index_3 .l-container .l-btn {
      margin-top: 28px; }
      @media screen and (max-width: 767px) {
        .p-index_3 .l-container .l-btn {
          margin-top: 19px; } }
    .p-index_3 .l-container .u-fs13 {
      line-height: 1.8rem;
      float: right;
      margin-top: 11px;
      margin-right: 353px; }
      @media screen and (max-width: 767px) {
        .p-index_3 .l-container .u-fs13 {
          margin-top: -3px;
          margin-right: 0;
          font-size: 1rem;
          line-height: 1.3rem;
          float: none;
          letter-spacing: 0.5px; } }

.p-index_4 {
  padding-top: 120px; }
  @media screen and (max-width: 767px) {
    .p-index_4 {
      padding-top: 23px; } }
  .p-index_4 h3 {
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 3px; }
    @media screen and (max-width: 767px) {
      .p-index_4 h3 {
        margin-bottom: 1px; } }
  .p-index_4 .c-txtimg {
    margin-top: 50px; }
    @media screen and (max-width: 767px) {
      .p-index_4 .c-txtimg {
        margin-top: -12px; } }
    .p-index_4 .c-txtimg .c-list {
      margin-top: 17px; }
      @media screen and (max-width: 767px) {
        .p-index_4 .c-txtimg .c-list {
          margin-top: 32px; } }

.p-index_5 {
  margin-top: 118px; }
  @media screen and (max-width: 767px) {
    .p-index_5 {
      margin-top: 49px; } }
  .p-index_5 .c-title {
    margin-bottom: 45px; }
    @media screen and (max-width: 767px) {
      .p-index_5 .c-title {
        margin-bottom: 14px; } }
  .p-index_5 .c-img_list {
    margin-bottom: 83px; }
    @media screen and (max-width: 767px) {
      .p-index_5 .c-img_list {
        margin-bottom: 24px; } }
  .p-index_5 h3 {
    font-size: 5.6rem;
    font-weight: 100;
    letter-spacing: 2px; }
    @media screen and (max-width: 767px) {
      .p-index_5 h3 {
        font-size: 2.8rem;
        text-align: center; } }
  .p-index_5 .c-table_contact {
    width: 40.6%;
    height: 257px;
    margin-top: -78px; }
    @media screen and (max-width: 767px) {
      .p-index_5 .c-table_contact {
        width: 100%;
        height: auto;
        margin-top: -11px; } }
  .p-index_5__block {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .p-index_5__block {
        display: block;
        padding: 0 20px; }
        .p-index_5__block .c-map {
          margin-top: 3px; } }

/*# sourceMappingURL=style.css.map */
