@charset "UTF-8"
//================================================================
//		 B A S E
//================================================================
@import "0_base/_vars.sass"
@import "0_base/_reset.sass"
@import "0_base/_mixin.sass"
@import "0_base/_utilities.sass"


.pc_only
	//---- 📱 SP ----
	+sp
		display: none
.sp_only
	display: none
	//---- 📱 SP ----
	+sp
		display: block


//================================================================
//		 L A Y O U T
//
//		.l-
//================================================================
@import "1_layout/_header.sass"
@import "1_layout/_footer.sass"
@import "1_layout/_banner.sass"
@import "1_layout/_breadcrumb.sass"
@import "1_layout/_layout.sass"

//================================================================
//		 C O M P O N E N T
//
//		.c-
//================================================================
@import "2_component/_btn.sass"
@import "2_component/_title.sass"
@import "2_component/_navi.sass"
@import "2_component/_table.sass"
@import "2_component/_cols.sass"
@import "2_component/_form.sass"
@import "2_component/_title-img.sass"
@import "2_component/_list.sass"
@import "2_component/_hr.sass"
@import "2_component/_misc.sass"


//================================================================
//		 P R O J E C T
//
//		.p-
//================================================================
@import "3_project/_index.sass"
@import "3_project/_company.sass"
@import "3_project/_business.sass"
@import "3_project/_equipment.sass"
@import "3_project/_advantage.sass"
@import "3_project/_recruit.sass"
@import "3_project/_contact.sass"



//________________________________________________________
//--------------------------------
//<!-- 💻 PC -->
//<!-- 📱 SP -->
//---- 📱 SP ----
//▼▲