/*======================================================================*/
/*								F O O T E R								*/
/*======================================================================*/
#footer
	max-width: $content_max_width
	width: $content_width
	height: 212.2px
	background-color: $primary_background_color
	border-top: 1px solid $primary_text_color
	margin: auto
	.FooterSocial_pc
		padding-top: 39px
		display: block
		text-align: center
	.FooterSocial_smp
		padding-top: 20px
		display: none
	.Translate
		color: $primary_text_color
		font-size: 1.6rem
		margin: 8px auto auto 0
		letter-spacing: 0.3px
		text-align: center
	.TranslateLink
		text-decoration: none
		color: $primary_text_color
	.Copyright
		font-size: 1.1rem
		margin-top: 25px
		letter-spacing: 0.3px
		text-align: center
	.CopyrightLink
		color: $primary_text_color
		text-decoration: none
		&:hover
			text-decoration: underline
/*======================================================================*/
/*	<	<	<	 | F O O T E R  -  R E S P O N S I V E | 	>	>	>	*/
/*======================================================================*/
@media only screen and (max-width: 736px)
	#footer
		height: 114.5px
		width: 84.375%
		.FooterSocial_smp
			display: block
			margin-top: 1.5px
			text-align: center
			a img
				width: 18.5px
				height: 18.5px
		.FooterSocial_pc
			display: none
		.Translate
			margin-top: 12px
			font-size: 1.1rem
		.Copyright
			margin-top: 20px
			font-size: 0.7rem
			letter-spacing: 0.1px