/*======================================================================*/
/*								H E A D E R								*/
/*======================================================================*/
.fixedHeaderBox
	display: none
	position: fixed
	z-index: 98
	top: 0
	width: 100%
	background-color: $primary_background_color
	height: 160px

#header
	width: 100%
	max-width: 955px
	min-width: 736px
	margin: auto
	z-index: 99
	.logo
		width: 196px
		padding-top: 33px
		padding-bottom: 16px
		margin: auto
		img
			height: auto
			display: block
			margin: 0 auto
	.HeaderSocial
		float: right
		margin-top: -157px
		margin-right: 16px
		a img
			float: right
			display: inline-block
			padding-left: 8px
			width: 27px
			height: 27px
	nav.menu_pc
		display: block
		position: relative
		width: 100%
		margin-top: 4px
		ul
			display: flex
			width: 750px
			margin: auto
			li
				list-style: none
				padding-top: 16px
				padding-bottom: 8px
				margin: auto
				.dropdown
					position: relative
					display: block
					cursor: pointer

.dropdown-content
	display: none
	position: absolute
	min-width: 230px
	background-color: $primary_background_color
	padding-left: 16px
	padding-bottom: 16px
	z-index: 99
	a
		text-decoration: none
		display: block
		color: $primary_text_color
		padding-top: 16px
		font-size: 1.6rem
		&:hover
			color: $hover_text_color

.dropdown:hover .dropdown-content
	display: block

.Hfixed
	position: fixed
	background-color: $primary_background_color
	top: -20px
	left: 0
	right: 0
	max-height: 160px
	.menu_pc
		top: -5px
	.logo
		width: 98px
		img
			height: 70px
			width: 98px
	.HeaderSocial
		padding-top: 78px

/*--V--Menu SMP (Mobile)--V--*/

/*--V--Menu Button SMP (Mobile)--V--*/
*
	margin: 0
	padding: 0
.menu-btn
	display: none
.menu-btn-block
	width: 100%
	height: 4.1px
	background-color: #414042
	transform-origin: 0 50%
	transition: transform 0.3s ease
	&.middle
		margin: 5.5px 0
	&.top.active
		transform: rotate(45deg) translate(-7px, -9px)
	&.middle.active
		transform: scale(0)
	&.bottom.active
		transform: rotate(-45deg)
/*--^--Menu Button SMP (Mobile)--^--*/

nav.menu_smp
	display: none
	#open_menu
		background: $primary_background_color
		position: absolute
		display: none
		z-index: 99
		width: 100%
		padding-top: 11px
		border-bottom: 1px solid #939598
		ul
			text-align: left
			list-style-type: none
			li.SocialSMP
				display: flex
				padding-left: 34.5px
				a
					margin: -7px 0 0 0
					left: 0
					text-indent: 8px
			li
				padding-top: 7px
				padding-bottom: 2px
				border-top: 1px solid #939598
				text-indent: 42.5px
				a
					display: block
				ul.menu_sub_smp
					display: none
					border-top: 0
					margin-top: 4px
					padding-bottom: 19px
					li
						+ li
							border-top: 0
						padding-left: 17px
						a
							text-decoration: none
							position: relative
							top: 10px
							color: $primary_text_color
							letter-spacing: 1.25px
							font-size: 1.15rem
							line-height: 1.3rem
							width: 100%
							display: block


.Xbtn1
	position: absolute
	float: left
	display: none
	text-indent: 26.5px
	top: 66px
	font-size: 0.75rem

.Xbtn2
	position: relative
	display: none
	text-indent: 26.5px
	top: -16px
	height: 0px
	font-size: 0.75rem
/*--^--Menu SMP (Mobile)--^--*/

/*======================================================================*/
/*	<  <  <  <  |  H E A D E R  -  R E S P O N S I V E  |  >  >  >  >	*/
/*======================================================================*/
@media only screen and (max-width: 736px)
	.fixedHeaderBox
		display: none
		height: 0
	#header
		min-width: 320px
		width: 100%
		margin-top: -25px
		.logo
			position: relative
			display: block
			a img
				width: 87px
				margin: auto
		.HeaderSocial
			display: none
		nav
			&.menu_pc
				display: none
			&.menu_smp
				display: block
				margin-top: -6px
				#open_menu
					padding-top: 4px
					.SocialSMP
						padding: 12px 0 0 35px
						a img
							width: 18.5px
							height: 18.5px
					ul li a img
						height: 11.5px
				.menu-btn
					display: block
					position: absolute
					width: 21.6px
					height: 11.65px
					top: 14px
					right: 16.5px
				.menu-btn-block
					height: 2.1px
					&.middle
						margin: 2.75px 0
					&.top.active
						transform: rotate(45deg) translate(-3.5px, -4.5px)
					&.middle.active
						transform: scale(0)
					&.bottom.active
						transform: rotate(-45deg)
	.Hfixed
		height: 90px
		.logo
			max-width: 87px !important
			margin-top: 16px !important
			padding-bottom: 75px !important
			img
				max-width: 43.5px !important
				height: auto
		.menu_smp
			margin-top: -65px
			.menu-btn
				padding-top: 48px !important
			#open_menu
				margin-top: -59px