/*======================================================================*/
/*						M A I N  -  G A L L E R Y						*/
/*======================================================================*/
#content-gallery
	width: 100%
	max-width: 960px
	min-width: 320px
	padding-bottom: 53px
	background-color: $primary_background_color
	color: $primary_text_color
	margin: auto
	.gallery
		display: flex
		width: 100%
		margin: 32px auto 0 auto
		img
			float: right
			position: relative
			width: 50%
			max-width: 460px
			height: 332px
		p
			float: left
			position: relative
			margin: -5px 40px 0 0
			width: 50%
			font-size: 1.4rem
			line-height: 2.9rem
#Access
	position: relative
	height: 0
	top: -100px
#content-access
	width: 100%
	background-color: #F1F3F4
	color: $primary_text_color
	margin: 42px auto auto auto
	padding-top: 11px
	.access
		display: flex
		margin: 28px auto 62px auto
		padding-bottom: 106px
		width: $content_width
		max-width: 960px
		.access_1
			float: left
			position: relative
			width: 50%
			max-width: 460px
			margin-right: 20px
			img
				max-width: 460px
				width: 100%
			a img
				margin-top: 13px
				width: 166px
		.access_2
			float: right
			position: relative
			width: 50%
			max-width: 460px
			margin-left: 20px
			img
				max-width: 460px
				width: 100%
			p
				margin-top: 17px
				font-size: 1.4rem
				line-height: 2.9rem
				letter-spacing: 1px

/*======================================================================*/
/*	<  <  <  <			   R E S P O N S I V E				>  >  >  > 	*/
/*								  										*/
/*	<  <  <  <			M A I N  -  G A L L E R Y			>  >  >  >	*/
/*======================================================================*/
@media only screen and (max-width: 736px)
	#content-gallery
		display: inline-block
		.breadcrumb
			display: none
		.gallery
			display: block
			width: 84.375%
			margin-top: 18px
			img
				max-width: 100%
				width: 100%
				height: auto
			p
				width: 100%
				top: 23px
				font-size: 1.1rem
				line-height: 1.9rem
				letter-spacing: 0.7px

	#Access
		top: -10px
	#content-access
		display: inline-block
		margin: 5px 0 27px 0
		padding-bottom: 38px
		.title
			margin-top: 30px
		.access
			display: block
			width: 84.375%
			margin-top: 11px
			line-height: 3.8rem
			font-size: 2.2rem
			.access_1
				width: 100%
				max-width: 100%
				img
					max-width: 100%
				a img
					margin-top: 15px
					width: 135px
			.access_2
				width: 100%
				max-width: 100%
				margin-top: 23px
				img
					max-width: 100%
					width: 100%
				p
					margin-top: 6px
					font-size: 1.1rem
					line-height: 1.9rem
					letter-spacing: 1.5px