/*======================================================================*/
/*						M A I N  -  M E S S A G E						*/
/*======================================================================*/
#content-message
	width: 100%
	max-width: 960px
	min-width: 320px
	padding-bottom: 50.5px
	background-color: $primary_background_color
	margin: auto
	.message
		margin: 29px auto 60px auto
		position: relative
		display: block
		max-width: 960px
		width: 100%
		.message_img_smp
			display: none
		p
			width: 46.5%
			color: $secondary_text_color
			position: absolute
			letter-spacing: 0.5px
			left: 60px
			top: 74.5px
			font-size: 1.4rem
			line-height: 2.9rem
		.message_img_pc
			max-width: 960px
			width: 100%
			height: auto
		.message_signature
			display: none

/*======================================================================*/
/*	<  <  <  <			   R E S P O N S I V E				>  >  >  > 	*/
/*								  										*/
/*	<  <  <  <			M A I N  -  M E S S A G E			>  >  >  >	*/
/*======================================================================*/
@media only screen and (max-width: 736px)
	#content-message
		padding-bottom: 55px
		.breadcrumb
			display: none
		.message
			width: 93.75%
			background-color: black
			margin: 14px auto 32.5px auto
			.message_img_smp
				display: block
				position: absolute
				width: 100%
			.message_img_pc
				display: none
			p
				width: 90%
				position: relative
				left: 0
				right: 0
				top: 0
				padding-top: 90%
				margin: auto
				line-height: 1.7rem
				font-size: 1.1rem
			.message_signature
				display: block
				margin: auto
				padding-top: 17.5px
				padding-bottom: 27.5px
				width: 109px
				height: auto
