/*======================================================================*/
/*						M A I N	-	I N D E X							*/
/*======================================================================*/

//Slider
.swiper-container
	width: 100%
	max-width: $intro_max_width
	max-height: 500px
	margin-left: auto
	margin-right: auto
	margin-top: 23px
.swiper-slide
	display: flex
	justify-content: center
	align-items: center
	img
		width: 100%
.swiper-pagination
	position: relative
	margin-bottom: -29px
.swiper-pagination-bullet
	margin-top: 30.75px
	margin-left: 2.85px
	margin-right: 2.85px
	width: 10.5px
	height: 10.5px
	background-color: #D1D3D4
.swiper-pagination-bullet-active
	background-color: #939598

//Content
#content-index
	padding-bottom: 53px
	background-color: $primary_background_color
	margin: auto
	.title_news
		margin: 113px auto auto auto
		display: flex
		max-height: 33px
		height: auto
	.more-btn
		.more-btn_pc
			display: block
			margin: auto
			width: auto
			height: 20px
		.more-btn_smp
			display: none
	.news_container
		max-width: $content_max_width
		width: $content_width
		border-top: 1px solid $primary_text_color
		margin-top: 20px
		margin-bottom: 47px
		margin-left: auto
		margin-right: auto
		.news
			margin: 67px auto -2.5px auto
			display: flex
			width: 635px
			color: $primary_text_color
			align-content: center
			img
				float: left
				width: 182px
				height: 124px
			p
				padding-left: 20.5px
				margin-top: -5px
				float: left
				font-size: 1.4rem
				letter-spacing: 0.5px
				line-height: 2.9rem
				a
					color: #EE2F2A
					font-size: 1.2rem
					line-height: 2.1rem
/*======================================================================*/
/*	<	<	<	<		 R E S P O N S I V E		>	>	>	> 		*/
/*																		*/
/*	<	<	<	<		M A I N	-	I N D E X		>	>	>	>		*/
/*======================================================================*/
@media only screen and (max-width: 736px)
	//slider
	.swiper-container
		margin-top: -2px
		height: auto
		.swiper-wrapper
			padding-bottom: 2px
	.swiper-pagination-bullet
		margin: 0.75px 1.775px 0 1.775px
		width: 6.5px
		height: 6.5px
	.swiper-button-next, .swiper-button-prev
		width: 13.5px !important
		height: 22px !important
		cursor: pointer !important
		background-size: 13.5px 22px !important
		margin-top: -14px !important

	//content
	#content-index
		padding-bottom: 10px
		.title_news
			margin-top: 45px
			height: 16.5px
			width: auto
		.more-btn
			position: relative
			top: -11px
			margin-bottom: 35px
			display: inline-flex
			width: 100%
			.more-btn_smp
				display: block
				margin: auto
				width: auto
				height: 11.5px
			.more-btn_pc
				display: none
		.news_container
			margin-top: 7px
			width: 84.375%
			.news
				width: 100%
				margin-top: 17px
				display: block
				img
					width: 100%
					height: auto
				p
					width: 100%
					padding: 0
					margin: 12px 0 28px 0
					font-size: 1.1rem
					line-height: 1.95rem
					letter-spacing: -0.5px
					a
						font-size: 1.1rem
						line-height: 1.95rem