@charset "UTF-8";

//================================================================
//		Layout
//
//		B A N N E R
//================================================================
//________________________________________________________
.c-banner {
  width: 100%;
  height: 800px;
  background: url("../img/pc/banner_1.jpg") top no-repeat;
  background-size: cover;

  //---- 📱 SP ----
  @include sp {
    background: none;
    height: auto;
  }


  //--------------------------------
  &__background {
    //--------------------------------
    @include sp {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  //--------------------------------
  &__content {
    position: relative;
    float: right;
    top: 227px;
    right: 128px;

    //---- 📱 SP ----
    @include sp {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      right: 0;

      //--------------------------------
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
