@charset "UTF-8";

//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
//________________________________________________________
body {
  background: $white;
}

//________________________________________________________
.l-main {
  min-width: 1440px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }
}

//________________________________________________________
.l-container {
  margin: auto;
  width: 1440px;
  min-width: 1440px;

  //---- 📱 SP ----
  @include sp {
    width: 100%;
    min-width: 100%;
    max-width: 650px;
  }
}

//________________________________________________________
.l-sp {
  @include sp {
    padding: 0 15px;
  }
}

.l-csp {
  @include sp {
    padding: 0 10px;
  }
}
