@charset "UTF-8";

//================================================================
//		Layout
//
//		F O O T E R
//================================================================
//________________________________________________________
.l-footer {
  margin-top: 114px;
  text-align: center;
  min-width: 1440px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
    margin-top: 39px;
  }
}

//________________________________________________________
.c-footer_info {
  background: $grey_2;
  padding-top: 95px;
  padding-bottom: 90px;

  //---- 📱 SP ----
  @include sp {
    padding-top: 1px;
    padding-bottom: 36px;
  }


  //--------------------------------
  h2 {
    //---- 📱 SP ----
    @include sp {
      //--------------------------------
      img {
        width: 175px;
        height: auto;
        margin: auto;
      }
    }
  }

  //--------------------------------
  .u-fs32 {
    margin-top: -25px;
    margin-bottom: 24px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.6rem;
      margin-top: -49px;
      margin-bottom: 9px;
    }
  }

  //--------------------------------
  .u-fs15 {
    letter-spacing: 1px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

//________________________________________________________
.c-footer_contact {
  background: #33C49D;
  padding-top: 50px;
  padding-bottom: 55px;

  //---- 📱 SP ----
  @include sp {
    padding-top: 30px;
    padding-bottom: 27px;
  }


  //--------------------------------
  p {
    color: $white;
    line-height: 2.2rem;
    letter-spacing: 0.7px;
    margin-top: 29px;

    //---- 📱 SP ----
    @include sp {
      margin-top: 9px;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}

//________________________________________________________
.c-footer_copyright {
  background: $black_1;
  height: 40px;

  //---- 📱 SP ----
  @include sp {
    height: 30px;
  }


  //--------------------------------
  img {
    margin-top: 18px;

    //---- 📱 SP ----
    @include sp {
      margin: 0 auto auto auto;
      padding-top: 9px;
      width: 251.75px;
      height: auto;
    }
  }
}
