@charset "UTF-8";

//================================================================
//		Component
//
//		B U T T O N
//================================================================
//________________________________________________________
.c-btn_link {
  color: $black;
  transition: 0.35s;

  //--------------------------------
  &:hover {
    text-decoration: none;
    color: $teal_1;
  }
}

//________________________________________________________
.c-btn_link_1 {
  color: $teal_1;
  transition: 0.35s;

  //---- 📱 SP ----
  @include sp {
    font-size: 1.4rem;
  }


  //--------------------------------
  &:hover {
    text-decoration: none;
    color: #666;
  }

  //--------------------------------
  &__after {
    //--------------------------------
    &:after {
      content: " ▶︎";
      color: $teal_1;
      text-decoration: none;

      //---- 📱 SP ----
      @include sp {
        font-size: 1.4rem;
      }
    }
  }

  //--------------------------------
  &__before {
    //--------------------------------
    &:before {
      content: "◀ ";
      color: $teal_1;
      text-decoration: none;

      //---- 📱 SP ----
      @include sp {
        font-size: 1.4rem;
      }
    }
  }
}

//________________________________________________________
.c-btn_social_header {
  //---- 📱 SP ----
  @include sp {
    position: absolute;
    top: 11px;
    right: 12px;

    //--------------------------------
    a {
      text-decoration: none;
      display: block;
      float: left;
      margin-left: 12px;
    }

    //--------------------------------
    img {
      width: auto;
      height: 26.25px;
    }
  }
}

//________________________________________________________
.l-btn_social_footer {
  display: flex;
  justify-content: center;

  //--------------------------------
  .c-btn_social_footer {}
}

//================================================================
//		SP Menu Button
//================================================================
//________________________________________________________
.c-btn_MenuSP {
  z-index: 101;
  position: fixed;
  top: 6px;
  left: 11px;
}

//________________________________________________________
.c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  width: 30px;
  height: 3.75px;
  background-color: $black;
  transition: 0.4s;
  display: block;
  margin-top: 5.5px;
}

//________________________________________________________
.c-btn_MenuSP__trans {
  //--------------------------------
  .c-btn_MenuSP__bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  //--------------------------------
  .c-btn_MenuSP__bar2 {
    opacity: 0;
  }

  //--------------------------------
  .c-btn_MenuSP__bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -6px);
    transform: rotate(45deg) translate(-7px, -6px);
  }
}
