@charset "UTF-8";

//================================================================
//		Component
//
//		N A V I G A T O R
//================================================================
//________________________________________________________
.c-index_navi {
  position: fixed;
  top: 73px;
  left: 20px;

  //--------------------------------
  ul {
    //--------------------------------
    li {
      padding: 18px 0;

      //--------------------------------
      a {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        color: #ccc;
        border-radius: 20px;
        border: 2px solid transparent;
        width: 14px;
        height: 14px;
        text-align: center;
        padding: 1px;
        font-size: 1.1rem;
        transition: 0.35s;
        cursor: pointer;

        //--------------------------------
        &:after {
          content: "";
          position: absolute;
          border: 0.5px solid #ccc;
          height: 31px;
          top: 20px;
          left: 7px;
        }

        &:hover {
          border-color: transparent;
          color: $teal_1;
          opacity: 0.6;
        }
      }

      //--------------------------------
      &:last-child a:after {
        display: none;
      }
    }

    //--------------------------------
    li.is-current {
      //--------------------------------
      a {
        border: 2px solid $teal_1;
        color: $teal_1;

        //--------------------------------
        &:hover {
          opacity: 1;
        }
      }

      //--------------------------------
      &:last-child a:after {
        display: none;
      }
    }
  }
}
