@charset "UTF-8";

//================================================================
//		Component
//
//		T E X T
//================================================================
//________________________________________________________
.c-txt_line {
  border-bottom: 2px solid $white;

  //---- 📱 SP ----
  @include sp {
    border-width: 1px;
  }


  //--------------------------------
  div {
    display: flex;
    border-top: 2px solid $white;

    //---- 📱 SP ----
    @include sp {
      display: block;
      border-width: 1px;
    }


    //--------------------------------
    p {
      float: left;
      font-weight: normal;
      margin: 10px 0;

      //---- 📱 SP ----
      @include sp {
        margin: 12px 0;
        padding: 0;
        float: none;
        display: inline-block;
        font-size: 1.4rem;
        line-height: 1.9rem;
      }
    }

    //--------------------------------
    span {
      margin-right: 28px;
      letter-spacing: 2px;

      //---- 📱 SP ----
      @include sp {
        margin-right: 4px;
      }
    }
  }
}

//================================================================
//		T E X T    A C C O R D I O N
//================================================================
//________________________________________________________
.l-txt_accordion {
  //--------------------------------
  .c-txt_accordion {
    //--------------------------------
    &:last-child {
      border-bottom: 1px solid $grey_2;
    }
  }
}

//________________________________________________________
.c-txt_accordion {
  border-top: 1px solid $grey_2;
  padding: 15.8px 0;

  //---- 📱 SP ----
  @include sp {
    padding: 18px 0 16px 0;
  }


  //--------------------------------
  h3 {
    cursor: pointer;
    position: relative;
    padding-right: 60px;
    letter-spacing: 1.3px;

    //---- 📱 SP ----
    @include sp {
      display: flex;
      padding-right: 50px;
      font-size: 1.4rem;
      line-height: 1.9rem;
      letter-spacing: 0.7px;
    }


    //--------------------------------
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $grey_1;
      border-width: 0 0 3px 0;
      padding: 10px;
      transform: rotate(0deg);
      top: -8px;
      right: 20px;
      transition: 0.35s;

      //---- 📱 SP ----
      @include sp {
        top: -4px;
        right: 0;
      }
    }

    //--------------------------------
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      border: solid $grey_1;
      border-width: 0 3px 0 0;
      padding: 10px;
      transform: rotate(0deg);
      top: 3px;
      right: 28px;
      transition: 0.35s;

      //---- 📱 SP ----
      @include sp {
        top: 7px;
        right: 9px;
      }
    }

    //--------------------------------
    span {
      margin-right: 26px;
      letter-spacing: 3px;

      //---- 📱 SP ----
      @include sp {
        margin-right: 12px;
        letter-spacing: 1px;
      }
    }
  }

  //--------------------------------
  .is-active {
    //--------------------------------
    &:before {
      transform: rotate(90deg) translate(-11px, -10px);
      border-color: $teal_1;
      opacity: 0;
    }

    //--------------------------------
    &:after {
      transform: rotate(360deg);
      border-color: $teal_1;
      bottom: 41%;

      //---- 📱 SP ----
      @include sp {
        bottom: 49%;
      }
    }
  }

  //--------------------------------
  p {
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: $grey;
    display: none;
    margin-top: 8px;
    letter-spacing: 0.7px;

    //---- 📱 SP ----
    @include sp {
      margin-top: 14px;
      font-size: 1.2rem;
      line-height: 1.9rem;
      letter-spacing: 0.4px;
    }
  }

  //--------------------------------
  &__p1 {
    font-size: 1.6rem !important;
    line-height: 2.6rem !important;
    color: $black !important;

    //---- 📱 SP ----
    @include sp {
      margin-top: 14px !important;
      font-size: 1.2rem !important;
      line-height: 1.9rem !important;
      letter-spacing: 2px !important;
    }
  }
}
