@charset "UTF-8";

//================================================================
//		Component
//
//		I M A G E
//================================================================
//________________________________________________________
.l-img {
  display: flex;
  justify-content: space-between;

  //---- 📱 SP ----
  @include sp {
    display: block;
  }


  //--------------------------------
  .c-img {
    //---- 📱 SP ----
    @include sp {
      margin-bottom: 19px;

      //--------------------------------
      img {
        margin: auto;
        width: auto;
        height: 118px;
      }
    }
  }
}
