html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1.6rem; }

html {
  font-size: 62.5%; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans Japanese";
  line-height: 2.4; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

table, input, textarea, select, option {
  line-height: 2.4; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-hover_eff {
  transition: 0.35s; }
  .u-hover_eff:hover {
    opacity: 0.55; }

.u-hover_eff_1 {
  transition: 0.35s; }
  .u-hover_eff_1:hover {
    opacity: 0.75; }

.u-fw_thin {
  font-weight: 100; }

.u-fw_light {
  font-weight: 200; }

.u-fw_demilight {
  font-weight: 300; }

.u-fw_regular {
  font-weight: 400; }

.u-fw_medium {
  font-weight: 500; }

.u-fw_bold {
  font-weight: 700; }

.u-fw_black {
  font-weight: 900; }

.u-txtdeco_non {
  text-decoration: none; }

.u-fc_white {
  color: #fff; }

@media screen and (max-width: 768px) {
  .pc_only {
    display: none; } }

.sp_only {
  display: none; }
  @media screen and (max-width: 768px) {
    .sp_only {
      display: block; } }

.c-header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .c-header {
      margin-top: 20px; } }
  .c-header__logo {
    margin-left: 40px;
    z-index: 99; }
    @media screen and (max-width: 768px) {
      .c-header__logo {
        margin-left: 20px; }
        .c-header__logo img {
          width: auto;
          height: 20px; } }
  .c-header__contact {
    display: flex;
    margin-right: 32px;
    margin-top: -18px; }
    .c-header__contact__col1 {
      margin-top: 10px; }
    .c-header__contact__col2 {
      margin-top: 2px;
      margin-left: 20px; }
      @media screen and (max-width: 768px) {
        .c-header__contact__col2 div:not(.l-txt_box_hf) img {
          width: auto;
          height: 20px; } }

.c-header_content {
  margin-top: 222px;
  margin-left: 0; }
  @media screen and (max-width: 1280px) {
    .c-header_content {
      margin-top: 82px; } }
  @media screen and (max-width: 768px) {
    .c-header_content {
      margin-top: 20px; }
      .c-header_content img {
        width: 300px;
        height: auto; } }

.c-gnavi {
  display: flex;
  justify-content: center;
  background: #fff;
  border-bottom: 1px solid #0075a9;
  margin-top: 240px; }
  @media screen and (max-width: 1280px) {
    .c-gnavi {
      margin-top: 100px; } }
  .c-gnavi ul {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    border-right: 1px solid #D6D6D6; }
    .c-gnavi ul li {
      border-left: 1px solid #D6D6D6; }
      .c-gnavi ul li a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none;
        color: #333;
        transition: 0.35s;
        width: 158.84px;
        height: 120px; }
        .c-gnavi ul li a img {
          margin: 0 auto; }
        .c-gnavi ul li a:hover {
          opacity: 0.65; }
  .c-gnavi__taxi {
    background: #ffcc00;
    border-bottom: none;
    margin-top: 752px; }
    @media screen and (max-width: 1280px) {
      .c-gnavi__taxi {
        margin-top: 432px; } }
    .c-gnavi__taxi ul {
      border-right: none; }
      .c-gnavi__taxi ul li {
        border-left: none; }
        .c-gnavi__taxi ul li a {
          height: 108px; }

.c-gnavi_sp {
  background: #fff;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 90;
  top: 0;
  left: 0;
  padding-top: 59px; }
  .c-gnavi_sp__home {
    position: absolute;
    top: 11px;
    left: 185px;
    color: #003567;
    text-decoration: none;
    font-size: 1.5rem; }
  .c-gnavi_sp ul li {
    border-bottom: 1px solid #E8E8E8;
    padding: 0 20px; }
    .c-gnavi_sp ul li:first-child {
      border-top: 1px solid #0075a9; }
    .c-gnavi_sp ul li .is-title {
      position: relative;
      font-size: 1.5rem;
      color: #003567;
      text-decoration: none;
      display: flex;
      padding: 11px 0 10px 0; }
      .c-gnavi_sp ul li .is-title:after {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid #0068B7;
        border-width: 1px;
        width: 18px;
        height: 18px;
        border-radius: 20px;
        top: 20px;
        right: 20px;
        transition: 0.35s; }
      .c-gnavi_sp ul li .is-title p {
        margin-left: 10px; }
        .c-gnavi_sp ul li .is-title p:after {
          content: "";
          display: inline-block;
          position: absolute;
          border: solid #0068B7;
          border-width: 0 0 2px 0;
          padding: 4px;
          transform: rotate(-45deg);
          top: 25px;
          right: 29px;
          transition: 0.35s; }
        .c-gnavi_sp ul li .is-title p:before {
          content: "";
          display: inline-block;
          position: absolute;
          border: solid #0068B7;
          border-width: 0 0 2px 0;
          padding: 4px;
          transform: rotate(45deg);
          top: 20px;
          right: 23px;
          transition: 0.35s; }
      .c-gnavi_sp ul li .is-title img {
        margin-top: 8px;
        width: auto;
        height: 24px; }
    .c-gnavi_sp ul li a:not(.is-title) {
      position: relative;
      display: block;
      font-size: 1.3rem;
      color: #333;
      text-decoration: none;
      margin-left: 35px;
      padding: 9px 0; }
      .c-gnavi_sp ul li a:not(.is-title):after {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid #0068B7;
        border-width: 0 0 2px 0;
        padding: 4px;
        transform: rotate(-45deg);
        top: 21px;
        right: 29px;
        transition: 0.35s; }
      .c-gnavi_sp ul li a:not(.is-title):before {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid #0068B7;
        border-width: 0 0 2px 0;
        padding: 4px;
        transform: rotate(45deg);
        top: 16px;
        right: 23px;
        transition: 0.35s; }

.c-banner {
  background: url("../img/banner-index_1.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 840px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
  @media screen and (max-width: 1280px) {
    .c-banner {
      height: 560px; } }
  @media screen and (max-width: 768px) {
    .c-banner {
      height: 420px; } }
  .c-banner__taxi {
    background: url("../img/banner-taxi.jpg") right center no-repeat;
    background-size: cover;
    height: 960px; }
    @media screen and (max-width: 1280px) {
      .c-banner__taxi {
        background: url("../img/banner-taxi_1280.jpg") right center no-repeat;
        background-size: cover;
        height: 640px; } }

body {
  background: #fff;
  min-width: 1000px; }
  @media screen and (max-width: 768px) {
    body {
      min-width: 100%; } }

.l-header {
  min-width: 1000px; }
  @media screen and (max-width: 768px) {
    .l-header {
      min-width: 100%; } }

.c-banner {
  min-width: 1000px; }
  @media screen and (max-width: 768px) {
    .c-banner {
      min-width: 100%; } }

.l-container {
  margin: auto;
  width: 960px; }
  @media screen and (max-width: 768px) {
    .l-container {
      width: 100%;
      max-width: 650px;
      padding: 0 20px; } }

.c-f_title {
  font-size: 1.5rem;
  color: #003567; }

.c-f_subtitle {
  font-size: 1.5rem;
  color: #003567; }

.c-f_link {
  font-size: 1.3rem;
  line-height: 2.8rem;
  color: #003567;
  color: #333;
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 16px;
  transition: 0.35s; }
  .c-f_link:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid #0075a9;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    padding: 2px;
    top: 11px;
    left: 3px; }
  .c-f_link:hover {
    opacity: 0.65; }

.c-footer_navi {
  background: #F8F8F8;
  padding: 47px 0 35px 0;
  border-bottom: 1px solid #E8E8E8; }
  .c-footer_navi__content {
    display: flex;
    justify-content: space-between;
    margin-top: 17px; }
  .c-footer_navi__cols {
    display: inline-block;
    width: 195px; }
    .c-footer_navi__cols:last-child {
      width: 180px; }
    .c-footer_navi__cols div {
      margin-bottom: 21px; }

.c-footer_social {
  background: #fff;
  padding: 40px 0; }
  @media screen and (max-width: 768px) {
    .c-footer_social {
      display: flex;
      padding: 30px 0 19px 0; } }
  .c-footer_social .l-container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .c-footer_social .l-container {
        flex-wrap: wrap; } }
    .c-footer_social .l-container a {
      display: inline-block;
      text-decoration: none; }
      @media screen and (max-width: 768px) {
        .c-footer_social .l-container a {
          width: 48.5%;
          margin-bottom: 10px; }
          .c-footer_social .l-container a img {
            width: 100%;
            height: auto; } }

.c-footer_contact {
  background: #003567;
  padding: 68px 0 60px 0; }
  @media screen and (max-width: 768px) {
    .c-footer_contact {
      display: flex;
      position: relative;
      padding: 31px 0 30px 0; }
      .c-footer_contact .c-line_footer hr {
        top: 212px; } }
  .c-footer_contact__row_1 {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .c-footer_contact__row_1 {
        flex-direction: column-reverse; } }
  @media screen and (max-width: 768px) {
    .c-footer_contact__logo {
      margin-top: 60px; }
      .c-footer_contact__logo img {
        margin: auto;
        width: auto;
        height: 20px; } }
  .c-footer_contact__mail_phone {
    display: flex;
    margin-right: -7px; }
    @media screen and (max-width: 768px) {
      .c-footer_contact__mail_phone {
        flex-direction: column-reverse;
        margin-right: 0; } }
    .c-footer_contact__mail_phone__col_1 {
      margin-top: -9px;
      margin-right: 18px; }
      @media screen and (max-width: 768px) {
        .c-footer_contact__mail_phone__col_1 {
          margin-top: 17px;
          margin-right: 0;
          text-align: center; } }
    .c-footer_contact__mail_phone__col_2 {
      margin-top: -7px; }
      @media screen and (max-width: 768px) {
        .c-footer_contact__mail_phone__col_2 {
          margin-top: 20px;
          text-align: center; } }
      .c-footer_contact__mail_phone__col_2 .l-txt_box_hf {
        display: flex;
        justify-content: center; }
        .c-footer_contact__mail_phone__col_2 .l-txt_box_hf .c-txt_box_hf__s1 {
          margin-left: 4px; }
      .c-footer_contact__mail_phone__col_2 a {
        display: block;
        margin-top: 9px; }
        @media screen and (max-width: 768px) {
          .c-footer_contact__mail_phone__col_2 a {
            position: relative;
            display: inline-block;
            margin-top: 9px; }
            .c-footer_contact__mail_phone__col_2 a:after {
              content: "";
              display: inline-block;
              position: absolute;
              border: solid #fff;
              border-width: 1px;
              width: 18px;
              height: 18px;
              border-radius: 20px;
              top: 2px;
              right: 1px; }
            .c-footer_contact__mail_phone__col_2 a:before {
              content: "";
              display: inline-block;
              position: absolute;
              border: solid #fff;
              border-width: 2px 2px 0 0;
              transform: rotate(45deg);
              top: 8px;
              right: 9px;
              padding: 3px; }
            .c-footer_contact__mail_phone__col_2 a img {
              margin: auto;
              padding-right: 24px;
              width: auto;
              height: 24px; } }
  .c-footer_contact__row_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px; }
    @media screen and (max-width: 768px) {
      .c-footer_contact__row_2 {
        display: block;
        margin-top: 29px; } }
    .c-footer_contact__row_2__col_1 {
      display: flex; }
      @media screen and (max-width: 768px) {
        .c-footer_contact__row_2__col_1 {
          display: block; } }
      .c-footer_contact__row_2__col_1 div {
        position: relative;
        color: #fff; }
        .c-footer_contact__row_2__col_1 div:first-child {
          padding-right: 97px; }
          @media screen and (max-width: 768px) {
            .c-footer_contact__row_2__col_1 div:first-child {
              padding-right: 0;
              margin-bottom: 16px; } }
          .c-footer_contact__row_2__col_1 div:first-child:after {
            content: "";
            display: inline-block;
            position: absolute;
            border: solid rgba(255, 255, 255, 0.25);
            border-width: 0 1px 0 0;
            transform: rotate(27deg);
            width: 1px;
            height: 67px;
            top: 11px;
            right: 43px; }
            @media screen and (max-width: 768px) {
              .c-footer_contact__row_2__col_1 div:first-child:after {
                display: none; } }
        .c-footer_contact__row_2__col_1 div h2 {
          font-size: 1.4rem;
          color: #bfccd9; }
          @media screen and (max-width: 768px) {
            .c-footer_contact__row_2__col_1 div h2 {
              text-align: center;
              font-size: 1.3rem; } }
        .c-footer_contact__row_2__col_1 div p {
          line-height: 1.8rem; }
          @media screen and (max-width: 768px) {
            .c-footer_contact__row_2__col_1 div p {
              display: flex;
              justify-content: center;
              margin-top: 9px;
              line-height: 2.2rem; } }
          .c-footer_contact__row_2__col_1 div p span {
            font-size: 1.2rem;
            color: #bfccd9; }
            @media screen and (max-width: 768px) {
              .c-footer_contact__row_2__col_1 div p span {
                font-size: 1.1rem; } }
            .c-footer_contact__row_2__col_1 div p span a {
              display: inline-block;
              text-decoration: none; }
              @media screen and (max-width: 768px) {
                .c-footer_contact__row_2__col_1 div p span a {
                  text-decoration: underline; } }
    .c-footer_contact__row_2__col_2 {
      margin-top: 5px; }
      @media screen and (max-width: 768px) {
        .c-footer_contact__row_2__col_2 {
          margin-top: 27px; }
          .c-footer_contact__row_2__col_2 img {
            margin: auto;
            width: 60px;
            height: auto; } }

.c-footer_copyright {
  background: #003567;
  padding: 34px 0 35px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15); }
  @media screen and (max-width: 768px) {
    .c-footer_copyright {
      padding: 13px 0 16px 0; } }
  .c-footer_copyright p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #bfccd9; }
    @media screen and (max-width: 768px) {
      .c-footer_copyright p {
        font-size: 1rem;
        line-height: 1.5rem; } }

.c-title {
  position: relative;
  font-size: 2.4rem;
  color: #111111;
  padding-left: 37px; }
  @media screen and (max-width: 768px) {
    .c-title {
      font-size: 1.6rem;
      padding-left: 0;
      text-align: center; } }
  .c-title:before {
    content: "";
    position: absolute;
    background: url("../img/pc/icon-slash.png") center no-repeat;
    top: 10px;
    left: 0;
    width: 26px;
    height: 40px; }
    @media screen and (max-width: 768px) {
      .c-title:before {
        background: url("../img/sp/icon-slash.png") center no-repeat;
        background-size: contain;
        position: relative;
        display: block;
        width: 100%;
        height: 30px;
        margin-bottom: 12px; } }

.l-btn {
  text-align: center; }
  @media screen and (max-width: 768px) {
    .l-btn {
      text-align: left; } }

.c-btn a {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #333;
  padding: 10px 39px 10px 14px;
  border: 1px solid #D6D6D6;
  border-radius: 60px;
  transition: 0.35s;
  background: #fff; }
  @media screen and (max-width: 768px) {
    .c-btn a {
      display: block;
      border: none;
      font-size: 1.3rem;
      line-height: 2.3rem;
      padding: 0;
      margin: 14px 0 17px 20px; } }
  .c-btn a:hover {
    opacity: 0.75; }
  .c-btn a:after {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid #0075a9;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    padding: 3px;
    top: 16px;
    right: 23px; }
    @media screen and (max-width: 768px) {
      .c-btn a:after {
        top: 9px;
        right: 20px; } }

.c-btn_mail {
  display: block;
  text-decoration: none;
  border: 1px solid rgba(0, 53, 103, 0.5);
  border-radius: 5px;
  background: url("../img/pc/icon-mail_black.png") center left no-repeat;
  background-position-x: 23px;
  transition: 0.35s;
  padding: 8px 23px 8px 2px; }
  .c-btn_mail:hover {
    opacity: 0.75; }
  .c-btn_mail p {
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: 500;
    color: #333;
    padding-left: 54px;
    transition: 0.35s; }
  .c-btn_mail__white {
    background: url("../img/pc/icon-mail_white.png") center left no-repeat;
    background-position-x: 23px;
    border-color: rgba(255, 255, 255, 0.5);
    padding: 18px 24px 18px 1px; }
    @media screen and (max-width: 768px) {
      .c-btn_mail__white {
        background: none;
        display: flex;
        justify-content: center;
        padding: 19px 24px 19px 1px; }
        .c-btn_mail__white img {
          width: 24px;
          height: 16px;
          margin: 2px 10px 0 23px; } }
    .c-btn_mail__white p {
      color: #fff; }
      @media screen and (max-width: 768px) {
        .c-btn_mail__white p {
          padding-left: 0; } }

.c-btn_MenuSP {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  padding: 13px 12px;
  border-radius: 5px;
  transition: 0.6s; }

.c-btn_MenuSP__bar1, .c-btn_MenuSP__bar2, .c-btn_MenuSP__bar3 {
  width: 16px;
  height: 2px;
  background-color: #0075a9;
  transition: 0.4s;
  display: block;
  margin-top: 4px; }
  .c-btn_MenuSP__bar1:first-child, .c-btn_MenuSP__bar2:first-child, .c-btn_MenuSP__bar3:first-child {
    margin: 0; }

.c-btn_MenuSP__trans {
  background: none; }
  .c-btn_MenuSP__trans .c-btn_MenuSP__bar1 {
    -webkit-transform: rotate(-45deg) translate(-19px, -10px);
    transform: rotate(-45deg) translate(-19px, -10px); }
  .c-btn_MenuSP__trans .c-btn_MenuSP__bar2 {
    opacity: 0; }
  .c-btn_MenuSP__trans .c-btn_MenuSP__bar3 {
    -webkit-transform: rotate(45deg) translate(-18px, 10px);
    transform: rotate(45deg) translate(-18px, 10px); }

.l-btn_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; }
  @media screen and (max-width: 768px) {
    .l-btn_top {
      bottom: 10px;
      right: 10px; } }
  .l-btn_top .c-btn_top {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    display: block;
    background: #fff;
    border-radius: 5px;
    -webkit-transition: none;
    transition: none; }
    @media screen and (max-width: 768px) {
      .l-btn_top .c-btn_top {
        width: 40px;
        height: 40px; } }
    .l-btn_top .c-btn_top img {
      margin: 27px auto auto auto; }
      @media screen and (max-width: 768px) {
        .l-btn_top .c-btn_top img {
          padding-top: 12px;
          margin: auto;
          width: 13px;
          height: auto; } }
    .l-btn_top .c-btn_top:hover {
      top: -4px;
      background-color: #fff;
      box-shadow: 0 5px 0 #006F82;
      border: 0.3px solid #0075a9; }
      @media screen and (max-width: 768px) {
        .l-btn_top .c-btn_top:hover {
          box-shadow: 0 1px 0 #0075a9; } }
    .l-btn_top .c-btn_top:active {
      top: 3px;
      background-color: #fff;
      box-shadow: none;
      transition: 0.2s; }
      @media screen and (max-width: 768px) {
        .l-btn_top .c-btn_top:active {
          top: 1px; } }

.l-txt_box_hf {
  display: inline-block; }

.c-txt_box_hf {
  display: inline-block;
  color: #333;
  background: #ffcc00;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 3.5px;
  padding: 0 9px;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    .c-txt_box_hf {
      font-size: 1.1rem;
      line-height: 1.6rem;
      padding: 0 7px; } }
  .c-txt_box_hf__s1 {
    color: #fff;
    background: #0075a9; }
  .c-txt_box_hf__s2 {
    color: #fff;
    background: #0075a9;
    width: 212px;
    text-align: center; }

.l-txt_box {
  display: flex;
  margin-top: 5px;
  margin-bottom: 9px; }
  .l-txt_box .c-txt_box {
    margin-right: 2px; }

.c-txt_box {
  background: #32B16C;
  border-radius: 5px;
  padding: 0 20px; }
  .c-txt_box h4 {
    font-size: 1.2rem;
    color: #fff;
    line-height: 2.4rem; }
  .c-txt_box__brown {
    background: #7E6B5A; }
  .c-txt_box__violet {
    background: #8957A1; }
  .c-txt_box__blue {
    background: #0075A9; }
  .c-txt_box__gold {
    background: #F39800; }

.l-txt_img_1, .l-txt_img_2 {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .l-txt_img_1, .l-txt_img_2 {
      flex-wrap: wrap; } }
  @media screen and (max-width: 768px) {
    .l-txt_img_1 .c-txt_img_1, .l-txt_img_2 .c-txt_img_1 {
      margin-bottom: 9px; } }

.c-txt_img_1 {
  text-align: center; }
  .c-txt_img_1__img {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .c-txt_img_1__img img {
        width: 100%;
        height: auto; } }
  .c-txt_img_1__txt {
    position: relative;
    background: rgba(0, 117, 169, 0.75);
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 18px 0 26px 0; }
    @media screen and (max-width: 768px) {
      .c-txt_img_1__txt {
        padding-top: 25px; } }
    .c-txt_img_1__txt:before {
      content: "";
      position: absolute;
      background: url("../img/pc/icon-slash_yellow.png") center no-repeat;
      top: -20px;
      left: 0;
      width: 100%;
      height: 40px; }
      @media screen and (max-width: 768px) {
        .c-txt_img_1__txt:before {
          background: url("../img/sp/icon-slash_yellow.png") center no-repeat;
          background-size: contain;
          top: -14px;
          width: 100%;
          height: 30px; } }
    @media screen and (max-width: 768px) {
      .c-txt_img_1__txt h2 {
        font-size: 1.5rem;
        line-height: 2.5rem; } }
    .c-txt_img_1__txt p {
      font-size: 1.4rem;
      line-height: 2.1rem; }
      @media screen and (max-width: 768px) {
        .c-txt_img_1__txt p {
          font-size: 1.3rem;
          line-height: 2.3rem;
          margin-top: 4px; } }

@media screen and (max-width: 768px) {
  .l-txt_img_2 .c-txt_img_2 {
    margin-bottom: 9px; } }

.c-txt_img_2 {
  text-align: center;
  text-decoration: none; }
  @media screen and (max-width: 768px) {
    .c-txt_img_2__img img {
      width: 100%;
      height: auto; } }
  .c-txt_img_2__txt {
    margin-top: 4px; }
    .c-txt_img_2__txt h2 {
      color: #0068B7; }
    .c-txt_img_2__txt p {
      color: #333;
      font-size: 1.4rem;
      line-height: 2.1rem; }

.l-txt_img_block {
  display: flex;
  flex-direction: column;
  margin-top: 29px; }
  @media screen and (max-width: 768px) {
    .l-txt_img_block {
      margin-top: 10px;
      border: 1px solid #D6D6D6;
      border-radius: 5px;
      background: #fff; } }
  .l-txt_img_block .c-txt_img_block {
    margin-bottom: 29px; }
    @media screen and (max-width: 768px) {
      .l-txt_img_block .c-txt_img_block {
        margin-bottom: 0; } }

.c-txt_img_block {
  display: inline-block;
  text-decoration: none;
  transition: 0.35s; }
  @media screen and (max-width: 768px) {
    .c-txt_img_block {
      position: relative;
      background: #fff;
      border-bottom: 1px solid #D6D6D6;
      padding: 11px 40px 16px 19px; }
      .c-txt_img_block:after {
        content: "";
        display: inline-block;
        position: absolute;
        border: solid #0075a9;
        border-width: 2px 2px 0 0;
        transform: rotate(45deg);
        padding: 3px;
        top: 46%;
        right: 21px; } }
  .c-txt_img_block:hover {
    opacity: 0.65; }
  .c-txt_img_block img {
    float: left;
    margin-right: 16px; }
    @media screen and (max-width: 768px) {
      .c-txt_img_block img {
        margin-top: 8px;
        margin-right: 8px;
        width: 61.5px;
        height: auto; } }
  .c-txt_img_block h2 {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #0068B7;
    font-weight: 400; }
    @media screen and (max-width: 768px) {
      .c-txt_img_block h2 {
        font-size: 1.1rem; } }
    .c-txt_img_block h2 span {
      font-size: 1.4rem;
      line-height: 2.5rem;
      color: #666; }
      @media screen and (max-width: 768px) {
        .c-txt_img_block h2 span {
          font-size: 1rem; } }
  .c-txt_img_block p {
    color: #333;
    line-height: 2.8rem; }
    @media screen and (max-width: 768px) {
      .c-txt_img_block p {
        font-size: 1.3rem;
        line-height: 2.2rem;
        margin-top: 2px; } }

.l-txt_img_taxi {
  display: flex;
  justify-content: space-between; }
  .l-txt_img_taxi__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (max-width: 1280px) {
      .l-txt_img_taxi__inner .c-txt_img_taxi__img img {
        width: 285px;
        height: auto; } }

.c-txt_img_taxi {
  position: relative; }
  @media screen and (max-width: 1280px) {
    .c-txt_img_taxi__img img {
      width: auto;
      height: 285px; } }
  .c-txt_img_taxi__txt {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .c-txt_img_taxi__txt__inner {
      padding: 16px 75px 16px 30px; }
      @media screen and (max-width: 1280px) {
        .c-txt_img_taxi__txt__inner {
          padding-right: 30px; } }
      .c-txt_img_taxi__txt__inner:before {
        content: "";
        position: absolute;
        background: url("../img/pc/icon-slash_yellow.png") center no-repeat;
        top: -13px;
        left: 0;
        width: 100%;
        height: 30px; }
      .c-txt_img_taxi__txt__inner h3 {
        color: #fff;
        line-height: 2.4rem; }
      .c-txt_img_taxi__txt__inner p {
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 2px; }
        .c-txt_img_taxi__txt__inner p img {
          margin-top: 8px;
          margin-right: 6px; }

.c-line_footer hr {
  position: absolute;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

.l-body_index {
  background: #fff url("../img/bg.png") center;
  background-size: contain; }
  @media screen and (max-width: 1280px) {
    .l-body_index {
      background: #fff url("../img/bg_1280.png") center;
      background-size: contain; } }
  @media screen and (max-width: 768px) {
    .l-body_index {
      background: #fff url("../img/bg_sp.png") center;
      background-size: contain; } }

.p-index {
  margin-top: 75px; }
  @media screen and (max-width: 768px) {
    .p-index {
      margin-top: 257px; } }

@media screen and (max-width: 768px) {
  .p-index_1 {
    display: flex; } }
.p-index_1 .l-txt_img_2 {
  margin-top: 60px; }
  @media screen and (max-width: 768px) {
    .p-index_1 .l-txt_img_2 {
      margin-top: 19px; } }

.p-index_2 {
  margin-top: 64px;
  padding-bottom: 82px;
  border-bottom: 1px solid #0075a9; }
  @media screen and (max-width: 768px) {
    .p-index_2 {
      display: flex;
      border-width: 2px;
      margin-top: 11px;
      padding-bottom: 30px; } }
  .p-index_2 .l-container {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .p-index_2 .l-container {
        flex-direction: column; } }
  .p-index_2__col_1 {
    width: 603px; }
    @media screen and (max-width: 768px) {
      .p-index_2__col_1 {
        width: 100%; } }
    .p-index_2__col_1 .l-btn {
      margin-top: 13px;
      margin-right: 71px; }
      @media screen and (max-width: 768px) {
        .p-index_2__col_1 .l-btn {
          margin-top: 0;
          margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .p-index_2__col_2 {
      margin-top: 19px; } }
  .p-index_2__col_2 .c-txt_img_block {
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      .p-index_2__col_2 .c-txt_img_block {
        margin-bottom: 2px; } }
  .p-index_2__col_2 .l-btn {
    margin-top: 13px;
    margin-left: 8px; }
    @media screen and (max-width: 768px) {
      .p-index_2__col_2 .l-btn {
        margin: 0; } }

.l-header_taxi, .l-body_taxi, .l-footer_taxi, .c-banner__taxi {
  min-width: 1840px; }
  @media screen and (max-width: 1280px) {
    .l-header_taxi, .l-body_taxi, .l-footer_taxi, .c-banner__taxi {
      min-width: 1200px; } }
  @media screen and (max-width: 768px) {
    .l-header_taxi, .l-body_taxi, .l-footer_taxi, .c-banner__taxi {
      min-width: 100%; } }

.p-taxi {
  width: 1840px;
  margin: 20px auto 80px auto; }
  @media screen and (max-width: 1280px) {
    .p-taxi {
      width: 1200px; } }
  @media screen and (max-width: 768px) {
    .p-taxi {
      min-width: 100%; } }
  .p-taxi .c-title {
    margin-bottom: 22px; }

.p-taxi_2 {
  margin-top: 52px; }

.p-taxi_3 {
  margin-top: 51px; }

.c-footer-taxi_contact {
  background: #fff url("../img/golden.png") center;
  background-size: contain;
  padding: 28px 0 31px 0;
  border-bottom: 1px solid #0075a9; }
  .c-footer-taxi_contact .l-container {
    display: flex;
    justify-content: space-between; }
    .c-footer-taxi_contact .l-container h2 {
      font-size: 2rem;
      margin-top: 23px; }
  .c-footer-taxi_contact__content {
    display: flex;
    margin-right: -8px; }
  .c-footer-taxi_contact__mail {
    margin-top: 11px;
    margin-right: 20px; }
    .c-footer-taxi_contact__mail .c-btn_mail {
      padding-top: 13px;
      padding-bottom: 14px; }
  .c-footer-taxi_contact__phone div:not(.l-txt_box_hf) p {
    font-size: 1rem;
    color: #666;
    text-align: right;
    margin-top: -11px;
    margin-right: 7px; }

.c-footer_navi__taxi {
  padding: 47px 0 48px 0; }
  .c-footer_navi__taxi .c-footer_navi__content {
    margin-top: 11px;
    margin-bottom: -11px; }

/*# sourceMappingURL=style.css.map */
