@charset "UTF-8";

//================================================================
//		Component
//
//		T E X T
//================================================================
//________________________________________________________
.l-txt_box_hf {
  display: inline-block;
}

//________________________________________________________
.c-txt_box_hf {
  display: inline-block;
  color: $black;
  background: #ffcc00;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 3.5px;
  padding: 0 9px;
  font-weight: 700;

  //---- 📱 SP ----
  @include sp {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding: 0 7px;
  }


  //--------------------------------
  &__s1 {
    color: $white;
    background: $blue_2;
  }

  //--------------------------------
  &__s2 {
    color: $white;
    background: $blue_2;
    width: 212px;
    text-align: center;
  }
}

//________________________________________________________
.l-txt_box {
  display: flex;
  margin-top: 5px;
  margin-bottom: 9px;

  //--------------------------------
  .c-txt_box {
    margin-right: 2px;
  }
}

//________________________________________________________
.c-txt_box {
  background: #32B16C;
  border-radius: 5px;
  padding: 0 20px;

  //--------------------------------
  h4 {
    font-size: 1.2rem;
    color: $white;
    line-height: 2.4rem;
  }

  //--------------------------------
  &__brown {
    background: #7E6B5A;
  }

  //--------------------------------
  &__violet {
    background: #8957A1;
  }

  //--------------------------------
  &__blue {
    background: #0075A9;
  }

  //--------------------------------
  &__gold {
    background: #F39800;
  }
}
