@charset "UTF-8"
//================================================================
//		Float
//
//		@float
//================================================================
//________________________________________________________
.u-fl
	float: left

.u-fr
	float: right

//================================================================
//		Effect
//
//		@effect
//================================================================
//________________________________________________________
.u-hover_eff
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.55

.u-hover_eff_1
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.75

//================================================================
//		Text style
//
//		@txtstyle
//================================================================
//________________________________________________________
.u-fw_bold
	font-weight: bold
.u-fw_normal
	font-weight: normal
.u-fw_medium
	font-weight: 500

.u-txtdeco_non
	text-decoration: none

.u-txtdeco_underline
	text-decoration: underline

.u-fs16
	font-size: 1.6rem



//================================================================
//		Color
//
//		@color @bgcolor
//================================================================
//________________________________________________________
.u-bg_grey
	background: #E9EFF2

//================================================================
//		Background Image
//
//		@bgimg @imgbg
//================================================================
//________________________________________________________
.u-banner_index
	background: url("../img/pc/banner_index.jpg") no-repeat
	+sp
		background: url("../img/sp/banner_index.jpg")