@charset "UTF-8"
//================================================================
//		Component
//
//		N A V I G A T I O N
//================================================================
//________________________________________________________
.c-gnavi
	min-width: 1215px
	display: flex
	justify-content: center
	transition: 0.4s
	transition: all 0.4s
	z-index: 100
	//---- 📱 SP ----
	+sp
		min-width: 100%
	//--------------------------------
	nav
		width: 1215px
		//--------------------------------
		ul
			display: flex
			justify-content: center
			//--------------------------------
			li
				//--------------------------------
				a
					display: block
					color: $black
					text-decoration: none
					font-size: 1.2rem
					font-weight: 500
					transition: 0.3s
					padding: 26px 50px 22px 50px
					letter-spacing: 1.1px
					//--------------------------------
					&:hover
						opacity: 0.55

	//--------------------------------
	&__with_btn
		//--------------------------------
		nav
			display: flex
			justify-content: space-between
			//---- 📱 SP ----
			+sp
				display: block
				position: fixed
				background: $white
				width: 250px
				height: 100%
				top: 0
				right: 0
				padding-top: 63px
				transition: 0.35s
				transform: translateX(250px)
			//--------------------------------
			ul
				margin-left: 108px
				//---- 📱 SP ----
				+sp
					margin-left: 0
					flex-direction: column
					border-top: 1px solid #DBDBDB
				//--------------------------------
				li
					//---- 📱 SP ----
					+sp
						border-bottom: 1px solid #DBDBDB
					//--------------------------------
					a
						font-size: 1.3rem
						padding: 16px 55px 9px 55px
						//---- 📱 SP ----
						+sp
							position: relative
							padding: 11.5px 0px 11.5px 18px
							font-size: 1.25rem
							line-height: 1.25rem
							letter-spacing: 0px
							//--------------------------------
							&:after
								content: ""
								position: absolute
								background: url(../img/sp/arrow.png) no-repeat right center
								background-size: 7px 10px
								width: 7px
								height: 10px
								top: 36%
								right: 25px

	//--------------------------------
	&--top_line
		border-top: 1px solid #CECECE
		//---- 📱 SP ----
		+sp
			border-top: none
	//--------------------------------
	&--bottom_line
		border-bottom: 1px solid #CECECE