@charset "UTF-8"
//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-mics_map
	background: $grey
	width: 50%
	height: 507px
	//---- 📱 SP ----
	+sp
		width: 100%
		height: 255px
