@charset "UTF-8"
//================================================================
//		R E S P O N S I V E
//
//		@responsive
//================================================================
//________________________________________________________
.pc_only
	//---- 📱 SP ----
	+sp
		display: none
//________________________________________________________
.sp_only
	display: none
	//---- 📱 SP ----
	+sp
		display: block

//================================================================
//		N A V I G A T I O N
//
//		@navigation
//================================================================
//________________________________________________________
.c-gnav
	border-top: 1px solid #ccc
	display: flex
	justify-content: center
	//--------------------------------
	ul.pc_only
		&::after
			content: ""
			width: 1px
			height: 30px
			background: #ccc
			float: left
			margin-top: 20px
		//--------------------------------
		li
			float: left
			//--------------------------------
			&::before
				content: ""
				width: 1px
				height: 30px
				background: #ccc
				float: left
				margin-top: 20px
			//--------------------------------
			a
				font-size: 1.6rem
				color: $pure_black
				text-align: center
				line-height: 70px
				text-decoration: none
				transition: 0.35s
				width: 166.5px
				height: 70px
				display: block
				//--------------------------------
				&:hover
					background: #698DD1
					color: $white
			//--------------------------------
			.is-current
				background: $blue
				color: $white
				//--------------------------------
				&:hover
					background: $blue

	//--------------------------------
	ul.sp_only
		position: absolute
		background: rgba(68,113,198,0.9)
		width: 100%
		min-width: 320px
		padding-bottom: 30px
		margin-bottom: 30px
		display: none
		z-index: 99
		//--------------------------------
		li:not(.c-sp_btn)
			border-bottom: 1px solid rgba(211,211,211,0.3)
			a
				color: $white
				text-decoration: none
				font-size: (2.8rem/2)
				display: block
				margin: 18px 15px
				line-height: 1.6rem
				//--------------------------------
				&::after
					content: ""
					background: url("../img/sp/circle_arrow.png") no-repeat left center
					background-size: 14px 14px
					float: right
					width: 14px
					height: 14px

//________________________________________________________
.c-subnav
	border-top: 1px solid #ccc
	border-bottom: 1px solid #ccc
	padding: 19px 0
	//---- 📱 SP ----
	+sp
		margin-left: 15px
		margin-right: 15px
		padding: 8.5px 0
	//--------------------------------
	a
		color: $blue
		cursor: pointer
		border-left: 1px solid #ccc
		padding: 0 20px
		//---- 📱 SP ----
		+sp
			letter-spacing: -2.3px
		//--------------------------------
		&:first-child
			border: none
			padding-left: 0
		//--------------------------------
		&:after
			content: ""
			border: solid $blue
			border-width: 0 2px 2px 0
			display: inline-block
			padding: 3px
			transform: rotate(45deg)
			margin-left: 5px
			margin-bottom: 3px

//================================================================
//		B A N N E R
//
//		@banner
//================================================================
//________________________________________________________
.c-index_banner_1
	width: 100%
	height: 600px
	background: url("../img/pc/banner_index.jpg") no-repeat center
	background-size: cover
	//---- 📱 SP ----
	+sp
		height: 228px
	//--------------------------------
	&__content
		width: 1000px
		margin: auto
		padding-top: 150px
		//---- 📱 SP ----
		+sp
			width: 100%
			img
				width: 290px
				height: auto
				margin: -4px auto auto auto
				padding: 0 15px

//________________________________________________________
.c-index_banner_2
	width: 100%
	height: 562px
	background: url("../img/pc/banner_index_advantage.jpg") no-repeat center
	background-size: cover
	//---- 📱 SP ----
	+sp
		height: 216.5px
	//--------------------------------
	&__inner
		background: $white
		width: 433px
		height: 341px
		padding: 46px 50px 54px 50px
		float: right
		margin-top: 60px
		text-align: center
		//---- 📱 SP ----
		+sp
			width: 100%
			height: auto
			margin: auto
			padding: 0
			background: yellow
			float: none
			display: inline-block
			text-align: left
		//--------------------------------
		.c-btn
			margin-top: 27px
			//---- 📱 SP ----
			+sp
				margin-top: 0
	//--------------------------------
	&__title
		//---- 📱 SP ----
		+sp
			margin: auto
			width: auto
			height: 26.25px
	//--------------------------------
	&__img_1
		margin-top: 16px
		//---- 📱 SP ----
		+sp
			margin: auto
			width: 181.25px
			height: auto
	//--------------------------------
	&__txt_1
		margin-top: 16px
		font-size: 1.6rem
		color: $blue
		//---- 📱 SP ----
		+sp
			font-size: 1.4rem
	//--------------------------------
	&__txt_2
		margin-top: -7px
		line-height: 2.1rem

//________________________________________________________
.c-banner
	background-size: cover
	width: 100%
	height: 240px
	background-position: center
	//---- 📱 SP ----
	+sp
		height: 150px
	//--------------------------------
	&__inner
		padding-top: 86px
		text-align: center
		color: $white
		//---- 📱 SP ----
		+sp
			padding-top: 54px
			//--------------------------------
			img
				width: auto
				height: 29.75px
				margin: auto
		//--------------------------------
		p
			line-height: 0
			//---- 📱 SP ----
			+sp
				line-height: 0.7rem

//================================================================
//		B R E A D C R U M B
//
//		@breadcrumb
//================================================================
//________________________________________________________
.c-breadcrumb
	margin: 28px 0
	//---- 📱 SP ----
	+sp
		display: none
	//--------------------------------
	span
		font-size: 1.2rem
	//--------------------------------
	a
		color: $blue
		text-decoration: none
		//--------------------------------
		&:hover
			text-decoration: underline

//================================================================
//		T I T L E
//
//		@title @ctitle
//================================================================
//________________________________________________________
.c-title
	text-align: center
	padding: 28px 0
	//--------------------------------
	&:after
		content: ""
		display: block
		border-bottom: 1px solid $blue
		width: 55px
		margin: auto
		padding-bottom: 11px

//________________________________________________________
.c-title_1
	font-weight: normal
	color: $blue
	text-align: center
	//--------------------------------
	&:after
		content: ""
		display: block
		border-bottom: 1px solid
		width: 55px
		margin: auto
		padding-bottom: 11px
		//---- 📱 SP ----
		+sp
			width: 25px
			padding-bottom: 12px


//================================================================
//		C O N T E N T    B L O C K
//
//		@block @cblock
//================================================================
//________________________________________________________
.c-title_img_1
	display: inline-block
	text-decoration: none
	//---- 📱 SP ----
	+sp
		padding: 0 15px
	//--------------------------------
	&__img
		//---- 📱 SP ----
		+sp
			width: 100%
			height: auto
	//--------------------------------
	&__txt
		text-align: center
		background: $blue
		color: $white
		padding: 16px
		+sp
			padding: 14px
		//--------------------------------
		h2
			font-weight: normal
		//--------------------------------
		img
			//---- 📱 SP ----
			+sp
				height: 26px
				width: 101px
				margin: auto

//________________________________________________________
.c-title_img_2
	display: inline-block
	//---- 📱 SP ----
	+sp
		margin-top: 15px
		padding: 0 15px
		&:first-child
			margin-top: -13px
	//--------------------------------
	img
		//---- 📱 SP ----
		+sp
			width: 100%
			height: auto
	//--------------------------------
	p
		font-size: 1.6rem
		text-align: center
		background: $white
		color: $black
		padding: 20px
		//---- 📱 SP ----
		+sp
			width: 100%
			padding: 14px 0


//================================================================
//		B U T T O N
//
//		@button  @btn  @cbtn  @cbutton
//================================================================
//________________________________________________________
.c-btn
	display: inline-block
	position: relative
	font-size: 1.6rem
	color: $white
	background: $blue
	border-radius: 4px
	padding: 16px 75px
	text-decoration: none
	transition: 0.35s
	text-align: center
	//---- 📱 SP ----
	+sp
		width: 100%
		padding: 11.5px 0
	//--------------------------------
	&:hover
		opacity: 0.8
	//--------------------------------
	&::after
		content: ""
		background: url("../img/pc/circle_arrow.png") no-repeat left center
		background-size: 16px 16px
		width: 16px
		height: 16px
		position: absolute
		top: 16px
		right: 20px
		//---- 📱 SP ----
		+sp
			top: 13px
			background: url("../img/sp/circle_arrow.png") no-repeat left center
			background-size: 14px 14px
			width: 14px
			height: 14px

//________________________________________________________
.c-btnMenuSP
	z-index: 99
	background: $blue
	padding: 8px 12.5px 12.5px 12.5px
	border-radius: 3px

//________________________________________________________
.c-btnMenuSP__bar1, .c-btnMenuSP__bar2, .c-btnMenuSP__bar3
	width: 15px
	height: 2px
	background-color: $white
	transition: 0.4s
	display: block
	margin: 4.5px 0 0 0

//________________________________________________________
.c-btnMenuSP__trans
	//--------------------------------
	.c-btnMenuSP__bar1
		-webkit-transform: rotate(-45deg) translate(-5px, 4px) scale(1.31,1)
		transform: rotate(-45deg) translate(-5px, 4px) scale(1.31,1)
	//--------------------------------
	.c-btnMenuSP__bar2
		opacity: 0
	//--------------------------------
	.c-btnMenuSP__bar3
		-webkit-transform: rotate(45deg) translate(-5px, -5px) scale(1.31,1)
		transform: rotate(45deg) translate(-5px, -5px) scale(1.31,1)

//________________________________________________________
.c-btn_mail
	border-radius: 5px
	background: $blue url("../img/pc/mail.png") no-repeat left center
	background-position-x: 22px
	padding: 17px 21px 17px 50px
	color: $white
	font-size: 1.6rem
	text-decoration: none
	transition: 0.35s
	display: block
	//--------------------------------
	&:hover
		opacity: 0.8

//________________________________________________________
.c-sp_btn_contact
	text-align: center
	color: $black
	background: $white
	margin: 0 15px
	border-radius: 3px
	text-decoration: none
	font-size: (3.2rem/2)
	display: block
	position: relative
	padding: 18px 0
	line-height: 0.6rem
	//--------------------------------
	p
		font-size: (3.8rem/2)
		font-weight: bold
		line-height: 2.5rem
		letter-spacing: 2.1px
		//--------------------------------
		span
			display: inline
			font-size: (3.2rem/2)
			letter-spacing: 0
		//--------------------------------
		img
			width: 20px
			height: 20px
	//--------------------------------
	&__img
		width: 14px
		height: 14px
		position: absolute
		top: 40%
		right: 15px
	//--------------------------------
	&--footer
		background: $blue
		color: $white

//================================================================
//		T A B L E    C O L U M N
//
//		@table  @cols  @column
//================================================================
//________________________________________________________
.c-table
	border-collapse: collapse
	width: 100%
	//--------------------------------
	tr
		border: 1px solid #ccc
		//padding: 18px 0
		//--------------------------------
		th
			font-weight: normal
			width: 229px
			border-bottom: 1px solid #ccc
			border-right: 1px solid #ccc
			padding-left: 20px
			text-align: left
		//--------------------------------
		td
			padding-left: 20px
			padding: 19px 0 19px 20px
			border-bottom: 1px solid #ccc

//________________________________________________________
.c-cols
	display: inline-block
	//--------------------------------
	&__title
		display: block
		margin-bottom: 8px
		//--------------------------------
		&:before
			content: ""
			border: 2px solid $blue
			display: inline-block
			border-radius: 14px
			width: 14px
			height: 14px
	//--------------------------------
	&__content
		background: #E9EFF2
		height: 413px
		width: 277px
		padding: 18px
		//--------------------------------
		p
			line-height: 2.2rem

//================================================================
//		M I S C
//
//		@misc
//================================================================
//________________________________________________________
.c-news
	display: flex
	background: #E9EFF2
	width: 964px
	padding: 18px
	//---- 📱 SP ----
	+sp
		background: none
		width: 100%
		padding: 0
	//--------------------------------
	h2
		color: $black
		margin-right: 1.6rem
	//--------------------------------
	a
		color: $black
		text-decoration: none
		margin-left: 1.6rem

//________________________________________________________
.c-phone
	display: block
	background: url("../img/pc/phone.png") no-repeat left center
	padding: 12px 0 12px 18px
	color: $black_brown
	font-size: 2.5rem
	letter-spacing: 2.6px
	font-weight: bold
	//--------------------------------
	&--footer
		font-size: 2.8rem
		letter-spacing: 3.1px
		padding: 12px 20px 12px 20px

//________________________________________________________
.c-fax
	display: block
	background: url("../img/pc/fax.png") no-repeat left center
	padding: 12px 0 12px 25px
	color: $black_brown
	font-size: 2.8rem
	letter-spacing: 4.2px
	font-weight: bold
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/fax.png") no-repeat left center
		background-size: 12px 12px
		font-size: (2.8rem/2)
		display: inline-block
		letter-spacing: 2.2px
		padding: 10px 0 10px 15px

//________________________________________________________
.c-map
	width: 100%
	display: block
	//---- 📱 SP ----
	+sp
		height: 251px
	//--------------------------------
	&--topline
		border-top: 1px solid #ccc