@charset "UTF-8"

//================================================================
//		H E A D E R
//
//		@header
//================================================================
//________________________________________________________
.c-header
	margin: 26px auto 22px auto
	display: flex
	width: 1000px
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		width: 100%
		margin-top: 8px
		margin-bottom: 9px
	//--------------------------------
	&__col1
		float: left
		width: 400px
		//---- 📱 SP ----
		+sp
			width: 100%
			//--------------------------------
			p.sp_only
				font-size: 1rem
				display: flex
				border-bottom: 1px solid #ddd
				padding: 0 15px 8px 15px
				line-height: 1.5rem
			//--------------------------------
			a
				padding: 0 15px
				img
					width: 214.25px
					height: auto
		//--------------------------------
		a
			display: block
	//--------------------------------
	&__col2
		float: right
		width: 464px

//________________________________________________________
.c-header_SP
	//--------------------------------
	h1
		font-weight: normal
		font-size: (2rem/2)
		line-height: 1.4rem
		margin-top: 10px
		padding: 0 15px 7px 15px
	//--------------------------------
	&__inner
		border-top: 1px solid #ddd
		padding: 10px 15px
		display: flex
		justify-content: space-between
		//--------------------------------
		a
			margin-top: 12px
			//--------------------------------
			img
				width: 214.25px
				height: auto