@charset "UTF-8";

//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
body {
  background: $white;
  min-width: 1000px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }
}

//________________________________________________________
.l-header {
  min-width: 1000px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }
}

//________________________________________________________
.c-banner {
  min-width: 1000px;

  //---- 📱 SP ----
  @include sp {
    min-width: 100%;
  }
}

//________________________________________________________
.l-main {
  //height: 1776px
  //height: 1288px
  //background: lightgrey
  //+sp
  //	height: 2800px
}

//________________________________________________________
.l-container {
  margin: auto;
  width: 960px;

  //---- 📱 SP ----
  @include sp {
    width: 100%;
    max-width: 650px;
    padding: 0 20px;
  }
}

//________________________________________________________
.l-side {}
