@charset "UTF-8";

//================================================================
//		Layout
//
//		F O O T E R
//================================================================
//________________________________________________________
.l-footer {}

//================================================================
//		N A V I G A T I O N
//================================================================
//________________________________________________________
.c-f_title {
  font-size: 1.5rem;
  color: $blue_1;
}

//________________________________________________________
.c-f_subtitle {
  font-size: 1.5rem;
  color: $blue_1;
}

//________________________________________________________
.c-f_link {
  font-size: 1.3rem;
  line-height: 2.8rem;
  color: $blue_1;
  color: $black;
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 16px;
  transition: 0.35s;

  //--------------------------------
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: solid $blue_2;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    padding: 2px;
    top: 11px;
    left: 3px;
  }

  //--------------------------------
  &:hover {
    opacity: 0.65;
  }
}

//________________________________________________________
.c-footer_navi {
  background: #F8F8F8;
  padding: 47px 0 35px 0;
  border-bottom: 1px solid #E8E8E8;

  //--------------------------------
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
  }

  //--------------------------------
  &__cols {
    display: inline-block;
    width: 195px;

    //--------------------------------
    &:last-child {
      width: 180px;
    }

    //--------------------------------
    div {
      margin-bottom: 21px;
    }
  }
}

//================================================================
//		S O C I A L
//================================================================
//________________________________________________________
.c-footer_social {
  background: $white;
  padding: 40px 0;

  //---- 📱 SP ----
  @include sp {
    display: flex;
    padding: 30px 0 19px 0;
  }


  //--------------------------------
  .l-container {
    display: flex;
    justify-content: space-between;

    //---- 📱 SP ----
    @include sp {
      flex-wrap: wrap;
    }


    //--------------------------------
    a {
      display: inline-block;
      text-decoration: none;

      //---- 📱 SP ----
      @include sp {
        width: 48.5%;
        margin-bottom: 10px;

        //--------------------------------
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

//================================================================
//		C O N T A C T
//================================================================
//________________________________________________________
.c-footer_contact {
  background: $blue_1;
  padding: 68px 0 60px 0;

  //---- 📱 SP ----
  @include sp {
    display: flex;
    position: relative;
    padding: 31px 0 30px 0;

    //--------------------------------
    .c-line_footer hr {
      top: 212px;
    }
  }


  //--------------------------------
  &__row_1 {
    display: flex;
    justify-content: space-between;

    //---- 📱 SP ----
    @include sp {
      flex-direction: column-reverse;
    }
  }

  //--------------------------------
  &__logo {
    //---- 📱 SP ----
    @include sp {
      margin-top: 60px;

      //--------------------------------
      img {
        margin: auto;
        width: auto;
        height: 20px;
      }
    }
  }

  //--------------------------------
  &__mail_phone {
    display: flex;
    margin-right: -7px;

    //---- 📱 SP ----
    @include sp {
      flex-direction: column-reverse;
      margin-right: 0;
    }


    //--------------------------------
    &__col_1 {
      margin-top: -9px;
      margin-right: 18px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 17px;
        margin-right: 0;
        text-align: center;
      }
    }

    //--------------------------------
    &__col_2 {
      margin-top: -7px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 20px;
        text-align: center;
      }


      //--------------------------------
      .l-txt_box_hf {
        display: flex;
        justify-content: center;

        //--------------------------------
        .c-txt_box_hf__s1 {
          margin-left: 4px;
        }
      }

      //--------------------------------
      a {
        display: block;
        margin-top: 9px;

        //---- 📱 SP ----
        @include sp {
          position: relative;
          display: inline-block;
          margin-top: 9px;

          //--------------------------------
          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            border: solid $white;
            border-width: 1px;
            width: 18px;
            height: 18px;
            border-radius: 20px;
            top: 2px;
            right: 1px;
          }

          //--------------------------------
          &:before {
            content: "";
            display: inline-block;
            position: absolute;
            border: solid $white;
            border-width: 2px 2px 0 0;
            transform: rotate(45deg);
            top: 8px;
            right: 9px;
            padding: 3px;
          }

          //--------------------------------
          img {
            margin: auto;
            padding-right: 24px;
            width: auto;
            height: 24px;
          }
        }
      }
    }
  }

  //--------------------------------
  &__row_2 {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    //---- 📱 SP ----
    @include sp {
      display: block;
      margin-top: 29px;
    }


    //--------------------------------
    &__col_1 {
      display: flex;

      //---- 📱 SP ----
      @include sp {
        display: block;
      }


      //--------------------------------
      div {
        position: relative;
        color: $white;

        //---- 📱 SP ----
        @include sp;

        //--------------------------------
        &:first-child {
          padding-right: 97px;

          //---- 📱 SP ----
          @include sp {
            padding-right: 0;
            margin-bottom: 16px;
          }


          //--------------------------------
          &:after {
            content: "";
            display: inline-block;
            position: absolute;
            border: solid rgba(255, 255, 255, 0.25);
            border-width: 0 1px 0 0;
            transform: rotate(27deg);
            width: 1px;
            height: 67px;
            top: 11px;
            right: 43px;

            //---- 📱 SP ----
            @include sp {
              display: none;
            }
          }
        }

        //--------------------------------
        h2 {
          font-size: 1.4rem;
          color: $lightgrey_1;

          //---- 📱 SP ----
          @include sp {
            text-align: center;
            font-size: 1.3rem;
          }
        }

        //--------------------------------
        p {
          line-height: 1.8rem;

          //---- 📱 SP ----
          @include sp {
            display: flex;
            justify-content: center;
            margin-top: 9px;
            line-height: 2.2rem;
          }


          //--------------------------------
          span {
            font-size: 1.2rem;
            color: $lightgrey_1;

            //---- 📱 SP ----
            @include sp {
              font-size: 1.1rem;
            }


            //--------------------------------
            a {
              display: inline-block;
              text-decoration: none;

              //---- 📱 SP ----
              @include sp {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    //--------------------------------
    &__col_2 {
      margin-top: 5px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 27px;

        //--------------------------------
        img {
          margin: auto;
          width: 60px;
          height: auto;
        }
      }
    }
  }
}

//================================================================
//		C O P Y R I G H T
//================================================================
//________________________________________________________
.c-footer_copyright {
  background: $blue_1;
  padding: 34px 0 35px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);

  //---- 📱 SP ----
  @include sp {
    padding: 13px 0 16px 0;
  }


  //--------------------------------
  p {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $lightgrey_1;

    //---- 📱 SP ----
    @include sp {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
