@charset "UTF-8";

//================================================================
//		Component
//
//		I M A G E
//================================================================
//________________________________________________________
.c-img_list {
  position: relative;

  //Can keep or remove "display: flex"
  display: flex;
  justify-content: center;
  text-align: center;

  //---- 📱 SP ----
  @include sp {
    display: block;

    //--------------------------------
    .__full {
      width: 100%;
      height: auto;
    }

    //--------------------------------
    div {
      display: inline-block;
      margin-top: 8px;
    }
  }


  //--------------------------------
  img {
    padding: 0 3px;

    //---- 📱 SP ----
    @include sp {
      padding: 0;
      width: 50%;
      height: auto;
      float: left;
    }
  }

  //--------------------------------
  &__fee {
    padding-top: 21px;
    border: 1px solid $grey_1;

    //---- 📱 SP ----
    @include sp {
      border: none;
      margin: auto;
      display: inline-block;
    }


    //--------------------------------
    img {
      padding: 0 36px;

      //---- 📱 SP ----
      @include sp {
        padding: 0;
        width: 49%;
        height: auto;
      }
    }
  }

  //--------------------------------
  &--ncenter {
    justify-content: space-between;

    //---- 📱 SP ----
    @include sp {
      display: flex;
      flex-wrap: wrap;

      //--------------------------------
      div {
        display: block;
        width: 49%;
        margin-bottom: -2px;

        //--------------------------------
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
