@charset "UTF-8"
//================================================================
//		Project
//
//		I N D E X
//================================================================
//________________________________________________________
.p-index
	min-width: 1252px

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-index_1
	text-align: center
	background-image: url("../img/deco_header_1.png"), url("../img/deco_header_2.png")
	background-position: left top, right top
	background-repeat: no-repeat, no-repeat
	background-size: contain
	//--------------------------------
	h2
		color: $cold_green
		font-size: 37px
		font-weight: normal
		padding-top: 173px
		line-height: 47px
		letter-spacing: 1px
	//--------------------------------
	&__logo
		margin-top: 17px
	//--------------------------------
	.c-gnavi
		margin-top: 58px
	//--------------------------------
	.l-f_center
		margin-top: 143px

//================================================================
//		S E C T I O N    2
//================================================================
//________________________________________________________
.p-index_2
	background: url("../img/deco_1.png") center top no-repeat
	background-position-y: 90px
	padding-top: 150px
	//--------------------------------
	.l-container
	//--------------------------------
	.c-title
	//--------------------------------
	&__txt
		font-size: 18px
		line-height: 45px
		text-align: center
		margin-top: 42px
		letter-spacing: 4px
	//--------------------------------
	.l-f_center
		margin-top: 63px
	//--------------------------------
	.c-txt_img
		margin-top: 33px
		//--------------------------------
		h3
			font-size: 34px
			line-height: 34px
			letter-spacing: 1.8px
		//--------------------------------
		.c-txt_border
			height: 26px
		//--------------------------------
		.c-txt_box
			height: 28px

//================================================================
//		S E C T I O N    3
//================================================================
//________________________________________________________
.p-index_3
	background: url("../img/deco_2.png") center top no-repeat
	background-position-y: 17px
	padding-top: 155px
	padding-bottom: 121px
	//--------------------------------
	.l-container
		border: 4px solid $grey_1
		width: 1192px
		padding: 85px 0 80px 0
	//--------------------------------
	&__inner
		width: 900px
		margin: auto
		//--------------------------------
		.c-title
		//--------------------------------
		h3
			font-size: 23px
			line-height: 23px
			color: $black_1
			font-weight: 200
			letter-spacing: 2.3px
			text-align: center
			margin-top: 35px
	//--------------------------------
	&__fitness
		margin-top: 122px
		//--------------------------------
		.l-f_space_between
			margin-top: 45px
	//--------------------------------
	&__esthetic
		margin-top: 124px
		//--------------------------------
		.l-f_space_between
			margin-top: 40px
			//--------------------------------
			&:last-child
				margin-top: 30px
	//--------------------------------
	&__phone
		margin-top: 95px
		//--------------------------------
		.c-title
			margin-bottom: 24px
	//--------------------------------
	&__campaign
		margin-top: 120px

//================================================================
//		S E C T I O N    4
//================================================================
//________________________________________________________
.p-index_4
	background: #bedbcf
	height: 600px
	//--------------------------------
	.c-map
		float: left
	//--------------------------------
	&__inner
		background: url("../img/access-bg.jpg") left no-repeat
		background-size: contain
		background-position-x: 288px
		width: 45%
		height: 100%
		float: left
		margin-left: 52px
		color: $borwn_1
		//--------------------------------
		h2
			text-align: left
			margin-top: 97px
		//--------------------------------
		h3
			font-size: 24px
			font-weight: 200
			letter-spacing: 0.5px
			margin-top: 30px
		//--------------------------------
		h4
			font-size: 18px
			font-weight: 500
			letter-spacing: 1px
			margin-top: 64px
		//--------------------------------
		p
			margin-top: 15px
			letter-spacing: 2px

//================================================================
//		S E C T I O N    5
//================================================================
//________________________________________________________
.p-index_5
	background: url("../img/deco_3.png") center top no-repeat
	background-position-y: 63px
	padding-top: 117px
	padding-bottom: 147px
	text-align: center
	//--------------------------------
	p
		font-size: 30px
		color: $cold_green
		font-weight: 200
		letter-spacing: 3px
		margin-top: 55px
	//--------------------------------
	&__phone
		margin-top: 56px

//================================================================
//		S E C T I O N    6
//================================================================
//________________________________________________________
.p-index_6
	background: $white url("../img/footer-banner.jpg") center top no-repeat
	text-align: center
	padding-top: 64px
	padding-bottom: 105px
	//--------------------------------
	h2
		color: $borwn_1
		font-size: 18px
		font-weight: 400
		letter-spacing: 2.1px
		margin-bottom: 60px
	//--------------------------------
