@charset "UTF-8"
//================================================================
//		Float
//
//		@float
//================================================================
//________________________________________________________
.u-fl
	float: left !important
	//---- 📱 SP ----
	+sp
		float: none !important

.u-fr
	float: right !important
	//---- 📱 SP ----
	+sp
		float: none !important

//================================================================
//		Effect
//
//		@effect
//================================================================
//________________________________________________________
.u-hover_eff
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.55

.u-hover_eff_1
	transition: 0.35s
	//--------------------------------
	&:hover
		opacity: 0.75

//================================================================
//		Text style
//
//		@txtstyle
//================================================================
//________________________________________________________
.u-fw_thin
	font-weight: 100

.u-fw_light
	font-weight: 200

.u-fw_demilight
	font-weight: 300

.u-fw_regular
	font-weight: 400

.u-fw_medium
	font-weight: 500

.u-fw_bold
	font-weight: 700

.u-fw_black
	font-weight: 900

//________________________________________________________
.u-txtdeco_non
	text-decoration: none

//________________________________________________________
.u-fs13
	font-size: 1.3rem

.u-fs15
	font-size: 1.5rem

.u-fs16
	font-size: 1.6rem

.u-fs18
	font-size: 1.8rem

.u-fs21
	font-size: 2.1rem

.u-fs32
	font-size: 3.2rem
//________________________________________________________
.u-txtcolor_red
	color: $red

//________________________________________________________
.u-txt_left
	text-align: left

.u-txt_center
	text-align: center

//________________________________________________________
.u-txt_strike_oblique
	position: relative
	display: inline-block
	//--------------------------------
	&:before
		position: absolute
		content: ""
		left: 0
		top: 50%
		right: 0
		border-top: 2px solid
		border-color: inherit
		color: #F2385A
		-webkit-transform: rotate(-5deg)
		-moz-transform: rotate(-5deg)
		-ms-transform: rotate(-5deg)
		-o-transform: rotate(-5deg)
		transform: rotate(-5deg)


//================================================================
//		Color
//
//		@color @bgcolor
//================================================================
//________________________________________________________
.u-bg_grey
	background: #E9EFF2

//================================================================
//		Background Image
//
//		@bgimg @imgbg
//================================================================
//________________________________________________________
.u-banner_1
	background: url("../img/pc/banner_1.jpg") no-repeat
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/banner_1.jpg")

.u-banner_2
	background: url("../img/pc/banner_2.jpg") center top no-repeat
	background-size: cover
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/banner_2.jpg") center top no-repeat
		background-size: cover

//________________________________________________________
.u-background
	background: url("../img/bg.jpg") center
	background-size: contain

//________________________________________________________
.u-shard_top
	background: url("../img/pc/shard_top.png") bottom right no-repeat
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/shard_top.png") bottom right no-repeat
		background-size: contain

.u-shard_bottom
	background: url("../img/pc/shard_bottom.png") top left no-repeat
	//---- 📱 SP ----
	+sp
		background: url("../img/sp/shard_bottom.png") top left no-repeat
		background-size: contain

.u-campaign_top
	background: url("../img/sp/campaign_top.png") bottom right no-repeat

.u-campaign_bottom
	background: url("../img/sp/campaign_bottom.png") top left no-repeat

//================================================================
//		List Style Image
//
//		@lsi @liststyimg
//================================================================
//________________________________________________________
.u-lsi_clock
	list-style-image: url('../img/pc/ico_clock.png')
	//---- 📱 SP ----
	+sp
		list-style-image: none

.u-lsi_calender
	list-style-image: url('../img/pc/ico_calender.png')
	//---- 📱 SP ----
	+sp
		list-style-image: none

.u-lsi_golf
	list-style-image: url('../img/pc/ico_golf.png')
	//---- 📱 SP ----
	+sp
		list-style-image: none

.u-lsi_phone
	list-style-image: url('../img/pc/ico_phone.png')
	//---- 📱 SP ----
	+sp
		list-style-image: none

.u-lsi_location
	list-style-image: url('../img/pc/ico_location.png')
	//---- 📱 SP ----
	+sp
		list-style-image: none