@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, button, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1.4rem; }

html {
  font-size: 62.5%; }

body, table, input, .c-form textarea, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, .c-form textarea, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

.u-fl {
  float: left; }

.u-fr {
  float: right; }

.u-hover_eff {
  transition: 0.35s; }
  .u-hover_eff:hover {
    opacity: 0.55; }

.u-hover_eff_1 {
  transition: 0.35s; }
  .u-hover_eff_1:hover {
    opacity: 0.75; }

.u-fw_bold {
  font-weight: bold; }

.u-fw_normal {
  font-weight: normal; }

.u-txtdeco_non {
  text-decoration: none; }

.u-fs16 {
  font-size: 1.6rem; }

.u-fs18 {
  font-size: 1.8rem; }

.u-txtcenter {
  text-align: center; }

.u-txtblue {
  color: #4471C6; }

.u-txtred {
  color: #E13939; }

.u-bg_grey {
  background: #E9EFF2; }

.u-bg_lightred {
  background: #FBE1E1; }

.u-banner_advantage {
  background: url("../img/pc/banner_advantage.jpg") no-repeat; }
  @media screen and (max-width: 767px) {
    .u-banner_advantage {
      background: url("../img/sp/banner_advantage.jpg"); } }

.u-banner_business {
  background: url("../img/pc/banner_business.jpg") no-repeat; }
  @media screen and (max-width: 767px) {
    .u-banner_business {
      background: url("../img/sp/banner_business.jpg"); } }

.u-banner_company {
  background: url("../img/pc/banner_company.jpg") no-repeat; }
  @media screen and (max-width: 767px) {
    .u-banner_company {
      background: url("../img/sp/banner_company.jpg"); } }

.u-banner_contact {
  background: url("../img/pc/banner_contact.jpg") no-repeat; }
  @media screen and (max-width: 767px) {
    .u-banner_contact {
      background: url("../img/sp/banner_contact.jpg"); } }

.u-banner_equipment {
  background: url("../img/pc/banner_equipment.jpg") no-repeat; }
  @media screen and (max-width: 767px) {
    .u-banner_equipment {
      background: url("../img/sp/banner_equipment.jpg"); } }

.u-banner_recruit {
  background: url("../img/pc/banner_recruit.jpg") no-repeat; }
  @media screen and (max-width: 767px) {
    .u-banner_recruit {
      background: url("../img/sp/banner_recruit.jpg"); } }

@media screen and (max-width: 767px) {
  .pc_only {
    display: none; } }

.sp_only {
  display: none; }
  @media screen and (max-width: 767px) {
    .sp_only {
      display: block; } }

.c-header {
  margin: 26px auto 22px auto;
  display: flex;
  width: 1000px;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .c-header {
      width: 100%;
      margin-top: 8px;
      margin-bottom: 9px; } }
  .c-header__col1 {
    float: left;
    width: 400px; }
    @media screen and (max-width: 767px) {
      .c-header__col1 {
        width: 100%; }
        .c-header__col1 p.sp_only {
          font-size: 1rem;
          display: flex;
          border-bottom: 1px solid #ddd;
          padding: 0 15px 8px 15px;
          line-height: 1.5rem; }
        .c-header__col1 a {
          padding: 0 15px; }
          .c-header__col1 a img {
            width: 214.25px;
            height: auto; } }
    .c-header__col1 a {
      display: block; }
  .c-header__col2 {
    float: right;
    width: 464px; }

.l-header .c-header__col1 a {
  margin-top: 6px; }
  @media screen and (max-width: 767px) {
    .l-header .c-header__col1 a {
      margin-top: 21px;
      float: left; } }
.l-header .c-header__col1 .c-btnMenuSP {
  position: relative;
  margin-top: 9px;
  right: 15px; }
.l-header .c-header__col2 .c-phone {
  margin-top: 5px; }
.l-header .c-gnav .c-sp_btn {
  margin-top: 30px; }
  .l-header .c-gnav .c-sp_btn .c-sp_btn_contact {
    margin-top: 16px; }

.c-gnav {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center; }
  .c-gnav ul.pc_only::after {
    content: "";
    width: 1px;
    height: 30px;
    background: #ccc;
    float: left;
    margin-top: 20px; }
  .c-gnav ul.pc_only li {
    float: left; }
    .c-gnav ul.pc_only li::before {
      content: "";
      width: 1px;
      height: 30px;
      background: #ccc;
      float: left;
      margin-top: 20px; }
    .c-gnav ul.pc_only li a {
      font-size: 1.6rem;
      color: #000;
      text-align: center;
      line-height: 70px;
      text-decoration: none;
      transition: 0.35s;
      width: 166.5px;
      height: 70px;
      display: block; }
      .c-gnav ul.pc_only li a:hover {
        background: #698DD1;
        color: #fff; }
    .c-gnav ul.pc_only li .is-current {
      background: #4471C6;
      color: #fff; }
      .c-gnav ul.pc_only li .is-current:hover {
        background: #4471C6; }
  .c-gnav ul.sp_only {
    position: absolute;
    background: rgba(68, 113, 198, 0.9);
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: none;
    z-index: 99; }
    .c-gnav ul.sp_only li:not(.c-sp_btn) {
      border-bottom: 1px solid rgba(211, 211, 211, 0.3); }
      .c-gnav ul.sp_only li:not(.c-sp_btn) a {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
        display: block;
        margin: 18px 15px;
        line-height: 1.6rem; }
        .c-gnav ul.sp_only li:not(.c-sp_btn) a::after {
          content: "";
          background: url("../img/sp/circle_arrow.png") no-repeat left center;
          background-size: 14px 14px;
          float: right;
          width: 14px;
          height: 14px; }

.c-footer_contact {
  text-align: center; }
  .c-footer_contact__img {
    display: inline-block;
    margin-bottom: 6px; }
    @media screen and (max-width: 767px) {
      .c-footer_contact__img {
        margin-bottom: 0; }
        .c-footer_contact__img img {
          width: 224.25px;
          height: auto;
          margin: auto; } }
  .c-footer_contact__txt1 {
    display: block;
    margin-bottom: 36px;
    color: #585550;
    line-height: 2.2rem; }
    @media screen and (max-width: 767px) {
      .c-footer_contact__txt1 {
        margin-bottom: 22px;
        font-size: 1.3rem;
        line-height: 2rem; } }
  .c-footer_contact__txt2 {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    color: #585550; }
    @media screen and (max-width: 767px) {
      .c-footer_contact__txt2 {
        font-size: 1.4rem; } }
  .c-footer_contact__phone {
    width: 527px; }

.c-footer_last {
  color: #fff;
  background: #4471C6;
  margin: 0 auto; }
  .c-footer_last nav {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 19px; }
    .c-footer_last nav ul li a {
      text-decoration: none; }
    .c-footer_last nav ul.pc_only li {
      float: left;
      display: block; }
      .c-footer_last nav ul.pc_only li a {
        color: #fff;
        transition: 0.35s; }
        .c-footer_last nav ul.pc_only li a:hover {
          text-decoration: underline;
          opacity: 0.8; }
    .c-footer_last nav ul.sp_only {
      float: left;
      width: 50%;
      background: #fff; }
      .c-footer_last nav ul.sp_only li {
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        width: 100%;
        display: inline-block;
        position: relative; }
        .c-footer_last nav ul.sp_only li:last-child {
          border-bottom: none; }
          .c-footer_last nav ul.sp_only li:last-child a {
            padding: 15px 15px; }
        .c-footer_last nav ul.sp_only li:last-child::after {
          display: none; }
        .c-footer_last nav ul.sp_only li:not(.is-blank):after {
          content: "";
          background: url("../img/sp/blue_circle_arrow.png") no-repeat left center;
          background-size: 14px 14px;
          float: right;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 20px;
          right: 15px; }
        .c-footer_last nav ul.sp_only li a {
          display: block;
          padding: 19px 15px;
          color: #333;
          background: #fff; }
          .c-footer_last nav ul.sp_only li a img {
            display: block;
            margin: auto;
            width: 15px;
            height: auto; }
  .c-footer_last p {
    font-size: 1rem;
    display: block;
    text-align: center;
    padding-bottom: 32px; }
    @media screen and (max-width: 767px) {
      .c-footer_last p {
        line-height: 1.3rem;
        padding-bottom: 10px; } }

.l-footer {
  padding-top: 64px;
  border-top: 1px solid #ccc; }
  @media screen and (max-width: 767px) {
    .l-footer {
      padding-top: 46px; } }
  @media screen and (max-width: 767px) {
    .l-footer .c-footer_contact .sp_only .c-sp_btn_contact--footer {
      margin-top: 10px;
      padding: 15px 0; } }
  .l-footer .c-footer_contact .sp_only .c-fax {
    margin: auto auto 32px auto; }
  .l-footer .c-footer_contact__phone {
    margin: 7px auto 96px auto; }
  @media screen and (max-width: 767px) {
    .l-footer .c-footer_last nav {
      padding-top: 1px;
      padding-bottom: 9px; } }

.c-index_banner_1 {
  width: 100%;
  height: 600px;
  background: url("../img/pc/banner_index.jpg") no-repeat center;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .c-index_banner_1 {
      height: 228px; } }
  .c-index_banner_1__content {
    width: 1000px;
    margin: auto;
    padding-top: 150px; }
    @media screen and (max-width: 767px) {
      .c-index_banner_1__content {
        width: 100%; }
        .c-index_banner_1__content img {
          width: 290px;
          height: auto;
          margin: -4px auto auto auto;
          padding: 0 15px; } }

.c-index_banner_2 {
  width: 100%;
  height: 562px;
  background: url("../img/pc/banner_index_advantage.jpg") no-repeat center;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .c-index_banner_2 {
      height: 216.5px; } }
  .c-index_banner_2__inner {
    background: #fff;
    width: 433px;
    height: 341px;
    padding: 46px 50px 54px 50px;
    float: right;
    margin-top: 60px;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .c-index_banner_2__inner {
        width: 100%;
        height: auto;
        margin: auto;
        padding: 0;
        background: yellow;
        float: none;
        display: inline-block;
        text-align: left; } }
    .c-index_banner_2__inner .c-btn {
      margin-top: 27px; }
      @media screen and (max-width: 767px) {
        .c-index_banner_2__inner .c-btn {
          margin-top: 0; } }
  @media screen and (max-width: 767px) {
    .c-index_banner_2__title {
      margin: auto;
      width: auto;
      height: 26.25px; } }
  .c-index_banner_2__img_1 {
    margin-top: 16px; }
    @media screen and (max-width: 767px) {
      .c-index_banner_2__img_1 {
        margin: auto;
        width: 181.25px;
        height: auto; } }
  .c-index_banner_2__txt_1 {
    margin-top: 16px;
    font-size: 1.6rem;
    color: #4471C6; }
    @media screen and (max-width: 767px) {
      .c-index_banner_2__txt_1 {
        font-size: 1.4rem; } }
  .c-index_banner_2__txt_2 {
    margin-top: -7px;
    line-height: 2.1rem; }

.c-banner {
  background-size: cover;
  width: 100%;
  height: 240px;
  background-position: center; }
  @media screen and (max-width: 767px) {
    .c-banner {
      height: 150px; } }
  .c-banner__inner {
    padding-top: 86px;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 767px) {
      .c-banner__inner {
        padding-top: 54px; }
        .c-banner__inner img {
          width: auto;
          height: 29.75px;
          margin: auto; } }
    .c-banner__inner p {
      line-height: 0; }
      @media screen and (max-width: 767px) {
        .c-banner__inner p {
          line-height: 0.7rem; } }

.c-breadcrumb {
  margin: 28px 0; }
  @media screen and (max-width: 767px) {
    .c-breadcrumb {
      display: none; } }
  .c-breadcrumb span {
    font-size: 1.2rem; }
  .c-breadcrumb a {
    color: #4471C6;
    text-decoration: none; }
    .c-breadcrumb a:hover {
      text-decoration: underline; }

body {
  font-size: 1.4rem;
  line-height: 1.6rem;
  background: #fff;
  min-width: 1000px; }
  @media screen and (max-width: 767px) {
    body {
      min-width: 100%; } }

.l-container {
  width: 1000px;
  margin: auto; }
  @media screen and (max-width: 767px) {
    .l-container {
      width: 100%;
      max-width: 650px; } }

@media screen and (max-width: 767px) {
  .l-sp_mid {
    padding: 0 15px; } }

.c-btn {
  display: inline-block;
  position: relative;
  font-size: 1.6rem;
  color: #fff;
  background: #4471C6;
  border-radius: 4px;
  padding: 16px 75px;
  text-decoration: none;
  transition: 0.35s;
  text-align: center;
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    .c-btn {
      width: 100%;
      padding: 11.5px 0; } }
  .c-btn:hover {
    opacity: 0.8; }
  .c-btn::after {
    content: "";
    background: url("../img/pc/circle_arrow.png") no-repeat left center;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 16px;
    right: 20px; }
    @media screen and (max-width: 767px) {
      .c-btn::after {
        top: 13px;
        background: url("../img/sp/circle_arrow.png") no-repeat left center;
        background-size: 14px 14px;
        width: 14px;
        height: 14px; } }

.c-btn_mail {
  border-radius: 5px;
  background: #4471C6 url("../img/pc/mail.png") no-repeat left center;
  background-position-x: 22px;
  padding: 17px 21px 17px 50px;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  transition: 0.35s;
  display: block; }
  .c-btn_mail:hover {
    opacity: 0.8; }

.c-sp_btn_contact {
  text-align: center;
  color: #333;
  background: #fff;
  margin: 0 15px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
  position: relative;
  padding: 18px 0;
  line-height: 0.6rem; }
  .c-sp_btn_contact p {
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.5rem;
    letter-spacing: 2.1px; }
    .c-sp_btn_contact p span {
      display: inline;
      font-size: 1.6rem;
      letter-spacing: 0; }
    .c-sp_btn_contact p img {
      width: 20px;
      height: 20px; }
  .c-sp_btn_contact__img {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 40%;
    right: 15px; }
  .c-sp_btn_contact--footer {
    background: #4471C6;
    color: #fff; }

.c-btn_medal {
  display: inline-flex;
  border: 1px solid #4471C6;
  border-radius: 5px;
  width: 189px;
  padding: 18.5px; }
  @media screen and (max-width: 767px) {
    .c-btn_medal {
      width: 100%;
      padding: 8.38px 0;
      margin-bottom: 15px; }
      .c-btn_medal:last-child {
        margin-bottom: 0; } }
  .c-btn_medal div {
    margin: auto;
    display: inherit; }
    .c-btn_medal div img {
      margin-right: 8px; }
      @media screen and (max-width: 767px) {
        .c-btn_medal div img {
          width: 14.75px;
          height: 21.25px; } }
    .c-btn_medal div p {
      display: inherit;
      flex-direction: column;
      justify-content: center; }

.l-btn_medal {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .l-btn_medal {
      display: block; } }

.c-btnMenuSP {
  z-index: 99;
  background: #4471C6;
  padding: 8px 12.5px 12.5px 12.5px;
  border-radius: 3px; }

.c-btnMenuSP__bar1, .c-btnMenuSP__bar2, .c-btnMenuSP__bar3 {
  width: 15px;
  height: 2px;
  background-color: #fff;
  transition: 0.4s;
  display: block;
  margin: 4.5px 0 0 0; }

.c-btnMenuSP__trans .c-btnMenuSP__bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px) scale(1.31, 1);
  transform: rotate(-45deg) translate(-5px, 4px) scale(1.31, 1); }
.c-btnMenuSP__trans .c-btnMenuSP__bar2 {
  opacity: 0; }
.c-btnMenuSP__trans .c-btnMenuSP__bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px) scale(1.31, 1);
  transform: rotate(45deg) translate(-5px, -5px) scale(1.31, 1); }

.c-title {
  text-align: center;
  padding: 24px 0; }
  .c-title:after {
    content: "";
    display: block;
    border-bottom: 1px solid #4471C6;
    width: 55px;
    margin: auto;
    padding-bottom: 11px; }
    @media screen and (max-width: 767px) {
      .c-title:after {
        padding-bottom: 0;
        width: 25px; } }
  @media screen and (max-width: 767px) {
    .c-title {
      padding: 15px 0; }
      .c-title img {
        margin: auto auto -5px auto;
        width: 262.75px;
        height: auto; } }

.c-title_1 {
  font-weight: normal;
  color: #4471C6;
  text-align: center; }
  .c-title_1:after {
    content: "";
    display: block;
    border-bottom: 1px solid;
    width: 55px;
    margin: auto;
    padding-bottom: 11px; }
    @media screen and (max-width: 767px) {
      .c-title_1:after {
        width: 25px;
        padding-bottom: 12px; } }

.c-title_2 {
  display: block;
  margin-bottom: 7px;
  font-size: 1.8rem; }
  @media screen and (max-width: 767px) {
    .c-title_2 {
      display: flex; }
      .c-title_2 img {
        height: 18.25px;
        width: auto; } }
  .c-title_2:before {
    content: "";
    border: 2px solid #4471C6;
    display: inline-block;
    border-radius: 14px;
    width: 14px;
    height: 14px; }
    @media screen and (max-width: 767px) {
      .c-title_2:before {
        margin-right: 6px;
        width: 12px;
        height: 12px; } }

.c-title_3 {
  color: #4471C6;
  padding-bottom: 8px;
  border-bottom: 1px solid; }
  @media screen and (max-width: 767px) {
    .c-title_3 {
      padding: 0; } }

.c-subnavi {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 19px 0;
  margin: 54px 0 37px 0; }
  @media screen and (max-width: 767px) {
    .c-subnavi {
      padding: 8.5px 0;
      margin: 30px 0 0 0; } }
  .c-subnavi a {
    color: #4471C6;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding: 0 20px; }
    @media screen and (max-width: 767px) {
      .c-subnavi a {
        letter-spacing: -2.3px; } }
    .c-subnavi a:first-child {
      border: none;
      padding-left: 0; }
    .c-subnavi a:after {
      content: "";
      border: solid #4471C6;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      margin-left: 5px;
      margin-bottom: 3px; }

.l-subnav {
  margin-top: 57px;
  margin-bottom: 35px; }
  @media screen and (max-width: 767px) {
    .l-subnav {
      margin-top: 30px; } }

.c-table {
  border-collapse: collapse;
  width: 100%; }
  .c-table tr {
    border: 1px solid #ccc; }
    .c-table tr th {
      font-weight: normal;
      width: 229px;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding-left: 20px;
      text-align: left; }
      @media screen and (max-width: 767px) {
        .c-table tr th {
          width: 25%; } }
    .c-table tr td {
      padding-left: 20px;
      padding: 16px 0 15.5px 20px;
      border-bottom: 1px solid #ccc;
      line-height: 2.2rem; }
      @media screen and (max-width: 767px) {
        .c-table tr td {
          width: 75%; } }

.l-cols {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .l-cols {
      display: inline-block; } }
  .l-cols .c-cols {
    display: inline-block; }
    @media screen and (max-width: 767px) {
      .l-cols .c-cols {
        width: 100%;
        margin-top: 32px; }
        .l-cols .c-cols:first-child {
          margin-top: 0; } }
    .l-cols .c-cols__content {
      background: #E9EFF2;
      height: 449px;
      width: 313px; }
      @media screen and (max-width: 767px) {
        .l-cols .c-cols__content {
          width: 100%;
          height: auto;
          padding: 0; } }
      .l-cols .c-cols__content p {
        line-height: 2.2rem;
        padding: 18px; }

.c-form input, .c-form textarea {
  width: 420px;
  height: 25px;
  text-indent: 1rem;
  border: 1px solid #BDBDBD;
  margin: 7px 0; }
  @media screen and (max-width: 767px) {
    .c-form input, .c-form textarea {
      width: 92%; } }
.c-form select {
  width: 150px;
  height: 29px;
  text-indent: 1rem;
  border: 1px solid #BDBDBD;
  background: #fff;
  color: #999;
  margin: 1px 0 5px 0; }
.c-form textarea {
  resize: none;
  height: 134px;
  text-indent: 0;
  margin: 6px 0 1px 0; }
  @media screen and (max-width: 767px) {
    .c-form textarea {
      width: 91%; } }

.c-title_img_1 {
  display: inline-block;
  text-decoration: none; }
  @media screen and (max-width: 767px) {
    .c-title_img_1 {
      padding: 0 15px; } }
  @media screen and (max-width: 767px) {
    .c-title_img_1__img {
      width: 100%;
      height: auto; } }
  .c-title_img_1__txt {
    text-align: center;
    background: #4471C6;
    color: #fff;
    padding: 16px; }
    @media screen and (max-width: 767px) {
      .c-title_img_1__txt {
        padding: 14px; } }
    .c-title_img_1__txt h2 {
      font-weight: normal; }
    @media screen and (max-width: 767px) {
      .c-title_img_1__txt img {
        height: 26px;
        width: 101px;
        margin: auto; } }

.c-title_img_2 {
  display: inline-block; }
  @media screen and (max-width: 767px) {
    .c-title_img_2 {
      margin-top: 15px;
      padding: 0 15px; }
      .c-title_img_2:first-child {
        margin-top: -13px; } }
  @media screen and (max-width: 767px) {
    .c-title_img_2 img {
      width: 100%;
      height: auto; } }
  .c-title_img_2 p {
    font-size: 1.6rem;
    text-align: center;
    background: #fff;
    color: #333;
    padding: 20px; }
    @media screen and (max-width: 767px) {
      .c-title_img_2 p {
        width: 100%;
        padding: 14px 0; } }

.c-img_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px auto 30px auto; }
  .c-img_block__inner {
    padding: 0 10px; }
  @media screen and (max-width: 767px) {
    .c-img_block {
      width: 100%; }
      .c-img_block__inner {
        width: 48%;
        height: auto;
        display: inline-block;
        margin-bottom: 12px;
        padding: 0; }
        .c-img_block__inner img {
          width: 100%;
          height: auto; } }

.c-txt_img {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .c-txt_img {
      display: block; }
      .c-txt_img p {
        letter-spacing: 0.2px; } }
  .c-txt_img__txt {
    width: 445px;
    height: auto; }
    @media screen and (max-width: 767px) {
      .c-txt_img__txt {
        width: 100%; } }
  @media screen and (max-width: 767px) {
    .c-txt_img__img {
      display: block; }
      .c-txt_img__img img {
        width: 100%;
        height: auto; } }

.l-full_txt_img .c-txt_img {
  margin-top: 26px; }
  @media screen and (max-width: 767px) {
    .l-full_txt_img .c-txt_img {
      margin-top: 12px; } }
  .l-full_txt_img .c-txt_img__txt {
    line-height: 2.2rem;
    letter-spacing: -0.5px; }
    @media screen and (max-width: 767px) {
      .l-full_txt_img .c-txt_img__txt {
        letter-spacing: -0.4px; } }
    @media screen and (max-width: 767px) {
      .l-full_txt_img .c-txt_img__txt .c-title_3 {
        margin-top: 10px; } }
    .l-full_txt_img .c-txt_img__txt .u-txtblue {
      margin-top: 9px; }
    .l-full_txt_img .c-txt_img__txt .c-list_1 {
      margin-top: 10px; }
      @media screen and (max-width: 767px) {
        .l-full_txt_img .c-txt_img__txt .c-list_1 {
          margin-top: 3px; } }
.l-full_txt_img .l-btn_medal {
  margin-top: 26px; }
  @media screen and (max-width: 767px) {
    .l-full_txt_img .l-btn_medal {
      margin-top: 8px; } }

.c-txt_img_1 {
  width: 485px; }
  @media screen and (max-width: 767px) {
    .c-txt_img_1 {
      width: 100%; }
      .c-txt_img_1:nth-child(2) {
        margin-top: 32px; } }
  .c-txt_img_1__img {
    display: inline-block;
    margin-bottom: 5px; }
    @media screen and (max-width: 767px) {
      .c-txt_img_1__img img {
        width: 100%;
        height: auto; } }
  .c-txt_img_1__txt {
    margin-top: 12px; }

.l-txt_img_1 {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .l-txt_img_1 {
      display: block; } }

.c-list_1 {
  line-height: 2.2rem;
  margin-left: 1rem; }
  .c-list_1 li {
    margin-bottom: 5px; }
    @media screen and (max-width: 767px) {
      .c-list_1 li {
        letter-spacing: 0.2px; } }
    .c-list_1 li:before {
      content: "•";
      color: #4471C6;
      display: inline-block;
      font-size: 2rem;
      position: absolute;
      margin-left: -1rem; }
  .c-list_1--lh_14 {
    line-height: 1.4rem; }

.hr_1 hr {
  min-width: 1000px;
  border-bottom: 1px solid #ccc;
  border-top: none; }
  @media screen and (max-width: 767px) {
    .hr_1 hr {
      min-width: 100%; } }

.c-news {
  display: flex;
  background: #E9EFF2;
  width: 964px;
  padding: 18px; }
  @media screen and (max-width: 767px) {
    .c-news {
      background: none;
      width: 100%;
      padding: 0; } }
  .c-news h2 {
    color: #333;
    margin-right: 1.6rem; }
  .c-news a {
    color: #333;
    text-decoration: none;
    margin-left: 1.6rem; }

.c-phone {
  display: block;
  background: url("../img/pc/phone.png") no-repeat left center;
  padding: 12px 0 12px 18px;
  color: #585550;
  font-size: 2.5rem;
  letter-spacing: 2.6px;
  font-weight: bold; }
  .c-phone--footer {
    font-size: 2.8rem;
    letter-spacing: 3.1px;
    padding: 12px 20px 12px 20px; }

.c-fax {
  display: block;
  background: url("../img/pc/fax.png") no-repeat left center;
  padding: 12px 0 12px 25px;
  color: #585550;
  font-size: 2.8rem;
  letter-spacing: 4.2px;
  font-weight: bold; }
  @media screen and (max-width: 767px) {
    .c-fax {
      background: url("../img/sp/fax.png") no-repeat left center;
      background-size: 12px 12px;
      font-size: 1.4rem;
      display: inline-block;
      letter-spacing: 2.2px;
      padding: 10px 0 10px 15px; } }

.c-map {
  width: 100%;
  display: block; }
  @media screen and (max-width: 767px) {
    .c-map {
      height: 251px; } }
  .c-map--topline {
    border-top: 1px solid #ccc; }

.c-step {
  width: 325px;
  margin: 0 auto 0 auto; }
  @media screen and (max-width: 767px) {
    .c-step {
      width: 290px; } }
  .c-step ul {
    display: flex;
    justify-content: center;
    color: #BDBDBD;
    position: relative; }
    @media screen and (max-width: 767px) {
      .c-step ul {
        justify-content: space-around; } }
    .c-step ul .is-current {
      color: #4471C6; }
      .c-step ul .is-current a {
        border-color: #4471C6; }
    .c-step ul li {
      padding: 0 52px; }
      @media screen and (max-width: 767px) {
        .c-step ul li {
          padding: 0; } }
      .c-step ul li:after {
        content: "";
        border-top: 1px solid #BDBDBD;
        display: block;
        position: absolute;
        top: 18px;
        left: 33px;
        width: 109px; }
        @media screen and (max-width: 767px) {
          .c-step ul li:after {
            left: 64px;
            width: 60px; } }
      .c-step ul li:before {
        content: "";
        border-top: 1px solid #BDBDBD;
        display: block;
        position: absolute;
        top: 18px;
        right: 39px;
        width: 108px; }
        @media screen and (max-width: 767px) {
          .c-step ul li:before {
            right: 69px;
            width: 62px; } }
      .c-step ul li a {
        display: flex;
        justify-content: center;
        flex-flow: column;
        text-align: center;
        font-size: 1.8rem;
        border: 1px solid #BDBDBD;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        background: #fff;
        margin-bottom: 12px; }
      .c-step ul li p {
        font-size: 1.9rem;
        text-align: center;
        width: 40px; }

.c-require {
  background: #E13939;
  color: #fff;
  padding: 2px 5px;
  font-size: 1.1rem; }
  .c-require--non {
    background: #999; }

.p-index .l-container .c-news {
  margin-top: -30px; }
  @media screen and (max-width: 767px) {
    .p-index .l-container .c-news {
      margin-top: 191px;
      line-height: 1.8rem; }
      .p-index .l-container .c-news a {
        margin-right: 15px; } }
.p-index .l-container .l-title_img_1 {
  display: flex;
  justify-content: space-between;
  margin-top: 58px; }
  @media screen and (max-width: 767px) {
    .p-index .l-container .l-title_img_1 {
      display: block;
      margin-top: 26px;
      margin-bottom: -13px; } }
  @media screen and (max-width: 767px) {
    .p-index .l-container .l-title_img_1 .c-title_img_1 {
      margin-top: 15px; }
      .p-index .l-container .l-title_img_1 .c-title_img_1:first-child {
        margin-top: 0; } }
.p-index .l-container .l-title_img_2 {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 767px) {
    .p-index .l-container .l-title_img_2 {
      display: inline-block; } }
.p-index .c-index_banner_2 {
  margin-top: 59px; }
  @media screen and (max-width: 767px) {
    .p-index .c-index_banner_2__inner {
      background: none; } }
  @media screen and (max-width: 767px) {
    .p-index .c-index_banner_2__info {
      background: #fff;
      margin: 135px 15px 0 15px;
      padding: 28px 20px 10px 20px; }
      .p-index .c-index_banner_2__info .c-title_1 {
        margin-top: 2px; } }
  .p-index .c-index_banner_2__img_1 {
    margin-top: 31px; }
    @media screen and (max-width: 767px) {
      .p-index .c-index_banner_2__img_1 {
        margin-top: 15px; } }
  @media screen and (max-width: 767px) {
    .p-index .c-index_banner_2__txt_1 {
      margin-top: 12px; } }
  @media screen and (max-width: 767px) {
    .p-index .c-index_banner_2__txt_2 {
      margin-top: -11px; } }
.p-index .l-index_equipment {
  text-align: center;
  padding: 56px 0 60px 0;
  background: #E9EFF2;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .p-index .l-index_equipment {
      margin-top: 331px;
      padding-top: 0;
      padding-bottom: 44px; } }
  @media screen and (max-width: 767px) {
    .p-index .l-index_equipment .c-index_equipment__title img {
      width: 131px;
      height: auto;
      margin: auto;
      padding-top: 42px; } }
  .p-index .l-index_equipment .l-title_img_2 {
    margin-top: 30px;
    margin-bottom: 24px; }
    @media screen and (max-width: 767px) {
      .p-index .l-index_equipment .l-title_img_2 {
        margin-bottom: 10px; } }
  .p-index .l-index_equipment span {
    display: block;
    line-height: 2.2rem; }
    @media screen and (max-width: 767px) {
      .p-index .l-index_equipment span {
        text-align: left;
        line-height: 2.1rem; } }
  .p-index .l-index_equipment .c-btn {
    margin-top: 26px; }
    @media screen and (max-width: 767px) {
      .p-index .l-index_equipment .c-btn {
        margin-top: 11px; } }

.p-company_1 {
  text-align: center;
  margin-bottom: 94px; }
  @media screen and (max-width: 767px) {
    .p-company_1 {
      margin-bottom: 47px; } }
  .p-company_1 p {
    color: #333;
    line-height: 2rem; }
  @media screen and (max-width: 767px) {
    .p-company_1 .c-img_block {
      margin-top: 0; } }

.p-company_2 {
  margin-bottom: 94px; }
  @media screen and (max-width: 767px) {
    .p-company_2 {
      margin-bottom: 47px; } }

.p-company_3 {
  text-align: center;
  margin-bottom: 94px; }
  @media screen and (max-width: 767px) {
    .p-company_3 {
      margin-bottom: 47px; } }
  .p-company_3 .c-map {
    margin-bottom: 32px; }
  .p-company_3 p:before {
    content: "";
    background: url("../img/pc/location.png") no-repeat;
    display: inline-block;
    width: 10px;
    height: 16px;
    padding-left: 8px; }
    @media screen and (max-width: 767px) {
      .p-company_3 p:before {
        background: url("../img/sp/location.png") no-repeat;
        background-size: 10px 16px; } }

.p-company_4 {
  margin-bottom: 94px; }
  @media screen and (max-width: 767px) {
    .p-company_4 {
      margin-bottom: 47px; } }

.p-company_5 {
  margin-bottom: 60px; }
  @media screen and (max-width: 767px) {
    .p-company_5 {
      margin-bottom: 30px; } }
  .p-company_5 .l-cols {
    margin-top: 6px; }
  .p-company_5 .u-txtcenter {
    margin-top: 59px; }
    .p-company_5 .u-txtcenter p {
      margin-bottom: 30px; }

.p-business .c-title {
  margin-top: 13px; }

.p-business_1__subtitle {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  display: block;
  margin-top: 7px; }
  @media screen and (max-width: 767px) {
    .p-business_1__subtitle {
      font-size: 1.6rem;
      margin-top: 0; } }
.p-business_1 .l-full_txt_img {
  margin-top: 58px;
  margin-bottom: 120px; }
  @media screen and (max-width: 767px) {
    .p-business_1 .l-full_txt_img {
      margin-top: 28px;
      margin-bottom: 39px; } }
  .p-business_1 .l-full_txt_img:last-child {
    margin-bottom: 95px; }
    @media screen and (max-width: 767px) {
      .p-business_1 .l-full_txt_img:last-child {
        margin-bottom: 0; } }

.p-business_2 .l-full_txt_img {
  margin-top: 45px;
  margin-bottom: 120px; }
  @media screen and (max-width: 767px) {
    .p-business_2 .l-full_txt_img {
      margin-top: 14px;
      margin-bottom: 42px; } }
  .p-business_2 .l-full_txt_img:last-child {
    margin-bottom: 60px; }
    @media screen and (max-width: 767px) {
      .p-business_2 .l-full_txt_img:last-child {
        margin-bottom: 30px; } }

.p-equipment_inner {
  margin-top: 60px;
  margin-bottom: 125px; }
  @media screen and (max-width: 767px) {
    .p-equipment_inner {
      margin-bottom: 60px; } }
  .p-equipment_inner:last-child {
    margin-bottom: 67px; }
    @media screen and (max-width: 767px) {
      .p-equipment_inner:last-child {
        margin-bottom: 30px; } }
  .p-equipment_inner .c-title_2 {
    margin-bottom: 24px; }

.p-advantage_1 {
  margin-bottom: 90px; }
  @media screen and (max-width: 767px) {
    .p-advantage_1 {
      margin-bottom: 40px; } }
  .p-advantage_1 .c-img_block {
    margin-top: 3px; }

.p-advantage_2 {
  margin-bottom: 70px; }
  @media screen and (max-width: 767px) {
    .p-advantage_2 {
      margin-bottom: 30px; } }
  .p-advantage_2 p {
    line-height: 2.2rem; }
  @media screen and (max-width: 767px) {
    .p-advantage_2 .c-title {
      margin-bottom: 24px; } }
  .p-advantage_2 .c-txt_img {
    margin-bottom: 116px; }
    @media screen and (max-width: 767px) {
      .p-advantage_2 .c-txt_img {
        margin-bottom: 40px; } }
    @media screen and (max-width: 767px) {
      .p-advantage_2 .c-txt_img__img {
        margin-top: 24px; } }
    .p-advantage_2 .c-txt_img:last-child {
      margin-bottom: 0; }

.p-recruit_1 {
  line-height: 2.2rem;
  margin-bottom: 92px; }
  @media screen and (max-width: 767px) {
    .p-recruit_1 {
      margin-bottom: 30px; } }
  .p-recruit_1 p {
    text-align: center; }
  .p-recruit_1 .c-table {
    margin-top: 116px; }
    @media screen and (max-width: 767px) {
      .p-recruit_1 .c-table {
        margin-top: 40px; } }
  .p-recruit_1 .c-btn {
    padding: 13px 51px;
    margin-top: 24px; }
    @media screen and (max-width: 767px) {
      .p-recruit_1 .c-btn {
        padding: 13px 0; } }

.p-recruit_2 {
  margin-bottom: 56px; }
  .p-recruit_2 .c-title {
    margin-bottom: 8px; }
  .p-recruit_2__txt {
    display: block;
    text-align: center; }
  .p-recruit_2__contact {
    display: flex;
    justify-content: center;
    margin-top: 27px;
    margin-bottom: 13px; }
    @media screen and (max-width: 767px) {
      .p-recruit_2__contact {
        display: block;
        margin-bottom: 5px; }
        .p-recruit_2__contact .c-sp_btn_contact {
          margin: 0; } }
    .p-recruit_2__contact a {
      font-size: 3.6rem; }
      @media screen and (max-width: 767px) {
        .p-recruit_2__contact a {
          font-size: 1.4rem; } }
    .p-recruit_2__contact .c-phone {
      margin-right: 40px; }
    .p-recruit_2__contact .c-fax {
      background: url("../img/pc/recruit_fax.png") no-repeat left center;
      padding-left: 36px; }
      @media screen and (max-width: 767px) {
        .p-recruit_2__contact .c-fax {
          background: url("../img/sp/fax.png") no-repeat left center;
          background-size: 12px 12px;
          padding-left: 16px;
          display: inherit;
          width: 125px;
          margin: 12px auto auto auto; } }
  .p-recruit_2 .c-btn_mail {
    display: inline-block;
    margin-top: 28px; }
    @media screen and (max-width: 767px) {
      .p-recruit_2 .c-btn_mail {
        display: flex;
        justify-content: center;
        background: #4471C6;
        margin-top: 15px; }
        .p-recruit_2 .c-btn_mail img {
          margin-right: 4px; } }

.p-contact {
  margin-bottom: 57px; }
  .p-contact section .p-txt {
    text-align: center;
    line-height: 2.2rem;
    margin-top: 6px; }
  .p-contact section .c-step {
    margin-top: 77px; }
  .p-contact section .c-table {
    margin-top: 32px; }
    @media screen and (max-width: 767px) {
      .p-contact section .c-table tr th {
        display: flex;
        justify-content: space-between;
        width: auto;
        border-right: none;
        padding-top: 8px;
        padding-bottom: 8px; } }
    .p-contact section .c-table tr th a {
      margin-right: 20px; }
    .p-contact section .c-table tr td {
      padding: 13px 0 13px 20px; }
      @media screen and (max-width: 767px) {
        .p-contact section .c-table tr td {
          display: block;
          width: auto;
          border-bottom: none; } }
      .p-contact section .c-table tr td p {
        text-align: left; }
  .p-contact section .c-btn {
    margin-top: 28px; }

/*# sourceMappingURL=style.css.map */
