@charset "UTF-8";

//================================================================
//		Project
//
//		I N D E X
//================================================================
//________________________________________________________
.p-index {
  position: relative;
  background: $light_grey url(../img/pc/giraffe.png) no-repeat left;
  background-position-y: 1051px;

  //---- 📱 SP ----
  @include sp {
    background: $light_grey;
  }
}

//________________________________________________________

//================================================================
//	S E C T I O N    B A N N E R
//
//	@secb
//================================================================
//________________________________________________________
.p-index_banner {
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 474px;

  //---- 📱 SP ----
  @include sp {
    margin-top: 58.5px;
    height: 272px - 58.5px;
  }


  //--------------------------------
  h2 {
    font-size: 3.4rem;
    letter-spacing: 3.5px;
    color: $white;
    margin-top: 28px;

    //---- 📱 SP ----
    @include sp {
      font-size: 1.6rem;
      letter-spacing: 2px;
      margin-top: 0;
    }
  }
}

//________________________________________________________

//================================================================
//	S E C T I O N    1
//
//	@sec1    @concept
//================================================================
//________________________________________________________
.p-index_1 {
  display: flex;
  position: relative;
  background: url(../img/pc/letter_C.png) no-repeat;
  background-position-x: 23px;
  background-position-y: 119px;
  padding-top: 93px;
  padding-bottom: 110px;

  //---- 📱 SP ----
  @include sp {
    background-image: url(../img/pc/giraffe.png), url(../img/sp/letter_C.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 79px 120.5px, 132.5px 148px;
    background-position-x: 18px, -1px;
    background-position-y: 127px, 17px;
    padding-top: 31px;
    padding-bottom: 10px;
  }


  //--------------------------------
  .c-title {
    margin-bottom: 92px;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 193px;

      //--------------------------------
      h2 {
        font-size: 1.8rem;
        line-height: 1.8rem;
      }

      //--------------------------------
      p {
        font-size: 1.1rem;
        line-height: 1.1rem;
      }
    }
  }

  //--------------------------------
  &__content {
    width: 420px;

    //---- 📱 SP ----
    @include sp {
      width: 100%;
    }


    //--------------------------------
    h3 {
      font-size: 1.8rem;
      margin-bottom: 42px;
      letter-spacing: 1px;

      //---- 📱 SP ----
      @include sp {
        font-size: 1.5rem;
        margin-bottom: 17px;
      }
    }

    //--------------------------------
    p {
      font-weight: 500;
      letter-spacing: 0.4px;

      //---- 📱 SP ----
      @include sp {
        font-size: 1rem;
        line-height: 2.1rem;
        letter-spacing: 0.8px;
      }
    }
  }

  //--------------------------------
  .c-img_bg {
    top: 92px;
    right: 0;

    //---- 📱 SP ----
    @include sp {
      top: 101px;
    }
  }
}

//________________________________________________________

//================================================================
//	S E C T I O N    2
//
//	@sec2    @topics
//================================================================
//________________________________________________________
.p-index_2 {
  display: flex;
  background-image: url(../img/pc/elephant.png), url(../img/pc/letter_T.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: right, calc(100% - 108px);
  background-position-y: 291px, 88px;
  padding-top: 120px;
  padding-bottom: 80px;

  //---- 📱 SP ----
  @include sp {
    background-image: url(../img/sp/elephant.png), url(../img/sp/letter_T.png);
    background-size: 82px 125.5px, 140px 149.5px;
    background-position-x: right, left;
    background-repeat: no-repeat, no-repeat;
    background-position-y: 25px, 3px;
    padding-top: 53px;
    padding-bottom: 0;
  }


  //--------------------------------
  .l-container__narrow {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    //---- 📱 SP ----
    @include sp {
      display: block;
      max-width: 100%;
      padding: 0;
    }


    //--------------------------------
    .c-title {
      margin-top: 88px;
      margin-right: 65px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 0;
        margin-bottom: 51px;
        margin-right: 0;

        //--------------------------------
        h2 {
          font-size: 1.8rem;
          line-height: 1.8rem;
        }
      }
    }
  }
}

//________________________________________________________

//================================================================
//	S E C T I O N    3
//
//	@sec3    @FAQ
//================================================================
//________________________________________________________
.p-index_3 {
  display: flex;
  background-image: url(../img/pc/tiger.png), url(../img/pc/letter_F.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: left, 8px;
  background-position-y: calc(100% - 2px), 60px;
  padding-top: 27px;

  //---- 📱 SP ----
  @include sp {
    background-image: url(../img/sp/tiger.png), url(../img/sp/letter_F.png);
    background-size: 97.5px 200.5px, 115.5px 143px;
    background-repeat: no-repeat, no-repeat;
    background-position-x: left, calc(100% - -7px);
    background-position-y: -23px, 30px;
    padding-top: 70px;
  }


  //--------------------------------
  .l-container {
    display: flex;
    justify-content: space-between;

    //---- 📱 SP ----
    @include sp {
      flex-direction: column;
    }


    //--------------------------------
    .c-title {
      margin-top: 5px;
      margin-left: 102px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 0;
        margin-bottom: 55px;
        margin-left: 0;
      }
    }

    //--------------------------------
    .l-txt_accordion {}
  }
}

//________________________________________________________

//================================================================
//	S E C T I O N    4
//
//	@sec4    @map
//================================================================
//________________________________________________________
.p-index_4 {
  display: flex;
  background-image: url(../img/pc/hawk.png), url(../img/pc/letter_M.png);
  background-repeat: no-repeat, no-repeat;
  background-position-x: calc(100% - 69px), calc(100% - 19px);
  background-position-y: calc(100% - 22px), 69px;
  padding-top: 187px;
  padding-bottom: 60px;

  //---- 📱 SP ----
  @include sp {
    background-image: url(../img/sp/hawk.png), url(../img/sp/letter_M.png);
    background-size: 99.5px 75.5px, 188.5px 143px;
    background-repeat: no-repeat, no-repeat;
    background-position-x: calc(100% - 12px), -9px;
    background-position-y: 67px, 23px;
    padding-top: 49px;
    padding-bottom: 0;
  }


  //--------------------------------
  &__content {
    margin-top: 8px;
    margin-left: 65px;

    //---- 📱 SP ----
    @include sp {
      padding: 0 17.5px;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 23px;
    }
  }

  //--------------------------------
  .l-container__full {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    //---- 📱 SP ----
    @include sp {
      flex-direction: column;
    }


    //--------------------------------
    .c-title {
      margin-bottom: 79px;
    }

    //--------------------------------
    div:not(.c-title) {
      p {
        line-height: 2.7rem;
        letter-spacing: 1px;

        //---- 📱 SP ----
        @include sp {
          font-size: 1rem;
          line-height: 2.1rem;
        }
      }
    }
  }

  //--------------------------------
  .c-mics_map {}
}

//________________________________________________________

//================================================================
//	S E C T I O N    5
//
//	@sec5    @about
//================================================================
//________________________________________________________
.p-index_5 {
  display: flex;
  background: url(../img/pc/letter_A.png) no-repeat;
  background-position-x: -5px;
  background-position-y: 242px;
  padding-top: 83px;
  padding-bottom: 281px;

  //---- 📱 SP ----
  @include sp {
    background: url(../img/sp/letter_A.png) no-repeat;
    background-size: 160px 160.5px;
    background-position-x: calc(100% - -19px);
    background-position-y: 12px;
    padding-top: 34px;
    padding-bottom: 98px;
  }


  //--------------------------------
  .l-container {
    display: flex;
    justify-content: space-between;

    //---- 📱 SP ----
    @include sp {
      flex-direction: column;
    }


    //--------------------------------
    .c-title {
      margin-left: 101px;

      //---- 📱 SP ----
      @include sp {
        margin-left: 0;
      }
    }

    //--------------------------------
    .c-table_about {
      margin-top: 5px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 35px;
      }
    }
  }
}
