@charset "UTF-8"
//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
//________________________________________________________
body
	position: relative
	min-width: 1660px
	background: url("../img/bg.jpg") center
	//background-size: 50%

//________________________________________________________
.l-main

//________________________________________________________
.l-container
	width: 1252px
	margin: auto

//================================================================
//		A L I G N M E N T
//================================================================
//________________________________________________________
.l-f_space_between
	display: flex
	justify-content: space-between

//________________________________________________________
.l-f_center
	display: flex
	justify-content: center

//________________________________________________________
.l-t_center
	text-align: center
