@charset "UTF-8";

//================================================================
//		Project
//
//		I N D E X
//================================================================
//________________________________________________________
.p-index {}

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-index_1 {
  background: $teal;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.2);
  padding-top: 53px;
  padding-bottom: 83px;

  //---- 📱 SP ----
  @include sp {
    padding-top: 20px;
    padding-bottom: 16px;
  }


  //--------------------------------
  .c-phone_top {
    float: left;
    margin-top: -120px;
    margin-right: 15px;
  }

  //--------------------------------
  &__inner {
    display: inline-block;

    //---- 📱 SP ----
    @include sp {
      width: 100%;
    }


    //--------------------------------
    h2 {
      margin-bottom: 34px;

      //---- 📱 SP ----
      @include sp {
        margin-bottom: 21px;

        //--------------------------------
        img {
          margin: auto;
          width: 347px;
          height: auto;
        }
      }
    }
  }
}

//================================================================
//		S E C T I O N    2
//================================================================
//________________________________________________________
.p-index_2 {
  text-align: center;
  margin: 65px 0 56px 0;

  //---- 📱 SP ----
  @include sp {
    margin: 29px 0 21px 0;
  }


  //--------------------------------
  h2 {
    margin-bottom: 34px;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 28px;
    }
  }

  //--------------------------------
  p {
    margin-bottom: 33px;
    letter-spacing: 0.9px;
    text-align: left;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 26px;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }

  //--------------------------------
  .c-video {}
}

//================================================================
//		S E C T I O N    3
//================================================================
//________________________________________________________
.p-index_3 {
  background: $grey_2;
  padding: 65px 0 87px 0;

  //---- 📱 SP ----
  @include sp {
    padding: 30px 0 51px 0;
  }


  //--------------------------------
  h2 {
    margin-bottom: 33px;
    text-align: center;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 18px;
    }
  }

  //--------------------------------
  p {
    margin-bottom: 34px;
    letter-spacing: 1px;
    font-weight: bold;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 26px;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }

  //--------------------------------
  .c-txt_line {
    margin-bottom: 14px;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 16px;
    }
  }
}

//================================================================
//		S E C T I O N    4
//================================================================
//________________________________________________________
.p-index_4 {
  margin: 65px 0 60px 0;

  //---- 📱 SP ----
  @include sp {
    margin: 30px 0 10px 0;
  }


  //--------------------------------
  h2 {
    text-align: center;
    margin-bottom: 32px;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 15px;
    }
  }
}

//================================================================
//		S E C T I O N    5
//================================================================
//________________________________________________________
.p-index_5 {
  background: $grey_2;
  padding: 65px 0 65px 0;

  //---- 📱 SP ----
  @include sp {
    padding: 39px 0 21px 0;
  }


  //--------------------------------
  h2 {
    text-align: center;
    margin-bottom: 45px;

    //---- 📱 SP ----
    @include sp {
      margin-bottom: 28px;
    }
  }
}
