@charset "UTF-8"
//================================================================
//		Component
//
//		T I T L E
//================================================================
//________________________________________________________
.c-title
	text-align: center
	//---- 📱 SP ----
	+sp
		//--------------------------------
		img
			margin: auto
			width: auto
			height: 35px

//________________________________________________________
.c-subtitle
	background: #10222B
	color: $white
	font-weight: 700
	text-align: center
	font-size: 2rem
	letter-spacing: 1px
	//---- 📱 SP ----
	+sp
		font-size: 1.6rem
		padding: 3.5px 0
