@charset "UTF-8"
//================================================================
//		Component
//
//		B U T T O N
//================================================================
//________________________________________________________
.c-btn
	//--------------------------------
	a
		border-radius: 77px
		background: $red
		padding: 25px 55px
		color: $white
		text-decoration: none
		font-weight: 500
		transition: 0.35s
		font-size: 1.8rem
		letter-spacing: 0.8px
		//---- 📱 SP ----
		+sp
			font-size: 1.2rem
			display: block
			padding: 0
			width: 100%
			height: 45px
			line-height: 45px
		//--------------------------------
		&:before
			content: ""
			display: inline-block
			position: relative
			border: solid $white
			border-width: 0 2px 2px 0
			padding: 4px
			transform: rotate(-45deg)
			margin-right: 32px
			top: -2px
			//---- 📱 SP ----
			+sp
				top: 1px
				margin-right: 12px
	//--------------------------------
	&--glass
		//--------------------------------
		a
			border: 1px solid $white
			background: rgba(0,0,0,0.2)
			font-weight: 700
			display: flex
			padding: 0
			width: 420px
			height: 90px
			//---- 📱 SP ----
			+sp
				width: 100%
				height: 48px
				margin-bottom: 9px
			//--------------------------------
			&:before
				display: none
			//--------------------------------
			&:hover
				background: $white
			//--------------------------------
			img
				margin: auto
				//---- 📱 SP ----
				+sp
					width: 125px
					height: auto
	//--------------------------------
	&--white a
		background: $white
		display: inline-block
		width: 373px
		height: 40px
		//---- 📱 SP ----
		+sp
			width: auto
			height: auto
			padding: 13px 20px
		//--------------------------------
		img
			margin-top: -7px
			transition: 0.35s
			//---- 📱 SP ----
			+sp
				width: 200px
				height: auto
		//--------------------------------
		&:hover img
			opacity: 0.6
		//--------------------------------
		&:before
			display: none

//________________________________________________________
.l-btn
	//--------------------------------
	&--center
		text-align: center
	//--------------------------------
	&--right
		text-align: right
	//--------------------------------
	&--ncenter
		display: flex
		justify-content: center
		//---- 📱 SP ----
		+sp
			display: block
		//--------------------------------
		div
			margin: 0 15px
			//---- 📱 SP ----
			+sp
				margin: 0 auto
			//--------------------------------
			&:last-child
				margin-left: 15px
				//---- 📱 SP ----
				+sp
					margin: 0 auto
			//--------------------------------
			&:first-child
				margin-right: 15px
				//---- 📱 SP ----
				+sp
					margin: 0 auto

//================================================================
//		T O P    B U T T O N
//================================================================
//________________________________________________________
.l-btn_top
	position: fixed
	bottom: 104px
	right: 81px
	display: none
	//---- 📱 SP ----
	+sp
		bottom: 51px
		right: 15px
	//--------------------------------
	.c-btn_top
		position: relative
		width: 100px
		height: 100px
		cursor: pointer
		text-align: center
		display: block
		background: #157AA4
		border-radius: 50px
		-webkit-transition: none
		transition: none
		opacity: 0.75
		//---- 📱 SP ----
		+sp
			width: 50px
			height: 50px
		//--------------------------------
		&:before
			content: ""
			display: inline-block
			position: relative
			border: solid $white
			border-width: 0 2px 2px 0
			padding: 22px
			transform: rotate(-135deg)
			margin-right: 17px
			top: 34px
			left: 8px
			//---- 📱 SP ----
			+sp
				padding: 9px
				top: 15px
		//--------------------------------
		&:hover
			top: -4px
			background-color: #20AFC8
			box-shadow: 0 5px 0 #006F82
			//---- 📱 SP ----
			+sp
				box-shadow: 0 3px 0 #006F82
		//--------------------------------
		&:active
			top: 3px
			background-color: #0291AA
			box-shadow: none
			transition: 0.2s