@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T
//================================================================
//________________________________________________________
.l-txt
	display: flex
	//---- 📱 SP ----
	+sp
		display: block
		text-align: center
	//--------------------------------
	div
		display: flex
		//---- 📱 SP ----
		+sp
			display: block
			margin-bottom: 6px
		//--------------------------------
		span
			margin-left: 13px
			//---- 📱 SP ----
			+sp
				display: block
				margin-left: 0
				letter-spacing: -1.2px
				line-height: 2rem

//________________________________________________________
.c-txt_highlight
	background: #33C49D
	color: $white
	padding: 0 20px
	//---- 📱 SP ----
	+sp
		display: inline-flex
		justify-content: center
		width: 100%
		padding: 0
		text-align: center
		font-size: 1.3rem
	//--------------------------------
	&--blue
		background: #0080AE

//================================================================
//		L I S T
//================================================================
//________________________________________________________
.c-list
	background: #F0F0F0
	//---- 📱 SP ----
	+sp
		margin: 0 15px 13px 15px
	//--------------------------------
	ul
		padding: 24px 24px 18px 47px
		//---- 📱 SP ----
		+sp
			padding: 10px 0 10px 15px
		//--------------------------------
		li
			margin-bottom: 8px
			//---- 📱 SP ----
			+sp
				margin-bottom: 4px
			//--------------------------------
			&:before
				content: "•"
				color: #33C49D
				display: inline-block
				font-size: 2.4rem
				position: absolute
				margin-left: -17px
				margin-top: -17px
				//---- 📱 SP ----
				+sp
					font-size: 1.6rem
					margin-left: 4px
					margin-top: -13px
			//--------------------------------
			p
				//---- 📱 SP ----
				+sp
					font-size: 1.2rem
					line-height: 1.6rem