@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T    I M A G E
//================================================================
//________________________________________________________
.c-txtimg
	border: 1px solid $grey_1
	padding: 31px
	margin: auto
	width: 938px
	display: flex
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		display: block
		width: 100%
		padding: 0
	//--------------------------------
	&__img
		//---- 📱 SP ----
		+sp
			//--------------------------------
			img
				margin: 15px auto 3px auto
				width: 136px
				height: auto
	//--------------------------------
	&__txt
		width: 637px
		//---- 📱 SP ----
		+sp
			width: 100%
			//--------------------------------
			h3
				text-align: center
		//--------------------------------
		p
			line-height: 2.2rem
			//---- 📱 SP ----
			+sp
				font-size: 1.2rem
				line-height: 1.6rem
				padding: 0 15px