@charset "UTF-8"
//================================================================
//		Component
//
//		T A B L E
//================================================================
//________________________________________________________
.c-table_fee
	border-collapse: collapse
	width: 100%
	font-size: 1.5rem
	//--------------------------------
	thead
		background: $grey_3
		text-align: center
		border-left: 1px solid $grey_1
		border-right: 1px solid $grey_1
		//--------------------------------
		tr
			//--------------------------------
			th
			//--------------------------------
			td
				padding: 7px 0
				font-weight: 700
	//--------------------------------
	tbody
		text-align: center
		border-top: 1px solid $grey_1
		border-left: 1px solid $grey_1
		border-right: 1px solid $grey_1
		//--------------------------------
		tr
			//--------------------------------
			th
				text-align: left
				width: 264px
				text-indent: 2.8rem
				border-bottom: 1px solid $grey_1
				font-weight: 700
			//--------------------------------
			td
				border-bottom: 1px solid $grey_1
				padding: 12px 0
				line-height: 2.4rem
			//--------------------------------
			td:nth-child(2)
				text-align: left
			//--------------------------------
			td:nth-child(3), td:nth-child(4), td:nth-child(5)
				width: 285px
				border-left: 1px solid $grey_1
			//--------------------------------
			td:nth-child(3), td:nth-child(4)
				font-weight: 700
		//--------------------------------
		tr:nth-child(even)
			background: #eee //F8F8F8

//________________________________________________________
.c-table_contact
	background: #10222B
	padding: 80px 0
	//---- 📱 SP ----
	+sp
		padding: 13px 0
	//--------------------------------
	table
		border-collapse: collapse
		text-align: left
		margin-left: 82px
		//---- 📱 SP ----
		+sp
			margin: 0 auto
			text-align: center
			width: 89%
		//--------------------------------
		tr
			border-bottom: 1px solid rgba(255,255,255,0.35)
			vertical-align: top
			line-height: 2rem
			//--------------------------------
			p
				font-weight: 700
				color: $white
				//---- 📱 SP ----
				+sp
					font-weight: 400
					font-size: 1.2rem
					line-height: 1.4rem
			//--------------------------------
			th
				width: 145px
				padding: 10px 0
				//---- 📱 SP ----
				+sp
					width: 100%
					display: block
					padding: 8px 0 0 0
				//--------------------------------
				ul
					//--------------------------------
					li
						color: $white
						font-weight: 700
						//---- 📱 SP ----
						+sp
							font-size: 1.2rem
							letter-spacing: 2px
			//--------------------------------
			td
				padding: 10px 0
				//---- 📱 SP ----
				+sp
					width: 100%
					display: block
					padding-top: 7px
					padding-bottom: 14px

		//--------------------------------
		tr:last-child
			border: none


//================================================================
//		A C C O R D I O N
//================================================================
//________________________________________________________
.c-accordion
	border-bottom: 1px solid $grey_1
	a
		position: relative
		display: block
		padding: 7px 0
		//--------------------------------
		p
			display: inline-block
			font-size: 1.8rem
			font-weight: 700
			transition: 0.35s
		//--------------------------------
		span
			font-size: 1rem
			font-weight: 400
			color: $grey_4
			margin-left: 16px
			vertical-align: middle
			display: inline-flex
			line-height: 1.2rem
			margin-top: -7px
		//--------------------------------
		&:after
			content: ""
			display: inline-block
			position: absolute
			border: solid #0080AE
			border-width: 0 0 1px 0
			padding: 10px
			transform: rotate(0deg)
			top: 9px
			right: 6px
			transition: 0.35s
		//--------------------------------
		&:before
			content: ""
			display: inline-block
			position: absolute
			border: solid #0080AE
			border-width: 0 1px 0 0
			padding: 10px
			transform: rotate(0deg)
			top: 20px
			right: 14px
			transition: 0.35s
	//--------------------------------
	.is-active
		//--------------------------------
		&:before
			transform: rotate(90deg) translate(-11px, -10px)
			opacity: 0
		//--------------------------------
		&:after
			transform: rotate(360deg)
	//--------------------------------
	.is-active_title
		border-bottom: 1px solid $grey_1
	//--------------------------------
	&__table
		display: none
		table
			width: 100%
			border-collapse: collapse
			margin: 15px 0
			//--------------------------------
			tr
				text-align: left
				border: 1px solid $grey_1
				//text-indent: 1.6rem
				//--------------------------------
				th
					background: #FBFBFB
					border-right: 1px solid $grey_1
					width: 44.8%
					font-weight: 700
					font-size: 1.2rem
				//--------------------------------
				td
					font-weight: 200
					font-size: 1.2rem
					width: 55.2%
					letter-spacing: 0px
				//--------------------------------
				th, td
					padding: 8px 10px 8px 15px


//================================================================
//		C O L U M N
//================================================================
//________________________________________________________