@charset "UTF-8"
//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-campaign
	margin-top: -296px
	position: absolute
	//---- 📱 SP ----
	+sp
		margin-top: 0
		position: relative
		//--------------------------------
		img
			width: 100%
			height: auto
	//--------------------------------
	&__top, &__bottom
		position: absolute
		//--------------------------------
		img
			width: 100%
			height: auto
	//--------------------------------
	&__top
		bottom: 0
	//--------------------------------
	&__bottom
		top: 0

//________________________________________________________
.c-map
	width: 57.4%
	height: 483px
	float: left
	//---- 📱 SP ----
	+sp
		width: 100%
		height: 241.5px
		float: none