@charset "UTF-8";

//================================================================
//		Layout
//
//		H E A D E R
//================================================================
//________________________________________________________
.l-header {
  padding-top: 20px;
  padding-bottom: 16px;
  background: $white;
  width: 100%;

  //---- 📱 SP ----
  @include sp {
    padding-top: 0;
    padding-bottom: 0;

    //position: fixed
    top: 0;
    left: 0;
  }


  //--------------------------------
  .is-fixed_btn {
    position: fixed;
  }
}

//________________________________________________________
.c-header {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: auto;

  //---- 📱 SP ----
  @include sp {
    width: 100%;
    height: 43.5px;
  }


  //--------------------------------
  &__col_1 {
    display: flex;

    //---- 📱 SP ----
    @include sp {
      display: block;
      margin-top: 7px;
      margin-left: 9px;
    }


    //--------------------------------
    a {
      display: block;
      margin-left: 9px;

      //---- 📱 SP ----
      @include sp {
        margin-left: 0;
      }


      //--------------------------------
      img {
        //---- 📱 SP ----
        @include sp {
          width: auto;
          height: 32px;
        }
      }
    }

    //--------------------------------
    p {
      font-size: 1.6rem;
      letter-spacing: 0.6px;
      margin-top: 23px;
      margin-left: 64px;

      //---- 📱 SP ----
      @include sp {
        font-size: 0.55rem;
        letter-spacing: -0.3px;
        margin-top: 0;
        margin-left: 0;
        position: relative;
        top: -19px;
        left: 36px;
      }
    }
  }

  //--------------------------------
  &__col_2 {
    //---- 📱 SP ----
    @include sp {
      display: flex;
    }


    //--------------------------------
    a {
      display: block;
      text-align: right;
      margin-top: 16px;

      //---- 📱 SP ----
      @include sp {
        margin-top: 0;
        margin-right: 45px;
        width: 47.5px;
        height: 43.5px;
        border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        text-align: center;
      }


      //--------------------------------
      img {
        //---- 📱 SP ----
        @include sp {
          width: 33px;
          height: auto;
          margin: 10px auto;
        }
      }
    }

    //--------------------------------
    p {
      font-size: 1.1rem;
    }
  }
}

//________________________________________________________

//================================================================
//		📱 SP Menu Navigation
//================================================================
//________________________________________________________
.c-gnavi_sp {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 98;

  //--------------------------------
  nav {
    background: $white;
    padding-top: 65px;
    width: 246px;
    height: 100%;
    float: right;
    transform: translate(246px);
    transition: 0.4s;

    //--------------------------------
    ul {
      border-top: 1px solid #B8B8B8;

      //--------------------------------
      li {
        border-bottom: 1px solid #B8B8B8;

        //--------------------------------
        a {
          position: relative;
          display: block;
          color: $black_2;
          text-decoration: none;
          font-size: 1.25rem;
          padding: 10px 0 10px 16px;
          font-weight: 500;
          line-height: 1.5rem;

          //--------------------------------
          &:after {
            content: "";
            position: absolute;
            background: url(../img/sp/arrow_black_menu.png) no-repeat;
            background-size: 7px 10px;
            width: 7px;
            height: 10px;
            top: 38%;
            right: 21px;
          }
        }
      }
    }
  }

  //--------------------------------
  .is-opening {
    transform: translate(0);
  }
}
