@charset "UTF-8";

//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
//________________________________________________________
body {
  background: $white;
  min-width: 1100px;

  //---- 📱 SP ----
  @include sp {
    min-width: 320px;
  }
}

//________________________________________________________
.l-main {}

//________________________________________________________
.l-container {
  width: 1100px;
  margin: auto;

  //---- 📱 SP ----
  @include sp {
    width: 100%;
    max-width: 650px;
    padding: 0 17.5px;
  }


  //--------------------------------
  &__narrow {
    width: 850px;
    margin: auto;

    //---- 📱 SP ----
    @include sp {
      width: 100%;
      max-width: 650px;
      padding: 0 17.5px;
    }
  }

  //--------------------------------
  &__form {
    width: 550px;
    margin: auto;

    //background: lightyellow
    //---- 📱 SP ----
    @include sp {
      width: 100%;
      max-width: 650px;
      padding: 0 17.5px;
    }
  }

  //--------------------------------
  &__full {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

//________________________________________________________

//================================================================
//		A L I G N M E N T
//================================================================
//________________________________________________________
.l-f_space_between {
  display: flex;
  justify-content: space-between;

  //---- 📱 SP ----
  @include sp {
    flex-direction: column;
  }
}

//________________________________________________________
.l-f_center {
  display: flex;
  justify-content: center;
}

//________________________________________________________
.l-f_space_around {
  display: flex;
  justify-content: space-around;

  //---- 📱 SP ----
  @include sp {
    flex-direction: column;
  }
}

//________________________________________________________
.l-t_center {
  text-align: center;

  //---- 📱 SP ----
  @include sp {
    flex-direction: column;
  }
}
