@charset "UTF-8";

//================================================================
//		Layout
//
//		F O O T E R
//================================================================
//________________________________________________________
.l-footer {
  border-top: 1px solid #CDCDCD;
}

//________________________________________________________
.c-footer {
  width: 550px;
  margin: auto;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 100px;

  //---- 📱 SP ----
  @include sp {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 98px;
  }


  //--------------------------------
  a {
    //--------------------------------
    img {
      //---- 📱 SP ----
      @include sp {
        width: auto;
        height: 97px;
        margin: auto;
      }
    }
  }

  //--------------------------------
  p {
    margin-top: 75px;
    font-weight: 500;
    letter-spacing: 2.5px;

    //---- 📱 SP ----
    @include sp {
      margin-top: 4px;
      font-size: 1rem;
      letter-spacing: 1.7px;
    }
  }
}
