@charset "UTF-8"
//================================================================
//		Component
//
//		T I T L E
//================================================================
//________________________________________________________
.c-title
	//---- 📱 SP ----
	+sp
		text-align: center
	//--------------------------------
	h2
		font-size: 4rem
		letter-spacing: 3px
		//---- 📱 SP ----
		+sp
			font-size: 2rem
			line-height: 2rem
			letter-spacing: 1px
	//--------------------------------
	p
		display: inline-block
		margin-top: 24px
		padding-bottom: 7px
		font-size: 1.7rem
		font-weight: 500
		border-bottom: 7px solid $black
		//---- 📱 SP ----
		+sp
			font-size: 1rem
			line-height: 1rem
			border-width: 3.25px
			padding-bottom: 5px
			margin-top: 0
