@charset "UTF-8"
//================================================================
//		Component
//
//		T E X T
//================================================================
//________________________________________________________
.c-txt_phone
	display: inline-block
	text-align: center
	background: url(../img/pc/phone.png) no-repeat left center
	background-position-y: 0
	padding-left: 36px
	//---- 📱 SP ----
	+sp
		background: url(../img/sp/phone.png) no-repeat left center
		background-size: 17.5px 14.5px
		background-position-y: 1px
		background-position-x: 13px
		padding-left: 26px
	//--------------------------------
	h2, h3, h4, h5, h6
		font-size: 2.2rem
		letter-spacing: 2px
		//---- 📱 SP ----
		+sp
			font-size: 1.7rem
			line-height: 1.7rem
			letter-spacing: 1.5px
	//--------------------------------
	p
		font-size: 1.2rem
		font-weight: 200
		letter-spacing: 1px
		line-height: 1.2rem
		margin-top: 3px
		margin-right: 16px
		//---- 📱 SP ----
		+sp
			font-size: 0.9rem
			margin-right: 14px

//________________________________________________________




//================================================================
//		A C C O R D I O N
//================================================================
//________________________________________________________
.l-txt_accordion

//________________________________________________________
.c-txt_accordion
	width: 726px
	margin-bottom: 20.5px
	//---- 📱 SP ----
	+sp
		width: 100%
		margin-bottom: 15.5px
	//--------------------------------
	div:nth-child(1)
		position: relative
		display: flex
		flex-direction: column
		justify-content: center
		background: $white
		padding: 25.5px 0
		cursor: pointer
		//---- 📱 SP ----
		+sp
			padding: 11px 0
		//--------------------------------
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 0
			height: 0
			border-top: 73px solid $black
			border-right: 75px solid transparent
			//---- 📱 SP ----
			+sp
				border-top: (73px/2) solid $black
				border-right: (75px/2) solid transparent
		//--------------------------------
		&:after
			content: "Q"
			position: absolute
			top: 10px
			left: 14px
			font-size: 2.3rem
			font-weight: 700
			color: $white
			//---- 📱 SP ----
			+sp
				font-size: (2.3rem/2)
				line-height: (2.3rem/2)
				top: 6px
				left: 6px
		//--------------------------------
		h3
			font-size: 1.6rem
			line-height: 2.2rem
			letter-spacing: 1px
			margin-left: 93px
			margin-right: 55px
			//---- 📱 SP ----
			+sp
				font-size: 1.1rem
				line-height: 1.5rem
				letter-spacing: 1.4px
				margin-left: 40px
				margin-right: 24px
			//--------------------------------
			&:before
				content: ""
				display: inline-block
				position: absolute
				border: solid $black
				border-width: 0 0 2px 0
				padding: 10px
				transform: rotate(0deg)
				margin-top: -22px
				top: 50%
				right: 20px
				transition: 0.35s
				//---- 📱 SP ----
				+sp
					border-width: 0 0 1px 0
					padding: 5px
					margin-top: -11px
					right: 7px
			//--------------------------------
			&:after
				content: ""
				display: inline-block
				position: absolute
				border: solid $black
				border-width: 0 2px 0 0
				padding: 10px
				transform: rotate(0deg)
				margin-top: -10px
				top: 50%
				right: 29px
				transition: 0.35s
				//---- 📱 SP ----
				+sp
					border-width: 0 1px 0 0
					padding: 5px
					margin-top: -5px
					right: 11px
	//--------------------------------
	.is-opening h3
		//--------------------------------
		&:before
			transform: rotate(360deg) !important
			opacity: 0
		//--------------------------------
		&:after
			transform: rotate(450deg) translate(-10px, -10px) !important
			//---- 📱 SP ----
			+sp
				transform: rotate(450deg) translate(-5px, -5px) !important

	//--------------------------------
	div:nth-child(2)
		display: none
		margin-top: 32px
		margin-bottom: 43px
		//---- 📱 SP ----
		+sp
			margin-top: 15px
			margin-bottom: 28px
		//--------------------------------
		p
			line-height: 1.84rem
			letter-spacing: 1.6px
			padding: 0 7px
			//---- 📱 SP ----
			+sp
				font-size: 1rem
				line-height: 1.9rem