@charset "UTF-8"
//================================================================
//		Component
//
//		I M A G E
//================================================================
//________________________________________________________
.c-img_bg
	position: absolute
	background: url(../img/img_1.jpg) no-repeat center
	background-size: cover
	width: 50% //667px
	height: 568px
	float: right
	//---- 📱 SP ----
	+sp
		background-position: center
		height: 151px