@charset "UTF-8"
//================================================================
//		Component
//
//		M I S C E L L A N E O U S
//================================================================
//________________________________________________________
.c-mics_map
	background: $grey
	width: 50%
	height: 507px
	//---- 📱 SP ----
	+sp
		width: 100%
		height: 255px

//________________________________________________________
.c-mics_pagination
	display: flex
	justify-content: center
	//--------------------------------
	li
		//--------------------------------
		a
			display: block
			background: $grey
			text-decoration: none
			color: $white
			padding: 16px
			font-size: 1.6rem
			line-height: 1.6rem
			letter-spacing: 1px
			font-weight: 500
			transition: 0.35s
			//---- 📱 SP ----
			+sp
				font-size: 1.2rem
				line-height: 1.2rem
				padding: 10px
			//--------------------------------
			&:hover
				opacity: 0.55
	//--------------------------------
	li:nth-child(1) a
		border-top-left-radius: 10px
		border-bottom-left-radius: 10px
		//---- 📱 SP ----
		+sp
			border-top-left-radius: 5px
			border-bottom-left-radius: 5px
	//--------------------------------
	li:nth-child(2) a
		border-top-right-radius: 10px
		border-bottom-right-radius: 10px
		//---- 📱 SP ----
		+sp
			border-top-right-radius: 5px
			border-bottom-right-radius: 5px

//________________________________________________________
.c-mics_search
	text-align: center
	margin-top: 64px
	//---- 📱 SP ----
	+sp
		margin-top: 24px
	//--------------------------------
	input
		width: 100%
		height: 48px
		text-align: center
		font-size: 1.6rem
		border-top-right-radius: 10px
		border-top-left-radius: 10px
		//---- 📱 SP ----
		+sp
			height: 32px
			font-size: 1.1rem
			border-top-right-radius: 6px
			border-top-left-radius: 6px
	//--------------------------------
	button
		width: 100%
		background: $grey
		color: $white
		font-size: 2rem
		line-height: 2.4rem
		padding: 10px 0
		cursor: pointer
		border-bottom-right-radius: 10px
		border-bottom-left-radius: 10px
		transition: 0.35s
		margin-top: 0px
		//---- 📱 SP ----
		+sp
			font-size: 1.6rem
			line-height: 1.6rem
			padding: 7px 0
			border-bottom-right-radius: 6px
			border-bottom-left-radius: 6px
		//--------------------------------
		&:hover
			opacity: 0.66
