@charset "UTF-8"
//================================================================
//		Project
//
//		R U L E
//================================================================
//________________________________________________________
.p-rule
	//--------------------------------
	.c-banner
		margin-bottom: 60px
		//---- 📱 SP ----
		+sp
			margin-bottom: 30px

//================================================================
//		S E C T I O N    1
//================================================================
//________________________________________________________
.p-rule_1
	margin-bottom: 61px
	//---- 📱 SP ----
	+sp
		margin-bottom: 34px
	//--------------------------------
	h2
		border-bottom: 1px solid $grey_2
		padding-bottom: 33px
		margin-bottom: 36px
		line-height: 2.6rem
		font-weight: normal
		letter-spacing: 1px
		//---- 📱 SP ----
		+sp
			font-size: 1.4rem
			line-height: 1.9rem
			letter-spacing: 0.1px
			padding-bottom: 25px
			margin-bottom: 11px
	//--------------------------------
	&__inner
		border-bottom: 1px solid $grey_2
		padding-bottom: 20px
		margin-bottom: 34px
		//---- 📱 SP ----
		+sp
			padding-bottom: 37px
			margin-bottom: 26px
		//--------------------------------
		p
			line-height: 2.2rem
			//---- 📱 SP ----
			+sp
				font-size: 1.2rem
				line-height: 1.9rem
			//--------------------------------
			b
				display: inline-block
				margin-top: 3px
				//---- 📱 SP ----
				+sp
					margin-top: 17px
					font-size: 1.2rem
					line-height: 1.9rem
	//--------------------------------
	&__date
		//--------------------------------
		p
			line-height: 2.3rem
			text-align: right
			//---- 📱 SP ----
			+sp
				font-size: 1rem
				line-height: 1.8rem