@charset "UTF-8"
//================================================================
//							H E A D E R
//================================================================
header
	#header-contact
		background: $blue
		display: block
		width: 100%
		min-width: 1200px
		height: 47px
		div.container
			h2
				float: left
				margin-top: 19px
			div
				float: right
				margin: 9px 0px 0 11px
	#header-navi
		display: block
		width: 100%
		min-width: 1200px
		height: auto
		margin: 14px 0 14px 0
		nav
			display: block
			border-right: 1px solid #CECECE
			margin-top: 6px
			ul
				li
					float: left
					border-left: 1px solid #CECECE
					padding: 0 4px
					a::before, a::after
						-webkit-box-sizing: border-box
						-moz-box-sizing: border-box
						box-sizing: border-box
						-webkit-transition: all .3s
						transition: all .3s
					a
						position: relative
						display: block
						&::before, &::after
							position: absolute
							z-index: -1
							display: block
							content: ''
						&::after
							background: #009FBB
							position: absolute
							height: 4px
							width: 0
							top: 38px
							right: 50%
						&::before
							background: #009FBB
							position: absolute
							height: 4px
							width: 0
							top: 38px
							left: 50%
						&:hover
							&::after, &::before
								width: 50%
					a._active
						&::after, &::before
							width: 50%

//================================================================
//							F O O T E R
//================================================================
footer
	display: block
	#footer-banner
		background: url("../img/footer-banner.jpg") center
		background-size: cover
		width: 100%
		min-width: 1200px
		height: 111px
	#footer-content
		background: $blue
		display: block
		width: 100%
		min-width: 1200px
		height: 168px
		.container
			padding-top: 37px
			display: flex
			.-col1
				padding-right: 21px
				border-right: 1px solid #809EBF
				h2
					margin-top: 18px
					letter-spacing: -0.1px
			.-col2
				padding-left: 25px
				padding-right: 52px
				h2
					letter-spacing: 0.8px
				a
					margin-top: 6px
					margin-bottom: 5px
					display: block
				p
					line-height: 1.8rem
			.-col3
				h2
					font-size: 0.5rem
				table
					margin-top: -3px
					tr
						height: 18px
						th
							text-align: left
							font-weight: normal
							letter-spacing: -1px
							a
								transition: 0.2s
							a:hover
								color: #3B75B5
	#footer-copyright
		min-width: 1200px
		background: #002F64
		.container
			padding: 16px 0
			p
				color: #608FBF
				letter-spacing: 1.15px


//================================================================
//							L A Y O U T
//================================================================
//Common
body
	background: #fff
#banner
	width: 100%
	height: 276px
	background-size: cover
	background-position: center
	img
		display: block
		position: relative
		margin: auto
		padding-top: 109px

.container
	width: 1081px
	margin: 0 auto

.l-main
	min-width: 1200px

.l-inner_main
	min-width: 1200px
	background: $grey
.main_table
	border-collapse: collapse
	text-align: left
	width: 100%
	tr
		border-bottom: 1px solid #D4D4D4
		border-top: 1px solid #D4D4D4
		th
			background: #E7F5FF
			padding: 20px 0 20px 40px
			vertical-align: top
			width: 176px
		td
			background: #fff
			padding: 20px 0 20px 40px

	//================================
	//		I N D E X
	//================================
.l-index_news
	min-width: 1200px
	background: #E7F5FF

#banner-index
	position: relative
	width: 100%
	height: 756px
	background: url("../img/banner-index.jpg") center no-repeat
	background-size: cover
	img
		display: block
		position: relative
		float: right
		right: 225px
		top: 86px

.l-index_news
	.container
		padding-top: 48px
		padding-bottom: 17px
		display: flex
		.-col1
			a
				display: block
				margin-top: 16px
		.-col2
			div
				margin: 0 0 32px 67px
				h2
					float: left
					color: #0361A7
					margin-right: 47px
					letter-spacing: 1.3px
				a
					letter-spacing: 0.4px
					transition: 0.2s
				a:hover
					color: #A8A8A8

.c-index_content
	display: flex
	padding: 80px 0
	position: relative

.c-index_content-inner
	width: 470px
	height: 356px
	position: relative
	p
		margin-top: 5px
	a
		display: block
		position: absolute
		bottom: 0

.c-index_image
	width: 50%
	height: 356px
	position: absolute
	background-size: cover
	&_left
		left: 0
	&_right
		right: 0

	//================================
	//		N E W S
	//================================
.c-news
	display: inline-block
	h2
		letter-spacing: 1.3px
		border-bottom: 1px solid $blue_text
		padding-bottom: 9px
	article
		h3
			display: flex
			margin-top: 9px
			letter-spacing: 2.2px
			vertical-align: text-bottom
		div
			display: block
			margin-top: 25px
			p
				float: left
				width: 593px
				letter-spacing: 0.5px
			p._noimg
				width: auto
			a
				float: right
				margin-left: 56px

	//================================
	//		C O M P A N Y
	//================================
.c-company_content_1
	section
		p
			margin-top: 24px
			letter-spacing: 0.4px
	a
		display: block
		margin-top: 51px
		margin-bottom: 38px
		float: right

.c-company_content_2
	table.main_table
		margin-top: 32px

.c-company_content_3
	display: inline-block
	h2
		margin-bottom: 32px
	._inner
		display: flex
		flex-direction: row
		justify-content: space-between
		min-width: 1081px
		margin-bottom: 50px
		div
			text-align: center
			a
				display: block
				border: 1px solid #AAA9A9
				padding: 5px
			p
				margin-top: 5px
.c-company_content_4
	padding-bottom: 130px
	h2
		margin-bottom: 30px
	iframe
		border: 1px solid #D4D4D4

	//================================
	//		B U S I N E S S
	//================================
.c-business_content
	padding: 40px
	border: 1px solid $teal_text
	display: flex
	justify-content: space-between
	section._noimg
		width: auto
	section
		width: 521px
		height: auto
		float: left
		h2
			margin-bottom: 13px
		h2::before
			content: "\25A0\00A0"
			color: $teal_text
		p
			letter-spacing: 0.2px
	a
		float: right

	//================================
	//		C A S E
	//================================
.c-case_navi
	width: 860px
	height: auto
	margin: auto
	ul
		display: flex
		justify-content: space-between
		li a
			cursor: pointer
.c-case_content_1
	a
		text-align: center
		display: block
		color: $blue_text
		hr
			border-bottom: 1px solid $blue_text
			border-top: none
			border-left: none
			border-right: none
			margin-bottom: 53px
	section
		h2
			background: #E1F0FA
			padding: 13px 0 12px 28px
		div
			display: flex
			justify-content: space-between
			margin-top: 30px
			a
				display: block
				float: left
			table
				float: right
				border-collapse: collapse
				text-align: left
				width: 570px
				tr
					border-bottom: 1px solid #D8D7D7
					border-top: 1px solid #D8D7D7
					th
						padding: 19px 0px 16px 20px
						color: $blue_text
						width: 138px
	//================================
	//		R E C R U I T
	//================================
.c-recruit_content_1
	display: flex
	justify-content: space-between
	div
		float: left
		width: 680px
		height: auto
		h2
			margin-bottom: 8px
	a
		float: right

.c-recruit_content_2
	h2
		margin-bottom: 32px

.c-recruit_content_3
	position: relative
	a
		position: absolute
		left: 40px
		bottom: 40px

	//================================
	//		C O N T A C T
	//================================
.c-contact_content_1
	h2
		margin-bottom: 19px
.c-contact_content_2
	h2
		margin-bottom: 43px
	table
		border-collapse: collapse
		text-align: left
		width: 100%
		tr
			vertical-align: top
			th
				padding: 16px 0 13px 0
				a
					padding: 5px 3px 5px 7px
					color: #fff
					letter-spacing: 6px
					display: inline-block
					margin-top: 2px
				._blue
					background: #0362A8
				._grey
					background: #8C8B8B
			td
				margin-left: 32px
				input
					width: 133px
					height: 52px
					text-indent: 24px
					border: 1px solid #EAEAEA
					margin-bottom: 5.3px
				input._full
					width: 847px
					float: right
				._radio
					padding-top: 15px
					padding-bottom: 11px
					input
						width: 13px
						height: 13px
					label
						letter-spacing: 1px
						margin-right: 68px
				._select
					width: 178px
					height: 52px
					position: relative
					margin-left: 4px
					margin-bottom: 5px
					&::after
						position: absolute
						top: 16px
						right: 0
						bottom: 0
						padding: 0 16px
						content: "\25BC"
						pointer-events: none
						color: #6E6E6E
					select
						width: 100%
						height: 100%
						text-indent: 24px
						border: 1px solid #EAEAEA
						-webkit-appearance: none
						-moz-appearance: none
						-ms-appearance: none
						appearance: none
						box-shadow: none
				span
					margin-left: 7px
				textarea
					@extend input
					width: 843px
					height: 150px
					border: 1px solid #EAEAEA
					text-indent: 0
					resize: none
					float: right

	//Submit buttons
.c-contact_content_3
	._confirm
		display: block
		margin: auto
		width: 250px
	._hidden_btn
		margin: 11px auto auto auto
		text-align: center
		width: 465px
		span
			width: 11px
			height: 1px
			display: block
			float: left
		._return
			float: left
			cursor: pointer
		._send
			float: left