@charset "UTF-8"
//================================================================
//	Varibles
//================================================================
$blue: #015294
$grey: #F0F0F0 //#F0F0F0 //#F5F5F5
$black: #222222
$pure_black: #000000

$teal_text: #009FBB
$blue_text: #025995

//================================================================
//	Float
//================================================================
.floatLeft
	float: left !important
.floatRight
	float: right !important

//================================================================
//	Effect (eff)
//================================================================
.eff-hover:hover
	opacity: 0.7
	transition: .2s

	//Index Opaque
.eff-opaque_slow
	opacity: 0
	transition: 2s
.eff-opaque_normal
	opacity: 0
	transition: 1s
.eff-opaque_fast
	opacity: 0
	transition: 0.3s
.opa
	opacity: 1.0

//================================================================
//	Button (btn)
//================================================================
.btn
	position: absolute
.btn-totop
	position: fixed
	bottom: 88px
	right: 97px
	display: none
	.btn-top
		position: relative
		width: 72px
		height: 72px
		cursor: pointer
		text-align: center
		display: block
		background: #0291AA url(../img/btn/btn-top.png) no-repeat center
		border-radius: 36px
		-webkit-transition: none
		transition: none
		&:hover
			top: -4px
			background-color: #20AFC8
			box-shadow: 0 5px 0 #006F82
		&:active
			top: 3px
			background-color: #0291AA
			box-shadow: none
			transition: 0.2s

//================================================================
//	Paragraph - Text style
//================================================================
p
	color: $black
.p12
	font-size: 1.2rem
	letter-spacing: 0.5px
	color: #fff
	text-decoration: none
.p20
	font-size: 2rem
	color: $blue_text
.p14
	font-size: 1.4rem
	line-height: 2rem
.p13
	font-size: 1.3rem
	text-decoration: none
	color: $black
.p23
	font-size: 2.3rem

	//Font weight (fw-)
.fw-normal
	font-weight: normal
.fw-bold
	font-weight: bold

.text-color_teal
	color: $teal_text
.text-color_blue
	color: $blue_text

//================================================================
//	Margin Bottom - Invis-Separator (mb_, pad_c)
//================================================================
	//above footer
.mb_150
	margin-bottom: 150px
.mb_130
	margin-bottom: 130px
	//in banner
.mb_120
	margin-bottom: 120px
	//in index banner
.mb_100
	margin-bottom: 100px
	//in banner - some case
.mb_117
	margin-bottom: 117px
	//content
.mb_90
	margin-bottom: 90px
.mb_80
	margin-bottom: 80px
.mb_60
	margin-bottom: 60px
.mb_57
	margin-bottom: 57px
.mb_50
	margin-bottom: 50px
.mb_45
	margin-bottom: 45px
.mb_40
	margin-bottom: 40px
.mb_30
	margin-bottom: 30px
.mb_20
	margin-bottom: 20px

	//Padding - center (pad_c)
.pad_c80
	padding: 80px 0
.pad_c74
	padding: 74px 0
.pad_c60
	padding: 60px 0

//================================================================
//	Background Image (bg-i)
//================================================================
.bg-i1
	background: url("../img/img1.jpg") center no-repeat
.bg-i2
	background: url("../img/img2.jpg") center no-repeat
.bg-i3
	background: url("../img/img3.jpg") center no-repeat
.bg-i4
	background: url("../img/img4.jpg") center no-repeat
.bg-i5
	background: url("../img/img5.jpg") center no-repeat
.bg-i6
	background: url("../img/img6.jpg") center no-repeat
.bg-i7
	background: url("../img/img7.jpg") center no-repeat
.bg-i8
	background: url("../img/img8.jpg") center no-repeat
.bg-i9
	background: url("../img/img9.jpg") center no-repeat
.bg-i10
	background: url("../img/img10.jpg") center no-repeat

	//Background image for banner (bgb-)
.bgb-news
	background: url("../img/banner-news.jpg") no-repeat
.bgb-company
	background: url("../img/banner-company.jpg") no-repeat
.bgb-business
	background: url("../img/banner-business.jpg") no-repeat
.bgb-case
	background: url("../img/banner-case.jpg") no-repeat
.bgb-recruit
	background: url("../img/banner-recruit.jpg") no-repeat
.bgb-contact
	background: url("../img/banner-contact.jpg") no-repeat
	//Background Position
.bg-l
	background-position: left
.bg-r
	background-position: right