@charset "UTF-8"
//================================================================
//		Layout
//
//		L A Y O U T
//================================================================
//________________________________________________________
body
	background: $white

//________________________________________________________
.l-main
	min-width: 1215px
	//---- 📱 SP ----
	+sp
		min-width: 100%

//________________________________________________________
.l-container
	width: 1215px
	margin: auto
	//---- 📱 SP ----
	+sp
		width: 100%
		max-width: 650px
		padding: 0 17.5px
	//--------------------------------
	&__narrow
		width: 1010px
		margin: auto
		//---- 📱 SP ----
		+sp
			width: 100%
			max-width: 650px
			padding: 0 17.5px
	//--------------------------------
	&__full
		width: 100%

//________________________________________________________




//================================================================
//		A L I G N M E N T
//================================================================
//________________________________________________________
.l-f_space_between
	display: flex
	justify-content: space-between
	//---- 📱 SP ----
	+sp
		flex-direction: column

//________________________________________________________
.l-f_center
	display: flex
	justify-content: center

//________________________________________________________
.l-f_space_around
	display: flex
	justify-content: space-around
	//---- 📱 SP ----
	+sp
		flex-direction: column

//________________________________________________________
.l-t_center
	text-align: center
	//---- 📱 SP ----
	+sp
		flex-direction: column