@charset "UTF-8";

//================================================================
//		Hidden
//
//		@hide
//================================================================
//________________________________________________________
.u-hide {
  display: none;
}

//================================================================
//		Float
//
//		@float
//================================================================
//________________________________________________________
.u-fl {
  float: left;
}

.u-fr {
  float: right;
}

//================================================================
//		Effect
//
//		@effect
//================================================================
//________________________________________________________
.u-hover_eff {
  transition: 0.35s;

  //--------------------------------
  &:hover {
    opacity: 0.55;
  }
}

.u-hover_eff_1 {
  transition: 0.35s;

  //--------------------------------
  &:hover {
    opacity: 0.75;
  }
}

//================================================================
//		Text style
//
//		@txtstyle
//================================================================
//________________________________________________________
.u-fw_bold {
  font-weight: bold;
}

.u-fw_normal {
  font-weight: normal;
}

//________________________________________________________
.u-txtdeco_non {
  text-decoration: none;
}

//________________________________________________________
.u-txt_yellow {
  color: $yellow;
}

//________________________________________________________
.u-txt_hightligt_underline {
  display: inline-block;
  border-bottom: 7px solid #FFF57E;
  line-height: 1px;

  //---- 📱 SP ----
  @include sp {
    border-bottom: 3.5px solid #FFF57E;
    line-height: 6px;
  }
}

//________________________________________________________
.u-fs_13 {
  font-size: 1.3rem;
}

.u-fs_11 {
  font-size: 1.1rem;
}

.u-fs_17 {
  font-size: 1.7rem;
}

.u-fs_15 {
  font-size: 1.5rem;
}

//================================================================
//		Background
//
//		@bg
//================================================================
//________________________________________________________
.u-bg_light_blue_grey {
  background: $light_blue_grey;
}
