@charset "UTF-8";

//Breakpoint
$sp: 768px;

//Colors Text
$black: #000;
$black_1: #2E2E2E;
$black_2: #211815;

$brown: #694731;

$white: #fff;
$white_1: #FEFEFE;

$red: #ED2852;
$yellow: #F2C526;

//Colors Background
$tan: #F0EDE6;
$tan_lighter: #FAF8F3;

$light_grey: #F8F8F8;
$light_blue_grey: #E7EBEE;
$light_brown_grey: #BFBFBF;
